[2018-11-21 13:23] jan-janssen opened #15 "waves/dos.py - VisibleDeprecationWarning"
@sudarsan-surendralal  Can you take a look at this?
[code]

[2018-11-21 14:04] sudarsan-surendralal commented on #15
I've created a pull request for issues like these and for cleanup https://github.com/pyiron/pyiron/pull/16

[2018-11-23 11:03] jan-janssen opened #18 "DeprecationWarning: This method will be removed in future versions."
@sudarsan-surendralal : Can you take a look at this?
[code]

[2018-11-23 14:16] sudarsan-surendralal commented on #18
Taken care of here

[2018-11-23 14:16] #18 closed

[2018-11-25 09:02] #15 closed

[2018-12-12 08:59] samwaseda opened #41 "restart in vasp"
There's this line `super(Vasp, self).restart(snapshot=snapshot, job_name=job_name, job_type=job_type)` in vasp.py but I don't see `restart` in GeneridDFTJob (which vasp is derived from). What does this `super.restart` refer to?

[2018-12-12 09:31] samwaseda commented on #41
Thanks!

[2018-12-12 09:31] #41 closed

[2019-01-03 14:34] samwaseda opened #44 "What does this mean?"
https://github.com/pyiron/pyiron/blob/40fe661e44c9a7ab08df3a3d92de90fab4b4c8b5/pyiron/base/job/generic.py#L872

Does this mean "if self.job_id is None:"?

[2019-01-03 15:18] jan-janssen commented on #44
yes, that is the case if you want to restart from a job which was not executed yet - it was more of an experimental feature and I am not sure if it is working at the moment.

[2019-01-03 17:24] samwaseda opened #45 "deactivate library"
https://github.com/pyiron/pyiron/blob/40fe661e44c9a7ab08df3a3d92de90fab4b4c8b5/pyiron/base/job/interactive.py#L50

Is it okay if I put `self._interactive_library = None` in `interactive_close()`?

[2019-01-03 17:24] samwaseda commented on #44
but isn't it better to write `if self.job_id is None`?

[2019-01-04 09:22] jan-janssen commented on #44
Feel free to improve the code ... it is not perfect ;-)

[2019-01-04 09:33] jan-janssen commented on #45
Yes

[2019-01-05 08:51] jan-janssen commented on #45
@samwaseda Can we close this issue?

[2019-01-05 08:51] jan-janssen commented on #44
@samwaseda Can we close this issue?

[2019-01-08 15:44] #44 closed

[2019-01-08 15:44] #45 closed

[2019-01-16 08:52] sudarsan-surendralal opened #84 "calc_md() in Vasp"
I see that the parameter `dt` is now replaced by `time_step` in `calc_md()`. Also parameters like `retain_charge_density` which were unique to Vasp are now gone. Should I restore this?

Another thing is the stream of warning messages everytime I call `calc_md()`
[code]
[code]

[2019-01-16 09:02] samwaseda commented on #84
I didn't implement these warnings messages; it's anyway extremely rare that I touch VASP

[2019-01-16 09:21] jan-janssen commented on #84
I guess the warnings appear because we set default values which have been `None` before.

[2019-01-16 09:21] sudarsan-surendralal commented on #84
Ok I'll have a look at this. Some of the examples on the public website uses `dt`. So we should update that? Shall I make the change in the master branch directly?

[2019-01-18 15:35] jan-janssen commented on #84
I made these changes in https://github.com/pyiron/pyiron/pull/85

@sudarsan-surendralal Can we close this issue?

[2019-01-18 16:15] sudarsan-surendralal commented on #84
Yep!

[2019-01-18 16:15] #84 closed

[2019-01-28 08:06] jan-janssen opened #112 "Vasp: Inconsistency - output/electronic_structure/occ_matrix vs. output/electronic_structure/occupancy_matrix"
@sudarsan-surendralal I noticed that VASP sometimes uses:
`job['output/electronic_structure/occ_matrix']`
and also:
`job['output/electronic_structure/occupancy_matrix']`
can you take a look at this?

[2019-01-28 08:49] jan-janssen commented on #112
I guess the same is true for `job['output/electronic_structure/eigenvalue_matrix']` and `job['output/electronic_structure/eig_matrix']`.

[2019-01-28 11:17] sudarsan-surendralal commented on #112
If I remember correctly, I think it was Joerg who suggested `occ_matrix` and `eig_matrix` instead of `occupancy_matrix` and `occ_matrix`. So I changes it here https://github.com/pyiron/pyiron/commit/ff1af7c3899cd498030996416662ca3c811fdd6e#diff-8cf87eb8d1d2e2b7bc2be49ba79c6dc7 (the new to_hdf() and from_hdf() has the new names). So I think the inconsistency is with jobs done before this commit was

[2019-01-28 11:23] jan-janssen commented on #112
Ok, I had a project with calculations from the 7th of January and the 13th and those were not consistent. Maybe the next time we should have a certain level of backwards compatibility - in this case we could have written both.

[2019-01-28 11:23] #112 closed

[2019-01-29 10:17] sudarsan-surendralal opened #117 "Error in get_broyden_mixing()"
So, I had a calculation which ran successfully but the parsing failed because the OUTCAR parser could not get the broyden mixing mesh

[code]
I checked the line and of course it gives out garbage although the calculation is fine
[code]
Currently we try to parse the line `gives a total of ****** points`. But I realized from other calculations that this is the same as `NGX*NGY*NGZ` where `NGX =123

[2019-01-29 11:06] jan-janssen commented on #117
Maybe you can check if it is  '******' and then return 0 ? That should fix the issue. Or maybe even return None that would be more correct.

[2019-01-30 09:54] #117 closed

[2019-01-30 16:54] samwaseda opened #122 "Is this distinction necessary?"
I'm having a box which is orthogonal at the beginning of the simulation (interactive), which is sheared over the course of the calculation. Since `block` is set (which is due to the orthogonal box at the beginning of the simulation), I was not allowed to shear the box. But is this distinction anyway required?

https://github.com/pyiron/pyiron/blob/bf03c0e45db893881f33eac200c1f2bf87ffebc6/pyiron/la

[2019-01-30 17:24] jan-janssen commented on #122
Can not you just set `self.interactive_enforce_structure_reset = True` ?

[2019-01-31 07:46] samwaseda commented on #122
That's also possible but is there anyway any reason to distinguish between `block` and `prism`?

[2019-02-02 15:12] sudarsan-surendralal opened #126 "Code quality"
I just noticed that our code quality went down from 'B' to a 'D'  :(. Any idea what happened?

https://app.codacy.com/project/pyiron-runner/pyiron/dashboard

[2019-02-02 15:43] jan-janssen commented on #126
Somehow the Lines of code changed from 22000 to 9600 - I always thought we have over 50000 - at least that is what PyCharm said.

[2019-02-02 16:34] sudarsan-surendralal commented on #126
Ok. In any case, I created a merge request https://github.com/pyiron/pyiron/pull/127 where I make some pep8 corrections whenever I come across it.

[2019-02-02 18:35] sudarsan-surendralal opened #128 "Outcar parsing"
The OUTCAR parsing fails when getting the Broyden mesh

[code]

[2019-02-02 19:04] sudarsan-surendralal commented on #128
The spacing the OUTCAR files is so irregular. So I had to use regex to handle this using regex. See here https://github.com/pyiron/pyiron/pull/129

[2019-02-02 19:51] #128 closed

[2019-02-04 08:43] jan-janssen commented on #126
Maybe they just decided to no longer count empty lines, because currently in all coverage statistics empty lines are still included, which does not make any sense. Anyway I guess we can close this issue.

@sudarsan-surendralal can you close the issue?

[2019-02-04 10:05] #126 closed

[2019-02-08 09:30] jan-janssen commented on #126
It again went up to A

[2019-03-20 13:45] #122 closed

[2019-05-03 10:01] samwaseda opened #213 "Is 'set_kmesh_density' necessary?"
I understand that [`set_kmesh_density`](https://github.com/pyiron/pyiron/blob/master/pyiron/dft/job/generic.py#L110) sets automatically the kmesh density according to the box size, but:

- I find it very difficult to know whether it's `set_kpoints` or `set_kmesh_density`, which allows me to set specific k points.
- There is no argument, except for `kspace_per_in_ang`.
- `kspace_per_in_ang` is also

[2019-05-06 06:19] jan-janssen commented on #213
The function was originally introduced for high throughput computing. But I thought @sudarsan-surendralal was working on rewriting it. So maybe he can comment on this issue.

[2019-05-06 10:14] sudarsan-surendralal commented on #213
The reason why we left this is that people in ICAMS apparently still use this function. So is it okay if we erase this function?

[2019-05-06 11:42] jan-janssen commented on #213
I thought we planned to extend the functionality, did not we?

[2019-05-06 16:37] samwaseda commented on #213
Pull request opened [here](https://github.com/pyiron/pyiron/pull/214)

I attach the [notebook](https://github.com/pyiron/pyiron/files/3148940/kpoint.txt) (you have to replace .txt by .ipynb)

[2019-05-11 07:05] jan-janssen commented on #213
The pull request is merged. Can you close the issue @samwaseda ?

[2019-05-11 07:06] samwaseda commented on #213
Bien!

[2019-05-11 07:06] #213 closed

[2019-05-13 16:28] samwaseda opened #224 "Is it normal that there's a space between '-' and 'j'?"
https://github.com/pyiron/pyiron/blob/1df08af11830a3209d85f0ebc32832b34941790a/pyiron/base/job/generic.py#L714

[2019-05-13 17:29] jan-janssen commented on #224
no it should be `-j`

[2019-05-14 06:27] #224 closed

[2019-05-19 19:18] sudarsan-surendralal opened #228 "LAMMPS: Shoud get_structure() return centered coordinates?"
In LAMMPS calculations, the atoms often leave the unit cell during the simulation. To visualize this properly, we need to fold them back into the unit cell

[code]
Is it okay if I call `center_coordinates_in_unit_cell()` inside `get_structure()`? Or are there cases where the unwrapped structure is needed? Also can I implement this at a generic level?

 @jan-janssen @samwaseda @liamhuber

[2019-05-20 04:58] jan-janssen commented on #228
I guess both information are interesting, maybe we could add a flag in get structure? like `center_coordinates_in_unit_cell`

[2019-05-20 06:22] liamhuber commented on #228
There are cases where the unwrapped coordinates are necessary (e.g. direct-MD calculations of diffusion), but in fact LAMMPS *does* wrap them back in...it just only does so intermittently. Thus, if unwrapped coordinates are *needed* one has to ask for them specifically (ask @rads if you need any more details on that). As such, I see no problem having the default behaviour be to return wrapped coor

[2019-05-20 06:25] samwaseda commented on #228
I'm fine with both options as default behaviour, as long as they both remain available.

[2019-05-20 08:10] samwaseda opened #229 "Why does the job have to have finished?"
I'm having a complicated structure optimisation, which I wanted to visualise with `animate_structure()`, but apparently it works only if the status is `finished`. Why? Cf. [this page](https://github.com/pyiron/pyiron/blob/4b8cc8cbcf0797ac466fdacb3f3f32c3c7080656/pyiron/atomistics/job/atomistic.py#L266)

[2019-05-20 09:24] sudarsan-surendralal commented on #229
This was written before interactive jobs were available in pyiron. The positions are written only if the job is finished. We can make an exception for interactive jobs if you want

[2019-05-20 10:25] sudarsan-surendralal commented on #228
Thanks for the input! I've made the changes to the base classes here by adding a new `wrap_atoms` parameter. See [here](https://github.com/pyiron/pyiron/pull/230)

[2019-05-20 11:49] #228 closed

[2019-05-27 13:22] sudarsan-surendralal opened #236 "LAMMPS: temperature vs temperatures"
I noticed the in LAMMPS output, the temperatures are stored as `"temperatures"` but according to what we decided [here](https://pyiron.github.io/source/faq.html#which-output-quantities-are-stored-in-pyiron) it should be `"temperature"`.  This is how it is in VASP. Shall I correct this? Otherwise `job.output.temperature` won't work.

[2019-05-27 14:22] liamhuber commented on #236
Yes, please fix it. It seems to me that the underlying rational for plural vs singular is whether it's a box property (e.g. energy_tot, volume, temperature...), or a per-atom property (positions, forces...), in this case the singular is definitely better for temperature.

[2019-05-28 20:17] sudarsan-surendralal commented on #236
Fixed [here](https://github.com/pyiron/pyiron/pull/237)

[2019-05-28 20:17] #236 closed

[2019-05-29 07:56] samwaseda opened #238 "Problem in DocString"
I just saw on [this page](https://pyiron.github.io/apidoc/pyiron.vasp.base.html#pyiron.vasp.base.VaspBase) the example

[code]

But this doesn't work, right?

[2019-05-29 08:17] sudarsan-surendralal commented on #238
Oops! Fixed [here](https://github.com/pyiron/pyiron/pull/239)!

[2019-05-29 08:35] #238 closed

[2019-07-11 09:06] sudarsan-surendralal opened #258 "Appveyor for python 2.7"
This always keeps failing. Do we really need this? @jan-janssen

[2019-07-11 09:19] jan-janssen commented on #258
The error message:

[code]

points to something being wrong with the version of pytables so I would assume it is going to be fixed in the next version, still for the time being it might be necessary to enforce a lower version.

[2019-07-11 12:21] jan-janssen commented on #258
I tried enforcing potables 3.5.1 but that did not help https://github.com/pyiron/pyiron/tree/appveyor

[2019-07-12 14:38] liamhuber commented on #258
![geek_and_poke_CI](https://user-images.githubusercontent.com/20283329/61136203-7335e280-a4c3-11e9-8b8a-f421b86a2eb5.jpg)
Courtesy of [geek & poke](http://geek-and-poke.com/geekandpoke/2010/10/26/geekpokes-list-of-best-practices-today-continuous-integratio.html)

[2019-07-19 16:02] sudarsan-surendralal opened #276 "ase update: Can't import `Prism`"
It looks like the tests fail due to the absence of certain functions in the latest `ase` versions

[code]

[2019-07-23 10:16] jan-janssen commented on #276
I added a workaround in https://github.com/pyiron/pyiron/pull/282 - still we have to fix this, so please keep the issue open.

[2019-07-23 15:03] samwaseda opened #291 "What's the logic of duplication?"
It looks VERY MUCH like L811 and L823 as well as L821 and L828 are the same. What's the logic behind this?

https://github.com/pyiron/pyiron/blob/d5d2c419fa229714c3ed5689f10df6e68b7e4ae5/pyiron/base/generic/parameters.py#L811

[2019-07-24 20:26] jan-janssen commented on #258
Fixed in https://github.com/pyiron/pyiron/pull/303

[2019-07-25 13:00] #258 closed

[2019-07-29 16:47] dnoeger commented on #276
Hi! I Also encountered this error when I installed `pyiron` on VSC-3 in Vienna
And tried to run the test mimization

`AttributeError: 'UnfoldingPrism' object has no attribute 'f2qdec'`

I checked to sources
and i checked the class's methods
`from ase.calculators.lammpsrun import Prism`
`from types import FunctionType`
`[k for k, v in Prism.__dict__.items() if isinstance(v, FunctionType)]`
yields
`

[2019-07-29 16:54] dnoeger commented on #276
Hi! I Also encountered this error when I installed `pyiron` on VSC-3 in Vienna
And tried to run the test mimization

`AttributeError: 'UnfoldingPrism' object has no attribute 'f2qdec'`

I checked to sources
and i checked the class's methods
`from ase.calculators.lammpsrun import Prism`
`from types import FunctionType`
`[k for k, v in Prism.__dict__.items() if isinstance(v, FunctionType)]`
yields
`

[2019-07-29 17:08] dnoeger commented on #276
Your 'UnfoldPrism' class never callls super constructor from `ase`'s `Prism` class therefore one should add
`super(UnfoldingPrism, self).__init__(cell, pbc=pbc, tolerance=float('1e-{}'.format(digits)))` to the contructor

[2019-07-31 08:06] sudarsan-surendralal commented on #276
Hi @dnoeger, thanks for the input! We made the changes [here](https://github.com/pyiron/pyiron/pull/310) (including your suggestion to use super to initialize the base class).

FYI, ase hosts their repository on gitlab and not github  (https://gitlab.com/ase/ase). I think the repo you linked is a bit outdated

[2019-07-31 08:06] #276 closed

[2019-08-01 13:49] samwaseda opened #322 "Shouldn't this be optional?"
https://github.com/pyiron/pyiron/blob/974d9108d43b28f533969e147499f2dcdcfd3f9b/pyiron/atomistics/job/interactivewrapper.py#L105

Shouldn't this line be an option?

[2019-08-01 14:14] jan-janssen commented on #322
The interactive wrappers wrap around one code, therefore the underlying code uses all the available cores. This was designed for minimisers.

[2019-08-08 08:58] #322 closed

[2019-08-09 11:07] samwaseda commented on #291
Solved [here](https://github.com/pyiron/pyiron/pull/292)

[2019-08-09 11:07] #291 closed

[2019-08-09 13:42] jan-janssen commented on #229
Fixed in https://github.com/pyiron/pyiron/pull/338

[2019-08-10 09:59] jan-janssen commented on #229
@samwaseda Is it working for you? Can you close this issue?

[2019-08-12 14:07] samwaseda commented on #229
Yes it works. Thanks!

[2019-08-12 14:07] #229 closed

[2019-08-14 07:56] jan-janssen opened #354 "Tests failing"
On travis the Python 2.7 tests fail for mac os x and linux, even though they work on azure.

[code]

It seems to be an issue with the travis SSL certificates.

[2019-08-19 07:37] jan-janssen commented on #354
I guess as a temporary solution we can disable the Python 2.7 tests for now https://github.com/pyiron/pyiron/pull/362 and enable them again later on https://github.com/pyiron/pyiron/pull/363

[2019-08-19 08:24] #354 closed

[2019-08-24 06:30] FeLoch opened #370 "Errors by rewriting hdf5 files in one project simultaneously"
The function [rewrite_hdf5](https://github.com/pyiron/pyiron/blob/b03cb5600e667d2ad05f36b04496a94045a479e9/pyiron/base/generic/hdfio.py#L631) creates always the new file '5_rewrite.h5', which causes read/write errors by rewriting files in the same project at the same time.

[2019-08-24 06:32] FeLoch commented on #370
pull request open #371

[2019-08-25 20:15] jan-janssen commented on #370
Thanks a lot.

[2019-08-25 20:18] #370 closed

[2019-08-26 05:13] jan-janssen opened #373 "Docker builds fail"
[code]

It seems to be an alpinelinux related issue. Maybe we can even disable the docker image part, since we have mybinder as a test environment for new users.

[2019-08-26 07:56] jan-janssen commented on #373
It seems to be fixed again: https://travis-ci.org/pyiron/pyiron/builds/576556422

[2019-08-26 07:56] #373 closed

[2019-08-29 12:56] SanderBorgmans opened #379 "Memory_limit"
Currently in line https://github.com/pyiron/pyiron/blob/master/pyiron/base/server/generic.py#L291 the memory `limit` is not passed to the `check_queue_parameters` function.

[2019-08-29 12:59] jan-janssen commented on #379
You are right, it should be https://github.com/pyiron/pyiron/pull/380

[2019-08-30 13:12] jan-janssen commented on #379
@SanderBorgmans Does this solve your issue?

[2019-08-30 13:13] SanderBorgmans commented on #379
Yes, sorry, I forgot to close the issue!

[2019-08-30 13:13] #379 closed

[2019-09-04 18:50] jan-janssen opened #387 "Water example not working"
https://travis-ci.org/jan-janssen/release-testing/builds/580849202
[code]

[2019-09-04 18:52] jan-janssen opened #388 "Lammps Fe C example not working"
https://travis-ci.org/jan-janssen/release-testing/builds/580849202
[code]

[2019-09-04 18:55] sudarsan-surendralal commented on #387
The node `temperatures` changed to `temperature`. I used to have backward compatibility but perhaps the new parser is not backward compatible.

[2019-09-05 04:14] jan-janssen commented on #387
It is fixed now in https://travis-ci.org/jan-janssen/release-testing/builds/580849202

[2019-09-05 04:14] #387 closed

[2019-09-05 04:14] jan-janssen commented on #388
Fixed in https://travis-ci.org/jan-janssen/release-testing/builds/580849202

[2019-09-05 04:14] #388 closed

[2019-09-05 11:13] SanderBorgmans opened #391 "Visualization of clusters without cell"
When constructing clusters with no cell attribute, the `plot3d()`, `get_final_structure()` and `animate_structure()` do not seem to work (probably some other functions as well). It would be nice to be able to visualize these clusters without cell attribute, since it would be strange to define a unit cell for a cluster object.

If it helps, the `plot3d_ase()` does work for these clusters.

[2019-09-06 10:32] sudarsan-surendralal commented on #391
Could you post a simple example notebook here where you generate a cluster? We didn't consider this so far since we mostly work with periodic supercells.

[2019-09-06 10:45] SanderBorgmans commented on #391
No problem.
[test.zip](https://github.com/pyiron/pyiron/files/3583563/test.zip)

[2019-09-06 13:07] sudarsan-surendralal commented on #391
Fixed [here](https://github.com/pyiron/pyiron/pull/393). Defining dummy cells before visualizing in nglview. This does not change the original atom object which still does not have a cell attribute

[2019-09-06 13:14] SanderBorgmans commented on #391
Thank you! I'll test it as soon as possible.

[2019-09-06 14:04] SanderBorgmans commented on #391
The atoms.py fix seem ok, but the atomistics.py required some tweaking to get both animate_structure and get_structure to work.

In the definition of trajectory the cells object could also be None, so that len(cells) would fail:
[code]

In the definition of get_structure, calling [iteration_step] on the cells object, which could be None throws another error. I suggest:

[code]

[2019-09-06 14:38] SanderBorgmans commented on #391
With these alterations, I do still get an error when creating an explicit Atoms object, converting it to a pyiron object, and then calling plot3d() (see jupyter notebook). Plot3d_ase() does not throw an error

[test.zip](https://github.com/pyiron/pyiron/files/3584399/test.zip)

[2019-09-06 15:43] sudarsan-surendralal commented on #391
Fixed. I think the cell should stay `None` even in `get_structure()` since it should be compatible with ase. I also disabled showing the cell when it is a cluster.

[test_cluster.zip](https://github.com/pyiron/pyiron/files/3584620/test_cluster.zip)

[2019-09-06 21:45] SanderBorgmans commented on #391
This still throws errors for me when there is no cell: https://github.com/pyiron/pyiron/blob/af924b4f0bc0bd76c9220682513bfbe0509fa8c0/pyiron/atomistics/job/atomistic.py#L486

[2019-09-06 22:03] SanderBorgmans commented on #391
Also, isinstance(np.array(None),(list,np.ndarray)) this returns True for me. This throws an error for empty cell attribute at https://github.com/pyiron/pyiron/blob/fix_plot3d_clusters/pyiron/atomistics/job/atomistic.py#L490

[2019-09-07 06:30] sudarsan-surendralal commented on #391
Oops, my bad!  Can you check this again?

[2019-09-07 09:25] SanderBorgmans commented on #391
Now the plot functions seem to be working, but another error pops. When reloading a structure from the hdf5 file, I get the following error, since a cell object is now created in the hdf5 file equal to np.zeros((3,3)) which throws the error:

[code]

[2019-09-09 01:00] sudarsan-surendralal commented on #391
So this issue has to do with the basic structure of the `Atoms` class and not visualization. So I've opened another pull request that allows having singular matrices for the `cell` value https://github.com/pyiron/pyiron/pull/395. I think these changes should work for you. Do let me know if it doesn't!

[2019-09-17 16:22] samwaseda opened #410 "What is this good for?"
So it took me some time to understand that this function killed my custom potential class. (Despite the missing docstrings) I understand what it does, but I don't understand what it is good for. Why shouldn't we simply pass the original lines from the static version?

https://github.com/pyiron/pyiron/blob/01afd5d72c761644bf759ddbaba01e09a6c313f9/pyiron/lammps/interactive.py#L201

[2019-09-17 16:24] jan-janssen commented on #410
Because we do not copy the file, but rather link to the file in the resource directory, simply because the interactive job doesn't need a working directory.

[2019-09-17 16:32] samwaseda commented on #410
Ok but according to this implementation, the potential is never set if it doesn't require a file, like parameter-based potentials, right?

[2019-09-17 17:22] jan-janssen commented on #410
The potential is set in https://github.com/pyiron/pyiron/blob/01afd5d72c761644bf759ddbaba01e09a6c313f9/pyiron/lammps/interactive.py#L209

[2019-09-18 07:15] samwaseda commented on #410
But most of the time `atom_style` isn't `full`

[2019-09-18 07:17] jan-janssen commented on #410
But the lines below are executed no matter what the atom_style is :
https://github.com/pyiron/pyiron/blob/01afd5d72c761644bf759ddbaba01e09a6c313f9/pyiron/lammps/interactive.py#L210

[2019-09-18 07:24] samwaseda commented on #410
No they aren't, if `potential_lst` has no file (i.e. if `self.input.potential.files` has no file), because the for loop two lines below (L212) has nothing to loop over.

[2019-09-18 07:29] jan-janssen commented on #410
Either the potential requires a file, like EAM, MEAM, MTP and so on or if it does not, then a water potential is handled separately. What kind of potentials do you plan to use?

[2019-09-18 07:30] samwaseda commented on #410
Morse, Lennard Jones etc.?

[2019-09-18 07:30] jan-janssen commented on #410
I guess those are currently not supported by this setter.

[2019-09-18 07:33] samwaseda commented on #410
But I don't understand why this setter has been changed. We could have very well changed the static version to never copy the potential file and instead point to the file, in which case there won't be a discrepancy between the static and interactive version.

[2019-09-18 07:34] jan-janssen commented on #410
Feel free to modify it.

[2019-09-18 13:23] jan-janssen commented on #410
https://github.com/pyiron/pyiron/pull/412

[2019-09-18 13:23] #410 closed

[2019-09-20 06:42] jan-janssen commented on #391
@SanderBorgmans Is this working now? Can we close the issue?

[2019-09-20 06:49] SanderBorgmans commented on #391
@jan-janssen I will let you know when I added the indices to the Gaussian output, this (hopefully) shouldn't take long

[2019-09-20 07:02] SanderBorgmans commented on #391
@jan-janssen Should I just add the full structure group from the input to the output? For the moment, I just added the structural properties from the output to the structure group in the ouput file, such as masses, charges, dipoles, ...

[2019-09-20 07:33] jan-janssen commented on #391
I am sorry this was a bug on our side - I fixed it in https://github.com/pyiron/pyiron/pull/413

[2019-09-20 09:48] SanderBorgmans commented on #391
This fixes the Gaussian issue, but there still seems to be an issue with a cell that is not existent:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-13-1fae907ed5df> in <module>
      1 from ase import Atoms
      2 #structure = ase_to_pyiron(Atoms(numbers=job.output.numbers,pos

[2019-09-20 10:48] jan-janssen commented on #391
@chandu can you take a look at this?

[2019-09-20 11:29] sudarsan-surendralal commented on #391
Fixed it here https://github.com/pyiron/pyiron/pull/414. The issue is that the `center_coordinates_in_unitcell()` command should only work if a cell is defined. Do let me know if this is fixed now.

[2019-09-21 10:06] SanderBorgmans commented on #391
@sudarsan-surendralal It seems that now everything is working! Thank you for all the efforts! I will keep you posted on any other issues I might run into with these cluster structures. I will close the issue for now.

[2019-09-21 10:06] #391 closed

[2019-10-16 08:09] jan-janssen opened #433 "Issue with the automated build system"
For some reason Anaconda tries to remove setuptools

[code]

[2019-10-16 08:11] jan-janssen commented on #433
Previously it installed:

[code]

[2019-10-19 09:31] sudarsan-surendralal opened #434 "Langevin thermostat/barostat overwrites geometrical constraints"
If I have a LAMMPS calculation with some atoms fixed in their original positions and then run MD with a Langevin thermostat/barostat, the constraints are overwritten. This is because for some reason, the `fix langevin all` command is written at the very end (before the run command).  Is there a reason why the Langevin command should be called at the very end? Example code below

[code]

[2019-10-21 21:18] #434 closed

[2019-10-25 12:13] jan-janssen commented on #433
Fixed in https://github.com/pyiron/pyiron/pull/436

[2019-10-25 12:13] #433 closed

[2019-11-07 08:32] samwaseda opened #443 "tags not updated in get_structure"
I noticed that the spins are not updated when I get the final structures via `get_structure`, which is not difficult to understand since the tags were historically used for initial structures, but I still find it quite confusing that I see the initial magnetic moments in the final structure. Shall we apply individual updates (i.e. `spin` is updated while `selective_dynamics` isn't etc.)?

https://

[2019-11-07 08:35] jan-janssen commented on #443
We should also consider keeping the consistency with ASE, the have:
`get_initial_magnetic_moments` and `get_magnetic_moments`
https://gitlab.com/ase/ase/blob/master/ase/atoms.py#L606

[2019-11-07 08:56] samwaseda commented on #443
Okay but then shall we implement `get_magnetic_moments` in `pyiron.atomistics.job.atomistic`? Or should `dft.job.generic` rather be extended?

[2019-11-21 14:30] liamhuber opened #449 "Lammps structures can be read wrong"
Beyond some level of cell shape complexity, there is a breakdown in communication between pyiron and Lammps. For a concrete example, Al run with a cubic or orthogonal cell is fine, but with the primitive structure pyiron reads the structure wrong.

MWE:
[code]

The average energies under a simple MD run are fine regardless of whether I use the primitive, orthorhombic, or cubic cells, so things are

[2019-11-21 14:44] jan-janssen commented on #449
Can you test this with interactive mode?

[2019-11-21 14:53] liamhuber commented on #449
[code]

There is still some order in the final structure, but there are large voids in the cell and other places with overlapping atoms -- it looks like a wrapping problem. pyiron is changing the cell to something with zeros above the diagonal. This probably gives a pretty good hint where things are going wrong.

I can probably look at this later today or this evening, but I ran into it working so

[2019-11-21 15:10] liamhuber commented on #449
indeed, using `get_structure(iteration_step=-1, wrap_atoms=False)` shows that the atoms still have very reasonable positions relative to each other, it's just when they get wrapped back into the cell that things go wrong. I bet we're just converting the Lammps triclinic cell wrong...

[2019-11-24 12:41] sudarsan-surendralal opened #453 "Restart erases output of finished jobs"
A very dangerous bug that I detected which needs to be fixed. Suppose you have a workflow where you create new jobs from already finished jobs

[code]

The `output` node is completely removed from the output of completed jobs when the restart function is called again. This is because of this line which copies the input only regardless of the state of the job
https://github.com/pyiron/pyiron/blob/6

[2019-11-24 13:01] sudarsan-surendralal opened #454 "git ImportError"
I just merged my branch with the master branch and I now can't run pyiron because I get the following error

[code]
I understand that this is due to the recent changes https://github.com/pyiron/pyiron/pull/451 and can be solved if I simply add the git executable path to my `.bashrc` file. However, isn't this a bit dangerous? We are forcing git installation for all users even if they are not develo

[2019-11-24 13:04] sudarsan-surendralal commented on #453
Fixed here https://github.com/pyiron/pyiron/pull/455

[2019-11-24 13:53] jan-janssen commented on #454
Can you do `conda list git` ? Git should be installed by conda then it is fine, we updated the requirements accordingly.

[2019-11-24 14:01] jan-janssen commented on #454
I installed `git-2.23.0` on cmfe - the next time please use the gitlab issue board for cmfe related issues. In addition I added an exception around the git import https://github.com/pyiron/pyiron/pull/456

[2019-11-24 14:02] jan-janssen commented on #454
@sudarsan-surendralal Can we close this error?

[2019-11-24 15:48] #454 closed

[2019-11-24 16:00] #453 closed

[2019-11-29 20:19] liamhuber commented on #449
Fixed in [this pull request](https://github.com/pyiron/pyiron/pull/463).

[2019-11-29 20:20] #449 closed

[2019-12-02 15:04] liamhuber opened #465 "Lammps non-metallic units not safe"
Our current implementation of Lammps handles non-metallic units in some ways precariously, in others simply wrongly.

The precariousness comes from the fact that the 'units' attribute of the `input.control` object of a Lammps job is updated only when the potential is assigned to the job (automatically based on some units property of the potential object). Currently, other aspects of the input, suc

[2019-12-02 16:18] liamhuber commented on #465
Before we patch over this, we should give some thought (and probably discussion) to how we might refactor the Lammps interface to deal with units in a more wholistic manner -- wholistic both in terms of synchronizing input/output treatment, and in terms of, well, not 'synchronizing', but at least 'similarizing' interactive/regular jobs.

[2019-12-03 14:29] liamhuber commented on #465
I made a [pull request](https://github.com/pyiron/pyiron/pull/468) which adds a warning when the units aren't "metal".

Since right now only Sudarsan uses non-metal units (that we're aware of), this should be important. It doesn't stop anything from going wrong, but at least gives the user a very educated guess as to where to look to solve the problem.

[2019-12-06 08:42] samwaseda opened #473 "snapshot defined but not used"
I see the option `snapshot` in `def restart` but I don't see it inside the function. It's probably not used, is it? I guess it's better to say in the Doc string that it won't be reflected or simply remove it altogether.

https://github.com/pyiron/pyiron/blob/42c5825cdfbc21a1b3a124fb87d59fa15c66196c/pyiron/base/job/generic.py#L1181

[2019-12-06 09:13] sudarsan-surendralal commented on #473
Earlier we had the option of choosing which snapshot from the simulation to return. Later we realized that it does not make sense to restart from a snapshot that is not the last one. So yeah you can remove it if you want but make sure you fix this line too

https://github.com/pyiron/pyiron/blob/42c5825cdfbc21a1b3a124fb87d59fa15c66196c/pyiron/vasp/base.py#L507

[2019-12-10 16:30] dgehringer opened #477 "Possible bug in list_nodes"
Given is the attached hdf (rename it from *minimize.txt* to  [*minimize.h5*](https://github.com/pyiron/pyiron/files/3945912/minimize.txt)) file
and the path to a **group** `minimize/graph/vertices/calc_static/archive/input/structure`

However during deserialization in `from_hdf` method
`hdf.list_nodes()` of the parent path yields
`['TYPE', 'interesting_keys', 'ref_job_full_path', 'structure']`

wh

[2019-12-10 16:39] jan-janssen commented on #477
This is part of the pyiron philosophy, the objects which can be loaded are listed as nodes. The atomistic structure is an object, which the user should not access, therefore it is listed as `node` rather than `group`.

[2019-12-10 17:46] dgehringer commented on #477
Yes but my `structure` is of `TYPE='<class 'collections.OrderedDict'>'` a custom defined complex type and but no `pyiron.atomistics.structure.atoms.Atoms` object

[2019-12-10 18:00] dgehringer commented on #477
If I understand correctly, *pyiron* thinks it can load the group?
I get the error already when I try to lookup the `TYPE` e.g `hdf[key]['TYPE']` or if I use `project.inspect`

[code]

[2019-12-10 23:06] jan-janssen commented on #477
Can you load it with `h5io` directly? pyiron internally used `h5io` to access the HDF5 files and I am not sure if `OrderedDict` are supported, but `dict` in general works fine. It is always a question whether there is an mapping to an hdf5 data type.

[2019-12-11 09:54] dgehringer commented on #477
Hi @jan-janssen !
At first many thanks for your quick, help. Yes I had a look on `h5io`, the problem occured when you want to serialize complex nested `dict`. e.g the values are *pyiron* structures.
I just prevented `hdf.__setitem__` for certain types that solved the issue for me.
Many thanks again

[2019-12-11 09:54] #477 closed

[2019-12-22 00:11] samwaseda opened #485 "Lammps gets stuck while parsing output"
I have a code below:
[code]
and the status gets stuck with `collect`, when the job stops running at the end. When the number of steps is reduced to something like 100, then it ends in a regular way. Similarly, if the job is not submitted, it ends correctly as well.

[2019-12-22 10:31] jan-janssen commented on #485
Do you get any error message in `error.msg` or `error.out` ?

[2020-01-03 11:52] samwaseda commented on #485
No I don't - it just stops.

[2020-01-03 15:51] samwaseda opened #487 "interactive VASP gives an error"
Following code gives an index error with `interactive_energy_pot_getter`

[code]

[2020-01-03 15:58] jan-janssen commented on #487
https://gitlab.mpcdf.mpg.de/pyiron/pyiron-support/issues/244

[2020-01-03 15:59] jan-janssen commented on #487
For all the external users - Vasp 5.4.4 requires a patch for interactive mode to be enabled again - for Vasp 5.4.1 it worked out of the box.

[2020-01-04 12:58] samwaseda commented on #487
My branch is and has been up to date if that's what you're telling me

[2020-01-04 14:04] jan-janssen commented on #487
Please try` job.executable.version = "5.4.4_int"`
https://gitlab.mpcdf.mpg.de/pyiron/pyiron-support/issues/244#note_48666

[2020-01-05 04:07] samwaseda commented on #487
XD sorry that was a super foolish mistake

[2020-01-05 04:07] #487 closed

[2020-01-07 08:53] jan-janssen commented on #485
I found an error message :
[code]

[2020-01-07 10:01] samwaseda opened #490 "Error I'm correcting"
https://github.com/pyiron/pyiron/blob/77053fa5b0bddcc1f6f0e3c7a15b234985a165ba/pyiron/base/generic/parameters.py#L802

This line should be `par_single = par.split()[0].split(self.multi_word_separator)[0]`, but since I'm changing this part anyway in my current branch, I'm not going to open an extra branch for this (I opened this issue just in case I fail to finish the branch)

[2020-01-07 11:17] samwaseda opened #491 "Pressure not properly rotated"
https://github.com/pyiron/pyiron/blob/77053fa5b0bddcc1f6f0e3c7a15b234985a165ba/pyiron/lammps/base.py#L544

If the upper triangle matrix is defined for Lammps, the pressure coordinates will be wrong -> it has to be rotated just in the same way as positions or velocities

[2020-01-08 15:36] samwaseda commented on #490
Solved with [this](https://github.com/pyiron/pyiron/pull/493)

[2020-01-08 15:36] #490 closed

[2020-01-08 15:36] samwaseda commented on #485
By taking mean values proposed [here](https://github.com/pyiron/pyiron/pull/493), this problem can be solved.

[2020-01-08 15:36] #485 closed

[2020-01-13 09:43] chrinide opened #495 "ValueError: Was not able to locate a periodic table."
Hi all,

I have used Pyiron as a first try after successfully installation and configuration,

[code]

But got below issue:

[code]

Any suggestion?

[2020-01-13 09:51] jan-janssen commented on #495
Hi @chrinide,

Can you post your `.pyiron` configuration - commonly in your user directory `~/.pyiron`? If it does not exist you might have to configure pyiron again https://pyiron.github.io/source/installation.html#configuration .

Best,

Jan

[2020-01-13 10:37] chrinide commented on #495
Hi,

This is:

[code]

[2020-01-13 10:59] jan-janssen commented on #495
Ok, can you show me the content of `~/pyiron/resources`, simply `ls ~/pyiron/resources`. This should be the same like: https://github.com/pyiron/pyiron-resources and in particular there should be https://github.com/pyiron/pyiron-resources/blob/master/atomistics/periodic_table.csv in `ls ~/pyiron/resources/atomistics/periodic_table.csv`. These files are downloaded during the configuration step of `

[2020-01-14 21:39] Vadym-ko commented on #495
Thank you, @jan-janssen!
Direct downloading from the [github folder](https://github.com/pyiron/pyiron-resources) helped.
For some reason after installation there was no _periodic_table.csv_ file in the _resources_ folder.
I have reinstalled, but it didn't work. Perhaps there are some problems with _pyiron.install()_ script.

[2020-01-15 15:22] jan-janssen opened #500 "Python 2.7 compatibility"
I just realised that setuptools was updated on pip which is the reason why our Azure tests fail since https://github.com/pyiron/pyiron/pull/494 . As there is no more official Python 2.7 support I guess we can remove Python 2.7 after all and release a new pyiron 0.3 version only supporting python 3.X . @sudarsan-surendralal Can you take a look at this and start removing all the Python 2.7 vs. 3. ve

[2020-01-17 11:17] jan-janssen commented on #500
https://github.com/pyiron/pyiron/pull/502 - I started a corresponding pull request

[2020-01-17 11:28] jan-janssen commented on #495
Can you tell me which version of pyiron you are using? `conda list pyiron`

[2020-01-17 12:32] yury-lysogorskiy opened #503 "Phonopy master wrong run mode - modal instead of non_modal"
**pyiron version**: 0.2.10

`pr=Project("test-phonopy")`
`atoms = pr.create_ase_bulk("Mo")`
`job = pr.create_job(pr.job_type.PhonopyJob,"phonopy")`
`engine_job = pr.create_job(pr.job_type.Vasp,"vasp_engine")`
`engine_job.structure = atoms`
`engine_job.executable.mpi =True`
`engine_job.server.queue = "xxx"`
`engine_job.server.cores=4`
`job.ref_job = engine_job`
`job.server.run_mode = "non_modal"`
`

[2020-01-17 12:34] jan-janssen commented on #503
If you specify the queue the `run_mode` is `queue` rather than `non_modal`

[2020-01-17 12:42] yury-lysogorskiy commented on #503
I specify _queue_ for **engine_job** and it goes to queue mode, that is correct, but
**job** is executed in _modal mode_, as I see from the on-screen log.

However,  **job** collected output and finished properly

[2020-01-17 12:46] jan-janssen commented on #503
But that is only the submission https://github.com/pyiron/pyiron/blob/master/pyiron/base/master/parallel.py#L553 - the master is not waiting until the jobs are finished it just waits until the jobs are submitted.

[2020-01-17 12:50] yury-lysogorskiy commented on #503
I assume, that if the number of _subjobs_ is too large, it is better to let user decide - submit them in main process (_modal_ mode)  or in background  (_non_modal_ mode)

[2020-01-17 12:56] jan-janssen commented on #503
We removed this functionality to make it easier for the user to see what exactly is happening and to reduce conflicts with the queuing system when too many processes were submitting at the same time.

[2020-01-17 13:03] Vadym-ko commented on #495
Version 0.2.10

[2020-01-17 13:08] yury-lysogorskiy commented on #503
Could this behavior be just the **default** option, but still providing the possibility to user to submit it in _non-modal_ mode with expected behavior?

[2020-01-17 13:15] yury-lysogorskiy opened #504 "Magnetic moments for ISPIN=2, LORBIT=10 Vasp calculations not read"
Per-atom magnetic moments not read.

**Input script:**
`from pyiron import Project`
`pr=Project("test-magmom")`
`atoms = pr.create_ase_bulk("Fe", cubic = True)`
`engine_job = pr.create_job(pr.job_type.Vasp,"vasp_engine")`
`engine_job.structure = atoms`
`engine_job.input.incar["LORBIT"]=10`
`engine_job.input.incar["ISPIN"]=2`
`engine_job.set_exchange_correlation_functional("PBE")`
`engine_job.execu

[2020-01-17 13:45] sudarsan-surendralal commented on #504
These values are stored in

`engine_job["output/generic/dft/final_magmoms"]`

and

`engine_job["output/generic/dft/magnetization"]`

[2020-01-17 15:06] jan-janssen commented on #503
I won't have the time to implement it, but feel free to open a pull request.

[2020-01-17 15:32] #500 closed

[2020-01-17 15:32] jan-janssen commented on #495
I tried to reproduce the issue on mybinder https://github.com/jan-janssen/debug-pyiron-install/tree/master but somehow I was not able to.

[2020-01-17 16:27] #504 closed

[2020-01-19 17:42] jan-janssen opened #506 "First pyiron Workshop - http://potentials.rub.de - in Bochum - Germany - 31st of March to 2nd of April 2020"
WORKSHOP

"WORKFLOWS FOR ATOMISTIC SIMULATION"

SCOPE

It is increasingly common that atomistic simulations such as molecular
dynamics or structural relaxation are used as engines that drive more
complex simulation tasks, for example, the computation of phase diagrams
or the search for novel materials with specific properties, etc.

The workflow along the simulation chain then becomes an integral

[2020-01-22 09:43] samwaseda opened #510 "radius does not exist"
There's an argument for `radius`, but it does not exist. Furthermore, `cutoff` should be replaced by `cutoff_radius`.

https://github.com/pyiron/pyiron/blob/434b6e967676dc82ad61e91deba37ec24c0846e6/pyiron/atomistics/md_analysis/water_analysis.py#L62

[2020-01-22 10:57] sudarsan-surendralal commented on #510
Done here https://github.com/pyiron/pyiron/pull/511

[2020-01-22 15:26] #510 closed

[2020-02-06 11:15] samwaseda opened #515 "what does this line do?"
It looks extremely redundant. What does this line mean and the lines that follow?

https://github.com/pyiron/pyiron/blob/aeeb93fb826800e869fd52215b9696d11e61af7e/pyiron/base/job/generic.py#L1015

[2020-02-06 12:58] jan-janssen commented on #515
If the master job is in `run_mode` `non_modal` also all his childs are set to run_mode `non_modal`.

[2020-02-11 15:02] jan-janssen opened #518 "Length of the job name"
@pmrv I just checked the code an the job names are limited to 50 characters:
https://github.com/pyiron/pyiron/blob/master/pyiron/base/database/generic.py#L114

[2020-02-11 20:29] pmrv commented on #518
Thanks for checking!  I found out how to use job groups today, which side steps this and is probably what I should have done anyway. I think I'll add this information to one of the intro notebooks though, once I've stepped through all of them.

[2020-02-12 05:25] #518 closed

[2020-02-13 13:53] FeLoch opened #520 "bug in set_empty_states in sphinx"
Empty states can never be set!

https://github.com/pyiron/pyiron/blob/010444ae03d099909a0ae94ddd5086d26ae6528e/pyiron/sphinx/base.py#L577

[2020-02-13 13:56] FeLoch commented on #520
pull request open #521

[2020-02-13 14:25] jan-janssen commented on #520
I do not get it, what was wrong with the previous code? if the number is smaller than `0` it raises and issue and if it is `None` nothing happens.

[2020-02-13 14:28] FeLoch commented on #520
If `n_empty_states` is not None it raises an error, too. Therefore it always raises an error.

[2020-02-13 14:31] jan-janssen commented on #520
Got it, it should have been is `not None and `instead of is `not None or `

[2020-02-13 14:31] FeLoch commented on #520
Moreover, the user is never able to restore `"auto"` for the emtpy states.

[2020-02-13 16:27] vijjubhuva opened #522 "Lammps Dies"
I recently added pyiron in my computer. However,  I am getting following error about the LAMMPS.
I also tried manually but doesn't work as well.
---------------------------------------------------------------------------
CalledProcessError                        Traceback (most recent call last)
/anaconda3/lib/python3.6/site-packages/pyiron/base/job/generic.py in run_static(self)
    721

[2020-02-13 16:29] jan-janssen commented on #522
Hi @ vijjubhuva, thank you for giving pyiron a try. To me this looks like Lammps is not setup correctly. The easiest way to setup Lammps with pyiron is:
`conda -c conda-forge install lammps`

[2020-02-13 16:46] vijjubhuva commented on #522
Thank you so much for your reply. Now lammps work perfectly.

[2020-02-13 16:47] #522 closed

[2020-02-14 07:18] samwaseda commented on #515
ok sorry I didn't see the object part

[2020-02-14 07:18] #515 closed

[2020-02-14 12:28] #520 closed

[2020-02-29 14:26] samwaseda opened #537 "Does it make sense to multiply it by 2*pi?"
The name `kpoints_per_angstrom` in `get_k_mesh_by_cell` makes me think that this is the number of k-points per angstrom, but in reality it is 1/angstrom and multiplied by 2*pi. Is it really intuitive? Besides, from my point of view it makes more sense to have `kpoints_per_angstrom` as the first argument and `cell` after that, since I'm usually interested to know how many points I need for the **cu

[2020-02-29 14:34] samwaseda commented on #537
Maybe I should say clearly how I would use it: I'd like to get let's say something like 24 k-points per lattice in each direction. Then I'm fine with any of the following options:
[code]
But **NOT** with
[code]

[2020-02-29 15:41] jan-janssen commented on #537
If I remember correctly @yury-lysogorskiy implemented this functionality for his high throughput calculation, so maybe he can explain the usage.

[2020-03-04 15:21] liamhuber commented on #537
While we're talking about this, I'm pretty sure the variable name needs to be `kpoints_per_reciprocal_angstrom`

[2020-03-09 09:32] pmrv opened #540 "Multi Word Keys in GenericParameters"
Right now keys into GenericParameters cannot have white space in them and instead have to have underscores `'___'` instead, which is a bit inconvenient and unintuitive.

Our consensus from Friday was to change `GenericParameters.__getitem__` to
special case keys with white space and replace it with
`GenericParameters.multi_word_separator = '___'` transparently.  Looking into
it there are three met

[2020-03-09 10:11] liamhuber opened #541 "No double-using status"
`2020-03-06 20:54:19,896 - pyiron_log - WARNING - EDDRMM warning occurred 4 times first in ionic step 1. Status is switched to 'not_converged'.`

Since status `not_converged` already has a very specific meaning, we should not double-use it here. Something generic like `warning` or `finished_with_warning` would be nice, and I think it's probably fine to make it general enough to cover other cases.

[2020-03-09 10:17] liamhuber commented on #541
[Here](https://github.com/pyiron/pyiron/blob/master/pyiron/vasp/base.py#L465) is the relevant VASP code.

I found the `status` property [here](https://github.com/pyiron/pyiron/blob/master/pyiron/base/job/core.py#L175) in `JobCore` and can see from the docstring what the allowable values are, but I see a setter or where we actually control for these values...

[2020-03-09 10:23] jan-janssen commented on #541
https://github.com/pyiron/pyiron/blob/master/pyiron/base/job/jobstatus.py

[2020-03-09 10:54] sudarsan-surendralal commented on #541
If I understand correctly, while this warning/error is not a major issue for most of us, this is critical for some calculations with higher precision (@jan-janssen, perhaps yours?). So @FeLoch and I decided to create a function `set_eddrmm_handling` ([here](https://github.com/pyiron/pyiron/blob/ecf64369dde74305369146dcd2883a346277cf05/pyiron/vasp/base.py#L780)) to take care of this. You just have

[2020-03-09 12:02] liamhuber commented on #541
@sudarsan-surendralal True, when I looked in at the vasp interface code I saw that option. This resolves my particular issue, but it doesn't address the underlying problem that we're using a status flag to mean something other than its stated and intended meaning.

[2020-03-09 12:05] liamhuber opened #542 "Structure slicing bugs"
I ran across the following problems playing around with slicing structures:

1) Slicing up to a negative value doesn't work

[code]
Output:
[code]

2) Under *just* the right circumstances you can get an index error

[code]
Output:
[code]

[2020-03-09 12:05] liamhuber commented on #541
Fixing...

[2020-03-09 14:33] liamhuber commented on #541
Patched [here](https://github.com/pyiron/pyiron/pull/543). I didn't run tests locally, so let's wait if the pipeline catches anything. It's a pretty small patch, so hopefully it will be fine.

I didn't make any effort for backwards compatibility here, since this is presumably still a super niche issue.

[2020-03-09 14:33] #541 closed

[2020-03-09 15:20] sudarsan-surendralal commented on #542
Fixing...

[2020-03-09 16:29] FeLoch commented on #506
Since the workshop is cancelled due to COVID-19, should we close the issue?

[2020-03-09 16:39] #506 closed

[2020-03-09 18:30] sudarsan-surendralal commented on #542
Fixed the issue with handling slicing and with the handling of the species here: https://github.com/pyiron/pyiron/pull/544

Fixing the issue with the slice was straightforward. However, understanding what goes on in the second example took a lot of time to debug. What happens is that the atoms `indices` attribute was not updated properly earlier. This is because each time you add or remove species

[2020-03-10 09:02] liamhuber commented on #542
@sudarsan-surendralal Very nice!

[2020-03-10 09:02] #542 closed

[2020-03-23 13:29] jan-janssen commented on #540
@pmrv Any progress with this? I started by simply removing the multi word part: https://github.com/pyiron/pyiron/pull/564

[2020-03-23 13:32] jan-janssen commented on #495
@chrinide and @Vadym-ko Can I close this issue? As far as I understand it works when you download the resources directly from GitHub.

[2020-03-23 13:33] jan-janssen commented on #473
@sudarsan-surendralal or @samwaseda Can one of you fix this and open a pull request?

[2020-03-23 14:16] pmrv commented on #540
Yeah, I have a branch (on my office computer..) where I removed the multi word part as well and fixed reading them from a file as well, that should work, but I got distracted testing it.

It gets tricky when reading GenericParameters from a file, because right now only the first word of a line is used as a key. So when querying for a key with white space (`'set group H charge'` for this error) the

[2020-03-23 14:29] samwaseda commented on #473
Sure. I'll (probably) do it later today

[2020-03-23 16:09] jan-janssen commented on #537
I just had a quick call with @yury-lysogorskiy and we decided to open a pull request with his new changes https://github.com/pyiron/pyiron/pull/565 . @samwaseda Can you take a look at this?

[2020-03-23 16:29] samwaseda commented on #537
So you decided to not reflect any of my suggestions above?

[2020-03-23 16:30] jan-janssen commented on #537
No. Yury had already made the changes before, all I want is to merge both discussions.

[2020-03-23 16:31] samwaseda commented on #537
Ok I submitted the comment

[2020-03-23 17:36] samwaseda commented on #473
Does [this function](https://github.com/pyiron/pyiron/blob/dd89ac141562e5c61d6574c7c8b681e1ab60a0f4/pyiron/vasp/base.py#L490) still have utility?

[2020-03-23 17:38] samwaseda commented on #473
It's done [here](https://github.com/pyiron/pyiron/pull/566)

[2020-03-23 17:44] jan-janssen commented on #473
In https://github.com/pyiron/pyiron/blob/master/pyiron/vasp/base.py#L484 ? @sudarsan-surendralal Can you comment on this?

[2020-03-23 18:13] pmrv commented on #540
So, I think the problem with just removing multi word part on getting is, that then we need a unambiguous way to split a line in a parameter file into the key and the value on reading.  Errors come from the `LammpsStructure` trying to read the charges from the potential file with `GenericParameters.get('set group H charge')` where the full lines are
[code]
So in this case the fix would be to someh

[2020-03-23 18:48] jan-janssen commented on #540
@sudarsan-surendralal Can you comment on this?

From my perspective the reading of the charge within the Lammps structure class is a special case, therefore the simple recommendation would be to move the special `_find_line()` function to the `LammpsPotential` class. Following:
[code]
https://www.python.org/dev/peps/pep-0020/

[2020-03-23 23:43] sudarsan-surendralal commented on #540
This is an ancient piece of pyiron code and I agree that we have to change it. @pmrv, can you push your local branch? I can then change things after merging with your branch

[2020-03-24 04:56] jan-janssen commented on #540
@sudarsan-surendralal I just started by moving the function to the Lammps potential class, to separate the functionality https://github.com/pyiron/pyiron/pull/564

[2020-03-24 10:13] pmrv commented on #540
As far as I can tell even in the Lammps potential its only used to get the charges and the element id from the element names, so I would even only add special functions for this. I'll open a pull request with this before the meeting today.

@sudarsan-surendralal Have to get on the VPN first, but sure.

[2020-03-24 17:57] #473 closed

[2020-03-27 16:19] Vadym-ko commented on #495
As I have figured it out this issue happens if the _pyiron.install()_ command was terminated. In this case _pyiron.install()_ recall returns _"pyiron is already installed"_, but there could be not all files in  the resources folder. Downloading directly from GitHub solves the problem. Consequently, I suggest to close the issue.

[2020-03-27 16:41] #495 closed

[2020-04-09 00:34] sudarsan-surendralal opened #580 "sphinx fails to detect its potentials"
So I'm trying to run sphinx through pyiron installed on my local pc (through conda-forge) and I seem to have problems running jobs even when the potentials (open-source ones only) are present in the resource directory

[code]
returns the error
[code]

[2020-04-09 04:52] jan-janssen commented on #580
It tries to load the VASP potentials, so it seems like there is an empty VASP folder in your resources path. You can either remove the folder or set the option:
[code]

[2020-04-09 04:52] jan-janssen commented on #580
https://github.com/jan-janssen/sphinx-example

[2020-04-09 04:55] jan-janssen commented on #580
To change this behavior you can modify:
https://github.com/pyiron/pyiron/blob/master/pyiron/sphinx/base.py#L1006

[2020-04-09 04:56] jan-janssen commented on #580
In addition it might be reasonable to release a pyiron 0.2.11 version for the workshop and update the installer https://github.com/pyiron/pyiron-installer

[2020-04-09 09:53] sudarsan-surendralal commented on #580
This, unfortunately, does not work. But when I now use the updated master version, the issue with the potentials is gone. But I'm getting another error for which I'll create another issue. So while this issue is fixed, we need a new version with both the issues fixed

[2020-04-09 09:53] #580 closed

[2020-04-09 10:15] sudarsan-surendralal opened #582 "sphinx does not enter the main loop"
I managed to install sphinx on my local pc through conda and it seems to crash. I inspected the sphinx log file and found this error message

`This feature needs pcre2. Configure with --enable-pcre2`

However, I see that this is enabled in the conda forge recipe https://github.com/conda-forge/sphinxdft-feedstock/blob/master/recipe/build.sh

Any clues?

[2020-04-09 10:17] jan-janssen commented on #582
Please download the latest version:
[code]

[2020-04-09 10:31] sudarsan-surendralal commented on #582
Thanks! It works now.

[2020-04-09 10:31] #582 closed

[2020-04-09 11:35] jan-janssen commented on #580
I released a new version of the installer which is based on pyiron 0.2.11 https://github.com/pyiron/pyiron-installer/releases/tag/0.2.11

[2020-04-09 12:15] jan-janssen opened #583 "Python warnings"
I setup a new system and now I start to get the following warnings:

[code]

[2020-04-09 12:22] jan-janssen commented on #583
New system means python 3.8 .

[2020-04-09 13:26] sudarsan-surendralal commented on #583
https://github.com/pyiron/pyiron/pull/584

[2020-04-09 13:34] #583 closed

[2020-04-10 14:00] sudarsan-surendralal opened #586 "Incorrect displacements when cell shape varies"
When calculating the displacements between the snapshots in a job, the current algorithm calculates the relative positions using the initial structure.

https://github.com/pyiron/pyiron/blob/3bd1912c4417c637e8fc8f12058b60d03d4565e9/pyiron/atomistics/job/atomistic.py#L881-L883

But if the cell shape changes (eg. NpT simulations) during the simulation, the calculated displacements would be wrong.

[2020-04-16 16:15] jan-janssen opened #593 "Clean up Gaussian code"
@SanderBorgmans I just found the following module load command:
https://github.com/pyiron/pyiron/blob/178feb4a53a731adcccc85d57e00af79bb972a9b/pyiron/gaussian/gaussian.py#L226
This is very cluster specific and we should find a way to get remove it. Is `cubegen` part of gaussian?

[2020-04-17 07:41] jan-janssen opened #594 "Repeating non periodic cells"
This works as expected:
[code]

This does not:
[code]

[2020-04-17 07:56] jan-janssen opened #595 "Select atoms"
This works
[code]

this does not:
[code]

While the same code is working for ASE:
[code]

and:
[code]

Deriving our atoms class from ASE would also solve:
https://github.com/pyiron/pyiron/issues/594

[2020-04-17 07:57] jan-janssen commented on #594
It works with ASE:
[code]

[2020-04-17 09:19] SanderBorgmans commented on #593
@jan-janssen cubegen is indeed a part of gaussian, and normally should only be run a single time to generate a cube file with the densities of all the orbitals. However, I could not get it to work with nglview that way, and so cubegen has to be run every time a different orbital needs to visualized. Initially I was thinking to create a separate job type to run this kind of calculation, but I lost

[2020-04-17 12:03] jan-janssen commented on #593
Ok, I guess my issue is simply that it would not work on any other cluster the way it is currently implemented. But maybe we could do something like exporting the command to a shell variable. We do something similar here:
https://github.com/pyiron/pyiron-resources/blob/master/thermodynamics/bin/run_sxuniqdispl_0.1.sh
pyiron writes a script that requires `sxuniqdispl` but if it is not accessible, p

[2020-04-17 12:28] SanderBorgmans commented on #593
Yes I knew it was problematic, but this snippet was written during the semester, so if it worked I was happy.

The solution you propose sounds perfect.

[2020-04-17 12:44] jan-janssen opened #596 "Testing Lammps Library"
@sudarsan-surendralal and @raynol-dsouza

If you get the following error message:
[code]

Just add the following lines to your notebook:
[code]

This should fix the bug with the lammps library.

[2020-04-17 12:59] raynol-dsouza commented on #596
Hi @jan-janssen,

I updated my existing lammps build to `py37_openmpi_2`, added the above two lines, and still get this error:

`
NameError                                 Traceback (most recent call last)
<ipython-input-16-547a87b2509b> in <module>
----> 1 job.run()

~/pyiron/pyiron/pyiron/base/job/generic.py in run(self, run_again, repair, debug, run_mode)
    662                 status = "creat

[2020-04-17 13:03] jan-janssen commented on #596
try:
`conda install -c conda-forge pylammpsmpi `

[2020-04-17 13:16] raynol-dsouza commented on #596
Now I run into a different error:

[code]

[2020-04-17 13:38] jan-janssen commented on #596
I was not aware that you are using the latest master branch. This seems to be a bug with the new interface https://github.com/pyiron/pylammpsmpi/pull/36

Either you can manually modify the file:
`~/anaconda3/lib/python3.7/site-packages/pylammpsmpi/lammps_wrapper.py`

[2020-04-17 13:42] sudarsan-surendralal commented on #596
Jan, interactive jobs with the lammps version on the latest conda forge actually works for me

[code]

[2020-04-17 13:58] raynol-dsouza commented on #596
@sudarsan-surendralal are you using the latest master branch?

@jan-janssen manually changed `lammps_wrapper.py`, and now a new error:

[code]

[2020-04-17 14:07] jan-janssen commented on #596
@raynol-dsouza Do you run the example code above?

[2020-04-17 14:19] raynol-dsouza commented on #596
The above code executes properly. I just found out that the cause for the error is setting `lmp.server.cores` to anything above 1.

I also tried changing the default cores in `lammps_wrapper.py` to 2, and set `lmp.server.cores=2` but that didn't help.

I think this is now more of an issue with the openmpi build of the latest lammps version than the interactive jobs, as the mpich version that @suda

[2020-04-17 14:34] jan-janssen commented on #596
No - this only works with openmpi - mpich does not work. It is a bug in the new interface - most likely when scattering the positions. The new interface is only used when we run with more than one core.

[2020-04-17 14:55] jan-janssen commented on #596
@raynol-dsouza I fixed it in https://github.com/pyiron/pyiron/pull/597

[2020-04-17 15:08] Leimeroth opened #598 "Inconsistent behavior of positions and scaled_positions"
Adding something to scaled positions does nothing when applying a filter condition,
see the below example

[code]

[2020-04-17 15:15] jan-janssen commented on #598
Hi @Leimeroth

That is correct ... the issue is that the property getter returns a numpy array and when something is set to the numpy array, it is calling the getter rather than the getter, so we can not handle it.

@samwaseda  is already working on this issue.

Our recommendation is to either user positions, or `get_scaled_postitions()` and `set_scaled_positions()`:

- https://github.com/pyiron/p

[2020-04-17 15:44] jan-janssen commented on #596
@raynol-dsouza Can you pull the latest master branch from pyiron and update pylammpsmpi using `pip install --pre pylammpsmpi` this should update to the latest prerelease version. Once it is also working for you we should maybe release a new version.

[2020-04-17 15:47] jan-janssen commented on #598
https://github.com/pyiron/pyiron/pull/599

[2020-04-17 15:47] samwaseda commented on #598
From [this pull request](https://github.com/pyiron/pyiron/pull/599) on, you will see an explicit warning whenever you call `scaled_positions`.

[2020-04-17 16:09] sudarsan-surendralal commented on #595
So we decided that this works as it is supposed to in python right?

[2020-04-17 16:11] jan-janssen commented on #595
Yes, I guess we can close this one.

[2020-04-17 16:11] #595 closed

[2020-04-17 17:01] raynol-dsouza commented on #596
@jan-janssen I did as you asked, and got this message when I tried updating to the pre-release version:

[code]

I ran the same code again with multiple cores. It ran perfectly this time, but ended with raising this error while calling `interactive_close()`:

[code]

[2020-04-17 17:06] ibrsam opened #600 "Filtering Huge Data using pyiron_table"
I am working on big data sets of VASP calculations. And, I want to know how I can filter them according to some parameters. For example, I want to know how to filter the jobs that have something in common in INCAR, let's say `AEXX = 0.47`. Or, I want to sort the data according to the trajectory length.

Till now I am using the conventional way of sorting in pandas as `df.loc[(df['job'].str.contain

[2020-04-17 18:09] jan-janssen commented on #596
Can you try it again?
[code]

[2020-04-17 18:29] jan-janssen commented on #600
You can define any kind of filter function:
[code]

And then attach it to the pyiron table object:
[code]

[2020-04-17 19:57] raynol-dsouza commented on #596
@jan-janssen It works properly now without throwing any errors. :)

[2020-04-17 20:11] jan-janssen commented on #596
Perfect, then we can include it in the next pyiron release.

[2020-04-17 20:11] #596 closed

[2020-04-18 05:47] sudarsan-surendralal commented on #600
Related to this, can we have a higher level filter function that filters at the database level itself? This would make things even faster since we can apply the job-based filter function to a limited set.

[2020-04-18 06:05] jan-janssen commented on #600
Sounds like a good idea to me. At the moment it is using `get_job_ids()` from the project:

https://github.com/pyiron/pyiron/blob/master/pyiron/table/datamining.py#L276 and https://github.com/pyiron/pyiron/blob/master/pyiron/table/datamining.py#L303

So if you add a `database_filter_function` property and implement a database filter at the two lines above, it should be fine.

[2020-04-18 08:36] jan-janssen commented on #600
I created a corresponding function in https://github.com/pyiron/pyiron/pull/601

[2020-04-18 15:58] #600 closed

[2020-04-18 21:28] ibrsam opened #604 "Creating a project from Filtered Data"
Usually, I load a project and filter data, but, can I do the opposite? For example, I want to get output from the sub-project according to my filtration. Let's say that `df = pr.job_table()` is a kind of `pandas.core.frame.DataFrame
` which is created from a `pyiron.project.Project`. So, I am asking if I can get `pyiron.project.Project` from `pandas.core.frame.DataFrame` which will save me a lot o

[2020-04-19 10:09] jan-janssen commented on #604
Do you mean in relation to `iterjobs()`? You can always iterate over a list of `job_ids` using the `inspect()` function and this is what you get from the Dataframe. The project is for file based access and the `job_table()` with the resulting Dataframe is for database based access. Therefore they always exist together. For the pyiron table object @sudarsan-surendralal is currently working on imple

[2020-04-19 10:36] ibrsam commented on #604
I mean firstly I load the entire data which I am going to filter later. Then, after filtration let's say using `df_new = df.loc[df['job'].str.contains('anything')]`. Then, after defining my filter or `get_something functions`, I want to access only a project of the filtered data. So, let's say a project of `df_new`. Currently, I am using `pr.inspect(job_id)` but with looping over the whole data wh

[2020-04-19 11:32] jan-janssen commented on #604
No, if you loop over the job_ids in your reduced data frame, there is no overhead:
[code]

[2020-04-19 11:59] #604 closed

[2020-04-20 17:51] samwaseda opened #605 "How to extract energy"
https://github.com/pyiron/pyiron/blob/0271ee40d825b58671f78b1ba3537a13241d31da/pyiron/sphinx/base.py#L1793

This is not the best way to get these numbers. Better extract them from energy.dat.
For instance, eTot(Val) is the Kohn-Sham energy using the latest (mixed?) density, the Harris-Foulkes energy is more accurate for scfDiag. The energy_zero extrapolation depends on the smearing-scheme order (M

[2020-04-22 07:40] sudarsan-surendralal commented on #594
Fixed here https://github.com/pyiron/pyiron/pull/602. Do have a look if you have time!

[2020-04-22 10:44] srmnitc opened #606 "write method does not work"
If a structure is created in pyiron using `create_ase_bulk`, and try to write it to a file using `structure.write`, the following error is generated-
[code]
However if method `write_poscar` is imported from `pyiron.vasp.structure`, it works.

[2020-04-22 10:48] jan-janssen commented on #606
`from pyiron import pyiron_to_ase`

https://github.com/pyiron/pyiron/blob/master/pyiron/atomistics/structure/atoms.py#L4287

[2020-04-22 10:51] srmnitc commented on #606
Thanks! But I think the write function should be handled somehow. Either raise a warning or convert it internally. It is a little bit confusing when the API documentation lists the method, and it does not work.

[2020-04-22 12:40] jan-janssen commented on #606
@sudarsan-surendralal or @samwaseda  Can one of you take a look at this?

[2020-04-22 16:45] #606 closed

[2020-04-23 06:52] jan-janssen opened #609 "Update Structure Notebook"
@sudarsan-surendralal Can you update the structure example notebook?
https://github.com/pyiron/pyiron/blob/master/notebooks/structures.ipynb
After the recent changes in https://github.com/pyiron/pyiron/pull/603 and https://github.com/pyiron/pyiron/pull/607 it should no longer be necessary to create a pyiron project.

[2020-04-23 07:19] jan-janssen opened #610 "Learning about decorators in Python"
For those of you who always wondered what the `@property` command does:
https://realpython.com/primer-on-python-decorators/#simple-decorators
It is basically a function to modify functions defined in Python. The discussion recently came up in a pull request https://github.com/pyiron/pyiron/pull/592#pullrequestreview-398797489 therefore we should think about implementing a corresponding decorator i

[2020-04-23 07:45] sudarsan-surendralal commented on #609
But isn't the idea of creating these objects from the project class "pyironic"? I mean didn't we do this to reduce the number of imports?

[2020-04-23 08:43] jan-janssen commented on #609
Originally yes, but if I remember correctly @liamhuber and @samwaseda explicitly asked for this feature to be able to create structures without the need to create a project.

[2020-04-23 09:32] ashtonmv opened #611 "Method to get float version number in class Executable"
[code]

Maybe this function can be moved to the executable class in future.

_Originally posted by @jan-janssen in https://github.com/pyiron/pyiron/pull/592_

[2020-04-23 09:35] ashtonmv opened #612 "set_kpoints for specific DFT modules"
@sudarsan-surendralal Can you comment on this? I though that the codes should implement the `_set_kpoints` function while `set_kpoints` is only defined in `GenericDFT`.

_Originally posted by @jan-janssen in https://github.com/pyiron/pyiron/pull/592_

[2020-04-23 09:39] jan-janssen commented on #612
@ashtonmv sorry - I already created an issue for this https://github.com/pyiron/pyiron/issues/610 so we can close this one.

[2020-04-23 10:50] sudarsan-surendralal commented on #612
@jan-janssen, since this is a more specific issue with inheritance and not about decorators let's discuss this here.

The idea to have `set_kpoints` (or any function) defined in `GenericDFTJob` which calls `_set_kpoints` from the derived class seems good. However, if the user looks up the docstrings of the `set_kpoints` function, it returns the base class docstring. But what if you have additional

[2020-04-23 11:47] srmnitc opened #613 "Unable to read the CONTCAR file to Atoms object"
After running a vasp calculation, when  trying to extract the CONTCAR to atoms object using `job.get_final_structure_from_file()`, the following error is generated-
[code]
Is there some other way to visualise the OUTCAR file?

[2020-04-23 11:51] sudarsan-surendralal commented on #613
Yeah, that seems to be a bug. Simply use `job.get_structure(-1)` to get the final structure

[2020-04-23 11:53] jan-janssen commented on #613
The `-1` is optional and an alternative function which internally calls the same command would be `job.get_final_structure()`. In pyiron the output files are parsed directly after the calculation and the results are stored in the HDF5 file. You can access also it using `job['output/generic/positions']` or alternatively `job.output.positions` and respectively `job.output.cell` . To see a list of al

[2020-04-23 14:55] #594 closed

[2020-04-24 08:09] sudarsan-surendralal commented on #613
Fixed and merged here https://github.com/pyiron/pyiron/pull/614. @srmnitc, feel free to close this if you are satisfied!

[2020-04-24 09:29] srmnitc commented on #613
Great @sudarsan-surendralal thanks a lot for the quick bug fix!

[2020-04-24 09:29] #613 closed

[2020-04-24 16:47] jan-janssen commented on #609
Done in https://github.com/pyiron/pyiron/pull/617 - so I close this issue.

[2020-04-24 16:47] #609 closed

[2020-04-30 07:31] samwaseda commented on #605
Implemented [here](https://github.com/pyiron/pyiron/issues/605)

[2020-04-30 07:31] #605 closed

[2020-04-30 10:30] raynol-dsouza opened #624 "Protocol vertex parallelization using multiprocessing Process"
I have been looking into parallelizing certain vertices (and in the long run, certain sub-protocols) in Protocols. This is what the code looks like for the creation of a parallely executing vertex:
[code]
As mentioned in the class description, multiprocessing does not modify the parent instance, and if run in a loop, submits a new child instance every time 'Process' is called.

Does anybody have a

[2020-04-30 11:43] jan-janssen commented on #624
Some time ago I used the multiprocessing `pool` function for the parallel master class:
https://github.com/pyiron/pyiron/blob/master/pyiron/base/master/parallel.py#L656

[2020-05-05 06:13] jan-janssen opened #632 "Sphinx Bandstructure example fails"
Tested with the current pyiron master branch on mybinder. Most likely this is related to https://github.com/pyiron/pyiron/pull/592

[code]

It is the same error @sudarsan-surendralal reported in https://github.com/pyiron/pyiron-resources/issues/13

The kpoints are written as:

[code]

From my understanding it should be:

[code]

@ashtonmv and @samwaseda Can you take a look at this?

[2020-05-05 07:20] samwaseda opened #635 "Don't use "BS" for "band structure""
It's unfortunate that the simple abbreviation of Band Structure happened to be BS, but I find it very confusing whenever I find "BS" even if the context should be clear. I've been changing it whenever I see it, but it still keeps appearing so please use something different for public files.

[2020-05-05 07:49] jan-janssen commented on #610
I just noticed that Aiida is already using decorators in their code:
https://github.com/aiidateam/aiida-tutorials/blob/master/docs/pages/2019_IIT_Mandi_India/sections/workflows.rst

[2020-05-05 07:57] sudarsan-surendralal commented on #610
Apart from the basic `@property` decorator, I'm not too familiar with the advanced usage of decorators. Maybe we can discuss this in our pyiron meetings?

[2020-05-05 08:03] jan-janssen commented on #610
The idea would be to define our own decorators like: `@calc_md` this would allow us to modify the function the user is accessing beyond the code the developer writes when implementing the module. Basically it would solve the issue with `set_kpoints` and `_set_kpoints` we would simply write:
[code]

[2020-05-06 06:05] #632 closed

[2020-05-06 06:44] jan-janssen opened #639 "Discussing pull requests and issues"
Currently we have a few open pull requests which have not been updated for more than a month. I therefore started to look at the individual pull requests again and suggested to close the inactive ones.

From my perspective we should automatically close pull requests which have been inactive for more than 30 days. They can be reopened any time.

[2020-05-06 06:57] jan-janssen commented on #443
I just noticed that I missed this issue - my suggestion would be to implement it in `dft.job.generic` for now. Still I am not sure if this issue is still active.

[2020-05-06 06:58] jan-janssen commented on #491
@samwaseda As far as I understand @liamhuber has been working on this.

[2020-05-06 06:58] #503 closed

[2020-05-06 06:58] jan-janssen commented on #537
@samwaseda I close the issue for now and we can continue the discussion in https://github.com/pyiron/pyiron/pull/565

[2020-05-06 06:59] #537 closed

[2020-05-06 06:59] jan-janssen commented on #598
The issue has been inactive for 14 days, so I close it for now.

[2020-05-06 06:59] #598 closed

[2020-05-06 07:00] jan-janssen commented on #540
We can continue the discussion in the pull request. So I close the issue for now.

[2020-05-06 07:00] #540 closed

[2020-05-06 07:01] jan-janssen commented on #612
@sudarsan-surendralal Do we need to change anything here? Or can we close the issue for now.

[2020-05-06 07:04] jan-janssen commented on #639
In addition I started to follow @samwaseda recommendation to add label to each issue. I hope this helps to organise the development of the project.

[2020-05-06 07:06] #635 closed

[2020-05-06 07:16] jan-janssen opened #641 "Integration Tests"
With the recent trouble we had with updating the Sphinx parser https://github.com/pyiron/pyiron/pull/592 https://github.com/pyiron/pyiron/pull/622 https://github.com/pyiron/pyiron/pull/634 and Sphinx being available as executable from conda forge we should be able to run integration tests at least on Linux. By the way @liamhuber had recommended the same already a while ago in https://github.com/py

[2020-05-06 10:48] ashtonmv opened #643 "git installation instructions"
Would it make sense to add something like this to the README below the conda installation instructions, to help people who want to develop their own pyiron features? Right now I'm afraid it's somewhat difficult for an outsider to know where pyiron's dependencies are (at least for us old-fashioned requirements.txt people). Unless there's a good reason to keep it there, we might also consider moving

[2020-05-06 11:05] jan-janssen commented on #643
I am open to adding it to the readme, I guess we should just discuss some more alternatives:

We could use:
[code]
or:
[code]

The same master branch version is available via:
[code]

Finally if we first install pyiron via conda then all the dependencies are installed via conda and only the pyiron package is installed via pip. This would be my recommendation:
[code]

[2020-05-06 11:42] ashtonmv commented on #643
I like it! I figured you would have some more elegant recommendation. I'm happy with whatever you want, but if I install with pip it's not really a git version, just a frozen copy of the branch, right? So for a git installation I personally like your second recommendation

    git clone https://github.com/pyiron/pyiron.git
    pip install .

because I think most people who would want a pre-release

[2020-05-06 11:45] jan-janssen commented on #643
In pyiron every commit to the master branch results in a new pip pre release:
https://pypi.org/project/pyiron/#history

[2020-05-06 12:03] ashtonmv commented on #643
Yes pip is definitely good for pulling our latest changes, but anyone trying to contribute will also want a route to save/share their own changes. Now that I think of it, maybe git installation instructions don't belong in the README, but rather in a CONTRIBUTING.md ([like this excessively detailed one](https://github.com/atom/atom/blob/master/CONTRIBUTING.md)), which could also contain some guide

[2020-05-06 14:25] #643 closed

[2020-05-06 15:34] jan-janssen commented on #643
@ashtonmv Sounds like a great idea to me. Maybe you can open up a pull request with a first draft and then we can continue from there.

[2020-05-07 18:42] #491 closed

[2020-05-08 09:57] yury-lysogorskiy opened #648 "VASP job .calc_static() non-complete settings"
### Workflow to reproduce the error
Step 1. Run minimization
[code]

Step 2. Run phonopy on optimized structure
[code]

ends up with 100x **useless** VASP ionic iterations  for each of phonopy subjob on the cluster

### Explanation
[vasp_engine.calc_static()](https://github.com/pyiron/pyiron/blob/master/pyiron/vasp/base.py#L942) setup
incar["IBRION"] = -1
incar["NELM"] = electronic_steps (or defau

[2020-05-08 11:06] sudarsan-surendralal commented on #648
Thanks for pointing this out. Have opened a pull request for this: https://github.com/pyiron/pyiron/pull/650

[2020-05-08 11:41] FeLoch opened #651 "Error in VASP parser from OUTCAR"
If for some reason the `vasprun.xml` file is not possible to parse, `positions` are stored in wrong order.

[2020-05-08 12:01] #648 closed

[2020-05-08 14:56] jan-janssen opened #653 "Sphinx plane_wave_cutoff - does not work"
https://github.com/pyiron/pyiron/blob/408b754ef7f6f703195de7bcbc62dc309f9c0f2f/pyiron/sphinx/base.py#L124
[code]

[2020-05-08 15:11] #653 closed

[2020-05-08 15:28] #651 closed

[2020-05-08 18:33] jan-janssen opened #655 "Lammps Npt"
I tired the following command:
[code]

I got:
[code]

With `nan` the Lammps calculation fails.

[2020-05-08 18:41] samwaseda commented on #655
This is something @liamhuber wrote...

[2020-05-08 21:07] #655 closed

[2020-05-08 21:08] #586 closed

[2020-05-09 04:36] #639 closed

[2020-05-09 04:55] #612 closed

[2020-05-09 08:10] #641 closed

[2020-05-09 09:40] jan-janssen opened #660 "Vasp implement list_potentials()"
Currently VASP only allows to select the pseudo potential via setting the species:

[code]

While this is a very flexible way to set the pseudo potential, it would be nice if VASP would also support a similar syntax like Lammps.

[2020-05-09 09:48] sudarsan-surendralal opened #661 "Need for spherical and cylindracal averaging of volumetric data"
This is necessary for electrostatic potential and charge density analysis

[2020-05-09 10:14] #661 closed

[2020-05-11 08:05] sudarsan-surendralal opened #662 "Strange sqlite error"
One of my jobs crashed at the collect stage from the following sqllite error. Before I try to reproduce this, did anybody else encounter this before?

[code]

[2020-05-11 10:39] jan-janssen commented on #662
I would assume it is an error with the file system and therefore more or less random. Were you able to reproduce this error?

[2020-05-11 10:47] sudarsan-surendralal commented on #662
No, I couldn't. It worked once I tried to collect the output again. This means that is could be due to the file system as you said. I'll close this issue for now but if someone encounters this more often feel free to reopen this!

[2020-05-11 10:47] #662 closed

[2020-05-11 14:47] ashtonmv opened #663 "pyiron Atoms not writing file (?)"
#### Issue description
`write()` does not seem to work for pyiron Atoms.

#### Steps to reproduce the issue
(on a clean pyiron conda installation)
[code]

#### What's the expected result?
POSCAR file written in cwd

#### What's the actual result?
Traceback:
[code]

#### Possible Fix
It doesn't actually solve the problem, but the `pyiron.atomistics.structure.atoms.Atoms` object has two `write` func

[2020-05-11 15:32] sudarsan-surendralal commented on #663
We didn't notice the duplication of the function. It should work with the new changes

[2020-05-12 07:10] lfzhu-phys opened #665 "calc_minimize within LAMMPS is not working"
It complains as following:
[code]
Any suggestion for this? Many thanks in advance.

[2020-05-12 09:51] jan-janssen commented on #665
Please first assign a structure before calling `calc_minimize()`:

This works:

[code]

This gives the error message above:

[code]

Still I guess it would be nice to raise a warning that no structure is set.

[2020-05-12 10:48] FeLoch opened #668 "VASP: "ZBRENT: fatal error: bracketing interval incorrect" not captured"
If you run a calculation using` IBRION = 2`, the calculation can stop and you will get the following error:

So far pyrion ignores it and sets the status to `"finished"`. The user will never know, that the calculation has not converged. Look at [this page](https://www.vasp.at/forum/viewtopic.php?t=7415) for details.

[2020-05-12 10:55] FeLoch opened #669 "Structure: Spin tag is the same for all iteration steps"
If a structure contains a spin tag, it will be the same for all structures you get with `ham.get_structure(iteration_step)`. This suggests that the magnetic moments are not changing during the calculation.

So far, to get the correct magnetic moments you have to look at:
`ham ['output/generic/dft/final_magmoms'][iteration_step]`.

[2020-05-12 12:08] lfzhu-phys commented on #665
Thanks, Jan. I am using machine learning potential with our automated interface method.
The error occurs even when the structure is assigned. Is that mean pr.job_type.LammpsMlip not working?

[2020-05-12 12:09] jan-janssen commented on #668
I guess we discussed this before in https://github.com/pyiron/pyiron/pull/356 and https://github.com/pyiron/pyiron/pull/356 @sudarsan-surendralal Can you comment on this?

[2020-05-12 12:15] jan-janssen commented on #665
I have not worked with the Mlip potentials for quite some time but they were working for me. @pmrv recently looked into the Mlip potentials, maybe he can comment on this. But in general the error message you posted above simply says no structure is set, that is the only reason why `self._prism` can be `None`. So it seems the error is somewhere else.

[2020-05-12 12:15] sudarsan-surendralal commented on #668
Can we reopen merge requests? There seems to be two of them doing the same thing

[2020-05-12 12:18] pmrv commented on #665
Iirc the error was MlipLammps deriving from LammpsBase not from LammpsInteractive and that messed with the `self._prism`.  I have a fix for this on my fork, will open a PR after ADIS. ;)

[2020-05-12 12:18] lfzhu-phys commented on #665
Thanks, Jan. I will check it again and keep you posted about this issue.

[2020-05-12 12:19] lfzhu-phys commented on #665
That's great. Thanks a lot:)

[2020-05-12 12:24] sudarsan-surendralal commented on #663
The tests seem to be failing for some reason. For the time being, if you simply want to output your structure into a POSCAR file, you could also use

[code]

[2020-05-12 12:35] ashtonmv commented on #663
Yeah thanks! `write_poscar` is all I need for now. It looks like the tests for `write` are failing with the same AttributeError that I was running into.

[2020-05-12 12:44] FeLoch commented on #668
I used #356, because it is the first request for this issue.

[2020-05-12 12:47] lfzhu-phys commented on #665
Jan has solved this issue. It's working now:)

Thanks a lot:)

[2020-05-12 12:47] #665 closed

[2020-05-12 13:04] FeLoch commented on #669
replica of #443

[2020-05-12 13:04] #669 closed

[2020-05-13 11:03] jan-janssen opened #672 "How to simplify the creation of new job classes"
In the pyiron paper we discuss the following Toyjob example:
https://www.sciencedirect.com/science/article/pii/S0927025618304786

[code]

This can be modified for a job which only requires python functions and does not call an external executable:
[code]

The tricky part is that the user has to define the function:
[code]
So I am looking for suggestions to simplify this, one would be to implement

[2020-05-13 12:31] FeLoch opened #673 "Structure: wrong order of magnetic moments after structure.repeat"
If you set the magnetic moments for a structure and use` structure.repeat(some_value)` afterwards, the order of the magnetic moments given by `structure.get_initial_magnetic_moments()` will be wrong.

[2020-05-13 13:08] #673 closed

[2020-05-13 14:48] jan-janssen commented on #672
@pmrv This might also be interesting to develop experimental job_types.

[2020-05-13 15:09] pmrv commented on #672
Sure, once I have some more experimental proof of concepts, that's definitely something I want to look into.   A quick fix could be changing the implementation in the base class like this (maybe with better naming)
[code]
Something similar could also make `{to,from}_hdf5()` easier.

[2020-05-13 16:09] jan-janssen commented on #672
But is not it easier to just overload the function and using an additional variable?
[code]

[2020-05-13 17:51] pmrv commented on #672
You're right, that's simpler in this case.  Still from user perspective I feel this doesn't make much difference from the original situation.  Either I have to override a method I don't really care about or have to set a flag I don't really care about. It's boilerplate in any case, but I also don't see how to make "automatic", I just realize that also in my original proposition you'd have to overr

[2020-05-14 10:22] pmrv opened #674 "new flexible input handling"
We had already discussed (in #592 and off Github) that we'd like to have a new data structure to handle the various input files in pyiron.

I made a [prototype binder](https://mybinder.org/v2/gist/pmrv/48b55796e266b2d49aa78e0a7601fa91/master?filepath=proplist.ipynb) so we can discuss whether that solves all our use cases.  I decided against subclassing [Box](https://github.com/cdgriffith/Box), bec

[2020-05-14 11:37] #668 closed

[2020-05-14 11:39] ashtonmv commented on #674
@pmrv this looks awesome! I'm still playing with it, but it seems to work very well.

Could we create a to_dict() method to represent it as a true dict object when needed? Within that method I guess we could just assign `None` or `True` as the value for non-key/value items. If we can get it to be a clean, serializable object then it should be easy to implement `Ipython.display.JSON` within __repr_

[2020-05-14 12:10] pmrv commented on #674
Sure that would be easy.  I really like the idea of the collapsible output and will look into the details for tomorrow.  For now I added a custom json encoder to the gist, so you can serialize to json with
[code]

[2020-05-14 12:58] jan-janssen commented on #672
I forgot one important part, the run_static() function should set the job status to finished:

[code]

[2020-05-15 08:30] pmrv commented on #672
If we're specifically interested in making python-only jobs easier, maybe we can just provide a job subclass? Is it possible to store the pickle of a function in hdf5? Then in pseudo-code something like this might work
[code]

[2020-05-15 08:32] sudarsan-surendralal opened #677 "Inconsistencies between pyiron `Atoms` and ase `Atoms`"
## Problem

Consider the following snippet:
[code]
If you run this for the first time, the output is `False`. But if you execute this in a jupyter notebook cell for the second time, the output is `True`.

## Reason

When you import the `ASEAtoms` class for the first time, it points to the ase `Atoms` class. However, once we import pyiron's atoms class, the `ase.atoms` class is forced to point to p

[2020-05-15 09:26] pmrv commented on #674
I added `_repr_json_` which allows jupyter to render the lists as json.  If I understand this right [this](https://jupyterlab.github.io/jupyterlab/json-extension/index.html) extension must be enabled for it to work.  On my machine that worked out of the box, for mybinder I had to activate the extension manager (Commands [Ctrl-C] -> Extensions -> Enable Extension Manager) after spinning up the inst

[2020-05-15 10:49] jan-janssen commented on #672
Yes, that is possible, we do it in the serial master:
https://github.com/pyiron/pyiron/blob/master/pyiron/base/master/serial.py#L439

[2020-05-15 11:19] jan-janssen commented on #677
But then we break the old behaviour, because ASE and all classes which rely on ASE atoms returns ASE atoms rather than pyiron atoms. If we do this step would not it be more consistent to derive our atoms class from the ASE atoms class?

[2020-05-15 11:21] jan-janssen commented on #672
Still I guess executing one function is a separate case. I was primarily aiming for Jobs which consist of only python classes like the icet cluster expansion code http://icet.materialsmodeling.org

For this the changes in https://github.com/pyiron/pyiron/pull/675 are already beneficial.

[2020-05-15 14:50] #672 closed

[2020-05-20 10:26] pmrv opened #685 "sphinx test want odd version"
I was trying to run the sphinx tests locally and the two lines below gave me some problems.  As the pyiron resources ship scripts for 2.6.1 (not 2.6 or 2.6.2) this throws exceptions on my machine.  I guess I messed up my setup somehow and I fixed it locally for my version now (so it's not critical), but still I was wondering what's the motivation in not using the default version or one we don't "o

[2020-05-20 10:35] jan-janssen commented on #685
Instead of requiring the full pyiron resources https://github.com/pyiron/pyiron-resources  we use a reduced set of resources in https://github.com/pyiron/pyiron/tree/master/tests/static/ . Still I agree the version should be 2.6.1 instead of 2.6 .

[2020-05-20 10:37] pmrv commented on #685
Ah, I didn't see those.  I'll just update it here then, if nobody has other reasons.

[2020-05-20 11:45] #685 closed

[2020-05-22 16:10] prince-mathews opened #691 "Phonopy - get_thermal_properties() - Deprecation warnings"
To extract free energies from Phonopy jobs, I use:
`therm = phon.get_thermal_properties(temperatures=pes.temperatures)`

Each time this function executes, the following 2 warnings pop up:

I checked the repositories on gitlab and github, on Gitlab, under the function `get_thermal_properties()` I see the functions `set_thermal_properties()` and `phonopy.get_thermal_properties()` , while on the Gith

[2020-05-22 16:49] jan-janssen commented on #691
The issue was fixed in https://github.com/pyiron/pyiron/pull/647/ - It seems like you are using pyiron 0.2.14 which does not include this fix yet: https://github.com/pyiron/pyiron/blob/pyiron-0.2.14/pyiron/atomistics/master/phonopy.py#L309

To check which version of pyiron you are using, you can use:
[code]

I just triggered the release of pyiron 0.2.15, so it is going to be available on the clust

[2020-05-22 22:33] prince-mathews commented on #691
The version I am using is 0.2.14.

Thank you!

[2020-05-22 22:33] #691 closed

[2020-05-30 08:18] samwaseda opened #702 "make error.msg readable"
I find it often very difficult to understand the content of `error.msg`, because it's apparently written in jupyter format, but not formatted properly. Is there a way to make it more readable?

[2020-05-30 08:20] jan-janssen commented on #702
`cat error.msg` works while `vim error.msg` if I remember correctly

[2020-05-30 08:25] samwaseda commented on #702
Thanks! `cat error.msg` indeed worked (and `vim error.msg` didn't). I'm gonna close this issue, but I guess people would appreciate it more if there was a way to do it in the browser.

[2020-05-30 08:29] jan-janssen commented on #702
I found the following example:
https://www.tutorialspoint.com/How-can-I-remove-the-ANSI-escape-sequences-from-a-string-in-python
[code]
Can you try if it works with:
[code]
 It would be good if pyiron was able to remove the colouring for internal error storage.

[2020-05-30 08:34] samwaseda commented on #702
Actually I just realised that with no further extension `print(''.join(job['error.msg']))` does exactly what it needs, even with colouring.

[2020-05-30 08:47] jan-janssen commented on #702
@samwaseda Can you add this to https://github.com/pyiron/pyiron/pull/646 ? - under additional information. I can imagine multiple please struggling with this.

[2020-05-30 10:54] samwaseda commented on #702
I'm not sure if this should be the standard way or seeing the error messages. I have the feeling that there should be a generic function that looks for/shows potential errors.

[2020-05-30 11:00] jan-janssen commented on #702
I guess all I want is some benefit from this discussion. So either we implement a quick `job.show_error()` function which executes these lines automatically - or at least have a `show_error(job)` function in the developers documentation, that everybody can copy and paste. Most likely it is even possible to extract just this single file from the tar and read it, but that would already be the next l

[2020-05-30 12:04] raynol-dsouza commented on #624
I presently figured a workaround that works without a hitch on both the queue and my local pyiron. This is how ParallelList looks like with this workaround:

[code]

[2020-05-30 12:04] #624 closed

[2020-05-30 12:16] jan-janssen commented on #624
Do you need the sleep?

[2020-05-30 12:17] raynol-dsouza opened #703 "Protocol jobs not running on the queue"
Since last week, all protocol jobs submitted to the queuing system return this error immediately after creating the sub jobs within the protocol:

[code]
Usually, we run into this error only when a particular vertex has not run, and hence has no output (here, `'energy_pot'`) in its output dictionary. @jan-janssen, @liamhuber, have any recent changes been made that could be causing this behavior wi

[2020-05-30 12:18] raynol-dsouza commented on #703
Just to clarify though, the jobs run perfectly fine on the head node.

[2020-05-30 12:26] raynol-dsouza commented on #624
The sleep is a fail-safe. It runs fine on the cluster without it, but does not on my local system, since my system uses SQLite (write access to only 1 job at a time, which causes the other jobs to throw an error that they can't access the database). I will add a flag that toggles sleep on or off, wherein the user can decide if they really want the sleep option or not.

[2020-05-30 12:55] samwaseda commented on #702
Ok I can talk about this one at the next pyiron meeting.

[2020-05-30 13:00] jan-janssen commented on #703
I guess this is related to https://github.com/pyiron/pyiron/pull/678 and https://github.com/pyiron/pyiron/pull/676 - you can always go back to https://github.com/pyiron/pyiron/tree/pyiron-0.2.14 to revert these changes. Basically what changed is that we no longer index all classes automatically but instead only index them when we import the module or are able to reload the class when the module is

[2020-05-30 13:01] jan-janssen commented on #702
Thx - so let me reopen the issue that we have it on the agenda for the next meeting.

[2020-05-30 13:39] raynol-dsouza commented on #703
I modified already the `__init__.py` of `pyiron_conrib` to a similar format as `pyiron_mpie` (as you had suggested after the pyiron meeting yesterday). I think that is what  [#678](https://github.com/pyiron/pyiron/pull/678) and [#676](https://github.com/pyiron/pyiron/pull/676) refer to. The issue still persists.

Will reverting back to [pyiron-0.2.14 ](https://github.com/pyiron/pyiron/tree/pyiron-

[2020-05-30 13:41] jan-janssen commented on #703
Can you check that after importing your class the classes become available in:
[code]

In addition can you show me what is inside:
[code]

[2020-05-30 13:53] raynol-dsouza commented on #703
Yes. The classes are available in `dir(pr.job_type)` after importing `pyiron_contrib`.

`job["TYPE"]` however is None.

[2020-05-30 13:53] jan-janssen opened #704 "Sphinx read-only input after restart"
In the band structure example - cell 21:
https://github.com/pyiron/pyiron/blob/master/notebooks/bandstructure.ipynb

I get the following error message:
[code]

This basically means that after the restart command, the `GenericParameters` are still locked. It can be fixed by setting the `read_only` property of the `GenericParameters`  objects in Sphinx to `False` after calling the restart function.

[2020-05-30 13:57] jan-janssen commented on #703
First - this means the new `__init__.py` file is working correctly.

Second - In a new notebook, please try creating the same job and instead of calling `job.run()` call `job.save()` and afterwards look into `job["TYPE"]` - at least this should not return `None`.

[2020-05-30 14:00] raynol-dsouza commented on #703
Second - Checked this. It does not return `None`.

It returns `"<class 'pyiron_contrib.protocol.compound.md.ProtoMD'>"`

[2020-05-30 14:07] jan-janssen commented on #703
And you can import it like:
[code]
Right?

Can you try?
[code]

That is what is happening in https://github.com/pyiron/pyiron/pull/676

[2020-05-30 14:14] raynol-dsouza commented on #703
First: Yes.

Second: I get the following error message:
[code]

[2020-05-30 14:15] jan-janssen commented on #703
Sorry my mistake it is `project_hdf5` rather than `project_hdf`

[2020-05-30 14:18] raynol-dsouza commented on #703
[code]

[2020-05-30 14:21] jan-janssen commented on #703
It seems like `md["TYPE"]` is `None` again.

Please try:
[code]

[2020-05-30 14:25] raynol-dsouza commented on #703
Sorry, I had not executed `md.save()`.

After running the above command, I get this error:

[code]

[2020-05-30 14:31] jan-janssen commented on #703
That looks good, we did not provide the project and job name, but it seems to be able to resolve the class. Can you try?

[code]

Again make sure `job['TYPE']` is not `None` - this should provide the right arguments.

[2020-05-30 14:35] raynol-dsouza commented on #703
It returns: `pyiron_contrib.protocol.compound.md.ProtoMD`

[2020-05-30 14:39] jan-janssen commented on #703
Now I am confused, because this means also:

[code]

Works right? And that is basically what pyiron is doing.

Can you please try to create the job in one notebook and then open a new notebook and basically only import the project from pyiron and try to reload the job using its `job_id` ?

[2020-05-30 14:45] raynol-dsouza commented on #703
Yes, it does load the same old `ProtoMD` job in a different notebook, which does not import `pyiron_contrib`.

[2020-05-30 14:46] jan-janssen commented on #703
Then I do not see why it should not work with the queuing system.

[2020-05-30 14:47] jan-janssen commented on #703
Can you try creating a small job, saving it in one notebook and then reload it in another notebook and try to execute it there? That is basically exactly what we do when we submit a Job to the queue.

[2020-05-30 20:36] raynol-dsouza commented on #703
Did that. Unfortunately end up getting the same error that I got initially.

[2020-05-30 21:07] jan-janssen commented on #703
Then it seems to be specific to the protocols, you should now be able to compare both objects, the one in the original notebook and the one in the reloaded notebook to identify which part is broken. The big advantage is that you can now interactively debug the behavior of what happens when your job is executed in the queue.

[2020-05-31 02:33] raynol-dsouza commented on #703
I know this isn't the ideal way of resolving bugs, but doing this worked:

It was indeed a problem concerning protocols and to be specific, my branch. I switched to the master branch which is several commits behind, and found out that the protocol jobs didn't throw any errors.

While trying to get protocols to run parallelly in the last two weeks, I may have modified some part of the code (or put

[2020-05-31 05:13] jan-janssen commented on #703
Congrats, I am happy it helped. Maybe you can add a few lines about how to debug jobs that fail when submitting to the queue to https://github.com/pyiron/pyiron/blob/master/CONTRIBUTING.rst - basically a short summary of what we discussed here, as a future reference for others.

[2020-05-31 08:48] samwaseda commented on #702
I guess the best would be to have something like `job['file'].print()`, which does `print(''.join(job['file']))`. Even better would be to pass the argument for the print string in `print()`, which means it's gonna be more like `print(string.join(job['file']))`. I wanted to implement this myself, but didn't know how to do it, because this would be a function on the return value of `__getitem__`...

[2020-05-31 08:56] jan-janssen commented on #702
The ugly way would be to have a separate `if` for `error.msg` files inside the `__getitem___` function.

[2020-05-31 08:59] samwaseda commented on #702
Maybe we should extend `class Output` or create a similar one, because we are now talking about individual cases as we did for output values (like `total_displacements`, which behaves like an output tag but in reality pyiron calculates the values internally).

[2020-05-31 11:54] raynol-dsouza commented on #703
Will do. Thanks for the help! :)

[2020-05-31 11:54] #703 closed

[2020-06-01 10:12] jan-janssen opened #707 "pyiron on iOS / Apple iPad"
With more and more students using their iPads during lectures to write down their notes, we should make sure to provide access to pyiron for iOS devices.

Currently I mainly use pyiron with mybinder:
![out](https://user-images.githubusercontent.com/3854739/83399096-e5c3ef80-a400-11ea-9e08-8cd4679817f1.gif)

The apps I use:

- https://termius.com - for ssh tunnels
- https://workingcopyapp.com - for

[2020-06-01 10:19] jan-janssen commented on #707
@SanderBorgmans If I remember correctly you also use iPads for lectures at UGent, maybe you have a few more suggestions for us.

[2020-06-03 21:17] mostafajoulaian opened #708 "creating slab and visualisation"
<img width="913" alt="Screenshot 2020-06-03 at 23 13 14" src="https://user-images.githubusercontent.com/62750893/83689825-fedec300-a5ef-11ea-9aee-9125a51a0220.png">

I wanted to create a slab and visualized it via pyiron.
I already tried two different way of the way as attachment picture anyone had the idea why it does not view the slab?

[2020-06-03 21:23] mostafajoulaian commented on #708
<img width="945" alt="Screenshot 2020-06-03 at 23 17 36" src="https://user-images.githubusercontent.com/62750893/83690125-7280d000-a5f0-11ea-83b3-2dcbb17bde1d.png">
as below picture, the code is superfine, and it works very well, but I want to see my structure in each step of calculation I know it is possible via a separate tool like VESTA. I am just wondering to know do we have any helpful featur

[2020-06-04 04:00] jan-janssen commented on #708
You need to import the cut function:
https://wiki.fysik.dtu.dk/ase/ase/build/tools.html

[code]

[2020-06-04 07:51] mostafajoulaian commented on #708
Thank you for your response but my question is actually related to viewing the slab.
it seems:
"ase.visualize.view" term does not work
<img width="958" alt="Screenshot 2020-06-04 at 09 43 55" src="https://user-images.githubusercontent.com/62750893/83729901-9a038700-a648-11ea-883e-8b2053fa808b.png">

how about my second question?
dose pyiron has a possibility to visualize POSCAR file directly ? or

[2020-06-04 07:54] jan-janssen commented on #708
At the moment you are using ASE rather than pyiron. To convert an ASE structure you can use:

[code]

[2020-06-05 07:02] #707 closed

[2020-06-05 07:03] jan-janssen commented on #663
@ashtonmv I close this issue in favour of https://github.com/pyiron/pyiron/issues/677

[2020-06-05 07:03] #663 closed

[2020-06-05 07:06] jan-janssen commented on #443
@samwaseda Was this fixed by https://github.com/pyiron/pyiron/pull/670 ? If it is fixed, can you close the issue?

[2020-06-05 07:07] #610 closed

[2020-06-05 07:15] #611 closed

[2020-06-05 07:19] #708 closed

[2020-06-05 07:19] #704 closed

[2020-06-05 07:19] #593 closed

[2020-06-05 13:56] jan-janssen commented on #707
Joerg suggested https://apps.apple.com/us/app/carnets-jupyter/id1450994949 to open notebooks locally on iOS devices.

[2020-06-05 15:06] #443 closed

[2020-06-05 15:06] #702 closed

[2020-06-05 15:06] #465 closed

[2020-06-05 15:45] SanderBorgmans commented on #707
Hi Jan, thanks for the update. I'm afraid I won't be able to give many suggestions, as my current use for lectures is limited to preparing notes using the notability app. But I am surely open to new uses!

[2020-06-08 13:45] FeLoch opened #714 "Job status not refreshing"
If you create job and submit it to a queueing system, the status of the job won't update automatically.

To get the correct status you have to run `job.refresh_job_status()` before.

[2020-06-08 14:05] jan-janssen commented on #714
How do you check the status? `job.status.finished` should work. We had a similar discussion in https://github.com/pyiron/pyiron/pull/426

[2020-06-08 14:07] FeLoch commented on #714
I just used `job.status`. For me this should always return the correct status of the job.

[2020-06-08 14:09] jan-janssen commented on #714
The issue is the communication over the database is a bottleneck, in particular for people who do not have access to an postgresql database. So at the moment the attributes are updated from the database but the string is not. Though that is not very consistent.

[2020-06-08 14:15] FeLoch commented on #714
Sure, I uderstand, but still `job.status` should return the correct status, what it doesn't. Since this function is not called frequently, wouldn't it be fine to use the database? Otherwise we can update the string when updating the attributes.

[2020-06-08 14:28] jan-janssen commented on #714
I agree but we have to keep track of the number of database requests, so I would recommend checking the previous job status and only update it if it is running, collect or submitted.

[2020-06-08 14:30] FeLoch commented on #714
I like this!

[2020-06-08 14:33] jan-janssen commented on #714
Maybe you can add such a check to https://github.com/pyiron/pyiron/blob/master/pyiron/base/job/jobstatus.py#L181

[2020-06-09 08:26] samwaseda opened #718 "Deprecation warning not shown"
I was creating a new deprecation warning in `atoms.py` and realized that it was not shown when used in the notebook. I can see the same problem e.g. for `structure.get_voronoi_volume()`. Am I missing something?

[2020-06-09 08:31] jan-janssen commented on #718
Maybe it is related to the warning filters:
https://github.com/pyiron/pyiron/blob/master/pyiron/atomistics/structure/atoms.py#L1255

[2020-06-09 08:46] jan-janssen commented on #718
Can you share an example?

[2020-06-09 11:51] #714 closed

[2020-06-09 14:30] samwaseda commented on #718
[code]

[2020-06-09 14:35] samwaseda commented on #718
I put `warnings.filterwarnings("default")` right before `class Atoms(object)` and now it worked. So I guess it's changed somewhere inside pyiron. Is it the right way to change it inside pyiron anyway?

[2020-06-09 14:55] samwaseda commented on #718
Sorry my statement above seems to be wrong - I removed all `simplefilter` and `filterwarnings`, but it still doesn't show the warnings. I guess I'm simply going to put `warnings.filterwarnings("default")` in `atoms.py`.

[2020-06-09 15:08] jan-janssen commented on #718
I do not think pyiron should change the the warnings filter, because then the user can no longer change it from the outside.

[2020-06-09 15:09] samwaseda commented on #718
ok then what's the default procedure if I want to show the warning?

[2020-06-09 18:25] FeLoch opened #720 "VASP: Magmom not set correctly for job.restart"
If you restart a spin polarized calculation by using` job.restart()`, the magnetic moments will be set to the initial one of `job`, not to the final ones.

[2020-06-10 09:01] lfzhu-phys opened #722 "503 : Service Unavailable Your server appears to be down. Try restarting it from the hub"
Does anyone have the same problem? I can not start my server. I have tried a few times to restart it from the hub, but it doesn't work.
Appreciate any suggestion:)

[2020-06-10 09:06] FeLoch commented on #722
@jan-janssen : Do you know more about it?

[2020-06-10 09:22] lfzhu-phys commented on #722
Problem solved:) That is because I reached the file number limit on the cluster.
@FeLoch Thanks:)

[2020-06-10 09:22] #722 closed

[2020-06-10 09:24] jan-janssen commented on #722
To debug this kind of issues you can take a look at:
[code]

[2020-06-10 09:26] jan-janssen commented on #722
And maybe we should add the quota command for future reference:
[code]

[2020-06-10 09:29] lfzhu-phys commented on #722
@jan-janssen Thanks, Jan. I will record the debug command line:)

[2020-06-10 09:34] jan-janssen commented on #722
Maybe we should even add these to the CM internal documentation as Mira suggested.

[2020-06-10 10:12] FeLoch opened #724 "VASP: spin polarized calculation even if ISPIN=1"
If the used `structure` contains 3-dim spins and you want to run a non spin polarized calculation using `ISPIN=1`, it will always run a spin polarized one.

[2020-06-10 10:14] FeLoch commented on #724
Pyiron automatically sets the flag `LNONCOLLINEAR=T` when a 3-dim spin is found. In VASP this flag internally overrides the `ISPIN` tag.

[2020-06-12 08:14] jan-janssen opened #729 "pyiron.install() is error prone"
**Issue:**
In the current implementation pyiron.install() downloads https://github.com/pyiron/pyiron-resources which contains the links to the executables and the potential files for both sphinx and lammps. The resulting download is rather large, which causes unexpected errors:
https://github.com/pyiron/pyiron/issues/495

**Suggestion:**
Instead of downloading the data with pyiron, we should packa

[2020-06-12 09:13] jan-janssen commented on #718
This is very interesting, when I execute your example I do not get a warning either, but when I run:

[code]
I get the warning. So there seems to be an issue with Jupyter.

[2020-06-12 12:51] jan-janssen commented on #729
By now the PR https://github.com/pyiron/pyiron/pull/728 is usable, and there is only one question remaining, should we force the user to install pyiron via conda, or support multiple installation variants? The options:
* Enforce installation via conda, the limitation is that when the resources are installed only via conda it might be confusing for new users where to add their executables.
* Allow

[2020-06-14 10:45] jan-janssen opened #732 "Error when executing jupyter notebooks"
During the automated tests of the jupyter notebook, we get the following error message:
[code]
The tests finish successful, still it is confusing for new users so we should figure out what is causing this error. To me it seems to be related to the way we use SQLalchemy in combination with SQLite.

[2020-06-14 13:41] raynol-dsouza opened #736 "Structure species get mixed up when creating the lammps structure.inp file"
If I assign the following structure to a job:

[code]
the `structure.inp` file created by pyrion before running the lammps job is written as:

[code]

Note: I am running a custom hybrid potential, which looks like this:

[code]

[2020-06-14 13:58] jan-janssen commented on #736
Can you post your code? Either as inline example or simply attach the notebook? In addition please try it once with a three element potential provided with pyiron, so we are sure it works for the regular potentials. My assumption is it works if you use alphabetical ordering, meaning:

[code]

[2020-06-14 14:12] raynol-dsouza commented on #736
For this potential, there is no change if I use alphabetical ordering.

Attached is the notebook. [SrTiO3.zip](https://github.com/pyiron/pyiron/files/4776536/SrTiO3.zip)

I will check if this issue exists for a regular three element potential.

[2020-06-14 14:17] jan-janssen commented on #736
I tried it with `Ni` `Al` `H`, that works without an issue, so it seems to be related to your potential. Can you post `job.potential ` for `Sr` `Ti` `O` ?

[2020-06-14 14:19] raynol-dsouza commented on #736
Okay, I figured it out: The interaction coefficients were setup wrongly in the potential file that I created. I changed it to this:
[code]
and it works fine now.

[2020-06-14 14:22] jan-janssen commented on #736
Can you still post your`job.potential` ?

[2020-06-14 14:24] raynol-dsouza commented on #736
The potential is the same as posted above. I put in a new entry in the `potential_lammps.csv` in `resources ` setting up this potential.

[2020-06-14 14:25] raynol-dsouza commented on #736
That would be this:

[code]

[2020-06-14 14:30] jan-janssen commented on #736
The important point is that the order in the Species column - here: `[Sr, Ti, O]` matches the order in your potential file - here:
[code]
Second there is no need for a potential file - `[ananya_potential/SrTiO3_Pedone.pot]` should be `[]` because you anyway include all the potential parameter in the `Config`. Here is an updated example for water: https://github.com/pyiron/pyiron/blob/find_potentia

[2020-06-14 14:31] jan-janssen commented on #736
Can you add a short explanation to https://github.com/pyiron/pyiron/blob/master/docs/source/faq.rst ? I guess this could be relevant for other users as well.

[2020-06-14 14:37] raynol-dsouza commented on #736
I was unaware about the second method specifying an input potential. This saves me some trouble, as I wouldn't want to modify my `potential_lammps.csv` every time I need to use a new potential.

I shall update [https://github.com/pyiron/pyiron/blob/master/docs/source/faq.rst](https://github.com/pyiron/pyiron/blob/master/docs/source/faq.rst) to include this issue.

Shall I close this issue?

[2020-06-14 14:38] jan-janssen commented on #736
Sure, you can close the issue.

I guess I should add - the recommended order is alphabetically, but in principle you can use any order, you just have to be consistent, as you nicely showed above.

[2020-06-14 14:40] raynol-dsouza commented on #736
Shall I just update this as an answer to 'How to use a custom potential in LAMMPS'?

[2020-06-14 14:43] jan-janssen commented on #736
Yes, that would be great.

[2020-06-14 14:43] #736 closed

[2020-06-15 07:32] samwaseda opened #738 "How to save and launch job in different notebooks"
I have two notebooks which do (more or less) the following:

Notebook 1:
[code]

Notebook 2:
[code]

When I run these notebooks, it shows `job exists already and therefore was not created!` in the second notebook and pyiron refuses to run the job. Did I do it wrong?

[2020-06-15 07:36] jan-janssen commented on #738
The save function, should not be used by the user - it is mainly an internal function. What do you try to achieve? If you want to execute the job in the second notebook you can use `job.run(run_again=True)`

[2020-06-15 07:40] samwaseda commented on #738
The second notebook is Steepest Descent. I'd like to have full flexibility in the first notebook, e.g. containing SSA, ART etc. and it would be nice if the second notebook can be submitted to the queue and simply does steepest descent.

[2020-06-15 07:42] jan-janssen commented on #738
Then you need a scrip job

[2020-06-15 07:42] jan-janssen commented on #738
I still struggle to understand what you try to achieve.

[2020-06-15 07:52] samwaseda commented on #738
Instead of creating a new pyiron class, I'm trying to create a notebook which does just one thing - steepest descent in this case, but then nothing else, so that this notebook can be considered as a class on its own. Ideally, it's like this:

Notebook 1
[code]

Notebook 2:
[code]

[2020-06-15 07:56] jan-janssen commented on #738
Sphinx - `spx` - is an interactive job right?

[2020-06-15 07:57] jan-janssen commented on #738
Can you try `job.run(repair=True)` ?

[2020-06-15 08:08] samwaseda commented on #738
Yes

With `job.project_hdf5.create_working_directory()` in the first notebook it doesn't complain but the job doesn't seem to be starting (it just shows the execution star in the notebook cell and doesn't advance).

[2020-06-15 08:19] jan-janssen commented on #738
Can we arrange some meeting? Screen sharing? I either need the notebooks to try it myself or at least look at your screen.

[2020-06-15 10:39] jan-janssen commented on #738
The following worked for me:

[code]

And the in the next:
[code]

Just creating the working directory without the input files was not sufficient for me. Basically I copied the remaining steps from `_create_job_structure()`: https://github.com/pyiron/pyiron/blob/master/pyiron/base/job/generic.py#L1587

[2020-06-15 13:38] samwaseda commented on #738
So, if the following lines (of yours) from Notebook II are written before `job.save()` in Notebook I, it worked:

[code]

[2020-06-15 13:47] jan-janssen commented on #738
Either before the `save()` or after the `load()`, both is fine. But you are right maybe instead you can call `job._create_job_structure()` rather than `job.save()` in the first notebook.

[2020-06-15 13:49] samwaseda commented on #738
In the case of SPHInX, without `write_input` the information required is not stored in hdf.

[2020-06-15 13:52] jan-janssen commented on #738
That sounds like a bug to me ...

[2020-06-15 14:07] jan-janssen commented on #738
@samwaseda Can this issue be closed?

[2020-06-15 14:08] jan-janssen commented on #718
@samwaseda Can you close this issue? I guess we can not solve it at the moment as it is related to jupyter rather than pyiron.

[2020-06-15 14:10] samwaseda commented on #718
Ok

[2020-06-15 14:10] #718 closed

[2020-06-15 14:13] #724 closed

[2020-06-15 14:18] #720 closed

[2020-06-15 15:08] pmrv commented on #732
It seems the error only appears when running the test via `python -m unittest ..`.  If you just run `python ..` it's not triggered.   Also when running a test under pdb you can run the full script multiple times and the errors is only triggered once you quit pdb.  My guess is that SQLalchemy install some weird atexit handlers or something similar and tries to clean up the connection even after we

[2020-06-15 15:37] #738 closed

[2020-06-15 16:38] prince-mathews opened #741 "debye_temperature() in FitMurnaghan"
Recently I was trying to calculate the Debye temperatures for aluminium and scandium. I came across `debye_temperature()` under FitMurnaghan class.

`out = self._murnaghan['output']`
        `V0 = out['equilibrium_volume']`
        `B0 = out['equilibrium_bulk_modulus']`
        `Bp = out['equilibrium_b_prime']`

       vol = self.volume

        mass = set(self._murnaghan.structure.get_masses())

[2020-06-15 17:00] jan-janssen commented on #741
Yes, the Debye model is limited to primitive cells at the moment.

[2020-06-15 17:44] #732 closed

[2020-06-15 17:45] jan-janssen commented on #732
Removing the` __del__` function in the settings object solved the issue, most likely it is anyway better to use the default garbage collection.

[2020-06-16 06:49] samwaseda opened #742 "Shouldn't submitted notebook be compressed?"
I have two notebooks:

Notebook I:
[code]

Notebook II (simulation.ipynb):
[code]

I realized that the files in the job `job` are compressed, but the ones in `script` aren't. Shouldn't they be compressed as well?

[2020-06-16 07:10] jan-janssen commented on #742
I guess the reason why we do not compress the files in a script job is that we want to be able to analyse the calculations from another project. For example when the script job is creating the calculations and a separate notebook is used for analysis.

[2020-06-16 07:28] samwaseda commented on #742
Ok but then shouldn't there be a possibility of compressing the files for the user? I just tried it but then it complained that the project folder (in the example above, that would be `SIMULATION`) is not empty.

[2020-06-16 07:38] jan-janssen commented on #742
You could implement a more extensive compression function inside the script job. Currently it is using the default function https://github.com/pyiron/pyiron/blob/master/pyiron/base/job/core.py#L907 . Still the issue is that it does not make sense to compress already compressed files. So basically you would have to extract all compressed files and then compress them again.

[2020-06-16 18:31] #742 closed

[2020-06-16 18:31] #741 closed

[2020-06-17 16:30] samwaseda opened #744 "Errors not found when submitted script crashes"
I had a notebook with a small error inside, which I submitted to the queueing system. When the job crashed, I couldn't find out where the problem came from, because I couldn't find the error message anywhere. I presume that the converted notebook is not available when the job is aborted, right? But it would be helpful if the conversion is performed nevertheless.

[2020-06-17 17:54] jan-janssen commented on #744
I guess this is nothing we can change. We use `jupyter nbconvert`:
https://github.com/pyiron/pyiron/blob/master/pyiron/base/job/script.py#L245

To find the error message, please try:
[code]

[2020-06-18 05:26] samwaseda commented on #744
The problem is `error.msg` is apparently not created if there was a problem inside the notebook. I don't understand why though.

[2020-06-18 05:26] #744 closed

[2020-06-18 05:28] jan-janssen commented on #744
Did you submit the job to the queue? Is there a `error.out` ?

[2020-06-18 05:41] samwaseda commented on #744
Yes but there was nothing written there

[2020-06-18 07:37] jan-janssen commented on #736
@raynol-dsouza Can you open the pull request today? Then we can discuss it in tomorrows meeting.

[2020-06-18 08:42] raynol-dsouza commented on #736
Yes, I can. Sorry for the delay.

[2020-06-19 06:27] #674 closed

[2020-06-19 09:48] #729 closed

[2020-06-19 10:07] jan-janssen commented on #718
I tested it again on mybinder:
[code]
gives no error message. But executing the command again:
[code]
We get the error message.

[2020-06-19 20:54] samwaseda opened #748 "[URGENT] inputlist fails when job is submitted"
These lines

[code]

in [inputlist.py](https://github.com/pyiron/pyiron/blob/master/pyiron/base/generic/inputlist.py#L536) fail when the job is submitted to the queueing system

[2020-06-19 20:56] jan-janssen commented on #748
Do we test a non modal sphinx calculation in https://github.com/pyiron/pyiron/blob/master/notebooks/tests_sphinx_sphinx_check_all.ipynb ? Maybe that is something we can add to prevent this in future.

[2020-06-20 17:10] pmrv commented on #748
Setting `job.server.run_mode = 'non_modal'` in the sphinx notebook does not reproduce the issue.  There are some pyiron warnings but the job finishes successfully and gives normal results.  Am looking into it on the cluster right now.

Sorry I didn't catch this yesterday immediately.

[2020-06-20 17:57] jan-janssen commented on #748
@pmrv it is not your mistake. We have to develop processes to prevent such issues and @samwaseda approved the pull request just like I did.

[2020-06-20 18:03] pmrv commented on #748
I ran the notebook on the cluster with `job.server.queue = 'cm'` added to all the jobs and I can't seem to trigger an error, just warnings about default parameters.

@samwaseda Is your error related to the new tests in #750?

[2020-06-20 18:06] jan-janssen commented on #748
@samwaseda Do you still have the original error message? I updated the source reference https://github.com/pyiron/pyiron/blob/inputlist/pyiron/base/generic/inputlist.py#L536
It seems that the issue is that `self.table_name` is `None` but this should also affect `non_modal` jobs ...

[2020-06-20 18:16] pmrv commented on #748
I added a commit to the new PR that sets the group_name to the table_name that is set in the `SphinxBase.__init__`.  I'm not sure what the code path on loading jobs from hdf5 is.  In case the job __init__ is skipped, that could lead to there being no table_name set.  This should be fixed with that commit.

[2020-07-03 06:42] samwaseda opened #760 "Is there a way to make pr.inspect(job)['input/data_dict'] more readable?"
Title essentially says everything. Basically, when `pr.inspect(job)['input/data_dict']` is executed, we'd see something like:

[code]

And this is horrible.

[2020-07-03 06:44] samwaseda commented on #760
Something like `pr.load(job_name).input` without loading the job.

[2020-07-03 06:49] pmrv commented on #760
I don't think there is, since this is the pretty much tied to the internal representation of GenericParameters.  In #749 this will be much better since the hierarchical structure is properly reflected in the hdf5 serialization.

[2020-07-03 06:57] jan-janssen commented on #760
I agree with @pmrv we should switch to the new input class in the mid-term. The `GenericParameters` class is one of the oldest, originally developed for key value based files like the VASP input and then iteratively extended to support more complicated input structures. Now we are at the point where we learned enough from the `GenericParameters` class and can replace it with the hierarchical `inpu

[2020-07-03 06:58] samwaseda commented on #760
Ok that's also fine by me.

[2020-07-03 06:58] #760 closed

[2020-07-08 14:09] raynol-dsouza opened #762 "View structure along an axis using plot3d()"
I think it would be helpful (sometimes) to be able to view structures/surfaces from plot3d() along an axis, than to have to manually rotate it. @samwaseda could you maybe look into adding this feature to plot3d()?

[2020-07-10 06:29] samwaseda commented on #762
Sorry I still haven't found time but I'll surely take on this one

[2020-07-10 07:16] pmrv opened #765 "missing/irrelevant warnings on saving/loading jobs"
As discussed in #749 (Sphinx) jobs don't print a message when they are saved to hdf, but instead print a warning when they are loaded from it in a separate script.  The warning is
[code]
which doesn't make a lot of sense for a job that has been created but not run yet.

[2020-07-10 12:44] #748 closed

[2020-07-16 04:53] jan-janssen opened #767 "pyiron 0.3.0"
With the updated input class https://github.com/pyiron/pyiron/pull/749 I believe we are moving in a direction where we transfer all input and potentially even the output to a new format. Therefore I would like to use this transition as a trigger to increase the version number.

[2020-07-16 13:19] samwaseda opened #769 "SPHInX fails when submitted without calc_static()"
The following cell doesn't work:

[code]

And I realised when `spx.calc_static()` is called beforehand, it works fine. Also, if the job is not submitted (i.e. without reloading), it works fine as well. Since the error message gives no clue what is the problem, it should at least complain if the job is submitted without `calc_static` (which can be included in `def check_setup`, but I don't know how

[2020-07-16 14:00] samwaseda commented on #762
ok this one turned out to be a bit trickier than I thought. I must be somehow related to [this function](https://github.com/arose/nglview/blob/e3b1bb0faf32be689ac4901469d9da721fb90863/nglview/viewer_control.py#L58) but I haven't really figured out how the orientation is given by a 16-dim (4-dim) array.

[2020-07-16 15:41] pmrv commented on #769
Will have a look tonight.

[2020-07-16 15:50] pmrv commented on #762
My lucky guess are [quaternions](https://en.wikipedia.org/wiki/Quaternion#Matrix_representations).  Maybe [this](https://github.com/arose/nglview/issues/596) old issue gives a clue where to look. I just skimmed it though. :|

[2020-07-16 16:12] ashtonmv commented on #762
Maybe I can help, since I had spent some time playing with this before. That flattened 4x4 matrix is just an affine spatial transformation (rotation + scaling + translation), like what they describe [here](https://www.brainvoyager.com/bv/doc/UsersGuide/CoordsAndTransforms/SpatialTransformationMatrices.html). The code below is basically what I have previously used to achieve API-based orientations.

[2020-07-16 19:37] samwaseda commented on #769
I figured out that it's not just about `calc_static`. Actually when the system is magnetic **and** used as a reference job, the labels are not output properly. Here's an example that fails:

[code]

Apparently the problem is related to `job._spin_enabled`, which stays `False` even though it shouldn't.

[2020-07-17 05:45] samwaseda commented on #769
This problem is now fixed [here](https://github.com/pyiron/pyiron/pull/770)

[2020-07-17 06:49] samwaseda commented on #769
I realized that when the job is submitted to the queue, it works also properly. The problem was apparently related to `validate_ready_to_run`, which is obviously not called with the lines above, but it seems to be called on the queue. Maybe @jan-janssen can explain what was happening, but as my problem has been solved (it was more related to the spin problem that I already fixed [here](https://git

[2020-07-17 10:10] pmrv commented on #769
The first cell is still broken for me on 3982152b.  I guess this has something to do with how the default values are checked after the job is loaded from hdf5.

[2020-07-17 10:23] jan-janssen commented on #769
`spx._create_job_structure()` is an internal function - so I am not sure if we want to support this officially. I am aware that I originally introduced it to debug the queuing system, but maybe it makes more sense to write a different wrapper. The function is defined here: https://github.com/pyiron/pyiron/blob/master/pyiron/base/job/generic.py#L1592 and typically called in `_run_if_new(0` https://

[2020-07-17 10:26] samwaseda commented on #769
Shouldn't this be called `save()` and change the existing `save()` to `_save()`?

[2020-07-17 10:27] pmrv commented on #769
Calling `save()` already works like this (except #765).

[2020-07-17 10:28] samwaseda commented on #769
At least I'd find it very confusing if there were `save_for_running_later` and `save` at the same time (regarding auto complete), while `save` is not meant to be used by the user.

[2020-07-17 10:37] pmrv commented on #769
I think the issue is that `_create_job_structure()` changes the job status to `created`. Probably that confuses the default logic later on running, so that it doesn't add the default sphinx commands as it thinks they're already created.  Since the cell works using `save()` and `_create_job_structure()` is not a user-facing function, I'd think this is a non-issue.

[2020-07-17 10:40] jan-janssen commented on #769
@samwaseda I agree we can call it `save()` because `_create_job_structure()` currently internally calls the save - but we have to be careful with the refactoring.

@pmrv A job which has a job id should always have the status `created`. At this point we assume the HDF5 file exists and the input files are written, calling `save()` in the current implementation might be error-prone.

[2020-07-17 10:46] pmrv commented on #769
@jan-janssen Fair, then we need to look into why the default sphinx config is written but not reflected in the inputlist/hdf.  I also agree with @samwaseda that `save()` should have an underscored name then.

[2020-07-17 13:27] jan-janssen commented on #769
I updated the save function in https://github.com/pyiron/pyiron/pull/771

[2020-07-17 13:41] pmrv opened #773 "version X.Y milestones"
As we are just discussed, we should collect the milestones before we want before the next (major) version bump:

Some points we mentioned as candidates
- docs
  - [ ] consistent documentation & website #779
  - [ ] [high-level docs](https://www.joelonsoftware.com/2000/10/02/painless-functional-specifications-part-1-why-bother/), how do modules interact, reponsibilities
  - [ ] website polishing?
-

[2020-07-17 13:44] jan-janssen commented on #767
replaced by https://github.com/pyiron/pyiron/issues/773

[2020-07-17 13:44] #767 closed

[2020-07-17 14:00] ashtonmv commented on #773
Sudarsan's refactored Atoms class comes to mind- should we consider that to be a milestone?

[2020-07-17 14:02] jan-janssen commented on #773
I would be interested to work on the database interface, mainly supporting clusters which do not have a local SQL database.

[2020-07-17 14:06] pmrv commented on #773
See I knew missed a bit.

[2020-07-17 14:42] #765 closed

[2020-07-17 14:42] #769 closed

[2020-07-20 10:30] ashtonmv opened #775 "SPHInX valence parser breaks for elements starting with letter Z"
#### Issue description
collect_output() fails for SPHInX jobs containing Zn and Zr because the valency parser looks for

| Z

at the beginning of the line, which occurs in several places beyond just the intended lines. It seems like we can fix it by simply looking for

| Z=

instead.

[2020-07-20 14:12] samwaseda commented on #773
I'd love to talk about the consistency with the website. A long standing issue is for example the output quantities, partially given [here](https://pyiron.github.io/source/faq.html#which-output-quantities-are-stored-in-pyiron), which VASP doesn't follow. But then there are also some stuff that should be updated as well I guess.

[2020-07-20 14:17] samwaseda opened #777 "Number of electronic steps"
I know that I was the one who wanted to increase the number of electronic steps to 400, which in my opinion still makes sense for one-step static calculations. But I'm starting to realise that in structure optimisation and interactive calculations it's rather a waste of time. I'd therefore suggest we change the default number of electronic steps to something like 40 or 100 for structure optimisati

[2020-07-20 14:28] jan-janssen commented on #777
The default in VASP is 60 https://www.vasp.at/wiki/index.php/NELM so we could even aim for consistency with VASP as I guess the majority of our current user base is using VASP primarily.

[2020-07-21 07:21] samwaseda opened #780 "Consistency of project in submitted notebook"
I have a suggestion.

Currently when a notebook is submitted, two projects are created: one for the job submitter, one for the job running within the notebook. However, conceptually they usually belong to the same project. What I have been doing therefore is something like:

Submitter:
[code]

Job notebook:
[code]

which requires a long line for the project and if the path is not correct, a new pr

[2020-07-21 14:28] #775 closed

[2020-07-21 14:50] samwaseda commented on #780
Just to make sure: I'm not talking about `Project('.')`. I'm saying both the submitter and the notebook should share the same project and no further project should be created.

And I don't understand your example.

If you are saying something like this:

Submitter:
[code]

Notebook to submit:
[code]

Then the user will still have a problem that `Project('SUBMIT').inspect('vasp')` doesn't work. In

[2020-07-21 17:21] jan-janssen commented on #780
I meant you can have multiple projects inside one script job, for example:
[code]
In my case I am commonly only interested in the last step of an algorithm. But I agree the `script_0_hdf5/script_0` part is annoying. The reason for this is that the root group of the HDF5 file behaves different compared to all other groups and pyiron has the flexibility to have multiple jobs in one HDF5 file even th

[2020-07-21 17:35] samwaseda commented on #780
This is fine, I'm not suggesting to change the current behaviour. I'm just suggesting to add the possibility that the submitted notebook chooses automatically the root project as well.

[2020-07-21 17:37] jan-janssen commented on #780
Can we do something like?
[code]
By default this would be `.` and for the script job it could be something different.

[2020-07-21 17:39] samwaseda commented on #780
That would be already very good! Even better would be if we wouldn't have to import anything, e.g. `Project(default_working_directory=True)`?

[2020-07-21 17:53] jan-janssen commented on #780
So then
[code]
would be the same as
[code]
For a regular project. I like this option. By default
[code]
ok ?

[2020-07-21 17:54] samwaseda commented on #780
Brilliant!

[2020-07-22 06:06] jan-janssen opened #781 "Latest phonopy version fails to import spglib"
[code]

[2020-07-22 06:43] samwaseda commented on #781
This doesn't happen to me

[2020-07-22 06:48] jan-janssen commented on #781
It happens with phonopy 2.7.0 which was release 19 hours ago https://anaconda.org/conda-forge/phonopy

[2020-07-22 06:51] samwaseda commented on #781
How can I make it visible on the cluster?

[2020-07-22 06:55] jan-janssen commented on #781
Currently I only see it in the automated unit tests on azure. Most likely the phonopy developers just changed the import path. Anyway it might be better for us to import the spglib directly rather than via phonopy. https://github.com/pyiron/pyiron/blob/master/pyiron/atomistics/structure/atoms.py#L28
[code]
rather than
[code]

[2020-07-22 08:41] #781 closed

[2020-07-22 12:02] #780 closed

[2020-07-22 23:01] raynol-dsouza commented on #773
I think a basic version of protocols (maybe NEB, for starters) could also be included.

[2020-07-24 12:42] pmrv opened #789 "Softlinks in HDF5"
Different codes store the same data under different paths, e.g. electronic structure information in vasp vs. sphinx.  Since HDF offers [soft links](https://h5py.readthedocs.io/en/stable/high/group.html#dict-interface-and-links), the idea would be to let every code store under what ever HDF5 paths they want but create generic links to the tags described in the [FAQ](https://pyiron.github.io/source/

[2020-07-24 15:18] prince-mathews opened #791 "Float input in structure.repeat() does not work"
[code]

On using a value of n_repeat = 5.0,  the function raises an error, but using an integer value works.

[2020-07-24 15:47] jan-janssen commented on #791
I guess it is similar like an index for a list:
`[1, 2, 3, 4, 5, 6][n_repeat]`
It works with int but does not work with float. So to me that is a feature not a bug.

[2020-07-24 17:23] pmrv opened #792 "add more tests"
A few modules have no or not a lot coverage from the unit test.  Low hanging fruits include
- [ ] `pyiron.gaussian`
- [ ] `pyiron.gpaw`
- [ ] `pyiron.thermodynamics`
There's also
- [ ] `pyiron.base` (60%)
- [ ] `pyiron.project` (50%)
that have some good coverage, but functionality in there should be independent of external executables and so should be able to do better.
We also discussed
- [ ] run

[2020-07-24 17:38] pmrv opened #793 "more documentation"
Our documentation could be a bit better where it goes beyond mere API docs (which we have a good amount of).  That means
- [ ] consistent information on the website/FAQ.  @samwaseda is working on this in #779, but won't mind help at all.
- [ ] [High-level docs](https://www.joelonsoftware.com/2000/10/02/painless-functional-specifications-part-1-why-bother/) on the overall architecture, how do the m

[2020-07-24 17:46] pmrv opened #794 "replace GenericParameters with InputList"
Midterm `InputList` should replace `GenericParameters`.  I'll be working on the lammps jobs, but definitely new classes should only use `InputList` and if you touch a class for whatever reason, consider looking into it.  Big differences in usage are only where the `GenericParameters` object is written to a file as `InputList` doesn't have a method to do this.

[2020-07-24 17:53] pmrv opened #795 "open version 1.0.0 issues"
We discussed some issues we want to have, but are not mature yet for their own issues or not actively worked on yet

- [ ] ground work for pyiron/experimental (vs. making a separate module); what classes would be needed?
- [ ] pyiron GUI via [ipytree](https://github.com/QuantStack/ipytree)
- [x] remote SQL database access, HDF-only installations?
- [ ] dynamic object loading from hdf (automatic fr

[2020-07-24 17:56] pmrv commented on #773
See #792, #793, #794, #795

[2020-07-24 17:56] #773 closed

[2020-07-25 07:44] sudarsan-surendralal opened #797 "Default pbc values: ASE vs pyiron"
Consider the following code:
[code]

By default ase sets the pbc values to `False` while we set it to `True`. Since we are trying to be compatible with ASE (see https://github.com/pyiron/pyiron/pull/680) should we also change our default behaviour? If we do, some of our LAMMPS based notebooks will fail because LAMMPS does not count atoms outside a non-periodic box (see https://github.com/pyiron/py

[2020-07-25 09:13] samwaseda commented on #797
I’m pretty sure that this is not the only one example where the ASE default is nonsense for pyiron. In this case I think it’s safe to assume that the pyiron community is happy to have `pbc=True` for the default behavior.

One possibility is to create a new function like `force_ase_default` which changes all pyiron default parameters to ASE parameters. This could be a relatively quick fix that we c

[2020-07-25 09:14] samwaseda commented on #794
Can you also tell me how to visualize `InputList` properly?

[2020-07-25 13:18] pmrv commented on #794
You mean to get the tree view in a notebook? It should be automatically as that, otherwise try `display(InputList(...))`.  The method `_repr_json_` turns the list into a nested dictionary and is called automatically whenever jupyter tries to display an InputList.

[2020-07-26 07:52] samwaseda commented on #791
@prince-mathews actually indeed used an integer, but `GenericParameter` for `ScriptJob` for some reason changed it to a float when the job was executed in a different notebook. I guess a safer behavior for `repeat` is that it changes the value an integer internally and maybe we can issue a warning if float was inserted or if the value was not the same before and after the conversion.

[2020-07-26 08:00] jan-janssen commented on #791
@samwaseda I guess a saver way would be to fix `GenericParameter` if that is where the error is coming from. Or even better use `inputlist` for the script job because that should already fix the issue.

[2020-07-26 08:04] samwaseda commented on #791
I’m also okay with this solution. Then for now I’d like to include an error in `repeat` that will make the user understand that a float was inserted (because the error message that @prince-mathews got was absolutely impossible to understand). If someone could do it right away, it would be nice. Otherwise I’ll do it tonight when I’m at home.

[2020-07-27 07:29] #791 closed

[2020-07-27 12:33] ashtonmv commented on #793
I would be happy to take a stab at this, unless someone else is already on top of it

[2020-07-27 13:43] prince-mathews opened #800 "Cannot submit jobs to the queue"
I was trying to submit a few aluminium energy-volume DFT calculations to the queue, but the following error is raised.

[code]
Am I doing something wrong here?

[2020-07-27 13:49] raynol-dsouza commented on #800
Could you try using `job_vasp.server.queue = ‘cmti’`?

[2020-07-27 13:52] prince-mathews commented on #800
I tried that before, it still raises the same error.

[2020-07-27 13:58] jan-janssen commented on #800
Can you post the output of:
`cat ~/.pyiron`

[2020-07-27 14:01] prince-mathews commented on #800
[code]

[2020-07-27 14:07] jan-janssen commented on #800
OK, I can confirm that it is not working for me either - it seems to be related to todays update of the queuing system switching to slurm 20.02 from 18.08.

[2020-07-27 14:15] prince-mathews commented on #800
Okay then, shall I close the issue?

[2020-07-27 14:15] jan-janssen commented on #800
Fixed in https://github.com/pyiron/pyiron-resources-mpie/pull/2 - Can you try if it is working now?

[2020-07-27 14:18] prince-mathews commented on #800
Now it works. Thank you!

[2020-07-27 14:18] #800 closed

[2020-07-29 08:47] samwaseda opened #802 "force_reset in job creation?"
I very often write lines like:

[code]

or

[code]

pyiron complains with the first option (and also it looks ugly) and the second option is anyway not recommended. I'd like to have something like `pr.create_job(..., force_rerun=True)`. What do you think?

[2020-07-29 08:48] #777 closed

[2020-07-29 09:26] jan-janssen commented on #802
I like the idea, I am just not sure if `force_rerun` is clear to everybody. What about `delete_existing_job` ?

[2020-07-29 11:19] samwaseda commented on #802
I'm fine with anything, but I think it's important that `run(run_again=True)` gets a similar name (or this new argument gets a similar name), since it does essentially the same thing (even though `run(run_again=True)` doesn't work for all job types),

[2020-07-29 12:05] jan-janssen commented on #802
Ok, we can also update `run(run_again=True)` to `run(delete_existing_job=True)`. Can you open the pull request?

[2020-07-29 14:55] samwaseda commented on #802
Another consideration: since we set `job.set_input_to_read_only()` when the job finishes, isn't it better to drop `run(run_again=True)` (or `run(delete_existing_job=True)`) altogether?

[2020-07-30 10:04] #762 closed

[2020-07-30 19:53] samwaseda opened #808 "How to make hdf5 smaller"
I'm having two problems right now:

 - SPHInX hdf5 files are for some reason extremely large (I'll look into this one myself)
 - Setting `job.project_hdf5['output'].remove_group()` removes the group, but somehow the hdf5 file is just as large as before.

I'd be glad if you could explain what's going on in one of the problems above. Thanks

[2020-07-30 20:08] jan-janssen commented on #808
When you remove the group it is no longer indexed but it remains in the file, you can track the size of the HDF5 file using:
`job.project_hdf5.get_size()` We implemented `job.project_hdf5.rewrite_hdf5()` to exclude groups and rewrite the file. @FeLoch introduced this last year https://github.com/pyiron/pyiron/pull/307

[2020-07-30 20:15] jan-janssen commented on #808
Which Version of Sphinx are you using? the master branch? Can you compare the size of the sphinx files to the previous version?

[2020-07-31 04:50] samwaseda commented on #808
Master branch, but that of towards the end of June.

[2020-07-31 04:58] jan-janssen commented on #808
Can you call the following on one of your HDF5 file?

[code]

[2020-07-31 05:17] samwaseda commented on #808
Okay I found the problem. I took one random example for which the hd5 was initially 239 M (while the output folder was 40 M). By erasing the following tags, I could get back:

 - `output/sphinx`: 123 M
 - `output/generic/dft/bands_eigen_values`: 54 M
 - `output/generic/dft/bands_occ`: 56 M

And in the end my hdf5 was 6 M. Eigen values and band occupancies probably shouldn't be removed right away f

[2020-07-31 05:41] #802 closed

[2020-07-31 07:05] #808 closed

[2020-07-31 09:53] sudarsan-surendralal opened #810 "Better way to add structures"
We need to make sure that we raise errors/warnings when we add structures with different cells, pbc, etc, and go beyond the ase way of adding structures! Some possible examples where we encounter such issues are:

-  Adding an adsorbate structure with no pbc to a semi-infinite slab with pbc (how should the pbc commutation look like?)
-  Adding two structures with different cell values.

Suggestion

[2020-07-31 17:00] jan-janssen commented on #795
Another point that came up in a discussion today, is to support scratch directories which are only available on a given compute node. In principle it would be good if pyiron could copy the HDF5 file to the scratch directory, execute it there (write input files, run executable, collect output files) and finally copy the executed HDF5 file back to the working directory. This workflow is similar to w

[2020-08-01 07:03] samwaseda opened #812 "How to make interactive LAMMPS occupy less memory"
I have a MC job in which I do something like 10,000 steps, where I essentially don't need anything other than `energy_pot` and `species`. So far, I know that I can get rid of some keys like `unwrapped_positions` by deleting them from `interactive_output_functions`, but as keys like `positions` are still needed to update the structure info, it requires quite some space. Is there a way to make pyiro

[2020-08-01 15:20] jan-janssen commented on #812
You can try to set the flush frequency to a high value:
[code]
And before closing the job you could remove entries inside:
[code]

[2020-08-02 07:59] pmrv commented on #810
What happens if you add an ASE atoms and our subclass?  Can we somehow make sure, that always our subclass is returned not matter the order of addition?

[2020-08-02 08:24] jan-janssen opened #814 "Same jobs again and again"
I commonly write functions like:
[code]

I want them to support global default arguments which I define once for the project and which overwrites the default arguments of the function, without changing the function a lot:
[code]
So I followed up on the idea of implementing decorators https://github.com/pyiron/pyiron/issues/610 :
[code]
Now all you have to do is add `@pyironfunction` to the origina

[2020-08-02 20:18] sudarsan-surendralal commented on #797
Based on a detailed discussion with pyiron developers, it is decided that we use the ASE default unless we generate the structure from pyiron where we use the default pbc value of `True`

[2020-08-03 07:50] samwaseda commented on #812
I close this issue for now because I guess it's still a relatively special case, but I guess in the future we should think about deleting positions, cells etc. if we don't need them.

[2020-08-03 07:50] #812 closed

[2020-08-03 07:52] jan-janssen commented on #812
Instead of closing, you could simply clean the memory at that point right? The flush frequency part still applies, because the `calc_minimize` happens inside lammps only and only the first and last step are stored in cache.

[2020-08-03 20:35] perez-danny opened #816 "Import problem with Phonopy jobs"
Hi,

I am going through the Phonopy tutorial at https://github.com/pyiron/pyiron/blob/master/notebooks/phonopy_example.ipynb using a fresh Conda install. When I try to execute a Phonopy job, as in box [17], I get the error:

    import phonopy.structure.spglib as spg
    ModuleNotFoundError: No module named 'phonopy.structure.spglib'

That file is indeed absent from the master branch of Phonopy. I

[2020-08-04 05:10] jan-janssen commented on #816
Hi @perez-danny

Phonopy changed the interface in version 2.7 so the easiest way to fix this is installing version 2.6 . We update the pyiron master branch, to import spglib directly:
https://github.com/pyiron/pyiron/pull/784
And I just opened a pull request to fix the conda package:
https://github.com/conda-forge/pyiron-feedstock/pull/31

Best,

Jan

[2020-08-04 08:29] sudarsan-surendralal commented on #810
The way I set it up currently,  we get a pyiron structure if we append an ase structure to a pyiron object and an ase structure if we try to append a pyiron structure to an ase object (both works well). The latter isn't what we really want but I think it is the correct way to handle this since the user still expects an ase object.

[2020-08-04 08:32] sudarsan-surendralal commented on #810
Regarding incompatible cell sizes and pbcs, currently we just raise warnings (I don't want to break ase based workflows). https://github.com/pyiron/pyiron/pull/680/commits/fc7385c6b5a5585078fcf131614e2d365e2516e6.

[2020-08-05 07:51] samwaseda opened #818 "LAMMPS hdf5 takes very large space"
I have an issue here, which I don't understand. Look at the lines below:

[code]

As I indicate in the comments, the hdf5-file becomes extremely large after several runs, for no obvious reason. Then when it's closed, it suddenly becomes 25-times smaller. Here, I'm talking about the size of the hdf5-file only and not the memory used by the system (i.e. I'm not counting cache).

Looking at the conte

[2020-08-05 08:00] jan-janssen commented on #818
The job is rewritten during the interactive close, that is why the file size is decreased:
https://github.com/pyiron/pyiron/blob/master/pyiron/base/job/interactive.py#L290

To maintain a low file size over the whole run you can simply set a flush frequency larger than the number of steps computed:
[code]

[2020-08-05 08:07] samwaseda commented on #818
ok apparently I had understood the functionality of `interactive_flush_frequency` completely wrong. Sorry for posting nearly the same issue twice.

But then shouldn't it be large by default? Or even: do we ever have to flush in the first place?

[2020-08-05 08:46] jan-janssen commented on #818
The issue with a high flush frequency is that you can loose all your results if something breaks. That is why we focused on having save default values rather than fast ones. But I am open to discuss this in the next pyiron meeting.

[2020-08-06 14:57] edmen-dev opened #819 "Error when submitting ScriptJob"
I am submitting a ScriptJob, but the job fails before the script starts and the error.out file shows the following error message:

`
/u/system/SLES12/soft/pyiron/dev/anaconda3//bin/python: No module named pyiron.base.job.wrappercmd`

[2020-08-06 15:22] pmrv commented on #819
What pyiron version are you using? Can you also include a minimal example that triggers the bug?

In 0.2.17 `pyiron.base.job.wrappercmd` was already moved to `pyiron.base.job.wrapper` and `pyiron.cli`, so it sounds like there might be a mismatch between pyiron versions saving & running the job.

[2020-08-06 15:32] jan-janssen commented on #819
I assume you have your own pyiron version. You can check this using:
[code]
I recently updated the central version to 0.2.17 so the easiest way is to update your installation as well.

[2020-08-06 15:36] edmen-dev commented on #819
My pyiron version is:
'/u/system/SLES12/soft/pyiron/dev/anaconda3/lib/python3.7/site-packages/pyiron/__init__.py'

How can I update the pyiron version?

[2020-08-06 15:40] edmen-dev commented on #819
After restarting my kernel, now it seems that the run_squeue script is correct and works... I will see if everything is fine now...
Sorry for this... Jan, this is perhaps because your update?

[2020-08-06 15:48] jan-janssen commented on #819
Possibly, when did you submit the job? I did the update on Tuesday.

[2020-08-06 15:50] edmen-dev commented on #819
I submitted the jobs that failed like this just today... and very possibly using a notebook that I opened before last Tuesday...

[2020-08-06 15:52] jan-janssen commented on #819
Ok, that might be the reason then.

[2020-08-07 07:31] pmrv opened #820 "DFT related members in AtomisticGenericJob"
`AtomisticGenericJob` has `{set,get}_encut()` and `set_kpoints()` defined on it.  Since they only raise a `NotImplementedError` and not all subclasses use them (e.g. lammps), is there a specific reason to keep them? They also live on the generic DFT class, which is more appropriate anyways.

[2020-08-07 07:34] jan-janssen commented on #820
I guess in principe it should be sufficient to have them implemented in https://github.com/pyiron/pyiron/blob/master/pyiron/dft/job/generic.py
So maybe just test removing them to see if anything breaks.

[2020-08-07 08:32] #819 closed

[2020-08-07 11:26] #677 closed

[2020-08-07 11:26] #797 closed

[2020-08-07 11:26] #810 closed

[2020-08-07 15:34] yury-lysogorskiy opened #822 "Auto-correction of user provided job_name"
Just an idea:

- once user provides the incorrect job_name for job, a warning should be thrown and job_name auto-correction should be done.

- provide a pyiron function to auto-correct given string, i.e. instead of:
` job_name = "s_"+str(strain).replace(".","")`
do something like:
` job_name = to_pyiron_job_name("s_"+str(strain))`

This option also could be switchable in config file

[2020-08-08 06:03] #820 closed

[2020-08-08 19:05] sravankumarkb opened #825 "Having trouble iterating over jobs in project object"
Hello,
I am trying to run the following example.

https://github.com/pyiron/pyiron-meeting-mpie/blob/master/handbook/3-vasp/3-2-murnaghan/convergence_Encut%2B_and_KP.ipynb

I get the following error at cell [97]
[code]

[2020-08-09 05:24] jan-janssen commented on #825
In the example it says:
[code]
In your code you have:
[code]

The path parameter should be a path inside the HDF5 file rather than the project object. The usage of iter_jobs is explained in section 5.1 of the pyiron Paper https://www.sciencedirect.com/science/article/pii/S0927025618304786

[2020-08-09 06:45] sravankumarkb commented on #825
Thank you for taking a look.

My code on cmti001: /u/skanchar/pyiron/projects/handbook/3-vasp/3-2-murnaghan/convergence_Encut+_and_KP.ipynb
I have a similar error even with

`for job in pr0.iter_jobs(convert_to_object=False):`

Below is the error

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)

[2020-08-09 07:00] sravankumarkb commented on #825
I have changed the variable from "total_energies" to "energy_tot" and it works okay now. This again comes back to my point that these examples have to be updated as some of the function names and variable names have changed.

`    for job in pr0.iter_jobs(convert_to_object=False):
        E.append(job["output/generic/total_energies"][-1])
        V.append(job["output/generic/volume"][-1])`

is cha

[2020-08-09 08:32] sudarsan-surendralal commented on #825
Thanks for the changes @sravankumarkb. @jan-janssen should we move these issues to https://github.com/pyiron/pyiron-meeting-mpie/issues and link pull requests to fix them?

[2020-08-09 09:05] jan-janssen commented on #825
I opened a pull request https://github.com/pyiron/pyiron-meeting-mpie/pull/3

[2020-08-10 07:39] pmrv commented on #822
Generally I'd like a more diverse character set, but I feel it should be transparent, i.e. translated/escaped when the name is put into the database and translated back when showing it to the user.  This way would avoid situations where a job pop ups under different name that you expect.

I think the code internally checks that the job name is a valid python identifier.  What was the reason for th

[2020-08-10 13:43] samwaseda commented on #825
Is `["output/generic/total_energies"]` still there by the way?

[2020-08-10 13:44] jan-janssen commented on #825
@samwaseda Yes it was replaced, but the examples were not updated.

[2020-08-10 13:45] samwaseda commented on #825
Sorry somehow all the replies were not shown when I loaded the page - now they suddenly appeared.

[2020-08-10 13:48] samwaseda commented on #822
I guess @jan-janssen had an example for this one, although it was a long time ago that he presented it. I remember that it was a quite good one so I can imagine we work on it again.

[2020-08-10 16:10] yury-lysogorskiy commented on #822
This is not a bug, but a proposal. The only reason why I suggest this, is to make the code like this:
`job = pr.create_job(pr.job_type.Lammps, 'strain_'+str(eps).replace(".","_").replace("-","_"))`
more elegant, smth. like this:
[code]
At least on the demos that would be more appealing...

[2020-08-10 16:52] jan-janssen commented on #822
Currently we use https://github.com/pyiron/pyiron/blob/master/pyiron/base/job/core.py#L891

With this, the following line returns an error:
[code]
Result:
[code]

I guess what @yury-lysogorskiy is suggesting is replacing the ValueError with a warning an automatically replacing characters which are not compatible.

[2020-08-11 07:15] samwaseda opened #828 "full_table=False doesn't set back the table size"
When I first implemented `pr.job_table(full_table=True)`, the table size was set back automatically as soon as `pr.job_table()` was called. Now I can see that `full_table` stays active, regardless of whether `pr.job_table()` or `pr.job_table(full_table=False)` was called, which sometimes makes a notebook slow.

[2020-08-11 07:26] pmrv commented on #828
I'm not sure what your original solution was, but the way it is now, `pr.job_table()` has to set the pandas option and then return the table.  Since the option must be active when the result of the cell is shown by jupyter, i.e. after the cell finished executing, there's no way for pyiron code to disable the option again after the table is displayed.

[2020-08-11 07:48] samwaseda commented on #828
I also don't think it's possible to set it back after the table is once shown, and neither particularly necessary. But I'd like pyiron to set it back when `pr.job_table(full_table=False)` is called.

And this was also the original behaviour. I don't think I had implemented something special - I essentially simply observed it was like that (although I vaguely remember that I thought it made sense).

[2020-08-11 08:22] pmrv commented on #828
Ah, I misunderstood then.  Sure, that sounds like reasonable behaviour then and it should be an easy fix.

[2020-08-11 10:10] pmrv opened #830 "run_time units"
In the current configuration the value set to `job.server.run_time` is put by pysqa directly into the SLURM submission script.  This means its in minutes, but documented by pyiron as seconds.  The question is now whether the pysqa template should convert to minutes or we should update the documentation.  Keeping the time consistently in seconds makes more sense to me, but what are your thoughts?

[2020-08-11 10:29] jan-janssen commented on #830
I have it on the list https://github.com/pyiron/pysqa/issues/24 but did not find the time to fix it yet.

[2020-08-11 10:31] pmrv commented on #830
So basically pysqa should accept seconds and do the conversion?  I'll have a look after ADIS then.

[2020-08-11 10:31] #830 closed

[2020-08-11 14:39] sravankumarkb opened #831 "Function to check if all jobs in a "project" have finished"
Hi,
Is there a simple function to check if all jobs in a "project" have finished?
Currently, I am doing the following

`if (pr.get_jobs_status().finished)==len(pr.get_job_ids()): print ('done')`

I am wondering if there is a more elegant way to this. Thanks.

[2020-08-11 14:45] jan-janssen commented on #831
[code]
It is recommended to use the job_table which returns a pandas dataFrame

[2020-08-11 17:21] pmrv commented on #831
We already have [wait_for_job](https://pyiron.readthedocs.io/en/latest/apidoc/pyiron.base.project.generic.html?highlight=wait#pyiron.base.project.generic.Project.wait_for_job).  Maybe we can just allow the first argument to be `None` and then wait for all or add something like
[code]

I can see this being useful when turning notebooks into tests.

[2020-08-12 06:32] samwaseda opened #832 "center_coordinates_in_unit_cell not working anymore"
Is there a replacement for `center_coordinates_in_unit_cell` in ASE?

[2020-08-12 06:34] samwaseda commented on #832
I just realised that the problem is not `center_coordinates_in_unit_cell` is not working, but the box is not translated to a pyiron object when it's created with ASE anymore. Is the right way to do the translation with `ase_to_pyiron`?

[2020-08-12 06:46] sudarsan-surendralal commented on #832
Yes an ASE object remains an ASE object now which does not have `center_coordinates_in_unit_cell`. You'd have to use `ase_to_pyiron` to convert to a pyiron object.

[2020-08-12 06:51] samwaseda commented on #832
ok thanks!

[2020-08-12 06:51] #832 closed

[2020-08-12 16:59] sravankumarkb opened #834 "Setting nbands tag in vasp calcs using the job object"
Hi

I am wondering if there is a way to set nbands using the jobs object. Thanks.

The only solution I came up with is
`ham_vasp = pr.create_job(pr.job_type.Vasp, 'check_job')
ham_vasp.input.incar["NBANDS"] = 24`

Please let me know if there is a better way to do this. Thanks.

I came across the "set_empty_states" function which I think also sets the NBANDS tag. But I am not sure if the code is ac

[2020-08-12 17:44] sudarsan-surendralal commented on #834
If you need to control the VASP `NBANDS` tag directly, `ham_vasp.input.incar["NBANDS"] = 24` is the best way to go. `set_empty_states` is more generic and is used to exactly specify the number of states that will be empty (assuming each state has a maximum occupancy of 2 as in non-magnetic calculations). This is done to be compatible with other codes (like SPHINX) that don't follow VASP's default

[2020-08-13 10:33] SanderBorgmans opened #835 "Pyiron table incompatible with numpy arrays"
When performing optimization jobs using the Gaussian plugin, the output of the frames is saved using numpy arrays.
This causes an issue with the JSON serialization, as I get the following error:

`TypeError: Object of type ndarray is not JSON serializable`

Perhaps the standard behavior of the pyiron table should be to convert everything to lists?

[2020-08-13 12:25] SanderBorgmans commented on #835
As a quick fix, I introduced the following function:

[code]
which acts on `self.pyiron_table._df.to_dict()` in both the `to_hdf` and `update_table` methods from `datamining.py`.

[2020-08-13 14:40] sudarsan-surendralal commented on #835
Thanks for this! Can you open a pull request with these changes if you have them in a separate branch?

[2020-08-13 17:45] #835 closed

[2020-08-13 17:57] #814 closed

[2020-08-14 07:47] jan-janssen commented on #816
Hi @perez-danny,

I assume this issue is resoled and close it. If this is not the case feel free to reopen it at any time.

Best,

Jan

[2020-08-14 07:47] #816 closed

[2020-08-14 08:29] #818 closed

[2020-08-14 14:40] ashtonmv opened #843 "Possibly too easy to accidentally remove_jobs(recursive=True)?"
I might be the only one, but I very often have a `pr.remove_jobs(recursive=True)` statement in my notebooks that I forget to comment out, and sometimes I accidentally rerun it when I later revisit the notebook.

This is obviously a user error on my part, but I'm wondering if there's any argument against accomodating my stupidity with something like

[code]

so that the user has to confirm the dele

[2020-08-14 15:59] pmrv commented on #843
I think the idea is ok, especially since we have it on `pr.remove` and that does essentially the same. My only worry is that we'd need to update a bunch of tests & example notebooks.  On the other hand those should probably use `pr.create_job(delete_existing=True)` anyway.

[2020-08-14 18:10] jan-janssen commented on #843
I am a bit reluctant as I got used to using `pr.remove_jobs(recursive=True)` for the interactive development - basically running the the notebook with "Kernel Restart & Run All" until it produces the correct results. But once we have the ability to set the flag on a project level I am open to it. For example:
[code]
which then results in the current behaviour.

[2020-08-14 20:05] ashtonmv commented on #843
Yeah I guess it mostly only matters for people running heavier DFT calculations. So I'm happy to leave it as-is.

[2020-08-14 20:05] #843 closed

[2020-08-15 11:15] sravankumarkb opened #845 "Function for removing groups in a project?"
Hello,

Is there a function for removing groups in a project?
`pr.list_groups()`
`['200_0']`
Let us say I want to remove the 200_0 group from the project. How would I do that?
I saw the "remove_group()" it in one of the previous issues.
[https://github.com/pyiron/pyiron/issues/808](url)

But I am not able to understand how I can use it to remove the 200_0 group from my project.

Any help is apprec

[2020-08-15 11:22] jan-janssen commented on #845
[code]

[2020-08-15 12:00] #845 closed

[2020-08-15 12:36] sravankumarkb opened #846 "issue with waiting for jobs to finish in a project"
Hello,

I am looping through some jobs and I have the following function to wait for jobs in my project group to finish before I move on to the next part of my code. The next part of my code depends on the results from the jobs in my project group.

The function I have for waiting for jobs in a project.

[code]

I pass my project group name to the function as follows.

[code]

I receive the follow

[2020-08-15 12:47] sravankumarkb commented on #846
For some reason, it is messing up the indentation of my wait_for_jobs function when I paste it here. But the function is the same as the one Marvin suggested in the following issue.

https://github.com/pyiron/pyiron/issues/831

[2020-08-15 13:49] jan-janssen commented on #846
When you post code on Github, please use the code button, in the markdown menu.https://docs.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

Regarding the error - `wait_for_job()` reloads the object from the HDF5 file, while `pr.job_table()` checks just the database entry. Using the database entry is obviously quicker and means less load for the system. At the same tim

[2020-08-15 13:55] jan-janssen commented on #831
As @sravankumarkb figured out the code above is dangerous as you open the HDF5 files of many jobs which can lead to cryptic errors. Instead it is recommended to just access the database rather than the HDF5 files. The functions would be something like:

[code]

As we now have two issues about the same topic I close this one in the favour of https://github.com/pyiron/pyiron/issues/846

[2020-08-15 13:55] #831 closed

[2020-08-15 13:58] jan-janssen commented on #825
I close this issue in favour of https://github.com/pyiron/pyiron-meeting-mpie/issues/1

[2020-08-15 13:58] #825 closed

[2020-08-17 10:46] SanderBorgmans opened #856 "Job tables"
When loading a string into a job table through a property function, _e.g._:
[code]

and the string equals 't' or 'f' (or 'T', 'F'), it gets converted into 'True' or 'False' respectively. I suspect that this is not the expected behavior.

[2020-08-17 12:43] pmrv opened #857 "JobTable filters cannot be lambdas"
Setting `filter_function` on the pyiron table with a lambda gives an error when the job is read from HDF5.  This is because the filter is saved as source code and `inspect.getsource()` reports the full line the lambda is defined on instead of the function body.  I guess a fix is maybe too complicated, but we should update the docs as it is a bit surprising given that it _is_ possible to use lambda

[2020-08-17 12:44] jan-janssen commented on #857
Maybe it makes sense to add this to the FAQ

[2020-08-17 12:48] jan-janssen commented on #857
In addition there is some lambda code still inside the pyiron table https://github.com/pyiron/pyiron/blob/master/pyiron/table/datamining.py#L143

[2020-08-17 12:50] jan-janssen commented on #856
I guess we did this by purpose to help the VASP users https://github.com/pyiron/pyiron/blob/master/pyiron/table/datamining.py#L447

[2020-08-17 12:59] SanderBorgmans commented on #856
I see, if it is expected I will try to avoid this situation. I noticed this when I made a table with a column listing the element, and the fluor element (F) got changed to the 'False' string

[2020-08-17 13:13] jan-janssen commented on #856
I commonly have one column per element and then only store the number of counts in the column to simplify the filtering. Still I agree that it should be more optimised, maybe having a flag to enable or disable this behaviour. So feel free to open a pull request for this.

[2020-08-17 13:15] jan-janssen commented on #857
I looked it up again and we can use Lambda functions for properties https://github.com/pyiron/pyiron-meeting-mpie/blob/master/handbook/8-bigdata/8-2-pyiron-table/pyirontable-ham-class.ipynb so it should be able to extend the support for filter functions as well.

[2020-08-17 13:44] pmrv commented on #857
Will have a look for Friday.

[2020-08-18 07:34] pmrv commented on #856
I'd like to document this, but am unsure where to place this. Maybe in a docstring [here](https://github.com/pyiron/pyiron/blob/cf4167002f745c69454a4fde6dc544c528952940/pyiron/table/datamining.py#L628)?

[2020-08-18 08:07] samwaseda opened #860 "Number of atoms not allowed to change?"
I realized that the following lines don't work, because the number of atoms changes:

[code]

Is it supposed to be like this?

[2020-08-18 09:12] #828 closed

[2020-08-19 14:24] sravankumarkb opened #864 "Trouble saving data into pyiron table"
Hello,

I have been trying to save the data from DFT calcs into a pyiron table (tot_DFT_data_table). I created the pyiron table using

[code]
I get the following error at the end of the collection of my data into the table. I think that the error has to do with storing all the data into a h5 file with the table's name. I can see that all the data has been copied into the table when I print the dat

[2020-08-19 14:28] jan-janssen commented on #864
That is fixed in https://github.com/pyiron/pyiron/pull/836 - Can you try using the current master branch?

[2020-08-19 14:32] sravankumarkb commented on #864
Thanks @jan-janssen
How do I use the current master branch?
Do I change something in my .bashrc on cmti?

I have the following line in my .bashrc

[code]
Please let me know if I need to change this to something else. Thanks.

[2020-08-19 15:17] pmrv commented on #864
The "dev setup" we usually run is to load the module (as you have) to get the dependencies, but then also check out the pyiron repo locally (mine lives in `~/software/pyiron`).
[code]
and then also modify the python module path, so that this local version is found before the system one.  This is done via setting `PYTHONPATH` in your `~/.profile`.  The quick version
[code]

This has the advantage t

[2020-08-19 15:23] sravankumarkb commented on #864
Thanks @pmrv

I get the following error when I try to clone the pyiron repository

[code]

[2020-08-19 15:37] pmrv commented on #864
You'll have to [add](https://docs.github.com/en/github/authenticating-to-github/updating-your-github-access-credentials#updating-your-ssh-keys) your public ssh key to you github account or use the https link. ;)

[2020-08-19 15:49] pmrv opened #866 "group_name not honored in GenericJob.from_hdf"
When opening the sub group in its given hdf file
https://github.com/pyiron/pyiron/blob/a9d05e10ef3d77ccb79505ab861d766b071d2306/pyiron/base/job/generic.py#L1199
the result is not reassigned to `self._hdf` and since `FileHDFio.open()` doesn't modify its argument, but provides a copy
https://github.com/pyiron/pyiron/blob/a9d05e10ef3d77ccb79505ab861d766b071d2306/pyiron/base/generic/hdfio.py#L365
this

[2020-08-19 16:14] sravankumarkb commented on #864
Thanks @pmrv
My brain has stopped thinking  😆
I have added the following lines in my .bashrc. I hope this takes care of it. I have the "updatelocalpyiron" function. It would be great if you could take a look and let me know if I am doing it right.  Thanks a bunch.

[code]

[2020-08-19 16:47] jan-janssen commented on #866
but is not open typically used in combination with a "with statement:
[code]

[2020-08-19 16:50] jan-janssen commented on #866
So I believe the open function is correct - it is just that in the `from_hdf()` which is implemented in the GenericJob class the group_name variable is ignored. The work around is setting the `h5_path` manually:
https://github.com/pyiron/pyiron/blob/master/pyiron/base/master/generic.py#L535

[2020-08-19 16:58] pmrv commented on #866
It is, but I'm honestly not sure why.  The `__enter__()` is just returning `self` and `__exit__` does pop the current path from that objects history, but `open()` gave you a copy to begin with so from my reading doing
[code]
is the same as
[code]

[2020-08-19 17:31] jan-janssen commented on #866
I have to admit maybe it is also more historically. pyiron only opens the HDF5 file once you write to it - basically when h5io is called. All the rest just updates the h5path. I am open to changing the use of open and just give it a try if anything breaks.

[2020-08-19 18:15] pmrv commented on #866
I modified `GenericJob.from_hdf()` to save the result of `open()`  and the `pyiron.base` tests still pass. It seems like the minimally invasive change, even though from a design perspective it feels like `open()` should modify the state of the object (to me, subjectively).  So unless someone else also has very strong feelings on this I'll just do the small change.  I'll open a PR later this week w

[2020-08-19 18:15] #866 closed

[2020-08-19 18:31] jan-janssen commented on #866
But is not this the default behaviour for python, like:
[code]

[2020-08-19 19:00] pmrv commented on #866
Fair, as I said no hard opinions from my side.  More reason to move it to `from_hdf`.

[2020-08-19 19:04] pmrv commented on #822
Interestingly, it seems this was our intent already
https://github.com/pyiron/pyiron/blob/a9d05e10ef3d77ccb79505ab861d766b071d2306/pyiron/base/database/jobtable.py#L331
https://github.com/pyiron/pyiron/blob/a9d05e10ef3d77ccb79505ab861d766b071d2306/pyiron/base/database/filetable.py#L241
https://github.com/pyiron/pyiron/blob/a9d05e10ef3d77ccb79505ab861d766b071d2306/pyiron/base/job/core.py#L149

I'm

[2020-08-19 22:20] jan-janssen commented on #834
@sravankumarkb If the question is answered, please close the issue.

[2020-08-19 22:20] jan-janssen commented on #864
@sravankumarkb If the question is answered, please close the issue.

[2020-08-19 22:23] sravankumarkb commented on #864
I tried what @pmrv suggested, but for some reason, I am not being able to get rid of the error. I am sure it has to do with how I am loading pyiron. Should I open a separate issue to get my pyiron loading sorted out? (with the MPIE tag perhpas?) Thanks.

[2020-08-19 22:23] jan-janssen commented on #846
@sravankumarkb If the question is answered, please close the issue.

[2020-08-19 22:23] #834 closed

[2020-08-19 22:24] #846 closed

[2020-08-19 22:24] jan-janssen commented on #864
No, I was just going through the issues and had the feeling that some of them were answered.

[2020-08-19 22:26] jan-janssen commented on #864
Can you check?
[code]

When ever you change your `.bashrc` it is important to stop your jupyter server https://localhost:8000/hub/home and start a new server so it initialises your `.bashrc`. Jupyter does not initialise your `.bashrc` when you restart the kernel or open a new jupyter notebook.

[2020-08-19 22:38] sravankumarkb commented on #864
Yes, I stopped the tunneling that I do with mobaxterm to connect to the jupyter lab, closed the window on my browser, and then started the tunnel again and opened jupyter lab. I got the following on running your script. Looks like it is loading pyiron from the dev version.
[code]
I have the following lines in my .bashrc

[code]

[2020-08-19 22:53] sravankumarkb commented on #864
It finally worked!

Now I get the following upon running

[code]

[code]
Looks like just stopping the tunneling in mobaxterm does not stop the server and I have to stop the server in the control panel on jupyter hub to actually stop the server.
Sorry for the trouble @jan-janssen  and @pmrv
I am closing this issue now. Thanks for your help.

[2020-08-19 22:54] #864 closed

[2020-08-20 07:26] jan-janssen commented on #864
I am a bit confused about this part. This adds the line:
[code]
to your `.profile` file when you login. Resulting in multiple of those entries. Is there any specific reason why you do not add this line once to your `.bashrc` ?

[2020-08-20 11:32] sravankumarkb commented on #864
Yeah, it does result in multiple entries. I have now changed it to

[code]
and I can also save the arrays in project tables. So, I think everything is okay now. Thanks again.

[2020-08-20 15:08] sravankumarkb opened #874 "passing project groups instead of jobs to the functions for project table"
Hi all,

I am trying to store my DFT data in a project table. My project has some groups which then have some jobs. All the jobs in the project are looped through when I run the following command.

[code]

Is there a way I only loop through the project groups instead of going through all the jobs in the project while adding the data to the project table. Currently I have been done the following to

[2020-08-20 15:19] jan-janssen commented on #874
I am a bit confused, as typically there is no data inside the project, instead the data is only stored in the jobs. My suggestion would be to collect the fundamental properties you want to extract from the individual DFT calculation - energy and volume - and store those in the data frame. And then do all the post processing on top of the data frame. We should not use the data frame to store any fi

[2020-08-20 15:22] jan-janssen commented on #874
The separation of data generation, data aggregation and data analysis is also discussed in the pyiron paper in section 2.2 https://www.sciencedirect.com/science/article/pii/S0927025618304786

[2020-08-20 15:27] pmrv commented on #874
I never tried this, but pyiron tables are also jobs, so it should be possible to aggregate in one table the results of a project full of tables, no?  It's tables all the way down in a sense.  This stays nicely reproducible as each table describes exactly how it computes its results and its all stored.

[2020-08-20 15:30] jan-janssen commented on #874
@pmrv But as the pyiron tables copy the data it would be the same as just running the pyiron table on the top level directory. The pyiron tables can be update when more jobs are added or when additional parameters are required using `table.update()` so I am not sure if we really need two layers of data aggregation. All I care for is that the data is not modified but instead it is raw data extracte

[2020-08-20 15:32] sravankumarkb commented on #874
Yes, you are absolutely right. @jan-janssen
I agree completely that the separation of data generation, data aggregation, and data analysis is good. But, let's say in the cases where data generation is dependent on data analysis and not the other way around. Then data analysis and data generation cannot be separated.

Anyways, I do not want to get too much into the discussion.

If I could just stor

[2020-08-20 15:38] jan-janssen commented on #874
In the case where the data generation depends on the data analysis, that would be another iteration of the simulation lifecycle. Still you can store the data in the same pandas data frame and just add data in every iteration. Once you start storing only the fitted values we loose all the reproducibility. Therefore it is important to have the essential parameters - those which changed between the d

[2020-08-20 15:41] pmrv commented on #874
@jan-janssen My point is the 2nd level of tables would store both the jobs they get their data from and the fitting method, so it's still very reproducible, if I'm not missing anything.

[2020-08-20 15:43] sravankumarkb commented on #874
Yes, I understand your point that it is important to store all the data used for the analysis so everything is reproducible.

I am planning to have two job tables. One with all the DFT data from the main project and I just update the table whenever I am finished with pr_group. At the same time, I am going to add the fitted parameters to a different project table, so that the fitted parameters are

[2020-08-20 15:48] jan-janssen commented on #874
@pmrv I agree that it is technically possible, but I have the fear that people would start deleting the first level of tables. Therefore as the fits are commonly cheap I would not store them and instead maintain them in the jupyter notebook. One cloud also imagine the case where somebody reloads only the fitted table in a separate notebook and then nobody has the chance to see how the data was gen

[2020-08-20 16:03] sravankumarkb commented on #874
I understand your point @jan-janssen

This basically means that I have to store all the DFT data in a project table for the three different interdependent levels in my system for which the code is already a mess.

And now I have to figure out how to analyse the results by digging through the three levels in the project table to do the analysis. I will try to rewrite my analysis code. Let's see how

[2020-08-20 16:04] #874 closed

[2020-08-20 16:09] pmrv commented on #874
Fair, someone might actually delete part of their workflow accidentally or not.  My worry is more from the side that if we don't offer a solution to store things connected with how they are computed, people will rather start saving them to files outside pyiron (via pandas/numpy, e.g.), which would be somewhat of a Daten-GAU. ;)   I haven't urgently needed anything in this direction though, so no h

[2020-08-20 16:14] sravankumarkb commented on #874
Yep, exactly! I am considering just storing them in text files so I can just load them whenever I want to plot them. Anyways, when someone new reruns the whole code those text files will show up with data.

[2020-08-20 16:47] jan-janssen commented on #874
@pmrv I agree external text files are the worst as that breaks the reproducibility. The goal is that all information should be in the notebook + the HDF5 files otherwise we have no chance of sharing the data and so on.

Regarding the fits, currently we address this by with the Murnaghan object, when the user is using the Murnaghan jobs to create the calculations then the fit is stored in the Murna

[2020-08-20 17:05] sravankumarkb commented on #874
@jan-janssen If I get the code together for the case where I get the Murnaghan parameters for different cases from just one table with all the DFT data. There is no point in doing the other strategy, as this is clearly better for reproducibility. It is just more work for me. But I think we are past that anyways.

The current Murnaghan object does not return the structure (or the a,c parameters). I

[2020-08-20 21:23] sravankumarkb opened #877 "Are deleted jobs removed from the project table upon updating?"
Hi all,

Are deleted jobs removed from the project table upon updating?

For example

[code]
I get

[code]
I then add the data to a project table

[code]
I get

[code]
Then I remove the first job and run a second job

[code]
I get

[code]
This makes sense with the first job removed and the second job added to the project table.
But when I update the project table and print the data frame, I still

[2020-08-21 05:17] jan-janssen commented on #877
I quick remark on adding functions, for the built in functions you can use:

[code]

Rather than

[code]

Like it is demonstrated in:
https://github.com/pyiron/pyiron-meeting-mpie/blob/master/handbook/8-bigdata/8-2-pyiron-table/pyirontable-ham-class.ipynb
Or:
https://github.com/jan-janssen/pyiron-nist-workshop/blob/master/quick_test.ipynb

Still to answer the question currently we keep all the cal

[2020-08-21 05:20] jan-janssen commented on #877
I noticed you wrote your own functions, so the changes above do not work directly, they mainly work for the built in functions listed in:
https://github.com/pyiron/pyiron/blob/master/pyiron/table/datamining.py#L21

[code]

[2020-08-21 08:46] #877 closed

[2020-08-21 08:52] jan-janssen commented on #856
@sudarsan-surendralal We discussed this in the pyiron meeting and identified that the VASP parser should make sure that the `True` and `False` values are stored as boolean in the generic parameters, even when importing the VASP calculation. Can you take a look at it?

[2020-08-21 22:33] sravankumarkb opened #887 "Unknown error"
Hello,
I got the following error while looping through a lot of jobs (>1 day) and updating the job table with the data from the jobs. I am not sure what to make of the error. I have a feeling that it could be due to a loss of connection or something like that. Just thought I will let the developers know about this. @jan-janssen This is not so urgent for me, feel free to close this if this is not s

[2020-08-22 11:10] sravankumarkb opened #888 "Unexpected output"
Hi all,

I am creating a job table and assigning some columns to the table using the following user defined functions.

[code]
Now I create the job table in the project

[code]
But when I print the columns of the dataframe, the columns that I have assigned don't show up! Am I doing something wrong codewise? Thanks.
[code]
Output:
[code]
When I update the pr_table after running some calcs, the data

[2020-08-22 14:30] #888 closed, assigned to nobody

[2020-08-22 14:31] #887 closed, assigned to nobody

[2020-08-24 08:27] sudarsan-surendralal commented on #856
Thanks for pointing this out. The linked pull requests should fix this!

[2020-08-24 09:35] #856 closed

[2020-08-24 13:41] jan-janssen commented on #857
The user functions we simply pickle rather than using `inspect`:
https://github.com/pyiron/pyiron/blob/master/pyiron/table/datamining.py#L129

[2020-08-25 07:29] samwaseda opened #891 "Behaviour of Group"
I have a group in SPHInX, in which I have:

[code]

for which I get:

[code]

What I was expecting to see was:

[code]

Is this an expected behaviour?

[2020-08-25 08:14] ashtonmv commented on #891
It's not expected (for me at least), but I believe it's not a problem with Group but rather has something to do with the reassigned `__iter__` method inherited from InputList:

[code]
If it does have to do with InputList, then @pmrv can probably say more about it than I can.

[2020-08-25 08:20] pmrv commented on #891
It is, as in general `Group`/`InputList` can also have keys and so is a subclass of `Mapping` and for python says `iter()` of a `Mapping` must be over the keys of the container.  Changing it would probably mess up the generic implementations of the methods `InputList` inherits from `Mapping`.  In any case `.values()` always gives an iterator over the values in the list, so that to quickly coerce a

[2020-08-25 10:13] pmrv commented on #857
True, I still don't understand, because it's usually not possible to pickle free lambdas, maybe it has something to do with they way user functions are wrapped in an additional lambda down the line.

[2020-08-25 13:45] jan-janssen opened #894 "Getting total energy from OSZICAR"
Unfortunately VASP stores the total energy in the OUTCAR and vasprun.xml only with 8 digits, while in the OSZICAR they use 11 digits. Therefore I started re-parsing my jobs with:
[code]
But most likely we should add this to the default parsers.

[2020-08-25 15:19] jan-janssen commented on #894
In the same way as Eunan suggested today we can extract the memory usage from VASP:
[code]

[2020-08-26 06:45] samwaseda commented on #891
Ok so since there's I guess no clear solution, I close this issue for now.

[2020-08-26 06:45] #891 closed

[2020-08-26 09:05] pmrv opened #899 "Submission errrors not caught"
`GenericJob` checks whether submission to the queue is successful here by try/except any subprocess errors
https://github.com/pyiron/pyiron/blob/8b91247d8fb507b606e54e956655ae64f3db95ec/pyiron/base/job/generic.py#L983
but pysqa already catches those here
https://github.com/pyiron/pysqa/blob/a1792778a26be794170581e3a5d4459e219d2a82/pysqa/utils/basic.py#L422
and returns `None`.  That means any error

[2020-08-26 09:13] pmrv opened #900 "Non integer runtimes break submission script"
SLURM wants to have the submission time in integer minutes, setting a float silently breaks submission of job (due to #899).  We should add a type check at some point add coerce to int, I could do it in `job.server.run_time`, when passing to pysqa or in the queue template, not sure where the best location would be.

[2020-08-26 09:25] jan-janssen commented on #900
I would do it in `job.server.run_time`

[2020-08-26 09:39] jan-janssen commented on #899
I try to do all the queue system specific implementation inside pysqa - most likely it makes sense to have two return values, the `queue_id` and an `error.` When no error appears the `queue_id` is an integer and the `error` is `None` and when there is an error the `queue_id` is None. In `pyiron` we can check if the `queue_id` is `None`.

[2020-08-26 09:55] pmrv commented on #899
Agree that checking on the pyiron side for `None` is simplest and that the exact subprocess error should be hidden from consumers of pysqa.  Maybe `submit_job` could raise a generic `SubmissionError` when it ends up with a `None` queue id after calling its internal functions?

[2020-08-26 10:13] jan-janssen commented on #899
I guess that is something we would have to check. I am not sure if the pysqa error includes any particular information from the queueing system - why the submission failed - or if it just reports that the subprocess crashed. In particular in the case of submitting jobs to a remote host I am a bit again raising errors in pysqa and instead prefer transferring them as stings.

[2020-08-26 10:29] pmrv commented on #899
The subprocess error contains stderr from the queuing system command, so it's useful to have it in the log maybe.

Fair, I'm just saying this because I had to manually submit the script from python to find out the problem in #900 and it just feels a bit hackish. If that makes problems with remote submission I understand though, given the low frequency of this type of bug, it's probably not worth t

[2020-08-26 10:47] #900 closed

[2020-08-26 13:23] jan-janssen commented on #857
`pickle` can not but `dill` can https://github.com/pyiron/pyiron/blob/master/pyiron/table/datamining.py#L8

[2020-08-26 13:23] #899 closed

[2020-08-26 15:24] sudarsan-surendralal commented on #894
Should we store this separately or overwrite the existing energy_tot?

[2020-08-26 15:43] jan-janssen commented on #894
I guess having more digits does not hurt, so I would overwrite it if the OSZICAR is available.

[2020-08-26 16:47] pmrv commented on #857
Ah, I stumbled on `dill`, but I hadn't checked the import.  Should be doable tomorrow then.

[2020-08-26 18:42] jan-janssen commented on #660
This issue came up today again.

[2020-08-26 20:11] jan-janssen opened #906 "Set per atom velocities"
Now that we have the ASE atoms implemented, which provide the momenta tag, we should also be able to set velocities for structures and communicate those to the codes like LAMMPS.

[2020-08-26 20:30] samwaseda opened #907 "Why does loading pyiron take so much time?"
I noticed that it takes around 20 seconds to load pyiron now. It was slightly faster until a few days ago. What happened?

[2020-08-26 20:34] samwaseda commented on #795
@Ahmed-Aslam is now working on the potential class for LAMMPS and I think his class should be extended to other codes as well. I'm not sure how important compared to other issues named above, but since it's rather likely that there'll be limited backward compatibility, I think the changes should take place at the same time as pyiron 1.0.0

[2020-08-26 21:20] sudarsan-surendralal commented on #894
I tried looking at OSZICAR files and I noticed that the 11 digit energies don't correspond to the total energy in the case of MD runs. An example output is given below:
[code]

Also, do you know which energy this corresponds to? (T-->0, free energy, or E0)

[2020-08-27 04:29] jan-janssen commented on #907
I am not aware that anything essential changed in the core, so I would assume it is based on the high load on the database we have currently. Simply establishing the initial connection to the database seems to take quite some time.

[2020-08-27 04:32] jan-janssen commented on #795
I guess we should discuss this again in the next pyiron meeting as I have a few more collaborators who want to use the latest features for remote jobs and I would like to give them the option install via conda directly. So I would suggest to release a 0.3.0 version now with all the changes in the master branch and continue working towards 1.0