[2020-08-27 04:42] jan-janssen commented on #894
It is the free energy you can confirm it with a quick test like:

[code]

For the MD run I did not check it - but as you also have more entries like EK, SP and SK - which do not appear in the example above I guess it is sum combination of those. Maybe the OSZICAR only reports the potential energy.

[2020-08-27 06:10] samwaseda commented on #907
Hm ok thanks!

[2020-08-27 07:41] sudarsan-surendralal commented on #907
I too am experiencing this today but not just at establishing the initial connection. It appears that reading from the HDF5 files is taking longer!

[2020-08-27 07:51] jan-janssen commented on #907
It might also be related to a high load on the file system - maybe Christoph can give us more information on this.

[2020-08-27 13:43] #660 closed

[2020-08-27 15:31] sravankumarkb opened #910 "fixing atoms"
Hi all,
I am trying to fix some atoms in my calc. I am using the "FixAtoms" from ase. I am observing some weird behavior.
Below is an example where I am fixing the atom at the origin (0, 0, 0), but when I print the constraints using structure.get_constraint, it shows that the other atom is being fixed.
Any help is greatly appreciated. Thanks.
[code]
[code]

[2020-08-27 15:35] jan-janssen commented on #910
[code]

[2020-08-27 15:39] sravankumarkb commented on #910
I also see in the poscar that the other atom is fixed and atom at the origin is free!

[2020-08-27 15:41] sravankumarkb commented on #910
Pasting the POSCAR below
[code]

[2020-08-27 15:49] sravankumarkb commented on #910
This is playing tricks on me.
I tried to do this in a loop and in the poscars for the looped jobs, I saw that the origin is free and the other atom is fixed.
Sorry for the long code. Did I mess up something?

[code]
pasting the POSCAR of one of the looped jobs

[code]

[2020-08-27 15:55] sudarsan-surendralal commented on #910
We only recently moved to the new `Atoms` class based on ASE and we might encounter such issues. For now, the simplest "pyironic" way to fix atoms is

[code]

[2020-08-27 15:58] jan-janssen commented on #910
But the ASE part was working before.

[2020-08-27 15:59] jan-janssen commented on #910
https://github.com/pyiron/pyiron-meeting-mpie/blob/master/meetings/2018-03-01-pyiron-meeting/jan-janssen/FeC-octahedral-sites.ipynb

[2020-08-27 16:02] sravankumarkb commented on #910
Yep, this is working!

[2020-08-27 17:22] #910 closed

[2020-08-27 18:07] pmrv commented on #857
I just realized that this will also have some backwards compatibility issues and I want solid tests and also de-cob some of the function serialization logic.  I'm sure it should just work same as the user function, but since I'm on vacation next week, I put this on my list and will close this until I'm back.

[2020-08-27 18:07] #857 closed

[2020-08-27 19:23] sravankumarkb opened #913 "What if I want to change the folder name or move the notebook to a different folder"
Hi all,

I have been wondering about this for a while and don't know how to do this yet.
What if I want to change the folder name or move the notebook to a different folder?
I looked into previous issues but could not find anything that directly answers this.

Any help is greatly appreciated. Thanks.

I tried this by copying a notebook folder into a different folder and tried running it, but when

[2020-08-27 20:18] jan-janssen commented on #913
For pyiron to be able to track your changes it is important that you do not manipulate the filesystem outside of pyiron. For moving and copying we have https://github.com/pyiron/pyiron-meeting-mpie/blob/master/handbook/6-file-and-job-management/6-3-rename-move-copy/project.ipynb but I have to admit I have not tested those for a while. The majority of the current user base is involved in method dev

[2020-08-27 20:32] sravankumarkb commented on #913
Thanks Jan. I will try it out and get back to you if there are any issues.

I think changing the folder names and moving the folders would be somewhat common especially in the beginning of a project. Because I realize whatever I have been doing should be a sub-folder in a major folder. As I keep doing more calcs and get more into the project the file structure will become more clear.

Moving the m

[2020-08-28 07:16] sravankumarkb opened #914 "loading project from path"
I am trying to load project from a different folder. It works when I do the following.

[code]

However, when I tried the following, I got an error. Ideally, I would like to give the full address without having to count how many folders I have to go back. Please let me know if there is a way to do this. Thank you.

[code]
Error
[code]

[2020-08-28 07:21] jan-janssen commented on #914
The file system on CMTI is a bit different the absolute path is defined as:
[code]
rather than
[code]

[2020-08-28 07:21] sudarsan-surendralal commented on #914
Use `'/cmmc/u/skanchar/pyiron/projects/research/Mg_bulk/encut_kpts_loop/Encut_kpts_variation'`

[2020-08-28 07:40] #914 closed

[2020-08-28 07:43] jan-janssen commented on #914
@sravankumarkb Maybe you have a suggestion how to make the current error message a bit more intuitive?
[code]

[2020-08-28 07:51] sravankumarkb commented on #914
Thanks, Jan for asking.
I got the address by doing 'pwd'
Maybe we can say in the error that the address should be '/cmmc'+str(pwd) and throw in an example perhaps?

Eg: pwd = /u/skanchar/pyiron/project/example_project
address = '/cmmc'+str(pwd) = /cmmc/u/skanchar/pyiron/project/example_project

Unless you think it will be too long of error with the example, I think example makes it straight forwar

[2020-08-28 08:02] sravankumarkb commented on #914
Sorry, I realised instead of pwd it should be address of the project we are loading in the example. I see that pwd can be confusing for the user, as the user might just add the address of the directory current project is in and not the project the user wants to load.

[2020-08-28 08:12] jan-janssen commented on #914
If you do the same in python it returns the right path:
[code]

[2020-08-28 08:16] sravankumarkb commented on #914
Thanks @jan-janssen . this command is useful. Maybe the error can ask the user to run that command to give the address to the path variable.
One of the main things with all these errors/issues is once you know what the problem is, the solution looks simple. That might not be the case for new users!

[2020-08-28 12:04] mostafajoulaian opened #915 "get final structure"
My calculation was not converged, and I was assuming it was
<img width="915" alt="Screenshot 2020-08-28 at 16 33 35" src="https://user-images.githubusercontent.com/62750893/91558906-5b7e1f80-e94c-11ea-976d-6e00adb2fbb6.png">
 run out of time. Before runt it ageing I wanted to look at the final structure but unfortunately, I can not would you please let me know what should I do. I already put
"Job_

[2020-08-28 12:31] jan-janssen commented on #915
First it is a function so you can call it with:
[code]
or better just:
[code]
In addition what is the status of your job:
[code]
In case it is aborted set it to collect and run the job again to parse the output:
[code]
Afterwards you should be able to plot the final structure or at least get more output what exactly fails.

[2020-08-28 12:42] mostafajoulaian commented on #915
thanks

[2020-08-28 15:28] sravankumarkb opened #916 "Issue with decimals in VASP incar generated by pyiron"
Hi all,
I tried specifying the force criterion to 1e-4 in my VASP calc using the ionic_force_tolerance tag. But the EDIFFG of the INCAR is 0.001 instead of 0.0001!
It is off by one decimal. Is the same happening with the EDIFF as well? Thanks.
[code]
[code]

[2020-08-28 15:31] sravankumarkb commented on #916
I guess the EDIFF is okay, but the EDIFFG is not. Here is what I have upon doing

[code]

[code]

[2020-08-28 15:38] sravankumarkb commented on #916
Am I better off doing the following?

[code]
[code]

[2020-08-28 17:06] sravankumarkb commented on #916
One still has to be careful, because just setting the 'EDIFFG' tag is not sufficient to do a relaxation as the default 'NSW' is 0 in VASP. So, I think the following is what one has to do to be able to run the relaxation with the correct EDIFFG.
Even though I found a solution, I am keeping this issue open as the job.calc_minimize(ionic_force_tolerance=1e-4) setting could be fixed/clarified to me. T

[2020-08-28 17:06] sudarsan-surendralal commented on #916
This is definitely a bug. Temporarily (while we fix this) you can call `set_convergence_precision` after `calc_minimize` and then you are done.

[code]

[2020-08-28 17:10] sravankumarkb commented on #916
Thanks @sudarsan-surendralal
You can close this issue once it gets fixed. Have a good weekend.

[2020-08-28 21:02] #916 closed

[2020-08-29 02:35] sravankumarkb commented on #913
So, I fiddled around with the pr.copy_to() function in a sample notebook a little.
I came across a couple of issues. I have added a notebook demonstrating these issues to the meeting folder. It would be great if you can have a look. Thanks.

[https://github.com/pyiron/pyiron-meeting/blob/master/2020-09-04/original.ipynb](url)

[2020-08-29 05:31] jan-janssen commented on #913
Please start by executing the example I send above and confirm it is working or not.

[2020-08-29 06:52] jan-janssen commented on #907
Can you check if it is better now?

[2020-08-29 06:56] samwaseda commented on #907
Not really...

[2020-08-29 07:08] samwaseda commented on #907
Although I realised yesterday that sometimes it takes 20 seconds, other times it takes 2 seconds and so on. It follows the same tendency right now as well.

[2020-08-29 07:10] jan-janssen commented on #907
So to me it really seems to be storage related - I guess we should as Christoph in the CM meeting. Or did you contact him already?

[2020-08-29 07:26] samwaseda commented on #907
ok if it's a cluster problem, I'm less concerned. I thought it was a more systematic problem inside pyiron that we should fix quickly before it gets entangled in the code. I'll write to him now anyway.

[2020-08-31 09:39] sravankumarkb commented on #913
So, I executed the example you sent above. The job_table command after the

[code]
prints the same entries as in the example notebook
[code]
![Capture_2](https://user-images.githubusercontent.com/53989475/91706308-82239c80-eb7e-11ea-9f1d-00954341482e.PNG)

However, when I execute the job_table command after
[code]
I get more entries in the job table
[code]
![Capture](https://user-images.githubuser

[2020-08-31 09:41] jan-janssen commented on #913
Please use https://github.com/pyiron/pyiron/pull/919

[2020-08-31 14:28] sravankumarkb commented on #913
My issue is resolved after using the branch @jan-janssen suggested. Can I close this issue?

[2020-08-31 14:28] #913 closed

[2020-08-31 17:08] sravankumarkb opened #924 "converting an ase structure into a pyiron structure"
Good evening all,

I am trying to create an Al2O3 bulk structure. It is fairly complicated and its structure is not in one of the available crystal structures in the "create_ase_bulk" function in pyiron.
Crystal structures offered in pyiron
[code]
It is not straight forward in ase as well. But, I was able to create the structure using the "crystal" function in "ase.spacegroup" class.

[code]
The P

[2020-08-31 17:28] jan-janssen commented on #924
[code]

[2020-08-31 17:43] jan-janssen commented on #924
@sravankumarkb If the issue is solved please close the ticket, that helps us to keep an overview.

[2020-08-31 17:44] sravankumarkb commented on #924
Can you give me maybe 30 minutes? I want to run a job to see if everything is okay. Thanks.

[2020-08-31 18:17] sravankumarkb commented on #924
Everything looks good. Thanks @jan-janssen

[2020-08-31 18:17] #924 closed

[2020-08-31 22:38] sravankumarkb opened #925 "Error with calc_minimize"
Hi,
When I tried to do an optimization using the calc_minimize() function,  I came across the following error. It would be great if you can take a look. Thanks.
Both
[code]
[code]
result in the below error
[code]

[2020-09-01 06:59] sudarsan-surendralal commented on #925
Yes this is a bug due to recent changes! Can you try with this branch https://github.com/pyiron/pyiron/tree/fix_vasp_calc?

[2020-09-01 09:04] sravankumarkb opened #927 "Question about time limit of queues on cmti"
Hi all,

When I do

[code]
[code]
Is the run_time_max in seconds or hours? I am guessing in seconds. 😆

I am wondering what the default run_time_max is if I don't specify it explicitly.
If I want to set a run_time_max manually, do I just do the following? Thanks.

[code]

PS: I don't recall the announcement being made in the CM meeting as discussed in the pyiron meeting on Friday. The announcement

[2020-09-01 09:08] jan-janssen commented on #927
It is in seconds now - it was changed yesterday and I forgot to update the limits - it is fixed now https://github.com/pyiron/pyiron-resources-mpie/commit/bfc454c95aff63120e28db443469c009c63fa7bf

Can you try again?

[2020-09-01 09:19] #925 closed

[2020-09-01 09:36] sravankumarkb commented on #927
Thanks @jan-janssen
The time limit is now back to 4 days. What if I want to change my timelimit though?

[2020-09-01 09:46] jan-janssen commented on #927
[code]

[2020-09-01 09:50] #927 closed

[2020-09-01 15:03] sravankumarkb opened #929 "No need to specify number of nodes?"
Hi all,
I am wondering if I there is no need to specify the number of nodes.
Upon doing

[code]
I see that each node has 20 cores. Upon doing,
[code]
![Capture](https://user-images.githubusercontent.com/53989475/91867862-60a4dc80-ec74-11ea-966b-bfc9e823e602.PNG)

I see that the max cores are more than 20. So, I am guessing whenever I specify the number of cores, the pyiron code figures out the num

[2020-09-01 16:14] sravankumarkb opened #930 "substituting atoms in pyiron"
Hi all,

I am trying to substitute a Mg atom with an Al atom.

I tried the following

[code]

[code]
![Capture](https://user-images.githubusercontent.com/53989475/91876691-4cb1a880-ec7d-11ea-9743-4ec7127d50f9.PNG)

Clearly, only the symbols list is getting updated and not the actual atoms as can be seen from both the pic and the printed array. I checked the POSCAR as well, both atoms have not chan

[2020-09-01 20:06] jan-janssen commented on #929
Yes, pyiron is designed to simplify the process for the user so we calculate the number of nodes for you.

[2020-09-01 20:06] jan-janssen commented on #907
Any update on this? @samwaseda @sudarsan-surendralal

[2020-09-01 20:27] samwaseda commented on #907
I guess we can close this one. I don't think there's something systematic going on inside pyiron.

[2020-09-01 20:27] #907 closed

[2020-09-02 05:48] mostafajoulaian opened #931 "how to change the energy convergence criteria "SPHInX""
I need to change the energy convergence criteria for SPHInX via pyiron from the default value.
does anyone know how should I do it?

[2020-09-02 06:26] jan-janssen commented on #931
[code]
https://github.com/pyiron/pyiron/blob/master/pyiron/sphinx/base.py#L942
A similar question was recently discussed in https://github.com/pyiron/pyiron/issues/925

[2020-09-02 14:49] jan-janssen commented on #931
@mostafajoulaian Does this solve your issue? and if the issue was solved please close it.

[2020-09-02 20:41] mostafajoulaian commented on #931
Thanks million

[2020-09-03 02:21] #929 closed

[2020-09-03 08:17] jan-janssen opened #932 "Sphinx 2.7.0"
Christoph just released Sphinx 2.7.0 - Does anybody know if we have to adjust the Sphinx parser for this one?

[2020-09-03 09:11] jan-janssen commented on #793
@sravankumarkb and @mostafajoulaian did a great job recently asking a lot of questions here on Github. Some related to bugs in pyiron and others mainly for clarification. I guess we can use these questions as a starting point to update the documentation:

- how to change the energy convergence criteria "SPHInX" - https://github.com/pyiron/pyiron/issues/931
- No need to specify number of nodes? - h

[2020-09-03 09:47] jan-janssen commented on #932
I have trouble compiling the JSON parser for Sphinx https://github.com/conda-forge/sphinxdft-feedstock/pull/20 - maybe one of you @samwaseda or @ashtonmv can help?

[2020-09-03 11:22] sravankumarkb commented on #793
Thanks @jan-janssen for noticing! 😆

Can I suggest adding more examples and updating the current examples on the website?

The current examples are nice and there are lots of cool functions that new users can pick up from the examples.
But, for some layman/lazy users (like me!), they could be even further simplified and spoon-fed. Haha

For example,
[https://wiki.fysik.dtu.dk/ase/python.html](url)

[2020-09-03 12:35] liamhuber opened #935 "Ugly Lammps architecture"
So I was putting together a demo notebook for the website to couple to a recent paper, as discussed at the last developer meeting.

When I went to run a VC-SGC (i.e. MD/MC) Lammps calculation, I got a strange error that my `pressure` argument wasn't iterable.

Digging into it, it didn't take long to figure out that this is because every Lammps `calc_X` method (except `calc_static`) not needs the l

[2020-09-03 14:56] jan-janssen commented on #932
I was able to fix the compilation by adding `-D__STDC_FORMAT_MACROS` .

[2020-09-03 15:48] mostafajoulaian commented on #931
I look at the code and I noticed we have {ionic_energy_tolerance=None, ionic_force_tolerance=None, ionic_energy=None, electronic_energy=None, ionic_forces=None} as inputs:

https://github.com/pyiron/pyiron/blob/master/pyiron/sphinx/base.py#L942

however in the calculation, I want to set number for
"electronic_energy_tolerance" but in the code, I got an error such as :
{set_convergence_precision()

[2020-09-03 16:08] sudarsan-surendralal commented on #931
It seems that this pyiron version on the cluster isn't updated to include the newly introduced `ionic_force_tolerance` parameter. @mostafajoulaian, temporarily you can use the parameter `ionic_energy` to set the same thing (don't set the other parameters).

@jan-janssen should we update the cluster verion already?

[2020-09-03 16:14] jan-janssen commented on #931
@sudarsan-surendralal That is what I want to discuss in tomorrows meeting. On the cluster we run the conda version, so we have to decide if we update the conda version to 0.3.0. It would include the switch to ASE and the updates to the Sphinx class.

[2020-09-03 20:33] #932 closed

[2020-09-04 04:46] jan-janssen commented on #935
I agree that the LAMMPS parser could be updated. Based on the recent success of deriving our Atoms class from the ASE atoms class I would even think about deriving our parser from the pymatgen LAMMPS parser:
https://github.com/materialsproject/pymatgen/tree/master/pymatgen/io/lammps
I have not tested the pymatgen LAMMPS parser but given the performance of their VASP parser I believe it might be wo

[2020-09-04 07:02] liamhuber commented on #935
Nice insight! I also have never looked at their parser, but I was super impressed with how the pivot to inherit directly from ASE Atoms went and would be keen to see that success repeated.

[2020-09-06 15:38] jan-janssen opened #939 "pyiron 0.3.0"
pyiron version 0.3.0 is released, this includes the latest changes of the current master branch:

- The atoms class is now derived from the ASE atoms class.
- Remote HPC clusters without a local database can be accessed via SSH.
- SPHInX is the first simulation code to use the newly introduced InputList class which superseeds the GenericParameters class and adds support for hierarchical input stru

[2020-09-06 15:39] jan-janssen commented on #795
I released 3.0 - announcement https://github.com/pyiron/pyiron/issues/939 - it includes all the changes of the current master branch.

[2020-09-06 15:40] jan-janssen commented on #931
I released 3.0 - announcement https://github.com/pyiron/pyiron/issues/939 - it includes all the changes of the current master branch.

[2020-09-06 17:12] mostafajoulaian commented on #931
thanks a lot.

[2020-09-06 17:12] #931 closed

[2020-09-06 18:32] mostafajoulaian opened #940 "Using more core for faster calculation"
I know using more cores doesn’t always mean a faster calculation - it’s all about efficiency. I guess SPHInX can only parallelize over k-points, and in my case, I  only have 13 irreducible points in the reciprocal cell. So for my calculation, 13 is the best I can do. but I still have a question which do I have any choice to have a faster calculation? right now it takes almost 7 days:
here is piece

[2020-09-06 18:41] sudarsan-surendralal opened #942 "numpy DeprecationWarning: Creating an ndarray from ragged nested sequences"
The latest numpy raises annoying `VisibleDeprecationWarning` when you create an array from a list of lists with unequal sizes. This happens a lot with out `Neighbors` class

[2020-09-07 08:14] ashtonmv commented on #940
Hi @mostafajoulaian, without seeing the rest of the notebook this is a tough question to answer.

There are several ways to speed up a DFT calculation, but not all of them are always a good idea. One possibility would be to fix the coordinates of more atoms in your cell. In pyiron this could look like the following:
[code]

To visualize which atoms have been fixed in pyiron, try this. Blue atoms w

[2020-09-07 08:46] pmrv commented on #939
Does that mean we want to add an additional step in backwards compatibility testings to include 0.2.17?

[2020-09-07 09:35] jan-janssen commented on #939
I guess 0.3.X is mainly used in the transition to 1.X so testing with 0.2.17 should be sufficient.

[2020-09-07 11:04] samwaseda commented on #942
When does it happen? When you set `cutoff_radius`?

[2020-09-07 11:12] jan-janssen opened #944 "VASP output positions - CONTCAR vs. OUTCAR"
Following the same discussion as in https://github.com/pyiron/pyiron/issues/894 I noticed that the CONTCAR includes high precision results for the output positions compared to the OUTCAR. So in particular for high precision calculations but also for fitting machine learning potentials these limitations can cause issues.

[2020-09-07 15:48] liamhuber commented on #940
Good question. Like @ashtonmv, I agree it's hard to give specifics without seeing the actual notebook.

Is your calculation making multiple ionic steps, e.g. in a structure minimization? One "cheat" you can do in this case is to "pre-minimize" your structure, either with a known analytic displacement field, or -- if available -- a decent EAM potential. (In the second case, be sure not to relax cel

[2020-09-07 20:22] sudarsan-surendralal commented on #942
This happens when the atoms have an unequal number of neighbors within the specified cutoff (you can't reproduce this in bulk metals). Example:

[code]

[2020-09-07 20:22] mostafajoulaian commented on #940
@ashtonmv thank you for your suggestion I will do it.
@liamhuber yes exactly in my calculation I do multiple ionic steps. I want to give a shot to pre-minimize my structure and see does it effective or not.

[2020-09-07 20:22] #940 closed

[2020-09-07 20:32] samwaseda commented on #942
Okay that's what I was expecting. In my opinion, `cutoff` should not be used at all, or at least issues warnings (which is what happens currently), not only because the number of neighbours is not the same, but also because internally what counts is the number of neighbours for the tree algorithm. This means by setting the cutoff, in the best case we're losing information, and in the worst case th

[2020-09-07 20:37] sravankumarkb opened #946 "writing data from "not converged" jobs into project table"
Hi all,

Is there a way to write the data from "not converged" jobs in the project table?
I see that some of the jobs are "not converged" upon doing pr.job_table() after the execution of all jobs finishes.
However, when I update the project table, only the data from finished jobs gets written in the project table.

Thanks.

[2020-09-08 00:42] sravankumarkb opened #947 "Issue with running pyiron"
Hi all,

I am not sure what the cause is, but I am not being able to run even simple cells in pyiron, it takes forever on jupyter lab and I just see the "*" symbol next to the cell.

When I tried to run the notebooks on jupyter notebook, I see the following kernel error. Usually, it runs with the number of notebooks I have running right now. Any help is greatly appreciated, thanks.

[code]

[2020-09-08 00:44] sravankumarkb commented on #947
I faced this temporarily for about five minutes. But, it is working now.

[2020-09-08 00:44] #947 closed

[2020-09-08 05:46] jan-janssen commented on #946
[code]

[2020-09-08 08:01] sudarsan-surendralal commented on #942
Not sure if I agree. The `ckdtree` algorithm can have both number of neighbors and cutoff distance as input (https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.cKDTree.query.html) and as far as I see, there doesn't seem to be much of a difference wrt. efficiency (maybe I'm wrong). I don't think we lose any information from using `cutoff`. Besides, searching for neighbors based on c

[2020-09-08 08:23] samwaseda commented on #942
Okay maybe there's a way for scipy to make it more efficient. But still I think a warning should be there, because the behaviour changes dramatically depending on whether it's numpy or list. Here's my suggestion: How about removing the conversion to numpy in `Neighbors`, which basically means `Neighbors` should become an object container and look like:

[code]

And do instead in `get_neighbors`:

[2020-09-08 09:28] pmrv commented on #942
Only difference I'd make is using [named tuples](https://docs.python.org/3/library/collections.html?highlight=namedtuple#collections.namedtuple).

[2020-09-08 09:35] sudarsan-surendralal commented on #942
Okay I agree but we still need to add `warnings.filter("always", np.VisibleDepreciationWarning)` to make sure that this particular warning is raised.

[2020-09-08 13:30] jan-janssen opened #950 "VASP import - working directory not stored"
[code]

On my local system the result is:
[code]
But it should be:
[code]
Basically we loose the location of the output files.

[2020-09-08 14:59] sravankumarkb commented on #946
Thanks @jan-janssen
It works, but I think there is a trick, when I tried to use it as it is, it did not work.
But when I did
[code]
Then it worked. Anyways, I thought I would leave this as a comment in case someone in the future wants to do this. Thanks.

[2020-09-08 14:59] #946 closed

[2020-09-08 15:32] #939 closed

[2020-09-08 20:00] #950 closed

[2020-09-08 20:03] jan-janssen commented on #935
@liamhuber Can we somehow take action on this issue? Otherwise I would like to close it for now until we find somebody can spend some time on it. Or we could add it to the open issues towards 1.0 https://github.com/pyiron/pyiron/issues/795 . I just try to keep the issues somewhat limited to things we can address more or less quickly.

[2020-09-08 20:06] jan-janssen commented on #822
I guess the translating back part is dangerous, but if I remember correctly we had the same discussion some time ago. At the time we decided to fail early rather than writing a lot of complicated code - following the zen of python.

[2020-09-08 20:06] #822 closed

[2020-09-08 20:07] jan-janssen commented on #906
I guess this is a major transition, so I add it to possible topics for version 1.0.0 https://github.com/pyiron/pyiron/issues/795

[2020-09-08 20:07] #906 closed

[2020-09-08 20:09] jan-janssen commented on #944
@sudarsan-surendralal Can you take a look at this?

[2020-09-09 06:32] samwaseda opened #951 "Warning when atoms are added"
I have an Fe structure to which I'd like to add one C atom:

[code]

Here, since `create_atoms` has an undefined cell (i.e. [0, 0, 0]), pyiron complains, because of the incompatibility of cell sizes, which is something we added recently. But in this case I find it not only bothering, but also potentially confusing, because adding atoms at least for me doesn't have a notion of cell.

My suggestion:

[2020-09-09 07:36] sudarsan-surendralal commented on #951
This warning was included on request so I'm okay with changing it. But the resulting cell depends on the order of addition. This info is not communicated to the user if we suppress warnings. The below code will give a different structure

[code]

You mean if the second structure has no defined cell? Not sure if PBC makes sense in that case though.

[2020-09-09 08:13] samwaseda commented on #951
Changing order not only changes the structure, but it's also semantically wrong (i.e. "adding an atom to a structure" makes sense but "adding a structure to an atom" doesn't).

Without PBC it's possible that the user specifically didn't want to define a cell, which would make sense in LAMMPS, in which case there's basically no notion of "cell", but I don't know if it's allowed in pyiron.

[2020-09-09 11:35] sudarsan-surendralal commented on #951
I tend to agree with you but I'm pretty certain this warning was requested by other users. Let's discuss this in the pyiron meeting.

[2020-09-09 11:48] sudarsan-surendralal opened #953 "Reducing size of static test files"
Some of the files we have in `tests/static` are quite large and we could benefit from reducing their size. Some of these files are from simulation outputs, so we could repeat such simulations such that only modestly sized outputs are generated while retaining the complexity of the type of simulation.

[2020-09-09 11:59] sudarsan-surendralal commented on #944
I checked this. Such precision is only available in the CONTCAR files (not XDATCAR or vasprun.xml). So such precision in the positions will only be available for the final structure and not for the rest of the ionic steps. We can then store this structure in `output/structure`. Is this okay?

[2020-09-09 12:16] jan-janssen commented on #944
That would be great - I guess it really only affects a few of us, mainly those who do high-precision calculation and those who want to fit machine learning potentials.

[2020-09-09 12:20] jan-janssen commented on #795
I moved ahead and split pyiron and pyiron_base - https://github.com/pyiron/pyiron/pull/952

[2020-09-09 21:04] #944 closed

[2020-09-10 07:55] liamhuber commented on #935
Yes, we can close it. I wish there was an "archive issue" option as it's really not resolved, but I'm fine with using the issues as an immediate action list.

[2020-09-10 07:55] #935 closed

[2020-09-10 08:30] samwaseda commented on #953
I guess SPHInX files are not particularly large, but do you have specific files in mind?

[2020-09-11 05:59] sudarsan-surendralal commented on #953
I think Sphinx files are fine. The vasp test files (especially those in `tests/static/vasp_test_files`) on the other hand are huge.

[2020-09-11 19:52] liamhuber opened #963 "Confirming queue is None throws error"
`job.server.queue` is `None` by default, but creating a job and setting `job.server.queue = None` throws a `KeyError`. Setting a value to whatever it already is should not throw an error.

Stack trace:
[code]

[2020-09-14 09:23] ibrsam opened #967 "500 : Internal Server Error"
Notebooks do not open and I get an error message "500 : Internal Server Error"

[2020-09-14 09:24] sudarsan-surendralal commented on #967
I too am facing the same problem

[2020-09-14 10:30] jan-janssen commented on #967
We had a user with extended permissions writing directly to the conda environment which broke the environment when I updated to the latest pyiron version. I contacted the user to fix this and implemented a workaround for the meantime. Everything should be back to normal now. Can you confirm this?

[2020-09-14 10:32] liamhuber commented on #967
It is still not working for me.

I have my own pyiron repos in my python path ahead of the default locations, and I haven't yet pulled in the pyiron-vs-pyiron_base split --- Do I still already need to do this?

[2020-09-14 10:34] jan-janssen commented on #967
Have you tried restarting your jupyter server?

[2020-09-14 10:35] ibrsam commented on #967
I pulled pyiron_base and restarted the server, but it still not working.

[2020-09-14 10:36] jan-janssen commented on #967
@ibrsam You try to modify a file in the conda directory, is this required?
[code]

[2020-09-14 10:37] liamhuber commented on #967
Restarted the server, still getting the problem.

To verify: is it OK to *not* have my own pyiron_base repo, as long as my pyiron repo head is back before the split?

[2020-09-14 10:39] jan-janssen commented on #967
@liamhuber Sure, the python path is not effected - I have the feeling it is more related to user storing jupyter themes in the central conda installation

[2020-09-14 10:41] ibrsam commented on #967
No, I did not try to modify anything in the conda envirnment. I am using x-forwarding to get access to my notebooks.

[2020-09-14 10:55] liamhuber commented on #967
Ok, thanks for the confirmation!

I have to confess, it is not clear to me what is the source of my own jupyterthemes. In `.../lhuber/.jupyter` I set up the theme chesterish. Do I need to deactivate this or something to get my notebooks opening again?

Can anyone this yet? @sudarsan-surendralal?

[2020-09-14 11:15] sudarsan-surendralal commented on #967
I can confirm that it's working now! Thanks @jan-janssen for the fix!

[2020-09-14 11:16] ibrsam commented on #967
It is working for me as well! Thanks @jan-janssen!

[2020-09-14 11:20] sudarsan-surendralal commented on #967
Re-opening this before we confirm that this works for others as well (eg. @liamhuber).

Could this happen if any users accidentally invokes conda commands in the cluster?

[2020-09-14 11:22] liamhuber commented on #967
Also for me, so updating to the post-split environment was indeed not necessary.

Thanks for the fast fix, @jan-janssen!

[2020-09-14 11:22] liamhuber commented on #967
@sudarsan-surendralal Thanks for the re-open 😉 I was already drafting my confirmation post 😄

[2020-09-14 11:26] ibrsam commented on #967
Sorry if I closed the issue fast! I should have waited for more time :))

[2020-09-14 11:30] #967 closed

[2020-09-15 09:16] SanderBorgmans commented on #593
@jan-janssen I am looking into this at the moment. So for this to work, the cubegen.sh script should go into the resources folder, but how does bash know where to find the cubegen.sh?

[2020-09-15 09:21] jan-janssen commented on #593
You can use the resource paths:
[code]

[2020-09-17 07:44] samwaseda opened #969 "IndexError after appending to another structure"
I was implementing [this](https://github.com/pyiron/pyiron/issues/951) and realized that the following lines return an `IndexError`:

[code]

It looks likes an ASE problem but maybe there's someone (aka @sudarsan-surendralal) who knows how to fix it on the pyiron side?

[2020-09-17 07:56] sudarsan-surendralal commented on #969
This works fine for me. Can't debug this unless I know what you changed in the source code

[2020-09-17 08:00] samwaseda commented on #969
I'm using master...

[2020-09-17 08:03] sudarsan-surendralal commented on #969
Somehow the indices are wrong `print(C.indices)` does not make sense!

[2020-09-17 08:14] sudarsan-surendralal commented on #969
@samwaseda, it should work with the branch in the linked PR. The problem was that we were modifying the numpy array which was a pointer to the original array and not a copy

[2020-09-17 09:52] #969 closed

[2020-09-17 14:25] #951 closed

[2020-09-17 15:43] yury-lysogorskiy opened #973 ""job name {0} in this project is not unique" error"
I have the following code to submit the batch of Phonopy calculations with different volume:
[code]
Calculations are submitted in the same project `pr2` but with unique master job names `subjob_name`
After long-running `ref_job` is finished successufully, I got the following error stack trace:
[code]
Why having different unique master job names is not enough ? Isn't `PhonopyJob._get_jobs_sorted()`

[2020-09-17 15:47] jan-janssen commented on #973
Please update to pyiron 0.3.X - 0.2.10 is a bit outdated and most likely the issue was already fixed.

[2020-09-17 16:13] yury-lysogorskiy commented on #973
Ok, thanks!
Then another question: how to "register" new job types? Before that was `JOB_CLASS_DICT` in `pyiron.base.job.jobtype`. And  in ver 0.3.x?

[2020-09-17 16:15] jan-janssen commented on #973
it slightly changed:
[code]
the rest is the same.

[2020-09-17 16:15] jan-janssen commented on #973
In addition you might also need https://github.com/pyiron/pyiron_base/pull/17

[2020-09-17 16:19] yury-lysogorskiy commented on #973
In my custom pyiron job FHIaims module, should I import JOB_CLASS_DICT and add new entry into that dict?

[2020-09-17 16:27] jan-janssen commented on #973
We typically do it in the init file:
https://github.com/pyiron/pyiron/blob/master/pyiron/__init__.py

[2020-09-19 21:02] hari-ushankar opened #979 "pyiron vasp interactive job -- Broken Pipe error"
Hi,

I'm trying to run a vasp interactive job (as a part of ProtocolQMMM ).

I'm running pyiron-0.2.17 and pyiron_contrib with git head:384d63d9e664e40c5ee76293ec8b0dd57073c1c6

To test, I have tried running a regular vasp and an interactive job using the command line on the cluster. The regular vasp job works and exits fine. But the interactive job gets stuck at ```POSITIONS: reading from stdin``

[2020-09-19 21:06] jan-janssen commented on #979
Which version of VASP are you using? For 5.4.1 it works out of the box, for 5.4.4 you need the following patch:
[code]

[2020-09-19 21:17] jan-janssen commented on #979
The quickest check is just run a simple example like:
[code]

If this part works with your VASP version the executable is fine and it is more likely related to the QM/MM part.

[2020-09-19 21:27] hari-ushankar commented on #979
Hi,

I'm using 5.4.1 version and running your example job, gives me an IndexError

[code]

[2020-09-19 21:31] jan-janssen commented on #979
I just tested the code on my system with the patched version and I get the correct forces. So it seems to be related to your VASP version.
Can you check the executable script?
[code]
Just `cat` the output of the script on the terminal to make sure you are using the right executable.

[2020-09-19 21:44] hari-ushankar commented on #979
Yes, I have checked this.

the executable script is using the ```run_vasp_5.4.1_gam.sh```

This is the contents of the script and it is pointing to the right path.
[code]

Also, the exact version of vasp is vasp.5.4.1 05Feb16

[2020-09-19 21:51] jan-janssen commented on #979
Then I assume the patch I suggested above needs to be applied. Just search for the interactive section in the `main.F` of VASP and then enter the two lines added in the patch. Afterwards just recompile VASP and the interactive mode should be fix. Still it is maybe good to wait for @liamhuber to take a look at this, I assume he already build a VASP interactive version for UBC.

[2020-09-21 13:45] sravankumarkb opened #981 "reading cell"
Hi all,

I came across the following error in one of my jobs. Upon checking the "error.out", I understand that the calculation finished and I believe the error has to do with pyiron reading the OUTCAR from VASP. More specifically, due to the lack of space between the numbers in OUTCAR.

Error:
[code]
Part of my OUTCAR: (please have a look at the z direct lattice vector)
[code]
I think this problem

[2020-09-21 13:58] sudarsan-surendralal commented on #981
How does the POSCAR file look line?

[2020-09-21 14:00] sravankumarkb commented on #981
beginning of the POSCAR:

[code]

[2020-09-21 14:04] sravankumarkb commented on #981
If it helps, here is more verbose "error.out":

[code]

[2020-09-22 06:42] samwaseda opened #982 "phonopy.py creates jobs with always the same name"
https://github.com/pyiron/pyiron/blob/8e3e7678b50ceebd106bdd341e19d4990988f495/pyiron/atomistics/master/phonopy.py#L97

I created two phonopy jobs with different structures. These jobs have different names, but the child jobs are both called `supercell_phonon_0`, which makes it impossible to load by job name. Can I change it to something like `"supercell_{}_{}".format(self._job.job_name, ind)`?

[2020-09-22 06:43] liamhuber commented on #963
@samwaseda nice, that is definitely a way smellier colour 😝

[2020-09-22 06:44] liamhuber commented on #963
Fixed in [pyiron_base PR 16](https://github.com/pyiron/pyiron_base/pull/16)

[2020-09-22 06:44] #963 closed

[2020-09-22 06:49] liamhuber commented on #979
@hari-ushankar I could have sworn that we already got Ovi to apply this patch, but I can't find any record of it in my e-mails. I *did* find one where you said something to the effect of "Does this trace back to the 5.4.1 vs 5.4.4 issue?" So I know we must have talked about it a little at least.

- Do you have an already patched version, but now are using a different one? If so, why? Can you try a

[2020-09-22 07:16] jan-janssen commented on #979
Just seeing this - maybe the gamma point version of VASP is not patched, just the default one.

[2020-09-22 07:22] jan-janssen commented on #982
I like the idea. Another option would be using the name of the reference job as a prefix like it was originally planned: https://github.com/pyiron/pyiron_base/blob/master/pyiron_base/master/parallel.py#L930

[2020-09-22 07:24] samwaseda commented on #982
That's in fact what I ended up doing in the pull request :D

[2020-09-22 07:32] jan-janssen commented on #982
Can you also update the Murnaghan class? https://github.com/pyiron/pyiron/blob/master/pyiron/atomistics/master/murnaghan.py#L316

[2020-09-22 07:34] jan-janssen commented on #982
And the convergence masters https://github.com/pyiron/pyiron/blob/master/pyiron/dft/master/convergence_encut_parallel.py#L49 and https://github.com/pyiron/pyiron/blob/master/pyiron/dft/master/convergence_kpoint_parallel.py#L49

[2020-09-22 07:34] samwaseda opened #984 "Creating AtomisticExampleJob which acts more like a real job"
Just a thought.

Currently `AtomisticExampleJob` does not give anything meaningful - we get always the same energy, random forces etc. This class cannot be used when we want to test for example a new energy minimizer class. How about using instead Einstein crystal? In this case we only have to calculate the displacements from the ideal positions, which means we hardly waste computational power, bu

[2020-09-22 07:40] samwaseda commented on #982
ok

[2020-09-22 08:03] jan-janssen commented on #984
I like the idea. The example job was mainly implemented to test the code ParallelMaster and SerialMaster jobs at a time when we did not have the codes included in conda.

[2020-09-22 13:13] Leimeroth opened #986 "Inconsistent behavior in murnaghan jobs"
While fitting to imported data I got an error when fitting with fit_polynomial instead of fit_birch_murnaghan (or some other EOS).
I think the reason is that fit_polynomial attempts to get the final structure and write it to the resulting hdf5 file, which the other fitting methods don't do. Since my template murnaghan jobs do not have an assigned structure an assertion error is thrown.

IMO the fi

[2020-09-22 13:16] jan-janssen commented on #986
The Murnaghan job is designed to run the calculation, for fitting rather use https://github.com/pyiron/pyiron/blob/master/pyiron/atomistics/master/murnaghan.py#L323

[2020-09-22 19:09] #982 closed

[2020-09-22 20:52] samwaseda opened #988 "Why is this line necessary?"
https://github.com/pyiron/pyiron/blob/ad85c411629d7393033e5bed4a6ba522b5f56cef/pyiron/thermodynamics/hessian.py#L36

I guess it has to become `n_atom x 3 x n_atom x 3` but I don't understand why the user wants to set `n_atom x n_atom x 3 x 3` in the first place. Does it follow a certain format? With no example in sight it's difficult to understand the background of this class...

[2020-09-22 21:24] jan-janssen commented on #988
That is the output format of phonopy https://github.com/pyiron/pyiron-meeting-mpie/blob/2a9c7423d4cf68f8ede6c5460e0058fce0e14ac0/meetings/2020-02-21-pyiron-meeting/jan-janssen/thermoint.ipynb

[2020-09-22 21:38] samwaseda commented on #988
ok thanks

[2020-09-22 21:38] #988 closed

[2020-09-23 01:17] hari-ushankar commented on #979
Yes, I think @jan-janssen is right, I changed the path to use ```std.sh``` script (just the serial version) and the Aluminium conv cell force example notebook ran fine with a warning message: ```pyiron_log - WARNING - Unable to parse the vasprun.xml file. Will attempt to get data from OUTCAR```. I'm attaching the forces down below.

Also, I think the ```std_mpi.sh``` script works perfectly giving

[2020-09-23 10:15] Leimeroth commented on #986
That solves my fitting problem, but i would still say that the different fitting methods should write the same output to the hdf5 file where applicable.

[2020-09-23 10:20] jan-janssen commented on #986
There are many things which can be improved about pyiron and we are happy about everybody who contributes to improving it. So feel free to open a pull request to fix the issue. I just wanted to provide you with a quick solution to continue working.

[2020-09-23 14:16] #984 closed

[2020-09-24 09:47] Leimeroth opened #995 "Importing jobs with copy_raw_files=True"
Imported jobs have the import_directory as working_directory. I think this is completely fine if the raw files are not copied, but it leads to limited functionality for jobs that are copied completely. F.e. job.run(delete_existing_job=True) gives an directory not empty error.
If i set job._import_directory=None  manually, job.working_directory gives me the directory in which the files are copied r

[2020-09-24 09:51] sudarsan-surendralal commented on #981
Can you see if the calculation runs if you reduce the number of digits in the `POSCAR`?

PS: The cell setup seems a bit strange (do you really need 100A of vacuum?)

[2020-09-24 09:57] sravankumarkb commented on #981
Thanks @sudarsan-surendralal
Can you please let me know the code to reduce the number of digits in the POSCAR?

The 100A is not really vacuum, the number of layers is just too high and the vacuum is actually just 10A.

[2020-09-24 10:39] jan-janssen commented on #995
I do not understand this part either, because in the case the raw files are copied also the working directory should be updated to the right working directory https://github.com/pyiron/pyiron/blob/master/pyiron/project.py#L299 Can you maybe compile a short example which runs a pyiron calculation decompresses the working directory and then imports this directory? Such a setup would be self consiste

[2020-09-24 11:01] jan-janssen commented on #995
Can you try if https://github.com/pyiron/pyiron_base/pull/22 resolves this issue?

[2020-09-24 11:31] Leimeroth commented on #995
https://github.com/pyiron/pyiron/issues/995#issuecomment-698273582

I tried it with this notebook, does not seem to work.
[ReproduceImportBug.zip](https://github.com/pyiron/pyiron/files/5275609/ReproduceImportBug.zip)

[2020-09-24 12:10] jan-janssen commented on #995
Can you try this one https://github.com/pyiron/pyiron/pull/996 ? In addition to the previous one.

[2020-09-24 12:29] Leimeroth commented on #995
Not it works.

[2020-09-24 12:34] #995 closed

[2020-09-24 22:33] sudarsan-surendralal commented on #981
Can you try with this branch: https://github.com/pyiron/pyiron/tree/vasp_precision

[2020-09-25 11:03] #894 closed

[2020-09-26 16:57] #942 closed

[2020-09-28 10:48] sravankumarkb commented on #981
Just leaving the code here for switching to the vasp_precision branch as it did not show up when I did
[code]
Code to switch to the vasp_precision branch

[code]

[2020-09-28 11:15] lfzhu-phys opened #1006 "AttributeError: 'JobTypeChoice' object has no attribute 'ThermoIntDftEam'"
The JobType "ThermoIntDftEam" was working before. But now it complains as following:

"AttributeError: 'JobTypeChoice' object has no attribute 'ThermoIntDftEam'"

Maybe pyiron has been updated lately? Any suggestion for this?

Thank you very much in advance.

[2020-09-28 12:01] pmrv commented on #1006
`ThermoIntDftEam` is in pyiron_mpie.  It should only appear in `project.job_type` after you `import pyiron_mpie`.

[2020-09-28 12:41] lfzhu-phys commented on #1006
Thanks a lot for your answer. I tried "import pyiron_mpie", but it complained:
-----------
 "ModuleNotFoundError: No module named 'pyiron.base'"
------------
Does that mean I need to independently install pyiron_mpie on the cluster? Any tutorial for this? I am totally out with respect to this issue.

Thank you very much.

[2020-09-28 12:49] sudarsan-surendralal commented on #1006
Can you type the following lines:

[code]
I think you might be using an older version of `pyiron_mpie`.

[2020-09-28 12:51] pmrv commented on #1006
That seems to be related to the pyiron->pyiron,pyiron_base split. It sounds like you haven't updated pyiron_mpie for a while.

[2020-09-28 14:09] sravankumarkb commented on #981
Thank you @sudarsan-surendralal for helping me switch to the branch.

So I have switched to the vasp_precision branch with the commands in the above comment.  I stopped the server and launched the jupyter notebook server again.

Unfortunately I get the same error again. Should I change anything with the setup of the calcs after I switch to the vasp_precision branch? Thanks.

Error
[code]
This is h

[2020-09-28 20:26] Leimeroth opened #1007 "Error when assigning vasp pseudopotentials"
I found a rather irritating bug when assigning different pseudopotentias in vasp calculations. The example Notebook in which Ca and Al potentials are assigned works just fine, but I encountered Problems when trying the same with Zr.
For some totally unclear reason I can assign a different potential to Zr if I edit the potentials_vasp_pbe_default.csv file in resources/vasp/potentials to use "Zr" as

[2020-09-29 06:52] pmrv commented on #1006
@lfzhu-phys If you know where `pyiron_mpie` is installed in your user directory on the cluster, you can run `git pull` in this folder.

[2020-09-29 06:58] lfzhu-phys commented on #1006
@pmrv @sudarsan-surendralal  Thanks a lot for the hints:) I didn't do the update for rather long time.

Finally it works well now:) Thanks again:)

[2020-09-29 07:00] #1006 closed

[2020-09-29 08:29] sudarsan-surendralal commented on #981
That's bad. It looks like the Vasp output is the problem. We should quickly discuss this in the pyiron meeting!

[2020-09-29 08:44] sravankumarkb commented on #981
Yeah, I figured it has to do with reading the Vasp output.
Okay, I can show the notebook and the OUTCAR files in the pyiron meeting on Friday. The notebook is a little messy.
If you want, I can make a separate notebook just for this specific issue.
Let me know if I need to send an email to Sam about this issue or contribution. Thanks.

[2020-09-29 11:10] #1007 closed

[2020-09-29 11:47] sudarsan-surendralal commented on #981
Just put your contribution in this thread: https://github.com/orgs/pyiron/teams/pyiron/discussions/24?from_comment=1

[2020-09-29 11:52] liamhuber commented on #979
We'll continue to resolve the qmmm issue either by e-mail or as an issue on the pyiron_contrib repo, but I will close this issue with the conclusion "vasp executable sometimes needs to be patched to work in interactive mode".

[2020-09-29 11:52] #979 closed

[2020-09-29 19:17] niklassiemer commented on #981
Knowing how VASP is writing the OUTCAR (probably Fortran 13.10F) one could change the parser to split after max 13 characters, but this is not a nice or robust way to solve this.

[2020-09-30 08:36] pmrv commented on #981
Imho this is a VASP bug and we should report it to them as such.  Anyone has experience if they are responsive to these things at all?

[2020-09-30 12:49] samwaseda commented on #981
Shouldn't you guys first report this bug to Georg Kresse before talking about it at the pyiron meeting (since this is obviously a VASP problem)? I mean you're welcome to talk about it at the pyiron meeting as well, but it's unlikely that the discussion goes beyond "beware of this problem" and "who's gonna contact Georg Kresse?"

[2020-09-30 13:22] sudarsan-surendralal commented on #981
@sravankumarkb: Can you  try with the updated changes (`get fetch; git pull`). I've added an exception and now the cells will be parsed from the vasprun.xml file. Don't run the job again. Just type `job.collect_output()` and see.

[2020-09-30 22:38] samwaseda opened #1012 "Does dimension in Atoms matter?"
I just realised that some functions in `Atoms` actually check the dimension. Do we still support different dimensions than 3? If so, do we have active users who could test the functionalities?

I'll mention this one at the next pyiron meeting.

[2020-09-30 23:40] sudarsan-surendralal commented on #981
Since we now know this is a VASP problem, yes we should raise it with VASP developers. But since VASP is propreitery software, I think there are certain rules as to how to raise such specific issues with the developers rather than simply emailing Georg Kresse. For example, only users with registered VASP licences in their names are eligible for VASP support. Maybe by briefly mentioning this issue

[2020-10-01 08:09] sudarsan-surendralal commented on #1012
This is legacy code. I'm not sure if any of us users actually use it so please feel free to remove this.

[2020-10-01 09:19] #981 closed

[2020-10-01 09:31] sravankumarkb commented on #981
Here is the output of the

[code]

Output for a calculation that finished without an error
[code]
Output for a calculation that finished with an error
[code]

[2020-10-01 09:48] sudarsan-surendralal commented on #981
That's good. So if you run the job again, it should work!

[2020-10-01 09:51] sravankumarkb commented on #981
Thanks @sudarsan-surendralal

[2020-10-01 11:29] sravankumarkb commented on #981
So I have removed the aborted jobs and ran them again, it worked and I don't have the error anymore. Thanks @sudarsan-surendralal
Do I have to keep using the vasp_precision branch though to avoid this error?
Or can I revert back to the master branch?

[2020-10-01 11:49] sudarsan-surendralal commented on #981
yes you can change to the master branch. But remember to pull the latest changes.

[2020-10-01 13:38] yury-lysogorskiy opened #1016 "Full relaxation with LAMMPS for triclinic cell"
I want to do the full relaxation of triclinic cell (primitive FCC) with LAMMPS:
[code]
But I got the error:
[code]

How should I specify the `pressure` parameter in order to have **full relaxation**?

[2020-10-02 05:59] #1016 closed

[2020-10-02 09:50] pmrv opened #1020 "GPaw Error on website"
Running the first cell from the new website fails with an error that it cannot find the GPaw potentials.  I haven't used those so I'm unsure where to fix this.  MWE below.
[code]

[code]

[2020-10-02 10:25] jan-janssen commented on #1020
But this issue should not appear on mybinder. GPAW basically requires the `CONDA_PREFIX` to be set and `gnaw-data` conda package to be installed. `gpaw-data` is installed as dependency of `pyiron-data` which is installed as dependency of `pyiron` when pyiron is installed via conda.

[2020-10-02 11:47] pmrv commented on #1020
Ah, I just checked on the cluster.  I'm not sure if any of us uses GPAW in production.  Am checking on mybinder right now.

[2020-10-02 12:00] sudarsan-surendralal opened #1022 "List of bugs/feature requests for VASP developers"
The idea is to collect all issues and feature requests to be communicated to vasp developers here. Feel free to add them in this list

**Bugs**
- [ ] Cell outputs in the OUTCAR file (https://github.com/pyiron/pyiron/issues/981)

**Feature requests**

- [ ] More digits in vasprun.xml and OUTCAR for the energies and the positions/forces

[2020-10-02 12:16] pmrv commented on #1020
Works on mybinder.  The other cells run on the cluster so I assume they also run there.

[2020-10-02 12:16] #1020 closed

[2020-10-02 12:16] jan-janssen commented on #1020
Perfect - thanks a lot for testing/

[2020-10-02 14:55] samwaseda commented on #1012
So we came to the conclusion today at the meeting that we don't really support it, at least as long as there's no one who could make use of it.

[2020-10-02 14:55] #1012 closed

[2020-10-02 18:34] liamhuber opened #1025 "ElasticMatrixJob?"
@yury-lysogorskiy, @jan-janssen what is the status of [ElasticMatrixJob](https://github.com/pyiron/pyiron_mpie/blob/master/pyiron_mpie/interactive/elastic.py)? It is on the private MPIE repo, and Yury is listed as author (Jan as maintainer) -- but Yury doesn't even have access to this repo!

For the software taskforce I'm trying to put together a piece of code for giving concentration-dependent el

[2020-10-02 18:36] jan-janssen commented on #1025
I recently shared it here https://github.com/jan-janssen/lanl-pyiron/blob/master/elastic/elastic.ipynb

[2020-10-02 18:55] liamhuber commented on #1025
@jan-janssen great! :smile:

@yury-lysogorskiy, do you mind if we just move it over to [pyiron_contrib](https://github.com/pyiron/pyiron_contrib)? (It should probably stay out of pyiron/pyiron until there are unit tests.) Jan, that will be an easier place for me to import it from than your notebook 😉

[2020-10-03 07:41] samwaseda opened #1033 "Jobs from pyiron_mpie not shown"
I was trying to load `KMC` and realized that I don't have any of the jobs from `pyiron_mpie` in the list of job types. How can I make them appear again?

[2020-10-03 07:55] jan-janssen commented on #1033
https://github.com/pyiron/pyiron/issues/1006
Just
`import pyiron_mpie`

[2020-10-03 07:58] samwaseda commented on #1033
!!!! It's the third time that I'm posting the same question ... XD sorry

[2020-10-03 07:58] #1033 closed

[2020-10-03 10:15] yury-lysogorskiy commented on #1025
Aha! Here it is! And I was wondering where ElasticMatrix was, so I reimplemented it again in my [pyiron fork](https://github.com/yury-lysogorskiy/pyiron/blob/icams/atomic-properties/pyiron/atomistics/master/elasticmatrix.py)
So, which scenario would you suggest best for me to work on pyiron? Separate fork or some other repos?

[2020-10-03 12:20] jan-janssen commented on #1025
We currently work on structuring the pyiron development a bit more:

- pyiron_base for the core components, everything which is not atomistic - this should be stable and ideally covered by unit tests
- pyiron currently our stable atomistic code again we are working on the unit test coverage
- pyiron_contrib community developments these can be based on either pyiron_base or pyiron and are openly sh

[2020-10-03 12:53] JNmpi opened #1035 "The exchange correlation functional has to be set and it can either be "LDA" or "PBE""
When running the following code I get the above error:

[code]

[2020-10-03 13:02] JNmpi opened #1036 "reset pyiron table"
When running pyironTable twice the following warning correctly appears:

[code]

However, *delete_existing_job* does not exist in *create_table* command.

Code snippet:
[code]

[2020-10-03 13:27] liamhuber commented on #1025
Hi Yury! As Jan suggests, if you're willing to work on pyiron_contrib that would certainly be my preference.

I just pushed a [new branch](https://github.com/pyiron/pyiron_contrib/tree/elastic_constants) (still working on it, no PR yet) where you can [see the application](https://github.com/pyiron/pyiron_contrib/blob/elastic_constants/pyiron_contrib/atomistic/atomistics/master/sqselastic.py) I hav

[2020-10-03 13:37] jan-janssen commented on #1035
I guess there are no LDA potentials in the jth distribution Christoph compiled - only PBE.
https://github.com/pyiron/pyiron-resources/blob/master/sphinx/potentials/potentials_sphinx.csv

[2020-10-04 09:50] #1035 closed

[2020-10-04 09:50] #1036 closed

[2020-10-07 12:22] caglayanoaras opened #1041 "ThermoBulk class and its documentation"
Dear all,
I am calculating expansion coefficient, heat capacity and isothermal bulk modulus using different potentials and structures for my master thesis. While I was wandering in the repo, I have found [ThermoBulk class](https://github.com/pyiron/pyiron/blob/6b821416cd498d0bbc24f39b54acd03a48325ad1/pyiron/atomistics/thermodynamics/thermo_bulk.py) . I have 2 issues about that:

1. There are some

[2020-10-07 12:47] jan-janssen commented on #1041
Hi @caglayanoaras,
Welcome to the pyiron community, we are always happy to meet new users and in particular new contributors. I quickly added an example to explain the Thermobulk module:
https://github.com/pyiron/pyiron/blob/thermobulk/notebooks/Thermodynamics_QHA.ipynb
In addition we are working on a more extensive thermodynamics example to calculate phase diagrams using the quasi harmonic approx

[2020-10-08 12:18] pmrv commented on #1041
@caglayanoaras Feel free to open a PR with your notebook!

As for you wanting to calculate expansion coefficients & heat capacity, for now it's probably easiest to setup a number of jobs at different temperatures and compute the derivatives yourself with the help of [PyironTables](https://github.com/pyiron/pyiron/blob/master/notebooks/data_mining.ipynb).

[2020-10-09 07:57] jan-janssen commented on #1041
@caglayanoaras Can you give us some feedback if the suggestions helped you solve your problem? I just saw you in the pyiron meeting but I forgot to bring up this issue. By the way can you briefly tell me who you are working with, then I can also add you to the pyiron developer group.

[2020-10-09 08:20] caglayanoaras commented on #1041
@jan-janssen Thank you very much for your interest. I have no problem for now. My main advisor is Raynol. Liam and Tilmann are also involved. I will be happy to be in the group.

[2020-10-09 08:24] jan-janssen commented on #1041
Great you should have received the invitation via email and you can also access it via https://github.com/orgs/pyiron/invitation

[2020-10-09 08:24] #1041 closed

[2020-10-09 16:00] samwaseda opened #1047 "InputList impossible to read"
I raised this issue some time ago and I can't really remember how it ended, but compared to `GenericParameters`, which had a nice representation, `InputList` is very difficult to read. One way to make it more readable is to put `print(job.input.to_sphinx())`, but just to take a look at the content, it's too much work. Can we make it look better just with executing `job.input`?

[2020-10-09 16:13] pmrv commented on #1047
The problem is that the tree view is collapsed by default?  As of now the InputList uses the default way of how jupyter displays json, maybe there's an option to unfold the first few layers by default.  If not I could override __str__ with a [pretty printer](https://docs.python.org/3/library/pprint.html?highlight=pprint#module-pprint) as a quick fix.  I think mid- to long-term it'd be nice to have

[2020-10-09 18:13] jan-janssen opened #1048 "get_neighbors() no more exclude_self option?"
The tests of the KMC code fails because the option exclude_self option was removed in:
https://github.com/pyiron/pyiron/pull/1015/

@samwaseda What is the alternative?

[code]

[2020-10-09 18:31] samwaseda commented on #1048
There’s no option. ‘exclude_self’ is always ‘True’ (which is apparently also compatible with these tests - you just remove the argument and it’s gonna be fine)

[2020-10-09 18:32] jan-janssen commented on #1048
I tried this, now I get the following error:

[code]

[2020-10-09 19:32] samwaseda commented on #1048
Ok I’ll look into it tomorrow

[2020-10-11 09:50] #1048 closed

[2020-10-12 19:22] samwaseda opened #1053 "InputList unexpected behaviour"
I realized that `False` was translated to 0 during the conversion (or `True` to 1)

[code]

But the weird thing is, it doesn't happen when the other terms are not defined, like here:
[code]

Since `fix_layer` is only used for `if ... else` in `activation_relaxation_technique.py`, I guess it comes from `InputList`? Sorry I used here a module which hasn't been merged yet.

[2020-10-14 07:42] #986 closed

[2020-10-16 11:16] jan-janssen opened #1062 "Tests fail"
Currently the CIF file can not be downloaded:
http://www.crystallography.net/cod/1008753.cif
Therefore the structures notebook fails:
https://github.com/pyiron/pyiron/blob/master/notebooks/structures.ipynb
Most likely it makes sense to write the CIF file in the notebook rather than downloading it every time.

[2020-10-17 13:02] ibrsam opened #1066 "Importing MD simulations"
I used to import VASP data using the following code:
[code]
And, it is working, but when I try it with MD simulations, it does not work!

[2020-10-17 13:03] samwaseda commented on #1066
You mean MD simulations with LAMMPS?

[2020-10-17 13:19] ibrsam commented on #1066
Yes.

[2020-10-17 13:20] jan-janssen commented on #1066
LAMMPS import is not supported currently, the issue is that LAMMPS input files can be very complex and hence the output is complex to parse as well. Typically the quickest way is to redo the simulation with pyiron.

[2020-10-17 13:23] #1066 closed

[2020-10-17 16:03] cmmmalik opened #1067 "Scipyoptimizer doesn't work in interactive mode (with GPAW)"
Scipyoptimizer gives out an error when it is used with GPAW for relaxation. The problem occurs when interaction mode(which must be set True for scipyoptimizer) is turned on. See the below code and output

[code]
**output**
[code]
It looks like 'self.ref_job.output.energy_pot' is empty even though the first electronic self-consistent loop converges. During the update of atoms, the error occurs.

[2020-10-17 18:40] jan-janssen commented on #1067
If you remove the line:
[code]
then it works, but the `scipy` minimizer does not optimise the volume so the minimisation stops after one iteration.

[2020-10-17 18:50] jan-janssen commented on #1067
But when I change positions like:
[code]
It also fails.

[2020-10-17 18:52] pmrv commented on #1066
Maybe this method would be better on the VASP job class, so it doesn't look like it is more general?

[2020-10-17 18:56] jan-janssen commented on #1066
It also works for the KMC job and in general it should be implemented for more codes like Sphinx.

[2020-10-17 18:57] cmmmalik commented on #1067
Yes. In any case, it should write forces/stresses, which it doesn't.

[2020-10-17 19:02] pmrv commented on #1066
@ibrsam Would you mind updating the docstrings of
[code]
to briefly reflect that in a separate pull request?  A short sentence mentioning VASP & KMC would be enough.

[2020-10-17 19:12] jan-janssen commented on #1067
This part is fixed in https://github.com/pyiron/pyiron_base/pull/52

[2020-10-18 10:18] jan-janssen commented on #1067
When combining: https://github.com/pyiron/pyiron/pull/1068 and https://github.com/pyiron/pyiron/pull/1063 the following code:

[code]

Works but this is only the optimisation of the positions, not yet the cell relaxation.

[2020-10-18 10:35] jan-janssen commented on #1067
@cmmmalik Do you need position optimisation or cell relaxation?

[2020-10-18 10:36] cmmmalik commented on #1067
I actually need both, individually and simultaneously.

[2020-10-18 10:39] jan-janssen commented on #1067
The `ScipyMinimizer` in its current implementation is only designed for optimising the positions, I guess at the moment we do not have an external Optimiser for cell relaxations inside pyiron as we primarily use the internal minimisers inside LAMMPS and VASP.

@samwaseda Do you have time to extend the `ScipyMinimizer` to support cell optimisation?

[2020-10-18 10:42] jan-janssen commented on #973
@yury-lysogorskiy I assume this issue is fixed, Can you close the pull request?

[2020-10-18 11:05] samwaseda commented on #1067
Yes it’s possible, but I would strongly discourage you from doing that, because changing the cell size also changes the very definition of coordinates, which makes it an ill posed problem for conjugate gradient. So what could happen is 1, convergence takes longer; 2, it doesn’t converge; 3, it converges to something totally unphysical. Those who have used it in LAMMPS might have observed all of th

[2020-10-18 15:49] samwaseda commented on #1067
I just realized that the same warning was given on the [LAMMPS website](https://lammps.sandia.gov/doc/fix_box_relax.html):

_Performing a minimization with this fix is not a mathematically well-defined minimization problem. This is because the objective function being minimized changes if the box size/shape changes. In practice this means the minimizer can get “stuck” before you have reached the d

[2020-10-19 00:09] ibrsam commented on #1066
@pmrv  Sure, That is a good idea!

[2020-10-19 00:11] ibrsam commented on #1066
@pmrv Sure, that is a good idea!

[2020-10-20 11:05] t-brink opened #1074 "Pressure setting in LAMMPS MD fails with "None" entries in list"
I set up a LAMMPS job like this:

[code]

In the `control.inp` file this is erroneously translated to the following fix:

[code]

while it should omit the `xy`, `xz`, and `yz` components.

I tried with the newest git version from the main branch.

[2020-10-20 11:12] t-brink opened #1075 "Automatic triclinic boxes in LAMMPS?"
When I run a LAMMPS simulation with a barostat and I also apply a barostat to shear components, the simulation can fail when the input simulation cell is orthogonal:

[code]
The reason is that LAMMPS needs to be told if shear of a box is allowed. The command is `change_box all triclinic`. Shouldn't this command be added automatically when applying a barostat with shear components?

[2020-10-20 13:01] t-brink commented on #1074
I dug into this and the problem is that `pyiron.lammps.control.LammpsControl.pressure_to_lammps()` contains the following conversion from the pressure input list:

[code]

The `dtype=float` will convert all `None`s to `nan`s and in `pyiron.lammps.control.LammpsControl.calc_md()` in [line 516](https://github.com/pyiron/pyiron/blob/595bbc0a53ab1e841e826142e4fcbc2e3bc6691d/pyiron/lammps/control.py#L5

[2020-10-21 07:55] samwaseda opened #1076 "Murnaghan doesn't work with interactive"
[code]

And I know where's the problem (and I guess I raised this issue some time ago), but since I'm working on something different right now I don't fix this one now.

[2020-10-21 07:57] jan-janssen commented on #1076
I thought it works if you do:
[code]

[2020-10-21 07:59] samwaseda commented on #1076
Oh it does. Interesting :D. But still this is an issue that has to be fixed.

[2020-10-21 08:00] jan-janssen commented on #1076
Yes, it is still open in pyiron_base https://github.com/pyiron/pyiron_base/issues/19

[2020-10-21 08:02] samwaseda commented on #1076
Ah here we go perfect

[2020-10-21 08:02] #1076 closed

[2020-10-21 08:50] samwaseda opened #1077 "Murnaghan changes volume of ref_job"
[code]

It's not a real problem, but I don't think that's what should be happening (and it's causing a problem to me elsewhere).

[2020-10-21 08:53] samwaseda commented on #1077
At least this is not what happens when the job is interactive.

[2020-10-21 08:58] jan-janssen commented on #1077
But when you reload the normal job after the run is finished:
[code]
Then this also gives a wrong volume right? Basically the reference job is not designed to be accessed after the calculation. Instead it is recommended to use `murn.get_structure()`

[2020-10-21 09:46] jan-janssen commented on #1077
[code]

[2020-10-21 10:32] samwaseda commented on #1077
There's not way to recover the structure from the job? In particular, without `pr` would be nice.

[2020-10-21 10:37] jan-janssen commented on #1077
In the current implementation the reference job is just used as a template to generate the jobs and it is deleted afterwards.

[2020-10-21 10:38] samwaseda commented on #1077
That's fine, I just want the original structure.

[2020-10-21 10:39] jan-janssen commented on #1077
To my knowledge this is not supported.

[2020-10-21 10:43] samwaseda commented on #1077
Hm ok

[2020-10-21 10:43] #1077 closed

[2020-10-21 10:56] pmrv commented on #1074
Relevant previous commits:
https://github.com/pyiron/pyiron/commit/f95e3b086262c470520123cdad0f144f9843b97d
https://github.com/pyiron/pyiron/commit/75f1bc9455b3cb96e9db569dae35324094777c0a

[2020-10-21 11:33] liamhuber commented on #1074
I think @samwaseda is our rotations master?

[2020-10-21 11:59] yury-lysogorskiy commented on #973
@jan-janssen, yes, I updated my branch from master and add new job type into JOB_CLASS_DICT in init file you suggested, thank you

[2020-10-21 11:59] #973 closed

[2020-10-21 13:09] t-brink commented on #1074
I discusses with @pmrv and I will propose a pull request soon. It seems trivial to fix without disturbing anything.

[2020-10-21 13:20] samwaseda commented on #1074
Actually I thought about fixing the issue quickly, but then realized the complexity of the underlying problem and didn't start working on it...

One question that should be answered is, do we support the Voigt notation? If yes, the implication is that the strain tensor is probably also given in a symmetric matrix, which then requires a structure rotation for LAMMPS, which in the end forbids the us

[2020-10-21 15:57] t-brink commented on #1074
The strain does not have to be symmetric if you also include a rotation in it to keep the simulation cell vectors aligned with the LAMMPS requirements; this has nothing to do with Voigt notation or not. This is not very clean, but works for us MD people, especially in the small strain approximation.

The present code forbids using `None` when the box has to be rotated for LAMMPS. If we leave this

[2020-10-21 17:13] samwaseda commented on #1074
That's what I'm saying. And that's exactly what's extremely counter intuitive to me, i.e. the pressure is given in the Voigt notation, but the strain tensor is not symmetric.

No that's not true. At least I've never heard of Voigt notation for a non-symmetric pressure/strain.

This being said, I have also never heard of the case where the strain tensor is not symmetric, because in most of the text

[2020-10-21 17:20] liamhuber commented on #1074
**Please be extremely careful.** You say in the OP

I'm not saying here that you're wrong about that. But I am also not convinced that you are right.

While I'm writing this Sam also replied, but I want to expand a bit on something he mentioned in his previous comment that may not have been fully appreciated:

The pyiron cell vectors are (completely?) arbitrary, but for use in Lammps we need to us

[2020-10-21 17:36] t-brink commented on #1074
@liamhuber : It has been fully appreciated. If there is rotation and a `None` entry, an exception is raised because the definition is unclear. That remains as-is for now and I support this fully. **But**, if the cell matches the input expected by LAMMPS, everything is just fine.

@samwaseda : Yes, things are a bit weird with the Voigt notation and I wish LAMMPS supported arbitrary boxes, but here

[2020-10-21 17:51] samwaseda commented on #1074
Ok this is true, I'm sorry for my remark

Yeah I know it painfully - it's just it's not a LAMMPS problem but it's a pyiron problem. but ok I agree that we can continue the discussion in the PR.

[2020-10-21 18:30] jan-janssen opened #1084 "Selective dynamics no longer work"
[code]
Expected output:
[code]
Current output:
[code]

[2020-10-21 18:45] liamhuber commented on #1074
+1. My concern is on the pyiron side, and the fact that the pyiron implementation for the interface is not always transparent.

[2020-10-21 19:08] jan-janssen commented on #1084
Things get worth when we try to reload jobs:
[code]

Gives the following error message:
[code]

[2020-10-21 19:09] samwaseda opened #1085 "Electronic occupancy matrix has a wrong shape"
Thanks Sam for the comments, I ran a couple of calculations with spin and more than one ionic steps, the shape of the occupancy matrix does not change and remains the same as (kpoints, nbands).  I have made the function shorter as you suggested and added a docstring.
If this satisfies your comments, you can resolve the conversation. Thanks.

_Originally posted by @sravankumarkb in https://github.c

[2020-10-21 19:14] samwaseda commented on #1085
So essentially the occupancy matrix has two axes, but I expect 4 for `ionic_steps` x `k-points` x `bands` x `spins`.

[2020-10-21 19:18] jan-janssen commented on #1084
I created the unit test for this https://github.com/pyiron/pyiron/pull/1086

[2020-10-21 21:19] jan-janssen commented on #1067
By combining the pull request from @samwaseda https://github.com/pyiron/pyiron/pull/1072 with the pressure interface for ASE jobs https://github.com/pyiron/pyiron/pull/1087 we should now be able to address the cell relaxation once all pull requests are merged.

[2020-10-21 21:37] ibrsam opened #1088 "Data Types in Exported PyironTable"
I am using `PyironTable` to analyze my calculations and data are stored with the same data type from pyiron. For example, the column `structure` has datatypes of `pyiron.atomistics.structure.atoms.Atoms`. Also, I need to save the data into excel or any other format that can work for anyone who does not access to the raw data. But, when I save it using `df.to_excel()`, all data are saved with datat

[2020-10-21 21:38] jan-janssen commented on #1084
The bug is fixed with https://github.com/pyiron/pyiron/pull/1086/commits/bbb135351dc52aad8dcaed8b31e025f5f2e5f985

[2020-10-21 21:40] #1084 closed

[2020-10-22 05:31] pmrv opened #1089 "How import/export finished jobs for archiving?"
After the discussion in #1066 and another private conversation I wonder if it is possible to "export" a finished job such that I can copy the HDF file somewhere else and then later "import" again, potentially another/later pyiron installation.  It seems that with @jan-janssen recent efforts to allow jobs to be run on other clusters already need to allow this type of functionality, but maybe withou

[2020-10-22 05:36] pmrv commented on #1088
There's no way around data to converting to `str` when using pandas `to_excel()`, at least not from our side.  If you need to share ASE structures annotated with different information I would either use the `Atoms.info` dictionary to save that information and then save the structures [with ASE](https://wiki.fysik.dtu.dk/ase/ase/io/io.html) into a format that saves `info`, too (I haven't check whic

[2020-10-22 07:18] sudarsan-surendralal commented on #1085
Thanks for pointing this out! I'll work on this today afternoon!

[2020-10-22 07:29] jan-janssen commented on #1089
The difficulty is resolving the dependencies of individual jobs, basically you can easily copy all the database entries but then you also have to update all the master ids and their corresponding child ids and this was never fully implemented. When submitting the job to a remote cluster the case is easier as we know the dependence of the jobs and typically only copy a master with its children. I a

[2020-10-22 12:54] pmrv commented on #1089
The main use case in archiving should be that you can take a finished simulation, put it one tape for a few years and then still can look at results later (if only with an [at that point] older pyiron version).  Therefore I think it would be a start already to be able to export/import single jobs and their data.  For job groups and their dependencies it would probably be best to put them in a sing

[2020-10-22 13:13] jan-janssen commented on #1089
We did this once back in 2017 when migrating from user specific databases to a central database:

[code]

And read in the database using:
[code]

This code has to be adjusted to work with the new database ids but the general concept of storing the database and the HDF5 file separately should in principle still work. The more modern way would most likely be storing the job_table as a csv file in th

[2020-10-22 14:21] #1088 closed

[2020-10-22 20:11] #1062 closed

[2020-10-23 07:38] liamhuber opened #1093 "Plotting repeats stops working"
If I look at the repeated structure manually, repeat seems to be working. But plot bombs and just shows the unit cell.

Joerg had the idea that maybe the cell was not getting done right and the atoms are being wrapped back into the unit cell, so I displaced the 0th atom (then you should see two atoms near each other), but this has no effect.

I'm on the current heads of pyiron and pyiron_base.

MW

[2020-10-23 08:37] jan-janssen opened #1094 "scipy Volume relaxation"
I tried to couple the minimisation with GPAW and noticed the force criterion is rather high for volume relaxations:
[code]
returns `0.01`

This is caused by:
[code]

[2020-10-23 08:45] jan-janssen commented on #1067
It should now work with the current master branch, these are the examples I tested - position relaxation:
[code]
volume relaxation:
[code]

Currently there is still a bug that `calc_minimize` has to be defined before `minm.input.ionic_force_toleranc` or as an alternative provide the force tolerance as a parameter:
[code]
https://github.com/pyiron/pyiron/issues/1094

Apart from this GPAW should now

[2020-10-23 08:55] cmmmalik commented on #1067
sure, I'll test it.

[2020-10-23 11:01] jan-janssen commented on #1094
As discussed in the pyiron meeting we should maybe add a separate parameter for the pressure relaxation. @samwaseda Can you take a look at this?

[2020-10-23 12:44] samwaseda commented on #1094
Sure

[2020-10-25 14:24] #1074 closed

[2020-10-26 13:08] Leimeroth opened #1097 "Trying to delete jobs from remote queue causes data loss"
Some of my remote jobs had convergence problems so I tried to find a way to cancel them within pyiron. The Project class has a queue_delete_job function which I would expect to use the queue_delete_job function from pyiron_base.server.queuestatus, which deletes Jobs from the queuing system so I tried to use it.
It did not cancel the jobs on the remote cluster but instead deleted them completely lo

[2020-10-26 13:49] jan-janssen commented on #1097
When pyiron is installed on the login node, then the `remove_job()` function checks if the job exists on the queuing system and deletes it if it does. So for an installation on the login node the `queue_delete_job()` function is a backwards compatible interface for removing jobs combining the deleting from the queuing system and the deleting from the pyiron database in the same function. This been

[2020-10-26 13:52] pmrv commented on #1097
I don't think it's a bad idea.  A cheap way would be to create a "trash-bin" project in the user's base project folder and move a job there when calling a delete-type function with the existing `Project.move_to()`.  This project could be emptied every so often with a cronjob and the pyiron CLI.  I don't have time right now to volunteer an implementation, but if more people want this I could add  i

[2020-10-26 13:54] Leimeroth commented on #1097
The job was running but had problems with electronic convergence, so I wanted to cancel it, change some inputs and see if that would fix the problem.

[2020-10-26 13:56] Leimeroth commented on #1097
To me this sound exactly like what I would have needed here.

[2020-10-26 13:56] jan-janssen commented on #1097
Have you tried:
[code]
If you load the job, overwrite the input and then submit it again, pyiron automatically deletes the existing job by removing the input files and deleting the job from the queuing system and afterwards submits a new job with the update settings.

[2020-10-26 13:58] samwaseda commented on #1097
One thing maybe we should then do (if we have the fallback functionality) is also to check whether the job was submitted to the queue, because otherwise if we're simply testing a new class with quick local LAMMPS jobs, it might have an impact on the disk space.

[2020-10-26 13:58] Leimeroth commented on #1097
If I try that I actually have 2 jobs in the queue on the cluster that attempt to run in the same directory and therefore crash or result in a total mess up

[2020-10-26 14:01] jan-janssen commented on #1097
But then that sounds like the true bug to me, because this works fine for installations on the local cluster and it is definitely possible that this feature does not yet work with remote clusters.

[2020-10-26 14:02] Leimeroth commented on #1097
I would suggest 2 functions similar to remove_jobs() and remove_jobs_silently() for cases like that.

[2020-10-26 14:03] jan-janssen commented on #1097
@samwaseda As you liked the primary post, I was wondering if you experienced a similar bug on our system, because that should not be the case for my understanding.

[2020-10-26 14:05] Leimeroth commented on #1097
I agree if it works like that with your local installation, but I still think queue_delete_job is a very misleading name for a function that completely removes the job from pyiron and I do not see why it exists if it internally just calls job.remove()

[2020-10-26 14:10] jan-janssen commented on #1097
Can you try deleting the job directly using:
[code]

[2020-10-26 14:17] Leimeroth commented on #1097
This does not delete it from the queuing system and returns none and I as understand it it is has no way to find out which queue adapter to use.

[2020-10-26 14:18] jan-janssen commented on #1097
Or even more simple:
https://github.com/pyiron/pyiron_base/blob/master/pyiron_base/project/generic.py#L1445
[code]

[2020-10-26 14:23] pmrv commented on #1097
To be fair, this is marked as an internal method, so even if you found it, you wouldn't want to use it.

[2020-10-26 14:26] Leimeroth commented on #1097
It also doesn't work, I guess the problem is again that it doesn't know which queue_
adapter to use

[2020-10-26 14:26] jan-janssen commented on #1097
But the queue id is set correctly:
[code]

Because in general the `delete_job()` function is implemented for the remote queue adapter:
https://github.com/pyiron/pysqa/blob/master/pysqa/utils/remote.py#L70

[2020-10-26 14:34] Leimeroth commented on #1097
I think the problem is in the queue_delete_job function itself

if s.queue_adapter is not None:
        return s.queue_adapter.delete_job(process_id=que_id)
else:
        return None

The queue adapter is not set at any point, so it just returns None

[2020-10-26 14:37] jan-janssen commented on #1093
Also when copying the structure certain things break. This does not work:
[code]

While this does:
[code]

[2020-10-26 14:39] jan-janssen commented on #1097
But that is very strange because the queue adapter should be initialised when the `.pyiron` config is parsed.

[2020-10-26 15:00] samwaseda commented on #1097
I liked the suggestion in the last part. But to be honest, deleting jobs has always been somewhat buggy, but since I was never able to identify the cause, I also never reported it.

[2020-10-26 15:10] Leimeroth commented on #1097
Then I don't understand what is happening.

[2020-10-26 15:20] #1093 closed

[2020-10-26 15:24] jan-janssen commented on #1097
Can you test the notebook that you used to submit the jobs:
[code]
And then check if this is different from the notebook you used to delete the jobs.

[2020-10-26 15:40] Leimeroth commented on #1097
This was all done in the same notebook. It doesn't work even if I i do job.run() in one cell and try to delete it in the next one

[2020-10-26 15:46] jan-janssen commented on #1097
But if there is no queue adapter I do not understand how the job is submitted to the remote cluster in the first place.

[2020-10-26 15:50] Leimeroth commented on #1097
Can I implement some debugging comments similar to the logger.warning/debug/whatever style used in pyiron in pysqa somehow?

[2020-10-26 15:55] jan-janssen commented on #1097
Sure, even though I am still not sure pysqa is the issue here as the queue adapter is defined inside pyiron and I do not understand how it can be None once and you are still able to submit jobs.

[2020-10-26 18:26] liamhuber commented on #1085
We might need another label, because I also don't see this matching [code smell](https://en.wikipedia.org/wiki/Code_smell#Common_code_smells)

[2020-10-26 18:45] samwaseda commented on #1085
Wait this is a bug

[2020-10-26 19:42] liamhuber commented on #1085
@samwaseda, I have to confess I didn't dig into the code yet, but from the comments here it sounds like it was the output being formatted wrongly. Is the occupancy matrix used somewhere else such that the wrong shape causes the code to crash? If it's really just the *output* being the wrong shape, I can see both your *and* Jan's perspectives that it is/n't a bug...

[2020-10-26 19:48] samwaseda commented on #1085
Oh ok it’s not impossible that it was just the shape but the only one possible explanation for this error to happen I can come up with was because it parsed the occupancy of only one spin.

[2020-10-26 20:37] jan-janssen commented on #1085
I would like to reserve the `bug` label for urgent issues, like the failing of the `plot3d()` function and we should try to fix bugs in less than a week to keep pyiron functional. Given this definition, the issue with the occupation matrix to my understanding was mainly that Sudarsan's code used a different structure than Sam'a code, both agreed to use Sam's format in the future but to my knowledg

[2020-10-26 21:41] samwaseda commented on #1085
From your statement, I'd have exactly the opposite conclusion: `plot3d` is just some small plot problem which will have hardly any consequence. On the other hand, a wrong occupancy matrix might have serious unexpected consequences, which has to be fixed urgently. I have to admit that the title I first gave probably gave you the impression that it was just the shape, but from the beginning I knew t

[2020-10-27 03:50] caglayanoaras opened #1102 "PhonopyJob ignores primitive matrix"
Phonopy class takes primitive matrix as an input. However, PhonopyJob completely ignores it and unit cell is taken as primitive cell. This is not so serious in phonon DOS but I can not plot phonon band paths. For instance, these are two band structures of BCC Ca generated from PhonopyJob.phonopy:
![BCC_calcium_phononband_noprimirive](https://user-images.githubusercontent.com/56139345/97253881-8599

[2020-10-27 13:59] #1102 closed

[2020-10-27 14:17] lfzhu-phys opened #1105 "Finished jobs show "aborted" status"
I did static VASP calculations. The OUTCARs show that they are successfully finished. But within pyiron status they are all "aborted". Anyone has some ideas about this? Thanks.

The error.out file (no error.msg file) is as following:
[code]

[2020-10-27 14:25] yuyuanjingxuan opened #1106 "Get info of jobs for a pyiron table"
I am trying to collect all information of my job based on PyironTable according to the tutorial [link](https://pyiron.readthedocs.io/en/latest/source/notebooks/data_mining.html). <br/>
First step is to creating a pyiron table: <br/>
[code]
As it writes, to obtain a specific property I am interested in, a function should be defined:
[code]
To add the functions using the labels:
[code]
Here, the typ

[2020-10-27 14:34] jan-janssen commented on #1106
The pyiron table also has an `convert_to_object` property:
[code]
This converts all jobs in the beginning. You can also do it inside the function but that might be duplicated work, if you need the full job object in more than one function:
[code]
Finally @pmrv is looking into the option the option of loading only some parts of the full job but that is not yet fully implemented. Here is an example

[2020-10-27 14:36] jan-janssen commented on #1105
@lfzhu-phys Can you share an example `OUTCAR` file so we can test it?

[2020-10-27 14:40] lfzhu-phys commented on #1105
Thanks, Jan. Please check the attached OUTCAR.
[OUTCAR.gz](https://github.com/pyiron/pyiron/files/5446030/OUTCAR.gz)

[2020-10-27 16:51] pmrv commented on #1106
If you just need numeric data from the jobs (energies, positions, etc.), you can already access them right now from the `JobPath` object.  To find out under which HDF5 path you can access them, you can manually with a test job look at `job['output']` the groups and nodes in there you can use to navigate the output data, e.g. `job['output/generic/energy_pot']` gives the potential energy on most ato

[2020-10-27 17:11] #1094 closed

[2020-10-28 08:13] #1105 closed

[2020-10-28 10:00] Leimeroth commented on #1097
So I did some more testing and I think I found the issue with the s.queue_adapter.delete_job(process_id=que_id), but I am not sure where it exactly comes from. The command that is finally executed on the cluster is  "scancel None" because the job id gets lost at some point. It is still there in the initial python command, so I am rather confused about what happens inbetween.

[2020-10-28 10:30] jan-janssen commented on #1097
Can you test with: https://github.com/pyiron/pysqa/pull/41 ? We were missing a single character `=` ...

[2020-10-28 10:40] Leimeroth commented on #1097
This cancels the job correctly.

[2020-10-28 10:40] Leimeroth commented on #1097
Can I additionally replace the project.queue_delete_job  method with project._queue_delete_job or can I delete the queue_delete_job method completely to stop people from deleting jobs by accident like I did or would that break something?
I think that is still the most important point with this issue

[2020-10-28 10:42] jan-janssen commented on #1097
Sure, replace it with `project._queue_delete_job` and then we can discuss it in the pull request.

[2020-10-28 11:11] cmmmalik opened #1108 "ase version 3.20.1 incompatible with loading a job"
While doing ` pr.load_from_jobpath(jobid)` runs into an error because ase recent update (version 3.20.1) does not support 'pbc'  as an argument to ase.cell.Cell
[code]
The same problem is encountered when submitting a job remotely to a HPC cluster. Because, it is unable to load the structure from the hdf.

[2020-10-28 11:47] Leimeroth commented on #1097
Should be fixed now

[2020-10-28 11:47] #1097 closed

[2020-10-28 12:51] Leimeroth opened #1109 "periodic boundary conditions and Lammps"
When setting periodic boundary conditions of a structure to False this does not change lammps input. The control file still states
`boundary p p p ` where I would expect `boundary f f f`.

Example:
[code]

[2020-10-28 13:36] jan-janssen commented on #1109
I have to admit we never really did calculations without periodic boundaries. But you should be able to change the periodic boundaries with the LAMMPS specific syntax:
[code]

[2020-10-28 13:48] jan-janssen commented on #1108
Just for me to understand this issue, you saved the job using an older ASE version an now you try to load it with a newer ASE version and then the loading fails, right? Because pyiron just calls `to_dict()` on the cell https://github.com/pyiron/pyiron/blob/master/pyiron/gpaw/pyiron_ase.py#L56 and previously this included the periodic boundaries https://gitlab.com/ase/ase/-/blob/ase-3.19.3/ase/cell

[2020-10-28 14:03] cmmmalik commented on #1108
Yes, loading of the job fails if the saving and loading versions of ase are older and newer respectively. I can try saving and loading with the same new ase version.
In the new version, the pbc option has been removed.

[2020-10-28 14:15] jan-janssen commented on #1108
Can you test the pull request https://github.com/pyiron/pyiron/pull/1111 as the `set_pbc()` function is called after the creation of the cell and we anyway save the cell separately we should be fine just dropping the `pbc` entry from the dictionary.
https://gitlab.com/ase/ase/-/blob/ase-3.19.3/ase/atoms.py#L237

[2020-10-28 14:27] cmmmalik commented on #1108
So, using the new ase version to save and load the job works.

[2020-10-28 14:30] cmmmalik commented on #1108
I'll test it.

[2020-10-28 14:55] cmmmalik commented on #1108
The #1111 request works fine.

[2020-10-28 15:01] jan-janssen commented on #1108
Perfect - I merge it once the tests finished, thanks again for testing and if you find further bugs do not hesitate to open more issues we are happy to support new users and new tools like GPAW.

[2020-10-28 15:16] #1108 closed

[2020-10-28 15:23] jan-janssen commented on #1067
@cmmmalik Any update on this issue? In case it is solved, can you close it?

[2020-10-28 15:24] jan-janssen commented on #1053
@samwaseda and @pmrv What is the status of this issue? Is it solved?

[2020-10-28 15:25] jan-janssen commented on #1047
Same here @samwaseda and @pmrv What is the status of this issue? Is it solved?

[2020-10-28 15:26] cmmmalik commented on #1067
I still need to do more tests. I'll close it, if I see expected behavior.

[2020-10-28 15:29] jan-janssen commented on #1025
@liamhuber Is this issue solved? Can you close it?

**Summary:**
@samwaseda Developed a new approach to calculate elastic constants which is available in https://github.com/pyiron/pyiron/pull/1079 . I tried to contact the primary author of the original code and did not get any reply, so we decided to drop the elastic matrix job from the main repository and do not plan to create a `pyiron_gpl` repo

[2020-10-28 15:30] jan-janssen commented on #1067
Sure, take your time - I just wanted to get a status as the issue was not updated for the last five days and I try to keep track of open issues we can address.

[2020-10-28 15:32] cmmmalik commented on #1067
One thing, I observed is the forces and stresses are written only after the first electronic iteration loop. Then it updates but does not write the forces. Is this the expected behavior? The user should know the Forces and Stresses after each ionic step.

[2020-10-28 15:35] jan-janssen commented on #1067
It should only write the forces of the last electronic step and then one set of forces for each ionic step. When using the option: `job.server.run_mode.interactive =True` you should be able to access all forces at the end of the calculation, with out this option we only keep the very last configuration.

[2020-10-28 15:54] cmmmalik commented on #1067
How one can access the forces of the last configuration? like this:
```minm.get_final_structure().get_forces()```
for me this fails at `get_final_structure()`.

[2020-10-28 16:00] jan-janssen commented on #1067
Sorry, that is a bit different for pyiron, you can access the forces using:
[code]

[2020-10-28 16:10] cmmmalik commented on #1067
Below is the output of a calculation of a MAX phase with only position relaxations.
The max force did not change and energy change is quite significant:
[code]

[2020-10-28 16:12] jan-janssen commented on #1067
Can you check `job.output.forces` ?

[2020-10-28 16:19] cmmmalik commented on #1067
[code]
Seems to be constant.

[2020-10-28 18:25] samwaseda commented on #1067
@cmmmalik can you write the exact lines here that you used?

[2020-10-28 18:27] jan-janssen commented on #1067
@samwaseda I can reproduce the same error with:

[code]

While the same code works with LAMMPS just fine.

[2020-10-28 18:31] cmmmalik commented on #1067
@samwaseda  I have similar lines of code.

[2020-10-28 18:35] samwaseda commented on #1067
Since Gpaw didn't work on my account, I used SPHInX and I got the correct results:

[code]

And since @jan-janssen stated that it works with LAMMPS, I presume the problem is somewhere with Gpaw

[2020-10-28 18:42] jan-janssen commented on #1067
@samwaseda it should work on the cluster when you update to the latest master branch.

[2020-10-29 08:36] #1025 closed

[2020-10-29 08:41] jan-janssen commented on #1067
@samwaseda I noticed that there is still a bug on our cluster with the conda environment, to get GPAW working. Add the following two lines:
[code]

[2020-10-29 08:45] samwaseda commented on #1067
ok but this is not quite central to the problem @cmmmalik is having ... right? Since I always use SPHInX I'm fine with the current situation.

[2020-10-29 08:55] cmmmalik commented on #1067
What is puzzling me is even though energy fluctuates quite significantly and reaches minimum, the forces do not change at all. How does energy looks like from your calculations @samwaseda ?

[2020-10-29 09:04] samwaseda commented on #1067
[code]

So yes the energy is indeed going down. Since this is probably a perfect conjugate gradient (with *perfect* I mean every vector is conjugate to every other vector), the energy goes down really slowly, but it indeed goes down.

It's not related to your problem, but looking at this result I guess it makes sense to include some sort of rescaling factor to inhibit outliers. But again, this kin

[2020-10-29 09:08] cmmmalik commented on #1067
I'll use the final structure of the job and re-run the calculation, to see how the initial forces look like. It may give us further clues.

[2020-10-29 09:10] samwaseda commented on #1067
Something you can check quickly: what happens if you displace an atom manually? Something like:

[code]

What will then the forces look like?

NB: it's important to move the atom before the first run, because otherwise you'd break symmetries

[2020-10-29 10:13] pmrv commented on #1053
Haven't looked into this yet, but it seems that it is related to the HDF5 serialization.  I won't have time until next week, but I would assume this might be fixed when I rework that part of the code (as discussed in the last pyiron meeting, but no progress since then).

[2020-10-29 10:27] cmmmalik commented on #1067
This is what I get, forces do not change!
[code]
The code
[code]

[2020-10-29 10:41] samwaseda commented on #1067
Brilliant! So the problem is definitely related to GPAW.

[2020-10-29 10:52] cmmmalik opened #1116 "get_structure fails for a GPAW job"
Running the get_structure() on a finished job of GPAW fails:
[code]
This seems to be due to improper conversion of ase atoms back to pyiron structure.

[2020-10-29 11:38] jan-janssen commented on #1067
And a great opportunity for you to learn just another DFT code ;-)

[2020-10-29 12:19] jan-janssen commented on #1067
@cmmmalik Can you try https://github.com/pyiron/pyiron/pull/1115 ?

[2020-10-29 12:21] cmmmalik commented on #1067
Yup, sure

[2020-10-29 12:25] samwaseda commented on #1067
Yeah but with every code I understand, I also understand how little I understand DFT...

[2020-10-29 13:40] ibrsam opened #1117 "Lammps not working"
I trying to run a Lammps job, but I am getting this unusual error.
[code]

[2020-10-29 13:48] samwaseda commented on #1117
Post the lines you used which caused this error.

[2020-10-29 13:55] ibrsam commented on #1117
basis = pr.create_structure("Al", "fcc", 4.04)
job_unit = pr.create_job(pr.job_type.Lammps, "UnitCell")
job_unit.potential = 'Al_H_Ni_Angelo_eam'
job_unit.structure = basis
job_unit.calc_minimize(pressure=0.0)
job_unit.run()

[2020-10-29 14:01] samwaseda commented on #1117
Do you have `module load pyiron/dev` in your `.bashrc`?

[2020-10-29 14:02] ibrsam commented on #1117
I have this line
`#module load pyiron/dev`

[2020-10-29 14:04] samwaseda commented on #1117
Remove the hash and reload the notebook. If the problem persists, restart your kernel.

[2020-10-29 14:09] suhyunyoo opened #1118 "How to specify pseudopotential for different pseudohydrogens in VASP calculation"
I'd like to specify a different pseudopotential (POTCAR) for a different type of hydrogens in VASP calculations
Let me give an example with ZnO slab

   1.00000000000000
     3.2882546529036105    0.0000000000000000    0.0000000000000000
    -1.6441273264518053    2.8477120634625819    0.0000000000000000
     0.0000000000000000    0.0000000000000000   31.2636316299999990
 H    O    Zn H
     1

[2020-10-29 14:13] cmmmalik commented on #1067
quick test seems to work fine.
[code]

[2020-10-29 14:14] samwaseda commented on #1067
Isn't it weird that the values are exactly the same for force and energy?

[2020-10-29 14:15] cmmmalik commented on #1067
mistake from my end.

[2020-10-29 14:18] jan-janssen commented on #1067
@cmmmalik That is great news, then please continue testing and I am going to merge the pull request as soon as the tests passed.

[2020-10-29 14:18] #1116 closed

[2020-10-29 14:19] samwaseda commented on #1047
From last week's pyiron meeting I understand that it works fine with Jupyter Lab, although because of a few snippets which are either missing or I don't know how to activate, I personally haven't switched to Jupyter Lab yet.

[2020-10-29 14:19] #1047 closed

[2020-10-29 14:24] ibrsam commented on #1117
I did so and still have this problem. Also, I used to run the same code before, and I never got this error. Now even, I notice that it takes more time for `job` to be aborted since I am now loading a module and not executing the program directly which is added to my `$PYTHONPATH`.

I do not know why it does not find the executable `lmp_serial`

[2020-10-29 14:28] samwaseda commented on #1117
Loading the module does not take place locally. If it takes more time, it comes from elsewhere. Can you put `! which lmp_serial` in your notebook and see what it returns?

[2020-10-29 14:29] pmrv commented on #1117
Might actually need to restart your jupyter server (File -> Hub Control Panel -> restart).

[2020-10-29 14:29] ibrsam commented on #1117
`which: no lmp_serial in (/u/ibrsam/bin:/usr/local/bin:/usr/bin:/bin:/usr/lib/mit/bin:/usr/lib/mit/sbin:/afs/ipp/amd64_sles15/bin:/mpcdf/soft/SLE_15/packages/x86_64/find-module/1.0/bin)`

[2020-10-29 14:32] samwaseda commented on #1117
Did you really restart your kernel?

[2020-10-29 14:33] samwaseda commented on #1117
Oh I see that @pmrv pointed it out as well.

[2020-10-29 14:35] ibrsam commented on #1117
Yes, I did so.

[2020-10-29 14:37] samwaseda commented on #1117
ok now put `! module load pyiron/dev && which lmp_serial` and see what it returns.

[2020-10-29 14:52] ibrsam commented on #1117
`/u/system/SLES12/soft/pyiron/dev/anaconda3/bin/lmp_serial`

[2020-10-29 14:58] samwaseda commented on #1117
ok then `.bashrc` was not loaded. Go to the front page of jupyter->Control Panel->Stop My Server (as @pmrv pointed out). Otherwise you can also wait for @jan-janssen to merge his commit.

[2020-10-29 15:02] ibrsam commented on #1117
The point is that it was working with me perfectly without having ` module load pyiron/dev` in my `bashrc` file, and I want to use it as before. Sure, I can wait, if this helps the problem.

[2020-10-29 15:05] samwaseda commented on #1117
Oh wait if the essence of what you want is not loading `pyiron/dev`, then what @jan-janssen is doing is exactly the opposite, because it will be loaded automatically. Can you elaborate on your point maybe a bit for us to understand why you don't want to load it?

[2020-10-29 15:12] jan-janssen commented on #1117
@ibrsam This is the same issue that @zendegani posted here https://github.com/pyiron/pyiron_mpie/issues/37 this was never intended to work and the clear recommendation is to leave the line:
[code]
in your `.bashrc` at any time, never comment it out. Otherwise we would have multiple people with this issue once the login node has to be rebooted. Currently we see this issue coming up from time to tim

[2020-10-29 15:27] ibrsam commented on #1117
Thanks for resolving the issue!

[2020-10-29 15:32] #1117 closed

[2020-10-30 09:08] Leimeroth opened #1124 "Updating master jobs after fetching from remote"
I ran a few Murnaghan jobs on a remote cluster and noticed that there status does not get updated when the child jobs are finished and downloaded. I tried to fix it by manually calling a few functions like run(), collect_output(), refresh_job_status() one the master job, but this didn't help. This is not super critical since it is still possible to call f.e. fit_polynomial() and retrieve results,

[2020-10-30 10:42] jan-janssen commented on #1124
Just for me to understand this, the individual jobs are submitted to the cluster while the murnaghan remains locally right? What is the status of the murnaghan job afterwards? Can you try:
[code]
I assume the status of the Murnaghan is suspended, after the jobs are submitted and it does not recognise when they are transferred back, but at least the collect should work afterwards.

[2020-10-30 10:50] Leimeroth commented on #1124
Yes when I do murn.run() the child jobs are submitted.

suspended

Yes doing this correctly sets the status to True

[2020-10-30 10:56] jan-janssen commented on #1124
Afterwards the job status should be `finished`.

[2020-10-30 10:57] Leimeroth commented on #1124
Sorry thats what I meant

[2020-10-30 13:29] suhyunyoo opened #1126 "Importing calculated VASP one passes wrong structure"
While I'm trying to import already calculated VASP jobs and analyze them,
I found that the structure info is wrongly imported.
Anyone experiences the same thing or am I using wrong function?

Firstly, when I imported just structure file, using
`imp_str = ase_to_pyiron(ase.io.read(filename='CONTCAR', format='vasp'))`
`print(imp_str)`

It gives:

Pd: [5.59618928e+00 1.54183239e-03 8.97993715e+00]
Pd

[2020-10-30 14:58] suhyunyoo commented on #1126
It gives me the correct structure

[2020-10-30 15:37] sudarsan-surendralal commented on #1126
Can you post the contents of the POSCAR file here!

[2020-10-30 15:40] suhyunyoo commented on #1126
This is the imported file

Pd
   1.00000000000000
     8.3987381457000012    0.0000000000000000    0.0000000000000000
     4.1993690729999997    7.2735205941000007    0.0000000000000000
     0.0000000000000000    0.0000000000000000   45.4301643371999972
   Pd   K
   117     2
Selective dynamics
Direct
  0.0002414805113928  0.0002414805113928  0.1976640856881171   T   T   T
  0.6662071142926336  0.

[2020-10-30 16:19] jan-janssen commented on #1124
@Leimeroth Can you check if https://github.com/pyiron/pyiron_base/pull/66 solves your issue?

[2020-10-30 16:22] #1085 closed

[2020-10-31 14:09] cmmmalik commented on #1067
I repeated the test with first position relaxations, which passed perfectly:
[code]
Then, the second test was done starting the structure relaxed from the previous test, allowing only  volume optimizations.
[code]
The pressure does not reach zero.

[2020-10-31 14:19] samwaseda commented on #1067
Aaaah I just realized that the pressure is GPa and volume is A^3, so there's a problem with the unit conversion. That could be one problem that confused scipy. Thanks for pointing it out @cmmmalik !

[2020-10-31 15:12] samwaseda commented on #1067
ok sorry I just realized that it's a bit more complicated than simply unit conversion. I don't think I'll be able to fix it before the beginning of next week.

[2020-10-31 15:14] cmmmalik commented on #1067
I see, okay. No issues. Take your time.

[2020-11-01 10:46] sudarsan-surendralal commented on #1126
@suhyunyoo Can you also send me the vasprun.xml file? I think the issue is that the ordering of atoms is different in the vasprun.xml and POSCAR files.

[2020-11-02 01:00] ibrsam opened #1131 "Appending an atom to structure"
I am creating a  set of structures to descibe the decossion zone in the presence of hydrogen as shown in the following function:

[code]
Then, I define lists for hydrogen concentraions and different decohession zone sizes and run simple lammps jobs as follows,

[code]
But, I get this error,
[code]
After many trials, I am quite sure that this error arises becuase I am using the function `structure.

[2020-11-02 07:30] samwaseda commented on #1131
That's because you cannot append a string to a structure.

[2020-11-02 08:43] ibrsam commented on #1131
I used this code,
[code]
But, I still get this `UserWarning`,
[code]

[2020-11-02 08:46] samwaseda commented on #1131
Did it work or it didn't?

[2020-11-02 08:51] ibrsam commented on #1131
No,
[code]

[2020-11-02 08:56] samwaseda commented on #1131
That's weird, because the following lines work perfectly fine for me:

[code]

[2020-11-02 09:08] ibrsam commented on #1131
Not working for the same error.

[2020-11-02 09:10] samwaseda commented on #1131
Do you have your own branch on GitHub?

[2020-11-02 09:11] ibrsam commented on #1131
No

[2020-11-02 09:14] samwaseda commented on #1131
But here you said you were getting a warning. Did you want to say you not only got a warning but also an error at the same time?

[2020-11-02 09:21] ibrsam commented on #1131
I create the structure, then I visualize it to make sure it delivers what I want. In this case, I get a warning. When I run the job, I get the key error.

[2020-11-02 09:25] samwaseda commented on #1131
Because your potential doesn't support hydrogen.

[2020-11-02 09:30] samwaseda commented on #1131
Look, your original error was because of `append`, and now you are talking about a different error and apparently you knew it. It would have been helpful if you had stated this earlier and not just *Not working for the same error*, which was also not true.

[2020-11-02 09:33] ibrsam commented on #1131
Yes, I see thanks!

[2020-11-02 09:34] samwaseda commented on #1131
And we'd love to see some effort to make an issue easier to understand from the beginning. You pasted your code (which is good), but you could have also created a shorter code to more easily pinpoint the error. In your case, it would have been enough to have something like:

[code]

to reproduce your error, which would spare everyone the time to read and understand a long code.

[2020-11-02 09:37] ibrsam commented on #1131
Yes, that is better. I will do this.

[2020-11-02 09:37] #1131 closed

[2020-11-02 09:41] samwaseda opened #1132 "KeyError difficult to understand when potential doesn't support chemical elements present"
In [a recent issue](https://github.com/pyiron/pyiron/issues/1131), I realized that it's difficult to understand where the problem comes from when we use a potential in LAMMPS, which doesn't support the chemical composition in the system. Here's namely what I got in an Al-H system where I used an Al-potential:

[code]

It would be nice to have a message like `ValueError: selected potential does not

[2020-11-02 09:44] samwaseda commented on #1132
Low priority but I don't know whether it's an easy fix for beginners.

[2020-11-02 09:50] ibrsam commented on #1132
Yes, that is a very tricky error, as it states `pyiron.atomistics.structure`, so one can think about the structure rather than the potential.

[2020-11-02 11:20] raynol-dsouza opened #1134 "Protocols hanging without throwing any errors"
A week ago, I brought this up at the pyiron meeting, that the new updates to get_neighbors caused the protocols I was using to hang. As suggested by @pmrv, I ran git bisect to isolate the first bad commit to the following one:

[1cecbfb0281b3fd4947ced2d3404d54ecad86147](https://github.com/pyiron/pyiron/commit/1cecbfb0281b3fd4947ced2d3404d54ecad86147)

[code]
I spent quite a bit of time trying to r

[2020-11-02 12:04] samwaseda commented on #1134
It's rather unlikely that this one is directly related. I have actually another question: How does the communication between LAMMPS and pyiron work? In my old C++ implementation I had to spend quite some time to understand how the local variables are transferred and how to convert them back to global variables for multiple core jobs. Can you check whether you always use interface methods which alw

[2020-11-02 12:43] raynol-dsouza commented on #1134
The problem is not just persistent with parallel protocols, but also with serial protocols, which run on a single core. This makes me believe that the issue is not with the parallelization.

[2020-11-02 12:45] liamhuber commented on #1134
@raynol-dsouza I also find it hard to believe that the changes in this commit are at fault; they seem entirely unrelated. Could you try checking out this commit, and then manually reverting the two lines in it? If your assertion that this commit broke things is correct, it should run again; if my suspicions are correct then it will still hang.

Unfortunately, if it *isn't* this commit that broke t

[2020-11-02 12:47] liamhuber commented on #1134
Is it possible that your bisection search has an off-by-one error? Like the actual guilty commit is one commit before (or after) this one?

[2020-11-02 12:58] raynol-dsouza commented on #1134
@samwaseda @liamhuber I was wrong. I just confirmed that the serial protocols are working as they should. So the issue must lie with parallelization.

[2020-11-02 13:18] raynol-dsouza commented on #1134
So the line which causes the hang is this one:

`from sklearn.cluster import MeanShift`

weird, right? Why would an import cause a hang like this?

[2020-11-02 13:50] pmrv commented on #1134
How are you checking where it hangs?  If you run from a notebook or terminal, try to interrupt the process (Interrupt Kernel or ctrl-c) and then use the `%debug` magic in the next cell/line.  It should put you in a debug shell where your process was interrupted.  You can then inspect the backtrace with `bt` and climb up and down the stack with `up`/`down`.  This might give you a better idea where

[2020-11-02 14:02] #1132 closed

[2020-11-02 14:16] raynol-dsouza commented on #1134
I could not interrupt the process. So I ran `%debug ` before running the protocol job itself, so it would print the debug message white running the process itself.

[code]

`pyiron_log:Not supported parameter used!` seems to be a message that is printed every time a pyiron job is created. And this is all that I see in the debug.

[2020-11-02 14:22] jan-janssen commented on #1134
You can try to set the drug level using:
[code]

[2020-11-02 14:25] raynol-dsouza commented on #1134
Doing it this way still gives the same result as above.

[2020-11-02 14:28] jan-janssen commented on #1134
But then there is something wrong because when running the debug command in combination with Lammps interactive you should see the commands pyiron is communicating to Lammps.

[2020-11-02 14:33] raynol-dsouza commented on #1134
Yes, true. But the hang happens before pyiron has a chance to communicate with Lammps. As I mentioned last week, it happens while running ASE's `find_mic`, which in the protocols, comes before Lammps interactive is called.

[2020-11-02 14:35] jan-janssen commented on #1134
Ok, but then there is something else wrong. Can you compile as small example which breaks at the current master and works with the old code.

[2020-11-02 14:41] raynol-dsouza commented on #1134
I tried this already, but couldn't replicate the behavior with a smaller (non-parallel) example. I know it is very difficult to understand where the problem lies when there is no small snippet which can show where the break is happening. I will try it again and update here when I have managed to do it.

[2020-11-03 11:03] Leimeroth commented on #1124
Fixed in pyiro

[2020-11-03 11:03] #1124 closed

[2020-11-03 11:40] jan-janssen opened #1138 "When the clouds come down - Travis CI disabled"
As some of you might have noticed we lost the travis continuous integration and therefore the testing of the jupyter notebooks and the test builds for the documentation.

**The background:**

https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

Unfortunately in the current configuration when each commit uses 50 minutes to build the jupyter notebooks, 5 minutes for the python 3.7 and python

[2020-11-03 12:16] sravankumarkb opened #1140 "Electronic structure not present in the output of vasp jobs"
**Summary**

Electronic structure not present in the output of vasp jobs with more than one step (NSW>0).

**pyiron Version and Platform**

[code]

**Expected Behavior**

I expect the electronic structure group in the output for all vasp jobs.

**Actual Behavior**

For jobs with more than one step (NSW>0), the electronic structure group is not present in the output. However it present in the outpu

[2020-11-03 13:07] suhyunyoo commented on #1126
@sudarsan-surendralal You can find the vasprun.xml and the POSCAR file in the link below:
[https://www.dropbox.com/t/b00n9LezXa4xG7J7](url)

[2020-11-03 14:37] raynol-dsouza commented on #1134
So upgrading the ipykernel (as mentioned in [this stack question](https://stackoverflow.com/questions/46383177/jupyter-notebook-not-running-code-stuck-on-in)) fixed the problem on my local system.

@jan-janssen, do you know if the cluster ipykernel is running on the latest version?

[2020-11-03 14:57] jan-janssen commented on #1134
[code]

[2020-11-03 15:14] raynol-dsouza commented on #1134
That's the same version that I am on currently, after the update. I will check once again on the cluster.

[2020-11-03 15:59] sudarsan-surendralal commented on #1140
Can you check the status of the job?

[2020-11-03 16:21] raynol-dsouza commented on #1134
It also works on the cluster. :) thanks for the assist!

[2020-11-03 16:22] jan-janssen commented on #1134
Mmh, Can you explain where the error is coming from? Why does it depend on the version of the ipykernel ?

[2020-11-03 16:34] raynol-dsouza commented on #1134
To be honest, I do not know the reason. The [stack](https://stackoverflow.com/questions/46383177/jupyter-notebook-not-running-code-stuck-on-in) lists a number of things that could've gone wrong, and my local system satisfies more than 1 of them (ad-blocker on the Firefox browser that I use to run jupyter, Windows defender etc.). It is wholly possible that my ipykernel was in some way corrupted, an

[2020-11-03 16:40] jan-janssen commented on #1134
Ok, I am fine with closing this issue, still it is a bit frustrating that we are not able to identify the root cause of the issue.

[2020-11-03 16:42] raynol-dsouza commented on #1134
Haha, I understand this well. I spent nearly a month on figuring out where this problem was coming from. Updating/re-installing ipykernel didn't even occur to me as a possible cause. xD

[2020-11-03 16:58] samwaseda commented on #1067
Can you see if [this](https://github.com/pyiron/pyiron/pull/1142) does the job?

[2020-11-03 18:15] #1134 closed

[2020-11-03 18:36] samwaseda commented on #1138
There's no way to run them on our own cluster? Switching to Azure doesn't sound to me like a solution to the fundamental problem (that we're running jobs on platforms which have no interest to allow us to do so).

By the way I found your title above super poetic XD

[2020-11-03 19:00] cmmmalik commented on #1067
yup.

[2020-11-03 20:04] jan-janssen commented on #1138
There is a similar service in Garching, but that is currently limited to Gitlab and only provides Linux based testing.

So insteadI first migrated to Azure from Microsoft and now even further to use just the Microsoft Github service. The advantage of this is that we have just a single service for continuous integration now, rather than three Travis CI, AppVeyor and Azure before. So now my hope is

[2020-11-03 22:22] jan-janssen commented on #1138
I migrated all our codes to the GIthub continuous integration:
- https://github.com/pyiron/pyiron/pull/1139
- https://github.com/pyiron/pyiron_contrib/pull/30
- https://github.com/pyiron/pyiron_base/pull/68
- https://github.com/pyiron/pysqa/pull/43
- https://github.com/pyiron/pyfileindex/pull/16
- https://github.com/pyiron/pylammpsmpi/pull/49

Still we should make sure to reduce the CPU time requi

[2020-11-04 08:46] samwaseda opened #1143 "Take orientation as argument in structure creation"
In the ADIS workshop, I realised several times that it is not quite straightforward to put the orientation in pyiron. It would be really nice to be able to do something like this:

[code]

This essentially follows the same convention as in ASE (I guess it was `BodyCenteredCubic` in `ase.lattice.cubic`).

[2020-11-04 09:09] pmrv opened #1144 "Misleading Error Message when setting Non-existing Lammps Potential"
When you set a potential name that doesn't exist (e.g. a typo), the error that gets thrown is related to some IndexError because a non-existing potential has an empty list of elements it supports.  Since this is user-facing, I'd think there should be a nice "you set an invalid potential" error.

I'll look into it after ADIS.

[2020-11-04 09:20] cmmmalik commented on #1067
Hi, so I tested #1142,first allowing only position optimizations. It seems we are back to the same problem of not getting any change in the forces, but of energy reaching minimum value.
[code]
I will continue with volume optimization.

[2020-11-04 09:21] samwaseda commented on #1067
Sorry! I realised this morning that my branch was not updated to the latest branch. If you test it now it should be fine now!

[2020-11-04 09:21] cmmmalik commented on #1067
Ahaan. Okay!

[2020-11-04 09:23] samwaseda opened #1145 "Weird behaviour of interactive job without interactive_enforce_structure_reset"
For the following lines:

[code]

I get this very nice curve:

<img width="397" alt="Unknown" src="https://user-images.githubusercontent.com/37879103/98092757-54f9b000-1e87-11eb-9e19-fe8003b0995e.png">

But when `interactive_enforce_structure_reset` is not set, I get the following figure:

<img width="397" alt="Unknown" src="https://user-images.githubusercontent.com/37879103/98093007-aa35c180-1e87

[2020-11-04 09:25] jan-janssen commented on #1145
Looks like a DFT curve - so I am not sure if it is a bug or a feature - just joking.

[2020-11-04 13:21] cmmmalik commented on #1067
I repeated the above test, and got the following output. I think there is still problem with the pressure. But the improvement is on  the forces which do not increase compared to the above result.
[code]

[2020-11-04 13:23] samwaseda commented on #1067
Do you do both force and pressure minimisation at the same time?

[2020-11-04 13:23] samwaseda commented on #1067
Oh sorry I just saw that you said it's volume only. Can you put the lines that you used here?

[2020-11-04 13:27] cmmmalik commented on #1067
[code]

[2020-11-04 13:27] samwaseda commented on #1067
Is it possible to give me the content of `finalstructure`?

[2020-11-04 13:30] cmmmalik commented on #1067
Like the final structure file or? if yes then tell me how to save it, as I don't know.

[2020-11-04 13:33] samwaseda commented on #1067
You can simply paste what the print statement returns. I’ll figure it out :)

[2020-11-04 13:33] cmmmalik commented on #1067
Here you go:

Cr Al  C
 1.0000000000000000
     2.8619934853526847    0.0000000000000000    0.0000000000000000
    -1.4309967426763424    2.4785590637809913    0.0000000000000000
     0.0000000000000000    0.0000000000000000   12.8169712654802463
   4   2   2
Cartesian
 -0.0000000000000012  1.6523727091873273  1.0797419557326886
  1.4309967426763415  0.8261863545936639 11.7372293097475584
  1.4309

[2020-11-04 13:35] cmmmalik commented on #1067
Just in case:
[code]

[2020-11-04 14:39] raynol-dsouza opened #1147 "PhonopyJob taking unusually long to run on the queue"
I noticed today that `PhonopyJob`s are taking far too long to run on the queue. Here is my input code:

[code]

In my case, it ran into the wall time limit. The above snippet normally took around 6-8 minutes to run on 4 cores.

Edit: I must add that it works fine on my local system, and on the head node.

[2020-11-04 14:44] samwaseda commented on #1067
Do you maybe have an example that doesn't take a long time ... ?

[2020-11-04 14:46] samwaseda commented on #1067
Ah, can you maybe simply post the final value of the pressure? So this one: `second_job.output.pressures[-1]`

[2020-11-04 14:54] cmmmalik commented on #1067
[code]

I can try looking for some other structure.

[2020-11-04 14:55] samwaseda commented on #1147
Is there a particular reason to submit phonopy? I rather submitted LAMMPS and it worked well, i.e.

[code]

[2020-11-04 14:58] samwaseda commented on #1067
Hmmm indeed it's weird. Does scipy say it's converged? So is `new_minm['output/convergence']` 1?

[2020-11-04 15:04] cmmmalik commented on #1067
I had closed the jupyter notebook! so reading the job back says this:
[code]
May be because I close the notebook.

[2020-11-04 15:06] samwaseda commented on #1067
Ah! Then it's fine. It just means conjugate gradient didn't find the minimum. If you can reproduce the pressure variation over the course of minimisation, maybe I can make it a bit better, but in principle there's nothing we can do about it if SciPy cannot find the minimum.

[2020-11-04 15:08] cmmmalik commented on #1067
Ahan Okay.

[2020-11-04 15:12] raynol-dsouza commented on #1147
Nice! It works this way. But it also worked when I submitted the job using the code in my first comment.

Isn't the code in the first comment also used to submit other jobs that need a reference job? Personally, I'd prefer if it worked both ways (that way, I don't have to modify all my other notebooks that use Phonopy :P)

[2020-11-04 15:15] samwaseda commented on #1067
So one thing that could potentially change the result is something like gradient rescaling, and here's the logic behind it: in order to estimate the Hessian matrix, CG has to make one step of steepest descent. Since SciPy doesn't know anything about the atomistic simulation, it's possible that the displacement magnitude is not chosen properly. The problem with the wrong magnitude is that since the

[2020-11-04 15:19] samwaseda commented on #1147
Hmmm, actually I just checked and your first version worked as well for me. Or is that what you are saying with *But it also worked when I submitted the job using the code in my first comment.*?

[2020-11-04 15:29] raynol-dsouza commented on #1147
Yes. The snippet in my first comment worked for me up until yesterday morning. It suddenly stopped working after that.

I have restarted my cluster server and I'm trying again...

[2020-11-04 15:30] samwaseda commented on #1147
ok since it worked for me now and I don't think there was an important change related to this, I don't think there's a systematic problem that we have to solve here.

[2020-11-04 15:48] SanderBorgmans opened #1148 "VASP RPA calculation"
When preparing for an RPA calculation, using NELM=1, the following line will always result in a not_converged status:

https://github.com/pyiron/pyiron/blob/c17d4f3628f2ad5c3d5f8485d367e835c8361ebb/pyiron/vasp/base.py#L425

I noticed this when trying to make a FlexibleMaster job which executes a series of VASP calculations, which halts when encountering this not_converged job. Is there some way to

[2020-11-04 15:50] raynol-dsouza commented on #1147
I agree. Unfortunately, it still doesn't work for me. But your method of submitting it to the queue works, and I will stick to it for the time being. Shall I close this issue for now?

[2020-11-04 15:52] samwaseda commented on #1147
As you like. From my side there's very little I can do.

[2020-11-04 15:53] #1147 closed

[2020-11-04 15:56] cmmmalik commented on #1067
That is tricky, if it falls into the wrong first step. How do you decide this rescaling factor then? Limit the max displacements. Is there any stable implementation of Quasi-Newton method available?

[2020-11-04 15:59] samwaseda commented on #1067
I saw Quasi Newton, but it somehow didn't do anything... You can try it out with `Newton-CG` and see if it does something.

[2020-11-04 16:00] samwaseda commented on #1067
But I guess determining the order of magnitude for the rescaling would be probably already quite helpful. I probably find it out with a few tests myself.

[2020-11-04 16:02] sudarsan-surendralal commented on #1148
I guess this is a special case where you just need the eigenvalues from one electronic step without the need for self-consistency? Then I guess it's best to modify the `convergence_check()` function and add an exception for the special algorithm tags in the incar file where it returns `True` always.  Something like:

[code]
As far as I know, the pyiron developers have not done RPA calculations in

[2020-11-04 16:03] cmmmalik commented on #1067
I guess it will take time to make it stable. ASE already has optimizers(its own and also scipy interface). May be a wrapper for pyiron could be written for these optimizers.

[2020-11-04 16:08] cmmmalik commented on #1067
I also realized that I can not run it in parallel. Something like, instead of running the job interactively, if I want to submit the job to HPC, then the scipy doesn't get invoked, only single static calculation.

[2020-11-04 16:21] cmmmalik commented on #1067
@jan-janssen any ideas on this? Should open an issue or?

[2020-11-04 16:52] SanderBorgmans commented on #1148
@sudarsan-surendralal Thanks for the reply. I'll implement this, test it, and make a pull request.

[2020-11-04 19:32] jan-janssen commented on #1067
@cmmmalik I guess both are larger issues than expected.

The integration of the minimisers should be possible, we already started to integrate the Langevin Thermostat from ASE, the code is available here:
https://github.com/pyiron/pyiron_contrib/blob/3517c752d5d90a8c82c5db4f6e4739f5b8d7bde5/pyiron_contrib/atomistic/interactive/langevin.py
Still it requires additional work and I am not sure who cou

[2020-11-04 21:31] sravankumarkb commented on #1140
Hey @sudarsan-surendralal
Sorry for the delay
The status of the job is finished.

[code]
[code]

[2020-11-04 22:09] sudarsan-surendralal commented on #1140
This is a problem with the way you set up your VASP calculation (decompress the output files `job.decompress()` and check the `error.out` file). If you are doing a DFT-MD run, you have to switch off symmetry (ISYM=0). Here you set the INCAR params manually and don't set this flag. A better way to use pyiron's `calc_md()`

[code]

The calculation writes out the OUTCAR properly but not the `vasprun.

[2020-11-04 22:53] #1145 closed

[2020-11-04 23:10] samwaseda commented on #1067
Now I modified a few parameters. I hope it's better now, but if not, we will probably have to live with this for now.

[2020-11-05 08:02] cmmmalik commented on #1067
GPAW actually uses its own compiled library (C), which has Python API and is linked to any MPI lib available on the system path. This can be used directly in pyiron similar to what ASE does. I am also not familiar with the details. The quick solution will be to run gpaw as executable like 'mpirun gpaw python runscript.py'. This runscript.py contains calculation related lines of code similar to wha

[2020-11-05 08:03] cmmmalik commented on #1067
Then, I am closing this issue for now.

[2020-11-05 08:03] #1067 closed

[2020-11-05 08:35] jan-janssen commented on #1109
I looked at the code and found it is already implemented:
[code]
https://github.com/pyiron/pyiron/blob/master/pyiron/lammps/base.py#L333
So there seems to be a bug with the current implementation.

[2020-11-05 08:52] jan-janssen commented on #1109
Ok, actually it works, it is just not stored correctly:
[code]
This gives me:
[code]

[2020-11-05 09:01] jan-janssen commented on #1106
@yuyuanjingxuan Can you give us some feedback if your issue is solved? In case it is solved feel free to close the issue.

[2020-11-05 09:37] Leimeroth commented on #1109
I only found this because I had wrong energies in gamma surface calculations, which could only be fixed by setting the periodic boundary conditions manually. So it can't only be a problem of storing it.

[2020-11-05 09:40] jan-janssen commented on #1109
@Leimeroth That is definitely possible, but the bug described above is fixed by the pull request I opened. Can you provide an example which still fails with these new fixes?

[2020-11-05 09:45] jan-janssen commented on #1109
In addition we had a critical issue with interactive Lammps calculation, which lead to very wired results https://github.com/pyiron/pyiron/issues/1145 so in case you might used interactive Lammps jobs this could also correct your energies.

[2020-11-05 09:56] jan-janssen commented on #789
This issues is now open for more than three months, so I would prefer to close them to keep track of the topics we actually have time to work on right now. If we want to have a continuous discussion on this topic we could also open such a discussion in https://github.com/orgs/pyiron/teams/pyiron

[2020-11-05 09:56] jan-janssen commented on #792
This issues is now open for more than three months, so I would prefer to close them to keep track of the topics we actually have time to work on right now. If we want to have a continuous discussion on this topic we could also open such a discussion in https://github.com/orgs/pyiron/teams/pyiron

[2020-11-05 09:56] jan-janssen commented on #793
This issues is now open for more than three months, so I would prefer to close them to keep track of the topics we actually have time to work on right now. If we want to have a continuous discussion on this topic we could also open such a discussion in https://github.com/orgs/pyiron/teams/pyiron

[2020-11-05 09:57] jan-janssen commented on #794
This issues is now open for more than three months, so I would prefer to close them to keep track of the topics we actually have time to work on right now. If we want to have a continuous discussion on this topic we could also open such a discussion in https://github.com/orgs/pyiron/teams/pyiron

[2020-11-05 09:57] jan-janssen commented on #795
This issues is now open for more than three months, so I would prefer to close them to keep track of the topics we actually have time to work on right now. If we want to have a continuous discussion on this topic we could also open such a discussion in https://github.com/orgs/pyiron/teams/pyiron

[2020-11-05 10:09] Leimeroth commented on #1109
Ok, the issue is acutally fixed and the problem was in the underlying GammaSurface class from the workshop in which the periodic boundary condition in z direction was set to true.

[2020-11-05 10:09] #1109 closed

[2020-11-05 10:21] jan-janssen commented on #1109
Great, by the way we have an updated version of the gamma surface script available at https://github.com/pyiron/pyiron/blob/master/notebooks/gamma_surface_parallel_master.ipynb So if you want to modify it we could also add it as an official class.

[2020-11-05 10:54] Leimeroth commented on #1109
I changed some parts of it, but it is still missing a quite a bit of funcitonality to be added to pyiron imo. But maybe it would be a good idea to put it into pyiron contribution so that it is easier to find? I copied some of the classes like the old version of elastic and the GammaSurface into a python script to use it myself, but I would assume that this is exactly what contribution is for.

[2020-11-05 11:08] jan-janssen commented on #1109
Yes, feel free to open a pull request on pyiron contrib - unfortunately the elastic matrix code is using code licensed under the GPL license while pyiron is licensed under the BSD license so we can not include it currently, you can find more information on this issue here https://github.com/pyiron/pyiron/issues/1025

[2020-11-05 11:19] yuyuanjingxuan commented on #1106
Thank you very much @jan-janssen and @pmrv. My issue is solved perfectly.

[2020-11-05 11:19] #1106 closed

[2020-11-05 13:45] jan-janssen opened #1156 "SQS job fails"
Example:
[code]

Error
[code]

[2020-11-05 13:45] jan-janssen commented on #1156
@pmrv Is there a simple way to convert input lists back to dictionaries?

[2020-11-05 16:41] sravankumarkb commented on #1140
Thank you for the tips with the MD runs @sudarsan-surendralal

I retried the calculation with pyiron's calc_md function. It automatically set the symmetry off and the output now has the electronic_structure in it as well.

The issue is resolved now. But, I am just pasting the code below in case others want to refer to this in the future.

[code]

[code]
[code]

[code]

[code]

[2020-11-05 16:41] #1140 closed

[2020-11-05 17:24] liamhuber commented on #1156
This is a generic problem that InputList wraps some complex data types (at least dict and list) as InputLists and then at load time doesn't know whether they were *originally* InputLists and should be left that way or should be converted back.

I guess I've complained to @pmrv about this before ;)  I thought there was an issue for this already, but can't find it atm.

Definitely this is something

[2020-11-05 20:53] #1156 closed

[2020-11-06 09:09] liamhuber commented on #1144
Good call. Probably a one-liner fix in the exception test anyhow :)

[2020-11-06 15:53] niklassiemer commented on #1156
InputLists have a method to_buildin() which converty them to a dict or list, depending if it has keys or not

[2020-11-09 06:52] Leimeroth commented on #1126
Are there any updates? I want to import a bunch of calculations with large amorphous structures and now I am not sure if it is actually a good idea to do this or will end up in a total mess.
Did someone already start working on this or figured out when exactly this is happening to give me a hint how to fix it?

[2020-11-09 07:58] sudarsan-surendralal commented on #1126
I'm working on this currently. To me, it looks like the sorting of the positions goes wrong somehow in this case. I'll update once I have the complete picture soon!

[2020-11-09 08:17] sudarsan-surendralal commented on #1126
@suhyunyoo I tried importing everything and it works perfectly well for me. Can you verify that you're not on a very old version of pyiron? You can do so by:
[code]
Can you verify that you're on the latest branch on the cluster?  Once you are, can you please re-import the jobs?

[2020-11-09 10:11] suhyunyoo commented on #1126
@sudarsan-surendralal
I think my pyiron version is not up-to-date
`import pyiron
print(pyiron.__file__)`
Gives me that

In this case, how can I update it to the latest branch or use the one on the cluster?

[2020-11-09 10:13] sudarsan-surendralal commented on #1126
Go to your `.bashrc` file and uncomment the line where you overwrite `$PYTHONPATH` with your local folder. THen restart your Jupyter server (go to control panel and do this). After this re-import your jobs!

[2020-11-09 10:21] suhyunyoo commented on #1126
With the latest branch, the structure is correctly imported.
It seems the problem of the old pyiron version.
Thanks for your help!
I'll close it now

[2020-11-09 10:21] #1126 closed

[2020-11-09 10:22] sudarsan-surendralal commented on #1126
Ok great! @Leimeroth you can confidently import your jobs now! :)

[2020-11-09 16:37] #1144 closed

[2020-11-10 07:49] mostafajoulaian opened #1166 "color scale for periodic_plot"
I from Mendeleev I use peridic_plot as below:
-from mendeleev import get_table
-from mendeleev.plotting import periodic_plot
I get a nice periodic table and fill it out with my calculation result. And as a representative, I wanted to know if we have any future in pyiron to color scale it or do it myself?
<img width="555" alt="Screenshot 2020-11-10 at 11 19 12" src="https://user-images.githubuserco

[2020-11-10 07:52] samwaseda commented on #1166
I have no specific suggestion, but I absolutely love the figure you shared and if you want to raise this point at the next pyiron meeting, I'd be certainly interested in the discussion.

[2020-11-10 11:02] yuyuanjingxuan opened #1167 "ValueError when loading job with convert_to_object=True"
**Summary**

When I load finished jobs by using `Project.load_from_jobpath()` I find it always works with `convert_to_object=False`. However, in some cases, it reports **ValueError: too many values to unpack (expected 2)** while adding  `convert_to_object=True`.

**pyiron Version and Platform**
Python 3.7.8
pyiron 0.3.6

**Expected Behavior**
Successfully loaded

**Actual Behavior**
[code]

**Step

[2020-11-10 11:06] pmrv commented on #1167
For a quick workaround try
[code]
but this still seems to be a bug.

[2020-11-10 11:30] jan-janssen commented on #1089
As we discussed this topic again today I updated the example https://github.com/jan-janssen/pyiron-export-to-mybinder

[2020-11-10 13:37] yuyuanjingxuan commented on #1167
The issue is solved when I restart the local server. So I guess the reason is that I covert "too many" objects in one jupyter notebook.
**Suggestion**: Restart the server or few `convert_to_object=True`.

[2020-11-10 16:33] liamhuber commented on #1166
I want to echo Sam's assessment that this plot is totally rad.

I'm not sure I understand the question itself though -- isn't this just a matter of changing the `cmap='viridis'` flag to something else? More generally, I don't anticipate that we'll have some pyironic 'colour scale' we expect to use, i.e. `cmap=pr.colorscale` is not something to expect. (With `pr` here being our canonical instance o

[2020-11-10 17:18] Leimeroth opened #1168 "Structure checmial formula stored in database for sqs jobs"
**Summary**

sqs jobs store the chemical formula of the structure initally given in the job table. Imo it would make more sense to store the chemical formula of the final sqs structures.

**Steps to Reproduce**

create a sqsjob and run it, then look at Project.job_table()

[2020-11-10 21:15] jan-janssen commented on #1168
I agree - this can be achieved by implementing a custom function for the database entry https://github.com/pyiron/pyiron/blob/master/pyiron/atomistics/job/atomistic.py#L385 do you want to give it a try? Basically taking the input mole fraction to update the chemical formula in the database.

[2020-11-11 05:58] Leimeroth commented on #1168
Ok

[2020-11-11 06:59] pmrv commented on #1167
Did you update your pyiron version in between?   There is no "limit" to loading jobs, but I also don't understand the problem from the backtrace alone.  Please let me know if it occurs again.

[2020-11-11 09:11] yuyuanjingxuan commented on #1167
No, I always keep the same version. But the issue never occurs again after that.
Sure I will report the issue once it occurs again. Thank you.

[2020-11-11 09:11] #1167 closed

[2020-11-11 10:04] pmrv commented on #1053
I've looked again into this and it seems to be a general issue with out HDF implementation.  Assigning booleans to a value in a ProjectHDFio coerces to int.
[code]
This also explains why you don't see the behavior when the other values are presents, in this case the whole list is saved as json, so our HDF implementation never sees the boolean.  I suggest to close the issue for now, because I don't

[2020-11-11 14:54] #1148 closed

[2020-11-12 08:46] samwaseda opened #1172 "Error message impossible to understand when create_structure gets unknown bravais lattice"
When the Bravais lattice is wrong (e.g. `Project('.').create_structure('Al', 'something', 4.024)`), it raises an error with the following message:

[code]

And that's impossible to understand.

[2020-11-12 10:26] liamhuber opened #1173 "Lammps **langevin** MD -- interactive differs from regular"
**Summary**

If you set up a Lammps MD job, you get different physics depending whether or not you run the job interactively when using the Langevin thermostat.

Since it still works OK with the Nose-Hoover thermostat I think this is low-priority, but we should at least get a warning/error added when `langevin=True` pretty quickly.

**Steps to Reproduce**

[code]

**Expected Behavior**

The same s

[2020-11-12 12:32] Leimeroth opened #1176 "VASP NEB calculation"
Is there some way to set up a VASP NEB calculation with pyiron? The documentation says it should be possible using flexible job, but I am a bit lost on how to do that. If someone already did this or could write me a short example that would be great.

[2020-11-12 13:05] samwaseda commented on #1173
I just looked into it and I have to admit I couldn't come farther than what you have already mentioned. I also looked into [`fix langevin` in LAMMPS](https://github.com/lammps/lammps/blob/master/src/fix_langevin.cpp), but I cannot really see which line could be causing the problem either.

I agree that this is most likely the point. But on the other hand it's also weird that it does not even follo

[2020-11-12 13:07] jan-janssen commented on #1173
Can you check if the end points agree if you set `n_print=1000` ?

[2020-11-12 14:09] danjuzam opened #1178 "LAMMPS execution error: ValueError: ('Either the filename or the functional has to be defined.',..."
I ran into an error when trying to execute a Lammps MD job via pyiron. Here is what I did:

[code]

This lead to the following messages:

[code]
Any suggestions what I'm doing wrong?

[2020-11-12 14:40] niklassiemer commented on #1178
Hi @danjuzam,
The code you posted above works fine for me. (Therefore, I removed the bug label - nonetheless we will help you to run pyiron!)
It seems like you do not have the LAMMPS potentials around. Did you also install LAMMPS on your system?
[code]

[2020-11-12 14:51] jan-janssen commented on #1178
@niklassiemer It seems to be looking for the potential, so I do not think it is connected to the LAMMPS version.

@danjuzam Can you try?
[code]
On Linux this is only required for `pip` based installations, still I have the feeling that on Windows we might still need this part.  By the way if you are using windows 10 we highly recommend using the subsystem for linux https://docs.microsoft.com/en-us

[2020-11-12 14:53] jan-janssen commented on #1176
@liamhuber Once wrote a version based on the protocols defined in `pyiron_contrib` but I do not think we have support for the VASP build in NEB just yet. Still that would definitely be a nice addition.

[2020-11-12 14:59] jan-janssen commented on #1178
As an alternative can you try to type: `activate` in the windows shell before starting the jupyter notebook? This should set the conda environment variables. In python you can validate the environment variables using:
[code]

[2020-11-12 15:05] jan-janssen commented on #1178
Without `activate` the conda environment variables are not set and therefore pyiron can not find the interatomic potentials.
https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#id1
You can either install them manually using `pyiron.install()` or you execute `activate`. Here is the example output on Windows:
<img width="676" alt="Screenshot 2020-11-12 at 16 03 1

[2020-11-12 15:14] danjuzam commented on #1178
Hi @niklassiemer,
yes, that's exactly how I installed it (conda install -c conda-forge lammps). I checked with
[code]
which said:
[code]
And I can find the potentials in ~/pyiron/resources/lammps/potentials. That should be fine, since my ~/.pyiron looks as follows:
[code]

[2020-11-12 15:18] danjuzam commented on #1178
@jan-janssen
I installed pyiron in a Linux system.

[2020-11-12 15:20] jan-janssen commented on #1178
Can you check the content of the resource directory
[code]

[2020-11-12 15:21] jan-janssen commented on #1178
In addition can you give us the pyiron version:
[code]

[2020-11-12 15:25] jan-janssen commented on #1178
And please also check that the conda environment is loaded correctly on Linux this is done using:
[code]
https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#id1

And then you can confirm the environment is setup correctly using:
[code]

[2020-11-12 15:32] danjuzam commented on #1178
@jan-janssen
I tried:

[code]
which lead to.
[code]

[2020-11-12 15:34] jan-janssen commented on #1178
Can you type: `source activate` in the terminal before you start the jupyter notebook? This should initialise the environment correctly. If that is not possible it is still possible to install the pyiron resources manually using:
[code]

[2020-11-12 15:47] danjuzam commented on #1178
[code]
[code]
[code]
[code]
[code]
I did not install pyiron in a virtual environment. Maybe I need to do that.

[2020-11-12 15:51] niklassiemer commented on #1178
You do not have to install pyiron in a virtual environment. However, you are using the full path to call conda; can you just type conda to run it? If not, conda is not yet correctly set in your path.

[2020-11-12 15:51] jan-janssen commented on #1178
That is a bit strange, can you try:
[code]

[2020-11-12 17:08] danjuzam commented on #1178
With
[code]
it finally worked. Thank you both for your patience and help.

[2020-11-12 17:10] jan-janssen commented on #1178
Great, thanks for the feedback. I am going to close the issue now.

[2020-11-12 17:10] #1178 closed

[2020-11-12 17:44] jan-janssen opened #1181 "Proposal: pyiron 0.4.X - interatomic potentials release"
One popular applications of pyiron is looping over interatomic potentials and calculating the same atomic properties for the different interatomic potentials. The application range from grain boundaries ( @t-brink ) to melting points ( @lfzhu-phys ) and free energy calculation ( @prince-mathews ). Therefore the proposal is to focus a release on features related to this topic and how to improve the

[2020-11-12 20:06] liamhuber commented on #1176
Yes, there is an NEB protocol that is code agnostic (well, as long as that code has interactive mode 😝). It runs fine and you can see all the flags here, but it is not the most user friendly. Below is a minimum working example using Lammps as a reference, but you could just as easily (although slower) use Vasp.

The catch is that on the master branch I'm getting an HDF error and on @raynol-dsouza'

[2020-11-12 20:51] raynol-dsouza commented on #1176
@liamhuber @niklassiemer I can look into it. I will put this on priority.

[2020-11-13 07:37] lfzhu-phys opened #1184 "VASP jobs showing "submitted" status, but aborted without starting the calculations"
All other similar jobs are running or finished. These jobs show "submitted" status, but not in the job waiting list.

The error.out is in the attachment.

How to resubmit these jobs?

I am trying:

for jobname in df[df['status']=='submitted']['job'].values[0]:
    print(jobname)
    ham = pr.load(jobname)
    ham.status.created = True
    ham.run()

But it complains:
"2020-11-13 08:35:21,509 - pyi

[2020-11-13 07:46] lfzhu-phys commented on #1184
I guess it's the cluster cmfe has an issue as all jobs run with cmti are ok. So, my only question is how to resubmit these jobs.

Thanks a lot.

[2020-11-13 07:47] jan-janssen commented on #1184
As discussed in the tutorial: https://pyiron.org/phasediagram-workshop-2020/Exercise1.html#modify-sqs-calculation-job

Use:
[code]

[2020-11-13 08:01] lfzhu-phys commented on #1184
@jan-janssen Thanks, Jan. Is that possible to do without deleting the jobs and just restart them?

[2020-11-13 08:30] jan-janssen commented on #1184
The only way to manually resubmit them would be to navigate to the folders and execute the `run_queue.sh`.

[2020-11-13 08:30] liamhuber commented on #1176
Thanks! I don't know how much of a headache patching the main branch will be, but patching yours to work with NEB should be super fast -- it looks like it's just trying to parse some force data that isn't there (or is there at a different address?)

[2020-11-13 08:46] lfzhu-phys commented on #1184
@jan-janssen Thanks, Jan.

It is solved by doing:

for jobid in df[df['status']=='submitted']['id'].values:
    ham = pr.load(jobid)
    ham.status.created = True
    ham.run()

But I don't understand why it does not work by load job names.

[2020-11-13 08:50] jan-janssen commented on #1184
Right, I totally forgot about reseting the status and the job name can only be an issue if the same job name appears several times in the same project. Still I do not think the code you posted is causing this issue. So I would need more details to understand where it came from.

[2020-11-13 09:00] lfzhu-phys commented on #1184
Yes, by loading job names, it was complaining:

"2020-11-13 08:35:21,509 - pyiron_log - WARNING - Job 'h' does not exist and cannot be loaded"

As I just resubmitted them, I cannot reproduce this error this moment. If it comes up again, I will let you know.

Thank you very much.

[2020-11-13 09:08] jan-janssen commented on #1184
Then I guess you can close the issue now and once appears again we can have another look.

[2020-11-13 09:13] #1184 closed

[2020-11-13 09:30] liamhuber commented on #1173
They won't. Nose-Hoover seems to use the same seed and differs only by a bit of numerical noise. With Langevin the input.control uses the same random seed in both run modes (for both random velocity generation and langevin command), but really clearly diverges quickly. If, indeed, the interactive run is doing some sort of restart then I guess it's using the same random seed again and again -- AND

[2020-11-13 09:42] liamhuber commented on #1173
Low timescale = strong thermostat. It's only converging to 200K for the interactive job, right? If a very strong thermostat is converging to 200K in the traditional run, then there is something wrong with Lammps' numeric integrator for this ensemble/thermostat.

How the Lammps python bindings are used in the broader community is not clear to me. If other people are re-executing single Langevin N(P

[2020-11-13 10:05] samwaseda commented on #1173
I just checked `np.linalg.norm(np.mean(job.output.forces, axis=0))` (which essentially is the total magnitude of "mean forces over all steps" for all atoms) and in the case of interactive it doesn't disappear, meaning Langevin is indeedgiving always the same forces.

[2020-11-13 10:09] samwaseda commented on #1173
From the practical point of view, probably the most important reason to do `n_print=1` is to get better average values. For this, there is already `job.input.control.measure_mean_value` which is much more efficient. Maybe we should make this one more visible to common users, because when I implemented it it was just a quick fix for me, but I can see that it could be useful to many people.

[2020-11-13 10:36] raynol-dsouza commented on #1176
@Leimeroth the NEB code on my branch ('[dev_raynol](https://github.com/pyiron/pyiron_contrib/tree/dev_raynol/pyiron_contrib/protocol)') of 'pyiron_contrib' works now. I have a [demo notebook](https://github.com/pyiron/pyiron_contrib/tree/dev_raynol/pyiron_contrib/protocol/notebooks) here which may help you with understanding what inputs/outputs the NEB protocol takes. The demo notebook runs with L

[2020-11-13 16:28] samwaseda opened #1186 "Git tests spamming"
It's been a few days since the unit tests became difficult to understand like [this one](https://github.com/pyiron/pyiron/pull/1185). Is there a possibility to deactivate them while the PR is a draft or something? Or I'd love to know why they are failing + even if they are failing I don't want to receive several emails for each commit.

[2020-11-13 16:35] jan-janssen commented on #1186
I have to admit I created an email filter to remove those emails automatically, it seems like Github is working on this https://github.community/t/disabling-notifications-for-a-given-workflow/17818

[2020-11-13 16:55] liamhuber commented on #1173
I was also not aware of `measure_mean_value`, so increasing its visibility might be good!

I do have to disagree though, I think `n_print=1` does not help get better statistics; My understanding is that the snapshots need to be far enough apart to decorrelated to contribute meaningfully to calculating the average property.

The application I have in mind was rather to use interactive mode to cut i

[2020-11-13 16:56] liamhuber commented on #1173
Clever check! At least now we understand exactly what the problem is 😃

[2020-11-13 16:58] liamhuber commented on #1186
Yeah, I had an e-mail filter but somehow it wasn't sophisticated enough to catch new repositories so different things kept slipping through. TBH, I just disabled e-mail alerts entirely for everything except explicit @ mentions. I check my github feed manually, like, two to two-score times per day anyhow 😝

[2020-11-13 16:59] samwaseda commented on #1173
But then I'd say there'd be also a bit of a similar kind of problem since the force+velocity field won't correspond to the actual positions, so I would rather put a few steps in between to allow the system to get accustomed to the given positions. Or you can also put external forces, in which case I would use the proper python callback function in LAMMPS (which is what I use for metadynamics etc.)

[2020-11-13 17:11] samwaseda commented on #1186
Hmmmm ok I just set a filter as well now. I'm not sure if this should be a solution though...

[2020-11-13 17:11] #1186 closed

[2020-11-13 18:27] liamhuber commented on #1173
I don't exactly see what you're getting at here. In my case I don't care if the temperature is exactly right, I just want it to be pretty close -- it's a primitive way to set up a strain test to begin with. As long as the strain rate is not too high, I don't think it should mess with the thermodynamics too badly.

I think I will stick with displacement controlled, but I am curious about this callb

[2020-11-13 19:33] #1181 closed

[2020-11-13 19:36] jan-janssen commented on #1089
This is currently work in progress https://github.com/pyiron/pyiron_base/pull/77 so I would prefer to shift the discussion there.

[2020-11-13 19:36] #1089 closed

[2020-11-13 19:37] #1138 closed

[2020-11-13 19:38] #1022 closed

[2020-11-13 19:38] #953 closed

[2020-11-13 19:39] #795 closed

[2020-11-13 19:39] #789 closed

[2020-11-13 19:39] #792 closed

[2020-11-13 19:39] #793 closed

[2020-11-13 19:40] #794 closed

[2020-11-13 19:41] #930 closed

[2020-11-13 20:25] jan-janssen commented on #1166
I close this question. Currently we do not have an integrated tool inside pyiron to plot periodic tables - the only way to plot the periodic table is using `mendeleev` as you do it already.

[2020-11-13 20:25] #1166 closed

[2020-11-13 20:32] #1172 closed

[2020-11-13 21:03] #1168 closed

[2020-11-16 10:59] liamhuber opened #1195 "Safer phonopy operation"
**Summary**

Phonopy functions by taking a reference, calculating symmetry, making a series of small displacements, and assessing the forces and energies at each of these displacements. If the reference job is **anything except `calc_static`**, phonopy *runs* but gives crazy results.

This is obvious in retrospect -- imagine a `calc_minimize` ref, every displacement gets undone by relaxing! -- but

[2020-11-16 11:55] samwaseda opened #1197 "Implement calc_flexible"
After years of continuously hitting the wall for trying to calculate things for various temperatures with LAMMPS, only to find out that `calc_md` throws an error for T=0, I finally make this suggestion: How about creating `calc_flexible` (I don't like this name -> please help me come up with a better one), which essentially does:

- `n_ionic_steps = 0` -> `calc_static`, no matter what the rest of

[2020-11-16 12:10] samwaseda commented on #1173
Oh sorry I just realized that you move only the slabs and not the dislocation itself (which makes sense). But if you are anyway using the LAMMPS integration, I would rather make LAMMPS displace the atoms as well, so that LAMMPS can do everything internally.

yeah this callback is not something I made public. It's briefly explained [here](https://lammps.sandia.gov/doc/fix_external.html). I might pr

[2020-11-16 14:18] yury-lysogorskiy opened #1198 "VASP kpoints_per_reciprocal_angstrom not used in jobs with supercell"
**Summary**

`VaspJob` *kpoints_per_reciprocal_angstrom* settings setup k-mesh only once when called, and not in master jobs with supercell, or if the structure is changed.

[code]
results in [12,12,12] k-mesh (in `job.input.kpoints`)

1.  If structure is changed, i.e.:
[code]
k-mesh  remains [12,12,12]

2. If job is used as `ref_job` for `PhonopyJob`,
[code]
k-mesh  remains the same [12,12,12] ev

[2020-11-16 16:02] liamhuber commented on #1197
[Explcit is better than implicit.](https://www.python.org/dev/peps/pep-0020/) I don't really like this idea.

[2020-11-16 16:09] liamhuber commented on #1173
@samwaseda I feel like this betrays the promise of interactive jobs though 😿 Also, I would still classify the existing behaviour as a bug even if it's not how I'm "supposed" to do it.

What I don't like about doing it in Lammps is then we're just writing special new parsers to the Lammps interface and the Lammps jobs further diverge from other job types. It's true that interactive jobs are current

[2020-11-16 16:22] samwaseda commented on #1173
Well in my opinion the question is either you do everything interactively, or nothing. LAMMPS integration + external slab displacement is somewhere in between, that's not quite what we should be doing anyway.

The simple fact is that LAMMPS has an internal algorithm which knows how to update the neighbor lists, which we (most certainly - I'm not 100% sure) have to destroy if we displace the atoms

[2020-11-16 16:29] samwaseda commented on #1197
That's not quite a question of explicit or implicit, because the 0K MD must be conceptually the same thing as energy minimisation. And doing 0 steps is always a static calculation. If `calc_flexible` is the problem, I can actually also change `calc_md`, so that it does an energy minimisation for T=0 and a static calculation for `n_ionic_steps=0`. How about that?

[2020-11-16 16:39] pmrv commented on #1197
I feel strongly against that.  All three types of calculations are quite distinct.  E.g. even at `T=0` an md run simply has a different parameter set as a minimization run (a md run doesn't have any convergence criteria among others).  I'm also not convinced that there is a big practical benefit from breaking that clean distinction.  If there's a series of MD runs one naturally excludes `T=0` as w

[2020-11-16 16:50] samwaseda commented on #1197
ok if you guys are against it I can also live with the current situation, but I'm quite sure that this topic is going to come back at some point anyway, because in high throughput calculations there will be no distinction between 0K and finite temperatures.

[2020-11-16 16:50] #1197 closed

[2020-11-16 18:35] liamhuber commented on #1173
That's a good perspective, I hadn't thought of it that way. I had thought that `calc_static`, `calc_md`, and `calc_minimize` are all "things you do" in interactive mode. You're right that there's no rule that this is the case!

I still do get a little uncomfortable that the job types diverge so much. I think I just need to accept this though 😉

You're 100% right, except about the criticality to my

[2020-11-17 10:34] jan-janssen commented on #1198
I guess the only way to address this right now would be to already set the rescaled structure to the reference job before creating the phonopy job. Following the zen of python to be explicit rather than implicit I do not another solution which would be consistent with our definition. In this example defining the kpoint mesh explicitly in your case `[12, 12, 12]` rather implicitly: ```
job.structur

[2020-11-17 12:02] sudarsan-surendralal commented on #1198
In my opinion, the best way to handle this is to create a property `k_mesh_per_reciprocal_angstrom` (default `None`) rather than a function. When the job is submitted after the final structure is set and the `write_input()` function is called, we then overwrite the existing kpoints based on the dimensions of the supercell. Is this an okay solution?

[2020-11-17 12:09] samwaseda commented on #1198
While I like @sudarsan-surendralal's suggestion, I also think `set_kpoints` sounds to me like "I'm setting them now" and I might not expect the values to change when I change the structure.

[2020-11-17 12:15] sudarsan-surendralal commented on #1198
Sure but the way @yury-lysogorskiy sets this is: `job.set_kpoints(kpoints_per_reciprocal_angstrom=1/0.15)` therefore not specifying the mesh explicitly. Then it should be fine right?

[2020-11-17 12:17] samwaseda commented on #1198
Sounds great to me.

[2020-11-17 13:05] yury-lysogorskiy commented on #1198
In my previous implementation I did it in [`Kpoints.update_kmesh`](https://github.com/yury-lysogorskiy/pyiron/blob/icams/phonopy/pyiron/vasp/base.py#L2332)

[2020-11-17 13:11] yury-lysogorskiy commented on #1198
And also, one more thing:  calculation of k-mesh by given density should take into account the non-orthorombic cell,
I did it like [this](https://github.com/yury-lysogorskiy/pyiron/blob/8797bb0e93100515d6870770a539868f2a6459f3/pyiron/dft/job/generic.py#L291):
[code]

[2020-11-17 13:54] samwaseda commented on #1198
This is BRILLIANT! It's actually something I can use elsewhere for other purposes as well.

[2020-11-18 09:09] liamhuber commented on #1195
Fixed in #1196

[2020-11-18 09:09] #1195 closed

[2020-11-20 08:31] liamhuber commented on #1176
@Leimeroth any update as to whether or not the NEB protocol solution works (a) with Lammps on your remote submission setup and (b) with Vasp?

[2020-11-20 11:03] Leimeroth commented on #1176
I had lots of jobs in the queue on the cluster and didn't want to mess with my pyiron installation while they were running, but they should be finished soon.

[2020-11-20 15:15] samwaseda commented on #1173
I see that I'm still assigned, but do you still think we're gonna do something about it?

[2020-11-20 18:58] liamhuber commented on #1173
It is a legitimate bug: the physics of Lammps in interactive mode fails silently for one of our two thermostats by depending on `n_print`. I don't feel it's appropriate to just leave that there indefinitely. At a minimum this control setting needs to raise an error.

This is a good point. I somehow thought that you were the maintainer of `lammps.interactive` and/or `lammps.control`, but these are

[2020-11-20 20:31] samwaseda commented on #1173
`fix langevin` and then `unfix langevin` at each step with different random numbers? Frankly, I would claim it's always wrong since whether it's every step or every 100 steps, you get anyway a periodic random force field, which is anyway not right. From my point of view, the only one way to solve this problem is to force LAMMPS to accept a new seed.

[2020-11-20 21:05] jan-janssen commented on #1173
Maybe this is my fault, I use the interactive MD mode for approximating the melting point. I run 100000 steps in LAMMPS look at the final structure, check if it is solid or liquid and then increase the temperature. I do not care about the 100000 steps in between. The reason why it fails is basically the `n_print=1` because it always resets the MD calculation after every step. The original interact

[2020-11-20 21:11] samwaseda commented on #1173
+1 for issuing a warning (rather than throwing an error), because it's not up to pyiron to decide whether `n_print=1` is wrong or `n_print=100`.

[2020-11-21 12:54] liamhuber commented on #1173
Ok a warning it is.

But to re-emphasize, there is no deciding to be done in the example you gave -- `n_print=1` (with Langevin thermostat) is unambiguously wrong. Terribly wrong. This-parrot-is-dead-wrong.

As we increase `n_print` it gets *less* wrong, and I see the merit in maintaining the feature without a full crash -- for Jan's case where `n_ionic_steps` >> `thermostat_timescale` the wrongne

[2020-11-23 12:46] Leimeroth commented on #1176
I did some testing and get the following error when I try to run the example on remote:

/nfshome/leimeroth/git_projects/pysqa/pysqa/utils/remote.py:238: UserWarning:
  warnings.warn(stderr.read().decode())
100%|██████████| 1/1 [00:00<00:00, 20.84it/s]
0it [00:00, ?it/s]
/nfshome/leimeroth/git_projects/pysqa/pysqa/utils/remote.py:238: UserWarning: Traceback (most recent call last):
  File "/home/n

[2020-11-23 12:56] raynol-dsouza commented on #1176
This seems to me to be more of a pyiron_base issue than of the neb protocol itself. @jan-janssen any insights?

[2020-11-23 13:20] jan-janssen commented on #1176
@raynol-dsouza GenericJobs store the status in the HDF5 file https://github.com/pyiron/pyiron_base/blob/master/pyiron_base/job/generic.py#L1161 I am not sure about the protocols.

[2020-11-23 18:02] samwaseda opened #1224 "`selective_dynamics=True` means atoms can move or can't move?"
I never know which way around. Please someone give me the answer and I'll always remember that I asked this question here so that I can search for `selective_dynamics` in the search bar to find the answer.

[2020-11-23 18:10] jan-janssen commented on #1224
`True` means allowed to move.

[2020-11-23 18:11] sudarsan-surendralal commented on #1224
`True` means the atoms are allowed to move (dynamics is allowed). Btw this sort of way of defining constraints is kind of inherited from [VASP](https://cms.mpi.univie.ac.at/vasp/vasp/POSCAR_file.html)!

[2020-11-23 18:13] samwaseda commented on #1224
Thanks! I know it's inherited from VASP and I was aware of the link you shared, but it's still difficult to find the phrase, and from what I understand, it's also wrong:

*in our example the 1. coordinate of atom 1 and all coordinates of atom 2 are fixed*:

[code]

But ok you guys are my heroes. I can now happily close this issue.

[2020-11-23 18:13] #1224 closed

[2020-11-23 19:36] #1198 closed

[2020-11-24 21:25] mostafajoulaian opened #1226 "pyiron.atomistics.structure.generator module is not available"
I open one of my code and try to run it suddenly I get an error which "No module named 'pyiron.atomistics.structure.generator'"
what is the problem
see the attachment
<img width="912" alt="Screenshot 2020-11-24 at 22 22 47" src="https://user-images.githubusercontent.com/62750893/100153082-ed41ee00-2ea3-11eb-99d0-79e02e82e0a5.png">

[2020-11-25 07:23] liamhuber commented on #1226
This is now directly available through 'pr.create.structure.surface_hkl'. (Use tab complete to double check the naming as I'm not at my machine right now.)

This is Ort idiot ongoing drive to make things more "pyironic ", ie only needing to import 'Project' and having everything tab completable 🙂

[2020-11-25 09:33] #1226 closed

[2020-11-26 07:49] liamhuber commented on #1176
The Protocols inherit from `GenericJob`, so I'm quite confused by this. I'm afraid I definitely won't be able to look into it this week; next week is only a maybe.

@Leimeroth,  I'm happy to keep offering support but I'm afraid it will be pretty slow from my end, so if you feel there's a more effective way forward then I wish you the best -- I appreciate that you took the time to give this solutio

[2020-11-26 08:48] liamhuber commented on #1173
Ok, in #1228 I just throw a warning as discussed. As soon as that's merged I'll add "unresolved" here and close.

[2020-11-26 11:32] danjuzam opened #1229 "ImportError: SQSJob relies on sqsgenerator.core.sqs.ParallelSqsIterator, but this is unavailable"
When I tried to create an SQS job, an error occured:

...     job_type=pr.job_type.SQSJob,
...     job_name="sqscalculation"
... )
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/isi/w/mut/Programme/miniconda3/lib/python3.8/site-packages/pyiron/project.py", line 167, in create_job
    job = JobType(
  File "/isi/w/mut/Programme/miniconda3/lib/python3.8/site-packag

[2020-11-26 12:33] jan-janssen commented on #1229
The SQS code is an external tool which can be installed as separate conda package:
[code]
https://anaconda.org/conda-forge/sqsgenerator
https://github.com/dgehringer/sqsgenerator

[2020-11-26 12:49] danjuzam commented on #1229
Ok, thank you. Is there a list where one can see which of the available job_types are included in the pyiron installation and which have to be installed separately (and then how)? That would be very helpful.

[2020-11-26 12:56] jan-janssen commented on #1229
@danjuzam That is a great idea, here is a first list of codes and how to install them, the rest of the job types are available out of the box, but many of them require a quantum engine to evaluate energies and forces for a given structure. These quantum engines are commonly external codes. Still at least the open source codes can all be installed using conda.

| code | job_type | How to install ?

[2020-11-26 13:06] danjuzam commented on #1229
@jan-janssen Thanks a lot

[2020-11-26 15:18] jan-janssen commented on #1229
@danjuzam Thank you for bringing this up, I opened a pull request to include it in the FAQ https://github.com/pyiron/pyiron/pull/1231 so if you have more questions do not hesitate to open issues here. We are happy to welcome new users to the pyiron community.

[2020-11-26 16:06] liamhuber commented on #1173
As of #1228 this is still broken, but not silently 😉

[2020-11-26 16:06] #1173 closed

[2020-11-26 19:05] #1229 closed

[2020-11-27 01:47] caglayanoaras opened #1232 "Removing jobs takes absurd amount of time"
**Summary**
remove_jobs_silently(recursive=True) method takes too much time. I am not an expert in the field but I believe deleting jobs recursively one by one is not the best algorithm.
**Detailed Description**
I did some dummy tests to see the pattern. Figures below show the number of phonopy jobs and calc_minimize jobs in a project and the time it took to delete the project.
![1](https://user-i

[2020-11-27 14:27] samwaseda opened #1234 "How to get per atom result of CNA"
I can see that `analyse_pyscal_cna_adaptive` returns the total number of atoms belonging to each crystal structure, but it doesn't tell me which atom is what. So I would love to have an array/list of length `n_atoms` which contains something like `['fcc', 'bcc', 'bcc', 'other', ... ]`

[2020-11-27 14:28] jan-janssen commented on #1234
`mode` - it is documented in the docstring - 'total' is default, 'numeric' and 'str' are other options.

[2020-11-27 14:32] samwaseda commented on #1234
oh ok I saw that one but I misunderstood the content. Did ovito have the same interface?

[2020-11-27 14:33] jan-janssen commented on #1234
Yes, and there is even an ovito compatibility mode.

[2020-11-27 14:40] samwaseda commented on #1234
ok I had the feeling that ovito worked differently for `mode` but I'm probably wrong. Thanks anyway!

[2020-11-27 14:40] #1234 closed

[2020-11-29 19:22] caglayanoaras commented on #1232
I run them on MPIE cluster. Yes it is faster now.
![Capture2](https://user-images.githubusercontent.com/56139345/100551324-01109a00-3280-11eb-922c-a20361f7bf7e.PNG)
However, I got some notifications like this:
![Capture](https://user-images.githubusercontent.com/56139345/100551345-20a7c280-3280-11eb-9c9b-b29ba57246b5.PNG)
and this:
![Capture3](https://user-images.githubusercontent.com/56139345/100

[2020-12-02 13:51] SanderBorgmans opened #1241 "Structure issues when using ASE functions"
**Summary**

When creating a pyiron structure, and attempting to use an ASE function such as structure.set_dihedral(), an error occurs due to the structure.indices becoming floats. I have already pinpointed the problem I think (see below).

**pyiron Version and Platform**

HPC version of pyiron (should not significantly differ in atoms.py)

**Expected Behavior**

The ASE function should just retur

[2020-12-02 20:11] samwaseda opened #1242 "`set_initial_magnetic_moments` not working after deleting atoms"
This one works:

[code]

while this one doesn't:

[code]

I put `bug` but if this is something that I shouldn't have done, I'm also okay to accept it.

[2020-12-04 00:23] mostafajoulaian opened #1246 "job run required Max?"
I do some calculations with SPHInX and using the Pyiron interface, and when I want to submit my job,
 I get such an Error "'max' is undefined". I don't know whether in related to the new update pyiron or something else. (see attachment ) would it be possible for someone to tell me how to fix it?

<img width="959" alt="Screenshot 2020-12-04 at 01 22 52" src="https://user-images.githubusercontent.co

[2020-12-04 05:18] samwaseda commented on #1246
I don’t know the problem in detail but it sounds to me like it’s related to @jan-janssen ’s update of the executables from yesterday.

[2020-12-04 06:09] pmrv commented on #1246
This is due to me updating the queue config file yesterday, @jan-janssen copied it from there.  Seems like I misunderstood the Jinja docs. I'll look into a solution right away.

[2020-12-04 06:53] pmrv commented on #1246
I provided the fix [here](https://github.com/pyiron/pyiron-resources-mpie/pull/11) and [here](https://github.com/pyiron/pysqa/pull/48), but I think only @jan-janssen can deploy new configuration.  Until then no calculations can be started from pyiron in the usual way.  If you need to run something *right now*, set the job run mode to `manual` and run
[code]
from the directory where the job files a

[2020-12-04 06:59] samwaseda opened #1247 "What's standard procedure if terminal commands required"
I got a few feature requests from @yuyuanjingxuan which would require a few SPHInX commands. I could call them via `subprocess` but is it the right way to do so?

[2020-12-04 07:26] jan-janssen commented on #1246
Should be fixed now

[2020-12-04 07:26] jan-janssen commented on #1247
Is it pre- or postprrocessing? or an independent sphincter command?

[2020-12-04 07:27] samwaseda commented on #1247
For the ones I have right now it's only post processing.

[2020-12-04 07:29] jan-janssen commented on #1247
Then I would try to included it at the end of the `run_` shell script - maybe check if a certain flag is set.

[2020-12-04 07:36] samwaseda commented on #1247
For the problem I'm having right now (parsing DOS), that would be a good solution, but then we would have to load the executable with a lot of commands, most of which are not going to be used in the majority of the cases. Making the user set the flags before running the simulation is also quite counter intuitive, because DOS is an ordinary output just like everything else.

[2020-12-04 07:45] jan-janssen commented on #1247
You can also add a secondary run script, but I think we should use the executables, as different versions of Sphinx might change the behavior of the dos parsing.

[2020-12-04 08:26] #1176 closed

[2020-12-04 09:37] liamhuber opened #1248 "Structure methods could treat PBC better"
**Summary**

There are many methods of `Atoms` that rely on periodic boundary conditions, but when these are set partially or completely to `False`, they misbehave *silently*. That they behave differently than intended is expected is totally fair, but it let's make the results more transparent.

**Example**

Here, we play with `wrap` and see that without PBC it simply silently does nothing

[code]

[2020-12-04 10:59] liamhuber opened #1249 "Structure conversion functions to methods"
**Summary**

We currently have functions in `pyiron.atomistics.structure.atoms` to convert our `Atoms` class to pymatgen and ASE formats. Let's modernize the interface to these and make them accessible without explicit deep imports.

**Current**

[code]

**Suggested**

[code]

And similarly for ASE.

Anyone want to implement this? 😸 I suggest the following steps:

- Take the current conversion imp

[2020-12-04 11:14] #1246 closed

[2020-12-04 16:28] samwaseda commented on #1247
In the end I appended it to the current executables, but I'm not really fond of this solution...

[2020-12-04 22:07] #1247 closed

[2020-12-09 08:08] lfzhu-phys opened #1253 "Submit jobs using "s_cmfe" with 40 cores, but jobs run with "p_cmfe""
Does anyone experience this? Or, it's the default that it automatically changes from "s_cmfe" to "p_cmfe" if using 40 core.

[2020-12-09 08:21] pmrv commented on #1253
The `s_cmfe` queue in pyiron only accepts jobs with < 40.  Larger jobs are automatically sent to `p_cmfe`.  So as long as it doesn't break anything, this is intended behavior.

[2020-12-09 08:23] samwaseda commented on #1253
@lfzhu-phys Is there a particular reason that there's should be a distinction between `s_cmfe` and `p_cmfe` for 40 cores?

[2020-12-09 08:38] lfzhu-phys commented on #1253
@pmrv @samwaseda Ok, understand, thanks a lot:) I am asking because s_cmfe with 40 cores were working well before for my jobs. Now it automatically switches to p_cmfe. I am worrying I occupy more resources which is not necessary:)

[2020-12-09 08:39] #1253 closed

[2020-12-09 09:07] mostafajoulaian opened #1254 "Load Jobs"
I had a job which was done about a year ago, and new I wanted to load the job via job ID:
pr.load(id of the job)
and then I get such an error : "Objects can be only recovered from hdf5 if TYPE is given."
does anyone knows how to solve the problem and why this error arise
<img width="561" alt="Screenshot 2020-12-09 at 10 05 46" src="https://user-images.githubusercontent.com/62750893/101608691-55491

[2020-12-09 09:20] jan-janssen commented on #1254
@mostafajoulaian nobody has the chance to help you unless you provide some more information about what kind of job you try to load. The job id `2980314` does not help. In addition we introduced issue templates to help the users provide the required information - I do not understand why you ignore those:  https://github.com/pyiron/pyiron/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

**Please pr

[2020-12-09 09:22] jan-janssen commented on #1254
@samwaseda and @ashtonmv I assume this is related to backwards compatibility of the Sphinx Job class.

[2020-12-09 09:23] samwaseda commented on #1254
@mostafajoulaian I encounter this regularly and I have to admit I have never really been able to say when and why it happens. I have never posted this issue mainly because it was impossible to me to describe the issue properly and I was too fearful of someone telling me that I should provide more information that I wasn't really able to (which is exactly what happened here). My practical solution

[2020-12-09 09:26] samwaseda commented on #1254
Maybe yes, maybe not. Frankly I have no idea. At least I can say it's not a general problem (i.e. in general it's backward compatible).

[2020-12-09 09:28] jan-janssen commented on #1254
What is the type of the job you try to reload?
[code]
All the above command says it is not able to reload that job type because pyiron does not know what kind of object it is.

[2020-12-09 09:36] mostafajoulaian commented on #1254
If I get information correctly  the file it hdf5 and job type ""<class 'pyiron.sphinx.sphinx.Sphinx'>""

[2020-12-09 09:38] jan-janssen commented on #1254
And what do you get for a more recent job?

[2020-12-09 09:45] mostafajoulaian commented on #1254
when I use recent job ID, no error will pup up

[2020-12-09 09:46] samwaseda commented on #1254
I guess @jan-janssen 's question is what's written in `TYPE` for a more recent job.

[2020-12-09 09:50] mostafajoulaian commented on #1254
<img width="924" alt="Screenshot 2020-12-09 at 10 48 31" src="https://user-images.githubusercontent.com/62750893/101613498-1e75fe80-3a0c-11eb-89b7-079acd772c69.png">
@samwaseda when I use recent job ID it will loaded without any issue and job type is <class 'pyiron.sphinx.sphinx.Sphinx'>

[2020-12-09 10:01] jan-janssen commented on #1254
So to summarise:
[code]
And what is the output of:
[code]
pr.inspect(2980314).list_nodes()
[code]

[2020-12-09 10:11] mostafajoulaian commented on #1254
No
pr.inspect(10617305)["TYPE"] = <class 'pyiron.sphinx.sphinx.Sphinx'> !this is the new job
pr.inspect(2980314)["TYPE"] = nothing   !this is the old job
pr.inspect(2980314).list_nodes() = []  ! it is empty
<img width="602" alt="Screenshot 2020-12-09 at 11 11 14" src="https://user-images.githubusercontent.com/62750893/101616142-49ae1d00-3a0f-11eb-8f10-24a046a47418.png">

[2020-12-09 10:12] jan-janssen commented on #1254
But this is in contrast to what you posted before.

[2020-12-09 10:13] jan-janssen commented on #1254
To me this looks like the job does not exist or you do not have access - at least the HDF5 file is empty.

[2020-12-09 10:36] jan-janssen commented on #1254
**Summary**:
The HDF5 file is empty - and I implemented an error message to be more explicit about empty HDF5 files.

@mostafajoulaian Is there anything else we can do? Otherwise I guess you can close this issue.

[2020-12-09 10:48] mostafajoulaian commented on #1254
When you said what is the job type I got it as sam said {TYPE for a more recent job}. However
I bit confused; let me explain more in detail. This calculation belongs to the old Delta project, and now I have to re-run the codes. it is two separate notebooks:
1- the old version of the calculation, for instance (aluminum)
2- the second notebook is the one I am currently working on, and I want to load

[2020-12-09 10:59] jan-janssen commented on #1254
Great the I guess this issue is solved, as you said you once used the project:
[code]
and once the project:
[code]
which are obviously different and in one the HDF5 file exists while in the other it does not.

[2020-12-09 11:44] mostafajoulaian commented on #1254
for Aluminum the problem was solved ( I guess because I run the cell again) but If I take another element such as Niobium
(the order is the same as Aluminium)
pr = Project('Niobium\deltasphinxkjxc_Niobium') dose not contain any job

<img width="578" alt="Screenshot 2020-12-09 at 12 41 12" src="https://user-images.githubusercontent.com/62750893/101625547-d8c13200-3a1b-11eb-9633-59d8a2f98a8c.png">

[2020-12-09 11:47] jan-janssen commented on #1254
I can not even see the project column on the screenshot above, please post:
[code]

[2020-12-09 11:58] jan-janssen commented on #1254
@mostafajoulaian I have the feeling you moved around the HDF5 file outside of pyiron rather than using `pr.move_to()` and now you have an inconsistent database where the HDF5 files no longer exist in the paths which are stored in the pyiron database. So please very carefully check that your file system and your pyiron database is consistent. I do not see a bug here and we already extended the erro

[2020-12-09 15:15] #1254 closed

[2020-12-13 15:56] sudarsan-surendralal commented on #1241
Sorry for the late response! Please see the linked pull request!

[2020-12-13 17:47] sudarsan-surendralal commented on #1242
This is definitely a bug! See the linked pull request!

[2020-12-14 10:11] #1242 closed

[2020-12-14 11:19] samwaseda opened #1261 "Does it ever make sense to submit script job without script path?"
Every now and then I mistakenly submit a script job to the queueing system without specifying the script path. Somehow it doesn't raise an error and I notice it only when the job crashes on the queueing system. But does it ever make sense to submit a script job without a script path? If not, I'll make pyiron raise an error in this case so just let me know.

[2020-12-15 08:35] mostafajoulaian opened #1262 "sphinx can nit copied specific part from an old project"
I use the latest version of pyiron which is installed on the cluster.
I try to recover or coping some important setting from an old project (such as energy cut off, K point sampling, etc.). and try to run Murnaghan calculation. (for sphinx)
 It works very well, but what is not work is setting up a sphinx reference job with all the settings I want to make. it is deeper than the sphinx interior. Suc

[2020-12-15 08:42] samwaseda commented on #1262
I'm struggling...

Can you say which lines in your code are not working?

[2020-12-15 08:51] mostafajoulaian commented on #1262
sphinx_vasp_ref.input.sphinx.pawPot.species={"checkOverlap":0}
This line checkOverlap

[2020-12-15 08:57] freyso commented on #1262
This line is working as expected, I suppose. What is not working is to transfer this setting to the murn_sphinx_vasp job created here:
murn_sphinx_vasp = new_project.create_job(new_project.job_type.Murnaghan, job_name+str("_sphinx_vasp_murn"))
and assigned the reference job here:
murn_sphinx_vasp.ref_job = sphinx_vasp_ref
I further suspect that the actual job copying happens here:
murn_sphinx_vasp

[2020-12-15 08:59] samwaseda commented on #1262
What happens if you write
[code]

instead of
[code]
?

[2020-12-15 09:02] samwaseda commented on #1262
I just checked it myself and it appears to me that it's working, as @freyso also pointed out.

[2020-12-15 09:53] mostafajoulaian commented on #1262
I used the line that you mention but still my job getting aborted and when I look at the file  I see "
<img width="970" alt="Screenshot 2020-12-15 at 10 37 07" src="https://user-images.githubusercontent.com/62750893/102199300-c172c080-3ec3-11eb-8962-98de966740f2.png">
<img width="1187" alt="Screenshot 2020-12-15 at 10 53 15" src="https://user-images.githubusercontent.com/62750893/102199322-c6d00b0

[2020-12-15 10:00] freyso commented on #1262
Hi Mostafa,
these are just the general error messages of pyiron, which don't show the problem. Can you post the content of the pawPot{} group in the input.sx file that is being generated? I guess the "checkOverlap=0;" item is still missing...

[2020-12-15 10:06] mostafajoulaian commented on #1262
file which is created does not include "input.sx" which I don't know why but for the time being I look the input file through pyiron
<img width="1078" alt="Screenshot 2020-12-15 at 11 04 50" src="https://user-images.githubusercontent.com/62750893/102200781-912c2180-3ec5-11eb-8e9f-fe0df33582b4.png">

[2020-12-15 10:07] samwaseda commented on #1262
@mostafajoulaian post `print(a.input.to_sphinx())`

[2020-12-15 10:08] mostafajoulaian commented on #1262
CheckOverlap = 1;
Ediff = 0.0001;
EmptyStates = 14;
EnCut = 600;
Estep = 100;
KJxc = 1;
KpointCoords = 0.0;
KpointCoords = 0.0;
KpointCoords = 0.0;
KpointFolding = 21;
KpointFolding = 21;
KpointFolding = 21;
SaveMemory = 1;
Sigma = 0.1;
THREADS = 1;
VaspPot = 1;
WriteWaves = 1;
Xcorr = PBE;
rhoMixing = 1.0;
sphinx {
	PAWHamiltonian {
		ekt = 0.1;
		nEmptyStates = 14;
		spinPolarized = 0;
		xc = PB

[2020-12-15 10:10] samwaseda commented on #1262
well this time it would have been easier to see a picture instead of text...

[2020-12-15 10:11] mostafajoulaian commented on #1262
![Uploading Screenshot 2020-12-15 at 11.10.54.png…]()

[2020-12-15 10:12] mostafajoulaian commented on #1262
<img width="581" alt="Screenshot 2020-12-15 at 11 10 54" src="https://user-images.githubusercontent.com/62750893/102201406-5971a980-3ec6-11eb-83a6-64093d47ad9b.png">

[2020-12-15 10:14] freyso commented on #1262
Yes, exactly. The pawPot{} group is not set up as intended and specified in the ref_job.
@mostafajoulaian : please avoid pasting screen shots when copying text is sufficient.

[2020-12-15 10:16] freyso commented on #1262
I think I found the place where and how the reference job is copied to the single instances:
pyiron_base/pyiron_base/master/parallel.py , line 817:
`        job = self.ref_job.copy()`
If I correctly identified this, the error would be in the copy() function for sphinx jobs.

[2020-12-15 10:34] freyso commented on #1262
I tried to find out where this copy() function goes, but failed.

However, I discovered that the SPHInX job class contains an interface to checkOverlap via
`job.input.CheckOverlap = False`
and apparently also supports JTH GGA type potentials (including copying) via
`job.input.VaspPot = False`
maybe these settings are being copied? Mostafa, can you please try?

[2020-12-15 10:59] samwaseda commented on #1262
I still haven't got the problem properly. Can you maybe briefly explain what was expected and what you got instead? By the way, this was included in the template, so it would be nice to not erase it when you open a new PR, as pointed out by @jan-janssen recently...

[2020-12-15 11:51] freyso commented on #1262
We make the following setting in the reference job:
sphinx_vasp_ref.input.sphinx.pawPot.species={"checkOverlap":0}

This should set the "checkOverlap" entry in the pawPot group to 0 (=false), and this would work if we ran the reference job.
WHAT I EXPECTED was that this setting is copied from the reference job to the 7 murn jobs at different strains that are created by the Murnaghan job class.
WHA

[2020-12-15 11:51] ashtonmv commented on #1262
I have a minimum (standalone) working example below that I think explains the problem for @samwaseda as well as solves it for @mostafajoulaian:

@samwaseda the problem was that the input settings for `checkOverlap`, `potType`, etc. were being set correctly when we created the reference job, but then did not make it down to the murnaghan children jobs' inputs. So the 2nd print statement I have belo

[2020-12-15 12:49] samwaseda commented on #1262
Oooooooooooh ok now I got it. Let me check it then. But is @ashtonmv saying it's not a problem in the end?

This one is related to [this PR](https://github.com/pyiron/pyiron/issues/1254).

[2020-12-15 13:04] freyso commented on #1262
@ashtonmv :  I assume the magic is here:
`sphinx_vasp_ref.load_default_groups()`
because this creates the internal representation of the input file such that it can be reliably modified and copied. Is there any tutorial/example/reference where we could document this?

@samwaseda , I'll apologize for the confusion and effort you may have put into this. I'll go through this report with @mostafajoula

[2020-12-15 13:13] ashtonmv commented on #1262
sphinx_vasp_ref.load_default_groups()
because this creates the internal representation of the input file such that it can be reliably modified and copied. Is there any tutorial/example/reference where we could document this?

I think you're right, but `calc_static()` calls `load_default_groups()` internally, which is why I'm suspicious that the original problem was that we actually called calc_sta

[2020-12-15 13:18] freyso commented on #1262
alas! stupid copy&paste error. As classic as it could get...

Nonetheless, we probably should turn your working example into an "non-generic SPHInX settings" tutorial, where we explain all this. What do you think?

[2020-12-15 13:23] samwaseda commented on #1262
So if it's just about `checkOverlap`, I restored the function `job.set_check_overlap` [here](https://github.com/pyiron/pyiron/pull/1263), which will overwrite everything (and will not be overwritten by other functions), and since this one is part of the generic input (which is not even a little bit generic though), it should always be copied.

[2020-12-15 13:29] ashtonmv commented on #1262
@freyso Yes, I completely agree. I also discovered a few other surprises along the way that I think might be worth documenting/ patching somewhere.

And thanks for humoring us and for your help, @samwaseda 😄  I think we also had the same issue with flags/variables other than checkOverlap, but please don't worry about those. My hope with the Group access was that loose-cannon users could set some o

[2020-12-15 22:00] samwaseda opened #1264 "Is there a particular reason to set `cell` actively to `None`?"
https://github.com/pyiron/pyiron/blob/da28459af5070c8496e6faf8b17466183329c1d0/pyiron/atomistics/job/atomistic.py#L644

I see that in `get_structure`, `cell` is actively set to `None` if there's no output cell information. Is there a reason to do so? I don't see an immediate problem with the current implementation, but if for example in the case of SPHInX, the cell size doesn't change and for some

[2020-12-16 06:49] sudarsan-surendralal commented on #1264
Wouldn't it be better to rather fix the parser then? Even for non-converged calculations (that have not crashed), there should be reasonable output right?

But at what step? This only works if the cell size doesn't change

[2020-12-16 06:52] samwaseda commented on #1264
My short summary:

Acceptable:

- Structure gets the initial cell size and the rest is updated
- It raises an Error

Not acceptable (and is the current implementation)

- Structure gets `None` for the cell and the rest is updated

[2020-12-16 06:57] samwaseda commented on #1264
And in [this PR](https://github.com/pyiron/pyiron/pull/1265) I return the structure with whatever can be updated. I was thinking about raising an error, but it turned out that the `get_structure` in `interactive.py` does virtually the same thing, and since I abolished the one in `interactive.py` and created a unified version in `atomistic.py` (frankly I don't really understand why there were two v

[2020-12-16 07:23] liamhuber commented on #1264
`cell = None` is perfectly reasonable for many molecular calculations. I suggest keeping it.

[2020-12-16 07:26] samwaseda commented on #1264
Is it the convention for not having a cell? I thought it was just having no cell size and no PBC.

[2020-12-16 09:41] liamhuber commented on #1264
I'm not sure. How do you have a cell without having a cell size though?

[2020-12-16 09:42] samwaseda commented on #1264
As far as I remember ASE simply gives [0, 0, 0].

[2020-12-16 11:36] samwaseda commented on #1261
Merged above

[2020-12-16 11:36] #1261 closed

[2020-12-16 15:34] freyso commented on #1262
I close this, as our original claim that copying does not work properly has turned out to be a combination of stupid mistakes and misunderstandings of how to impose SPHInX settings on Murnaghan jobs.
The fix for set_check_overlap () is still a good outcome (Thanks, @samwaseda), and so will be the SPHInX settings tutorial (thanks, @ashtonmv)!

[2020-12-16 15:34] #1262 closed

[2020-12-16 15:51] raynol-dsouza opened #1267 "Reference job structure not passing into QuasiHarmonicJob"
I was trying to execute the workshop example for QHA using the QuasiHarmonicJob. Here is the code:

[code]

And this is the error stack that I get:
[code]
I ran the job on my cluster account, with the latest merges from `pyiron` and `pyiron_base`. Knowing that this code worked during the workshop, have any changes been made that maybe the reason for this error?