[2020-12-16 18:13] liamhuber commented on #1264
*grunt*, sounds like a kind of lazy workaround for not accounting for the true value of not having a cell. Anyhow, it's nothing I feel super strongly about one way or the other, but to answer your original question I still come down on the side that molecular calculations are a good reason to set the cell to `None` :p

[2020-12-17 12:28] #1053 closed

[2020-12-17 16:04] #1241 closed

[2020-12-18 08:22] pmrv commented on #1267
If that's the intended usage, then I'd think `QuasiHarmonicJob` should not be a `AtomisticParallelMaster`, but just a normal `ParallelMaster`.

[2020-12-18 11:12] #1267 closed

[2020-12-18 22:49] samwaseda commented on #1264
Since I merged the changes [here](https://github.com/pyiron/pyiron/pull/1265), I'm not particularly interested in this topic anymore, so I'm gonna close this issue, but this is probably something we should keep in mind.

[2020-12-18 22:49] #1264 closed

[2020-12-18 22:55] samwaseda opened #1272 "Changing atomic species ridiculously slow"
The following lines took nearly 5 min.

[code]

And since I'm running MC calculations with LAMMPS, where I switch species, it is actually quite critical that the simulation runs faster. Is there a way to make it maybe faster?

[2020-12-18 23:05] samwaseda commented on #1272
Ok I realised that using `Atoms.indices` makes it WAY faster, but is it safe? I'm gonna assign @sudarsan-surendralal because I have the feeling he knows it the best.

[2020-12-18 23:12] sudarsan-surendralal commented on #1272
For the snippet you show probably `structure[:] = "Al"` is the fastest way to do it.

If your structure already has all elements that you possibly want to switch to, using `indices` is definitely faster. But, it's only safe if you don't get rid of all atoms of a particular element or add new elements.

[2020-12-18 23:13] samwaseda commented on #1272
Okay brilliant. Thank you for your answer.

[2020-12-18 23:13] #1272 closed

[2021-01-04 09:59] jan-janssen opened #1275 "New pyiron release"
Joerg just informed me that the QuasiHarmonic Master does not work https://github.com/pyiron/phasediagram-workshop-2020/blob/master/Exercise4.ipynb

The issue was fixed in https://github.com/pyiron/pyiron/pull/1268

So we just need to create a new pyiron release and afterwards update the pyiron version on cmti.

@muh-hassani , @niklassiemer  and @pmrv Can one of you create a new release for pyiron

[2021-01-04 10:15] muh-hassani commented on #1275
Hello @jan-janssen, I can do this.

[2021-01-04 15:11] jan-janssen commented on #1275
With the recent changes in https://github.com/pyiron/pyiron/pull/1278 and https://github.com/pyiron/pyiron/pull/1277 it makes sense to release a pyiron `0.4.0` version.

[2021-01-04 15:19] jan-janssen commented on #1275
The focus of the pyiron `0.4.0` release is going to be the modularisation, this includes the activities of positioning pyiron as a tool beyond computational materials science and at the same time inside the atomistic part we can continue to separate the structure creation and the structure analysis in stand-alone toolboxes which could even be used without pyiron.

[2021-01-04 16:00] #1275 closed

[2021-01-08 09:39] SanderBorgmans opened #1281 "Plot3d mirrors cluster structures"
**Summary**

The plot3d() function appears to mirror cluster structures (no cell property), which is problematic for stereoisomers.

**pyiron Version and Platform**

HPC UGhent version of pyiron (should not significantly differ in atoms.py)

**Expected Behavior**

Using the plot3d_ase() function actually gives the correct structure (see attached xyz structure). The OH functionality should lie at t

[2021-01-08 09:46] liamhuber opened #1282 "Atomic spins could be an attribute"
Right now we need `structure.set_initial_magnetic_moment(*args, **kwargs)` to add spins to our atomic structures. But spin is just a per-atom property like position -- can we just set these as an attribute, e.g.

[code]

[2021-01-08 10:14] samwaseda commented on #1281
Ok I can see that it's mirrored on the yz plane. Let me see if I can fix it.

[2021-01-08 14:43] samwaseda opened #1284 "Make pyiron more self-explanatory"
pyiron is developed by different people and we all have different standards - some people prefer to make example notebooks and others prefer to make more elaborate doc strings. In my opinion, we can behold the great principle that we only need to import `Project` to do an entire research and we should also stick to it when it comes to documentation. In particular, I would like to make separate doc

[2021-01-09 07:51] #1281 closed

[2021-01-10 07:17] jan-janssen commented on #1284
I agree with most of the points, apart from the private functions. The issue with the private functions is that Python suggests to use private functions for functionality within one object and public functions to connect different objects. Now we have a third level which is the user interacting with these objects and I do not see a clear strategy yet how to handle these three levels. My only sugge

[2021-01-10 10:11] jan-janssen opened #1290 "pyiron 0.4.0 - modular release"
As discussed in the last pyiron meeting @niklassiemer and I moved the traditional pyiron package to https://github.com/pyiron/pyiron_atomistics . This migration enables us to extend pyiron beyond atomistic simulation and continue working on the inclusion of continuum simulation https://github.com/pyiron/pyiron_contrib/pull/35 and the post processing of experimental datasets https://github.com/pyir

[2021-01-11 09:12] pmrv commented on #1284
What about the following guide lines for private functions:
- If we expect users to call them, they get a plain name `do_whatever()`
- if we expect developers or other classes to call them, they get an underscore `_do_a_dev_thing()` (this is what we do already)
- everything else that will just be called from the class on itself, gets the python name mangeling leading double underscore `__do_the_pl

[2021-01-11 12:47] liamhuber commented on #1284
@samwaseda I like this idea. In general I would also push the general principle that docstrings should focus as much as possible on *why* the code exists, rather than *how* the code operates (which should, hopefully, be obvious from the code itself). With that said, I'm definitely not 100% against some "how", for instance giving a little operational example in each class sounds great.

I would pus

[2021-01-11 12:49] liamhuber commented on #1290
Nit: Do we want `pyiron_atomistics` or `pyiron_atomistic`? Compared to `pyrion_base`, `pyiron_continuum`, `pyiron_experiment`, I think the later actually fits better. I don't feel super strongly about it, but now is pretty much the only opportunity we'll have to make the choice 😛

[2021-01-12 20:44] ycc252 opened #1292 "ValueError: Was not able to locate the potential files"
Hi all,

I have used Pyiron as a first try after successfully installation and configuration,

from pyiron import Project
pr = Project('test')
structure = pr.create_structure('Fe', 'bcc', 2.78)
job = pr.create_job(job_type=pr.job_type.Lammps, job_name='lammpstestjob')
job.structure = structure
job.potential = job.list_potentials()[0]
job.run()

But got below issue:
--------------------------------

[2021-01-12 20:47] ycc252 commented on #1292
the topic is wrong, which should be ValueError: Was not able to locate the potential files

[2021-01-12 21:20] jan-janssen commented on #1292
Can you post your `~/.pyiron` config file? It seems like the resource directory is not configured correctly. pyiron requires your conda environment to be activated, e.g. the `CONDA_PREFIX` variable to be set to use the interatomic potentials from `pyiron-data`.
https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#activating-an-environment
In case you installed p

[2021-01-12 23:01] ycc252 commented on #1292
it works out. Thanks!

[2021-01-12 23:03] ycc252 commented on #1292
but actually, I notice another problem. after using conda update pyiron(it says I need to restart, which I have done),but the pyiron version doesn't change.

[2021-01-13 05:59] samwaseda commented on #1284
Hm ok then let's stick to the python principle. I'm also okay with @pmrv's solution, but this kind of decision probably follows democracy and with two of you against it, I'm not going to initiate an interpyironic war.

I guess the distinction is between inherited and not inherited, and not between methods and public attributes, right? If you mean "a class's own new methods/attributes should be des

[2021-01-13 07:00] jan-janssen commented on #1292
Can you post the output of:
[code]

[2021-01-13 09:41] ycc252 commented on #1292
0.2.11
/mnt/c/Anaconda_linux/Anaconda3/lib/python3.7/site-packages/pyiron/__init__.py

[2021-01-13 09:54] jan-janssen commented on #1292
That is a bit strange, can you try to update pyiron to either 0.4.0 or 0.3.23. You can do this with conda using:
[code]
Version 0.2.11 was released in April last year and we fixed quite a few bugs since then.

[2021-01-13 10:13] ycc252 commented on #1292
conda install pyiron=0.4.0
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - py

[2021-01-13 10:16] jan-janssen commented on #1292
Sorry I thought you have added the conda-forge channel:
[code]
Alternatively you can add the conda-forge channel using:
[code]

[2021-01-13 11:55] ycc252 commented on #1292
it was installed but still not working.

[2021-01-13 11:57] jan-janssen commented on #1292
Can you post your pyiron config file `~/.pyiron` ?

[2021-01-13 13:31] ycc252 commented on #1292
Hi, it is as follows
[DEFAULT]
PROJECT_PATHS = ~/pyiron/projects
RESOURCE_PATHS = ~/pyiron/resources

[2021-01-13 13:37] ycc252 commented on #1292
Thanks so much,
I have tried to rerun everything, it works out

[2021-01-13 13:38] jan-janssen commented on #1292
Perfect

[2021-01-13 13:38] #1292 closed

[2021-01-13 16:02] liamhuber commented on #1284
@samwaseda I think the only thing we disagree on is whether methods should appear in the class docstring *at all*. I think that as a rule of thumb they shouldn't. The [sphinx google docstring example](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html) clearly omits method descriptions, while the [numpy styleguide](https://numpydoc.readthedocs.io/en/latest/format.html#clas

[2021-01-15 09:55] samwaseda commented on #1284
Thank you for all the comments and the discussion at today's pyiron meeting!

[2021-01-15 09:55] #1284 closed

[2021-01-18 08:16] Leimeroth opened #1293 "Lammps Potential Error"
**Summary**

Pyiron can't load the EMT_Asap_MetalGlass_PaduraruKenoufiBailey_2007_CuZr__MO_987541074959_001 potential, probably because it is not in the resources directory.

**pyiron Version and Platform**

recent git versions on ubuntu

**Expected Behavior**

Pyiron loads the potential and runs the job

**Actual Behavior**

Throws this error:
[code]

**Steps to Reproduce**

Try to create a job w

[2021-01-18 08:51] niklassiemer commented on #1293
What are the steps to reproduce this error? I.e. where do you get the names of the Potentials from? We had some changes in the potentials to get rid of duplicated entries #1181 and this seems to be related, since the potential name does not look like a NIST one.

[2021-01-18 09:52] Leimeroth commented on #1293
I just looped over all available potentials and did a simple relaxation to compare the lattice constants. This is the code:

# Create a template job with the fcc Cu structure to list available potentials
structure = pr.create_ase_bulk("Cu", "fcc", a=3.6, cubic=True)
job = pr.create_job("Lammps", "Template")
job.structure = structure
potentials = job.list_potentials()

# Get the number of available

[2021-01-18 10:35] jan-janssen commented on #1293
Which version of pyiron data/ pyiron do you have?
[code]
How is the resource directory configured?
[code]
In the current implementation pyiron downloads a conda package we developed in collaboration with the NIST which includes all the recent potentials. You can find those in:
[code]
This requires the conda environment to be activated, so the `CONDA_PREFIX` variable is set.

[2021-01-18 10:45] Leimeroth commented on #1293
pyiron                    0.3.8              pyh9f0ad1d_0    conda-forge
pyiron-data               0.0.5                hd8ed1ab_1    conda-forge
pyiron_base               0.1.44             pyhd8ed1ab_0    conda-forge

but with current git master branches of pyiron, pyiron_atomistics, pyiron_base, pyiron_contrib, pysqa

resources is default via pyiron.install():
RESOURCE_PATHS = ~/pyiron/resource

[2021-01-18 10:53] jan-janssen commented on #1293
Can you check `~/anaconda3/share/iprpy` ?

[2021-01-18 10:56] Leimeroth commented on #1293
That contains subdirectories with json potential files. Should I add it to the resources path or copy the data from there to my resources?

[2021-01-18 11:25] Leimeroth commented on #1293
I deleted the potentials directory in  pyiron/ressources/lammps/ and it seems to find the potentials in ~/anaconda3/share/iprpy, but it still throws the error, So I assume something is wrong in the formatting of the potential file.

Also if I execute pyiron.install() it still downloads potentials into the resources, but the Parudaru directory that is present in the iprpy directory is missing, i.e.

[2021-01-18 11:41] jan-janssen commented on #1293
`pyiron.install()` is only necessary if you install pyiron from source or pip
https://pyiron.readthedocs.io/en/latest/source/installation.html#download-pyiron-parameter-files

[2021-01-18 11:49] Leimeroth commented on #1293
I was just confused why the resources version downloaded with pyiron.install() differs from the one coming with the conda installation

[2021-01-18 12:44] jan-janssen commented on #1293
This should not be the case because the resources are basically copied from the conda package. But maybe try updating pyiron to 0.4.0 - I am not sure if this change was already included in 0.3.8 . Alternatively you can download 0.3.23 which was the last 0.3.X release. More details on 0.4.X can be found https://github.com/pyiron/pyiron/issues/1290

[2021-01-18 13:42] Ahmed-Aslam opened #1294 "ConnectionError : cannot open pyiron account"
Hi all,
I am unable to open my pyiron account (https://localhost:8000/user/aaslam/) via chrome.

To connect to pyiron, first I login at gatezero (ssh -x -L 8000:localhost:30000 aaslam@gatezero.rzg.mpg.de) and then at cmti (ssh -x -L 30000:localhost:30000 aaslam@cmti001.bc.rzg.mpg.de). There is no issue for these steps. However, the connection to pyiron account via browser cannot be established.

I

[2021-01-18 14:11] Leimeroth commented on #1293
I am using the current git master branch, maybe the potential is a duplicate and was removed in the potential_lammps directory  but forgotten in the potentials_lammps.csv file?

[2021-01-18 15:00] yuyuanjingxuan opened #1295 "The old way for modification of ZVAL in the POTCAR is unavailable"
Hi all,

I am carrying out a vasp calculation with potentiostat method. Thus, I use `potential_file_creator` to modify the `ZVAL` of one element of a structure provided. Take an example which add 0.01e to the 1st Ne atom of `struc`. What I used to do is

[code]
The type of `struc` here is `pyiron_atomistics.atomistics.structure.atoms.Atoms`, while the type of `Ne_new` is `pyiron.atomistics.structu

[2021-01-18 15:03] jan-janssen commented on #1293
Ok, I guess we were on the wrong track, as the error message already says, the citation is `np.nan` which can not be parsed. The code did not expect a potential without a citation and therefore fails, if a citation exists which is not a string. This issue is fixed in https://github.com/pyiron/pyiron_atomistics/pull/22

I created an example repository on mybinder to demonstrate this functionality:

[2021-01-18 15:12] sudarsan-surendralal commented on #1295
This is very strange. Can you check if

[code]

returns `True`?

[2021-01-18 15:22] yuyuanjingxuan commented on #1295
Unfortunately, it returns `False` here.
Does that means `pyiron_atomistics.atomistics.structure.periodic_table.ChemicalElement` and `pyiron.atomistics.structure.periodic_table.ChemicalElement` are not the same object?

[2021-01-18 15:28] sudarsan-surendralal commented on #1295
Yes you are right! We have updated `pyiron.atomistics` to `pyiron_atomistics.atomistics` but unfortunately, these changes are not made in the `pyiron_mpie` repository which you use.  I've opened a pull request for this (https://github.com/pyiron/pyiron_mpie/pull/39). Can you try using this branch?

[2021-01-18 15:50] mostafajoulaian opened #1297 "changing density mixing parameter"
would you please someone explain how to changing density mixing parameter in VASP.
I know in sphinx we used:
job.set_mixing_parameters(density_mixing_parameter=0.5)
but how about vasp??
I used the latest version of Pyiron.

[2021-01-18 15:51] jan-janssen commented on #1294
The cluster is working fine, so it seems to be a client side issue. Maybe try a different browser or restart your computer in case the port is already used by another connection.

@muh-hassani Any further suggestions?

[2021-01-18 15:53] jan-janssen commented on #1297
The details of the density mixing are explained in the VASP manual https://www.vasp.at/wiki/index.php/Category:Density_Mixing

[2021-01-18 15:53] samwaseda commented on #1297
That should be the same with VASP. If you have the cluster version of pyiron (i.e. if [this PR](https://github.com/pyiron/pyiron_atomistics/pull/20/files) is not reflected), you probably have to set `method='PULAY'`.

[2021-01-18 16:02] muh-hassani commented on #1294
@Ahmed-Aslam I am currently outside. In half an hour, I will contact you and check the log of the jupyterhub to see what the problem is.

[2021-01-18 16:03] pmrv commented on #1294
It might be possible that this double forwarding has some problems, since you are connecting the tunnel at gatezero:30000 and only then opening the other tunnel.  Did that use to work?

Try cutting out one tunnel by using the `-J` flag of `ssh` like this
[code]

[2021-01-18 16:04] Ahmed-Aslam commented on #1294
@jan-janssen I have tried both but still not working.

[2021-01-18 16:08] #1297 closed

[2021-01-18 16:13] samwaseda commented on #1297
By the way, you're also welcome to post this kind of how-to questions on stack overflow.

[2021-01-18 16:15] Ahmed-Aslam commented on #1294
Yes I always connect it like this. It was working for me today in the morning as well.

This gives me an error " Permission denied"

No, there is no such process.

[2021-01-18 16:15] mostafajoulaian commented on #1297
Nice I will give it try for my next question:)) thank you really for your kind help

[2021-01-18 16:38] sudarsan-surendralal commented on #1294
It could be that you are out of memory/have exceeded your file quota. Can you login through the terminal and check this?

[2021-01-18 16:39] muh-hassani commented on #1294
In that case, normally there will be a failed spawn message.
I guess there is an issue with Ahmed's network.

[2021-01-18 16:41] yuyuanjingxuan commented on #1295
Thanks Sudarsan. It works when I load the `refactor` branch from `pyiron_mpie`.

[2021-01-18 16:41] #1295 closed

[2021-01-18 16:51] Ahmed-Aslam commented on #1294
Thank you all. It seems there was some problem with my local network. Its working now.

[2021-01-18 16:52] #1294 closed

[2021-01-20 09:58] Leimeroth commented on #1293
Fixed

[2021-01-20 09:58] #1293 closed

[2021-02-02 13:33] niklassiemer opened #1302 "From pyiron.atomistics import Project does not work."
I am not sure how we want to handle this, however, if I am not mistaken we want to support the nomenclature `from pyiron.atomistics import Project`. Right now, we bind the `atomistics` module of `pyiron_atomistics` to `pyiron.atomistics` to be backwards compatible. Any thoughts about how to resolve this naming conflict?

https://github.com/pyiron/pyiron/blob/40f43e069bd963bea2c48602220b5b2df077618

[2021-02-02 14:10] Leimeroth opened #1303 "Conda tries to install version 0.3.8"
**Summary**
When installing pyiron via conda version 0.3.8 is installed as default instead of version 0.4.0 or another more recent version. I am not sure if this is intended behavior to not break stuff?

**pyiron Version and Platform**

Different Ubuntu versions and derivatives

[2021-02-02 14:18] jan-janssen commented on #1303
I can not reproduce this, when I use:
[code]
I get version `0.4.0`.

[2021-02-02 14:25] Leimeroth commented on #1303
Does it make a difference when using conda install -c conda-forge pyiron in the base environment?

[2021-02-02 14:27] jan-janssen commented on #1303
It is using the dependencies which already exist in the base environment, like the python version and so on. If your base environment is up to date then it should be the same.

[2021-02-02 14:27] Leimeroth commented on #1303
It's a clean installation without any packages installed yet

[2021-02-02 14:30] jan-janssen commented on #1303
After installing it is always reasonable to update the installation, as the installers usually do not include the latest versions.

[2021-02-02 14:42] Leimeroth commented on #1303
This didn't solve the issue. I also have limited information, because the problem occurred for one of our students and not me.
We also use pyiron in a lecture and it didn't automatically update past version 0.3.8 for the students when running conda update --all, but for them it helped to run conda install -c conda-forge "pyiron>=0.4.0" so we didn't look into it further.

[2021-02-02 14:47] jan-janssen commented on #1303
It would be interesting to see which other packages were updated when you installed pyiron.

[2021-02-02 15:05] Leimeroth commented on #1303
conda install -c conda-forge pyiron
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: done
## Package Plan ##
  environment loca

[2021-02-02 15:07] Leimeroth commented on #1303
This is after installing a few dependencies like ase manually

[2021-02-02 15:08] jan-janssen commented on #1303
Ok and what do you get if you enforce `pyiron>=0.4` ?

[2021-02-02 15:24] Leimeroth commented on #1303
conda install -c conda-forge "pyiron>=0.4.0"
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: -
Warning: 2 possible package res

[2021-02-02 19:44] sravankumarkb opened #1304 "Request for function for doing bader charge analysis"
**Summary**

Hello everyone,
I am looking for a function in pyiron to do Bader charge analysis.

**Detailed Description**

Usually, it can be done with an executable developed by Prof. Henkelman. [(http://theory.cm.utexas.edu/henkelman/code/bader/)](url)

This executable generates a file (ACF.dat) with the charges of the atoms.
It would be nice to have a function that can run this executable, gene

[2021-02-02 23:21] jan-janssen commented on #1303
So what changed in `0.3.9` and later is that we were adding `pymatgen` as additional dependency. https://github.com/conda-forge/pyiron-feedstock/commit/3af3f90990c32a473907256b001d2cfb67bec8cd - which is most likely also the reason for the increasing number of dependencies in particular `apscheduler` from abinit seems to be causing an issue:

[code]

We could remove `pymatgen` again from the list

[2021-02-03 09:14] edmen-dev opened #1305 "invalid __array_struct__ when structure.plot3d() for simple bccFe"
**Summary**
After creating a trivial bcc structure, suddenly now I get an invalid __array_struct__ error when I try to run structure.plot3d(). The same problem appears when I run Vasp with this structure.

**pyiron Version and Platform**
My pyiron_atomistics.__version__ is
'0.2.3'

**Steps to Reproduce**
This is a simple cell to reproduce this problem:
import pyiron
from pyiron import Project
pr =

[2021-02-03 09:34] jan-janssen commented on #1305
That seems to be related to the numpy update, which numpy version do you use?
[code]
For me the example works fine with the latest numpy version.

[2021-02-03 09:36] edmen-dev commented on #1305
My numpy version is:
# packages in environment at /u/system/SLES12/soft/pyiron/dev/anaconda3:
#
# Name                    Version                   Build  Channel
numpy                     1.20.0           py37haa41c4c_0    conda-forge
numpydoc                  1.1.0                      py_1    conda-forge

Note: you may need to restart the kernel to use updated packages.

Is not the most recent

[2021-02-03 09:43] jan-janssen commented on #1305
I can confirm it is broken on the cluster while it seems to be working locally. @muh-hassani Can you take a look at this?

[2021-02-03 09:50] jan-janssen commented on #1305
I have to correct myself, my pyiron branch on cmti was not up to date. @edmen-dev Can you make sure you are on the latest master branch of pyiron_atomistics in case you use your own branch. You can test it with:
[code]

[2021-02-03 09:55] jan-janssen commented on #1305
I can confirm that also the central version is working fine, so I assume it is related to a custom `pyiron_atomistics` version.

[2021-02-03 10:56] edmen-dev commented on #1305
I see, thanks, I'll try to look at it properly later. Just FYI, what I get from your command lines is:
'/u/system/SLES12/soft/pyiron/dev/anaconda3/lib/python3.7/site-packages/pyiron_atomistics/__init__.py'

[2021-02-03 11:40] jan-janssen commented on #1305
@edmen-dev Can you try restarting your jupyter notebook server?

[2021-02-03 20:53] edmen-dev commented on #1305
I did and that did not fix the problem. Now I am using the central version and so everything is working again, so your confirmations was right. Working with the central version nowadays is also good enough for me.
Thanks.

[2021-02-03 20:53] #1305 closed

[2021-02-04 11:00] jan-janssen commented on #1303
@Leimeroth I released a new build of 0.4.0 which does not require `pymatgen` can you check if this resolves the dependency issue with the conda package?

[2021-02-04 11:27] Leimeroth commented on #1303
How is that done? If I run conda install -c conda-forge "pyiron>=0.4.0" again it does not show any conflicts anymore, but I am not sure if that is the case because you fixed it or because it is installed already

[2021-02-04 11:40] jan-janssen commented on #1303
No I guess we can only see it if somebody does another fresh install.

[2021-02-04 17:49] suhyunyoo opened #1306 "How to create the pseudohydrogen potential with modified valency (ZVAL)"
**Summary**
I'd like to create a pseudohydrogen potential with the modified valency (ZVAL)
e.g. potpaw_PBE/H.5/POTCAR with ZVAL = 0.48

But I faced at two errors and it would be great if there's way to solve it.
1. an error reading the element name "H.5"
2. Permission problem when writing potential file

**pyiron Version and Platform**
location of pyiron I'm using: /u/system/SLES12/soft/pyiron/dev

[2021-02-05 20:51] zendegani opened #1307 "Creating structures using space_group, cut, and stack"
Following today pyiron meeting, I've attached a simple code to create [Confined Basal Defect](https://www.sciencedirect.com/science/article/abs/pii/S135964541930727X) in C14 Laves phase.
Construction of the Laves and Mu phases requires a package that supports `spacegroup`, e.g. `ASE`.
Also cutting and stacking the atomic layers are required.
Eventually, I convert the structure with `ase_to_pyiron`

[2021-02-08 16:20] pmrv commented on #1307
From my side, all we really want to do is add `crystal`, `cut`, and `stack` to the [StructureFactory](https://github.com/pyiron/pyiron_atomistics/blob/859dec1f2d027b51676726c8670e599c5a81b487/pyiron_atomistics/atomistics/structure/factory.py#L50), otherwise this looks good enough, imo.

[2021-02-09 10:48] samwaseda opened #1308 "Would it make sense to make jobs auto-completable?"
We all face the problem that it's super difficult to remember the job names and often they are too long to type. I was wondering if you see a possibility to make it auto-completable, e.g. via `pr.load.job_name`. What do you think?

[2021-02-09 14:06] zendegani commented on #1307
Ok, I'll add three methods to wrap `crystal`, `cut`, and `stack`. I'll probably name them as `ase_crystal`, `ase_cut`, and `ase_stack`.

[2021-02-09 18:41] niklassiemer commented on #1307
You can also already convert `ase_c14` and `ase_mu` to pyiron with `ase_to_pyiron` before using  `cut` and `stack`, however, this is an additional line at the moment (as long as we do not have the changes in pyiron). Since `cut` and `stack` are working for our atoms class, `ase_crystal` should return a pyiron atoms object like we do it for the other functions.

[2021-02-09 18:58] liamhuber commented on #1307
I am not yet convinced, but I want to throw the idea out there: perhaps we should have an `ase` subdomain for the factory. ie

[code]

this would then be in contrast to something like

[code]

[2021-02-10 06:17] pmrv commented on #1307
Not sure if we want to make our dependencies that explicit?  I'd just call them

[code]

and pretend their ours, since they work with pyiron `Atoms`.

[2021-02-10 06:22] samwaseda commented on #1307
I would side with @pmrv. If there's an explicit ase dependency, I think it should behave like ase, i.e. `ase.build.bulk` and not `ase.bulk`.

[2021-02-10 06:50] niklassiemer commented on #1307
I like the idea of just using `cut` and `stack` as the names (stating this is the same as `ase.build.cut` in the Docstring similar to our `ase_read`). However, for `crystal` we already have an internal version. Do we plan to replace that?

[2021-02-10 07:53] zendegani commented on #1307
@niklassiemer  The current [crystal](https://github.com/pyiron/pyiron_atomistics/blob/859dec1f2d027b51676726c8670e599c5a81b487/pyiron_atomistics/atomistics/structure/factory.py#L155) method is the one that is used as `pr.create_structure()`.
Not easy to replace and not necessary to do so. That is the reason I wanted to name the wrapper method as `ase_crystal` similar to what you mentioned about `a

[2021-02-10 08:08] zendegani commented on #1307
I myself prefer a subdomain for `ase` as @liamhuber suggested rather than wrapping `ase` methods.
So far there are three suggestions about how the subdomain should look like:
@liamhuber
[code]
@pmrv
[code]
@samwaseda
[code]
I think each of these has its own cons and pros.
For example, `pr.create.structure.bulk(...)` does not make it clear what is behind the hood.
As long as it depends on `ase`, I

[2021-02-10 08:11] samwaseda commented on #1307
No, I'm not pushing for this. I'm saying I prefer `pr.create.structure.ase.build.bulk` to `pr.create.structure.ase.bulk`, but my first choice would be what @pmrv suggests.

[2021-02-10 11:51] liamhuber commented on #1307
So from the isolated perspective of a user, I am totally on board that `pr.create.structure.bulk` is the nicest. However, from a wider dev perspective I have an ethical concern about properly attributing credit. The closer our method is to a straight port of their function (and `ase_bulk` is literally just `ase_to_pyiron(ase.bulk.build)`!!!) the less comfortable I am excluding the ASE name.

I wou

[2021-02-12 09:16] pmrv commented on #1307
From the meeting we want two functions

[code]

where former just calls the later and says so in its docstring.  If we ever want to change bulk generation the `bulk` function will stay compatible and remap the arguments to whatever replacement we decide on.  `ase.bulk` should then be the exact ASE interface.

So the `ase.build` would live in a class like this

[code]

[2021-02-15 07:01] samwaseda opened #1310 "How to cite papers in docstrings"
I know that pyiron has the feature to show all papers involved, but I'd like to talk about more practical cases, namely when the user wants to see the original paper quickly. I just wanted to raise this point briefly in order to share the common base with everyone.

The specific example below is related to `set_mixing_parameter` in VASP and SPHInX, where we use either the linear (aka Kerker) mixer

[2021-02-23 07:49] #1307 closed

[2021-02-23 13:31] caglayanoaras opened #1311 "Kim potentials"
When I use the calcium potential 'Morse_Shifted_GirifalcoWeizer_1959HighCutoff_Ca__MO_159753408472_003', I get the error

Last command: pair_style kim Morse_Shifted_GirifalcoWeizer_1959HighCutoff_Ca__MO_159753408472_003

This was not the case last week and I do not get this error for other kim potentials (such az Zr). I have realized that in Kim webpage the name of the potential become 'Morse_Shif

[2021-02-23 15:10] jan-janssen commented on #1311
@caglayanoaras Yes, the name change is the reason why it fails I created a workaround https://github.com/jan-janssen/pyiron_test_potentials/blob/master/test_openkim_Ca.ipynb

[2021-02-23 16:19] caglayanoaras commented on #1311
Thank you Jan.

[2021-02-23 18:49] jan-janssen commented on #1311
Seems like there is yet another issue https://github.com/lmhale99/potentials-library/issues/1

[2021-02-24 10:55] sravankumarkb opened #1312 "Timeout error for script job"
**Summary**

<
I get timeout error when I run my script job

**pyiron Version and Platform**

[code]

**Expected Behavior**

<
I expect the default timeout to be None

**Actual Behavior**

<
But I think the timeout is set to 9999999. This is the error I get
[code]

**Steps to Reproduce**

<
    structures_job = pr.create_job(pr.job_type.ScriptJob, 'structures_job')
    structures_job.script_path =

[2021-02-24 11:28] jan-janssen commented on #1312
Please post the `error.msg` file from the working directory - to me this sounds like your notebook crashed. Are you able to execute the notebook on the login node?

[2021-02-24 11:49] sravankumarkb commented on #1312
The notebook essentially creates structures and compares them with other structures by looking at all the combinations.
I can run the notebook to the end on the login node for small systems.
For large systems, I cannot run my notebook to the end on the login node, because it takes too long. That is why I wanted to submit it as a job.

Here is the ``` error.msg```

[code]

[2021-02-24 11:56] jan-janssen commented on #1312
[code]
This sounds like the notebook just crashed. But there should be some more information, in which cell it happened and so on. Maybe you can check `error.out` but in general if the notebook crashes there is not much we can do from the pyiron side.

[2021-02-24 12:13] sravankumarkb commented on #1312
Is there a way to tweak the notebook execution options so that the timeout can be set to None? Thanks.
Maybe something like this

[code]
from this webpage

[https://nbconvert.readthedocs.io/en/latest/execute_api.html](url)

[https://nbconvert.readthedocs.io/en/latest/config_options.html](url)
[https://github.com/jupyter/nbconvert/pull/260](url)

[2021-02-24 13:15] jan-janssen commented on #1312
From my perspective a dead kernel is not related to a timeout.

[2021-02-24 13:28] jan-janssen commented on #1311
@caglayanoaras The issue is fixed in `2021.2.23`. @muh-hassani Can you update the `iprpy-data` package on cmti?

[2021-02-24 13:34] muh-hassani commented on #1311
@jan-janssen, done!

[2021-02-24 14:56] #1311 closed

[2021-02-25 17:00] #1312 closed

[2021-03-10 21:33] mostafajoulaian opened #1320 "creating sphinx job"
**Summary**

I have problem when I wanted to create sphinx job.

**pyiron Version and Platform**
I used latest version on cluster however I am not sure how can I see my pyiron version to write it here.

**Expected Behavior**
I am expecting to create sphinx job to do filed evaporation calculation.
I do it as below:
first of all I create function for creating sphinx job like this:
[code]

and I am e

[2021-03-11 07:08] pmrv commented on #1320
This sounds like a bug we used to have because of a weird numpy version.  I can't find the original bug report now, but try to update all your pyiron repositories that you cloned locally (pyiron_atomistics, pyiron_base, pyiron) by running `git pull` in their directories.

[2021-03-14 20:50] mostafajoulaian commented on #1320
I tried to update my pyiron via:

/cmmc/u/username/software> git pull https://github.com/pyiron/pyiron.git

but I got an error such as :

fatal: not a git repository (or any parent up to mount point /)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

[2021-03-15 07:49] jan-janssen commented on #1320
you can check where the pyiron modules are located using:

[code]

In addition please post your `.bashrc`:
[code]

If you remove all entries which overwrite the `PYTHONPATH` from your `.bashrc` and restart your jupyter server via the control panel then you should be reset to using the central pyiron installation.

[2021-03-15 09:14] mostafajoulaian commented on #1320
I looked at file path it was
`/u/username/software/pyiron/pyiron/.....`
so I tried to git pull at that directory I get error as :

`Your local changes to the following files would be overwritten by merge:
        pyiron/sphinx/base.py
Please commit your changes or stash them before you merge.
Aborting`
as I search I have to do these step:

deleted the file that was causing the issue, checked it ou

[2021-03-15 09:20] jan-janssen commented on #1320
Can you post the whole `.bashrc` ?

In addition it would be great to understand what exactly you changed. Can you execute the following and post the output?
[code]

[2021-03-15 09:24] mostafajoulaian commented on #1320
here is the whole .bashrc:
[code]

here is the `git diff`:
[code]

[2021-03-15 09:31] jan-janssen commented on #1320
These changes are now included:
https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/sphinx/base.py#L440

So you can simply:
[code]

But this seems to be a very old pyiron version and I do not see where you load it in your `.bashrc` file.

Can you check?
[code]

It seems like somewhere you are loading `/u/username/software/pyiron/pyiron/` which should not be necessary.

[2021-03-15 09:59] mostafajoulaian commented on #1320
here is the `cat ~/.profile`:
[code]
I guess  I know what is the problem. Micheal some month ago change pyiron version from cluster to something else. I am not sure even I am right or not. as far as I remember he did some change in $PYTHONPATH". I don't know how can I back to original cluster version of pyiron.
about my original question right know I update the  pyiron repositories via `git pull`

[2021-03-15 10:03] jan-janssen commented on #1320
Can you remove the following line in your `~/.profile`:
[code]

[2021-03-15 11:20] jan-janssen commented on #1320
@mostafajoulaian Did removing the line solve the problem for you?

[2021-03-15 11:41] mostafajoulaian commented on #1320
I am not sure yet. It arise error at the beginning of my code when I try to load module `pymatgen` :
`from pymatgen import Structure`
I try to search GitHub to see why it can not load how to solve this error.
cannot import name 'Structure' from 'pymatgen' (unknown location)
it was work before. as soon as I find solution for that I will update here.

[2021-03-15 11:48] jan-janssen commented on #1320
https://pymatgen.org/compatibility.html#v2022-0-0

[code]

We made the required changes in pyiron https://github.com/pyiron/pyiron_atomistics/pull/105

[2021-03-15 11:58] mostafajoulaian commented on #1320
thank you for your kind help it was progressing a lot. back to my original question still can not create job but with other error.

 Invalid name for a PyIron object (no "." or "#") allowed

I used normal naming:
`  job = create_sphinx_job(job_name="i" + str(i).replace(".", "_"), element='Mo') `

[2021-03-15 12:35] jan-janssen commented on #1320
Can you print the job name before you create the job?

[2021-03-16 11:05] mostafajoulaian commented on #1320
I found what is the problem, when I try:
`for i in range(1,3):
    job = create_sphinx_job(job_name="i" + str(i).replace(".", "_"), element='Mo')
    job.run(run_mode="queue", run_again=True)
    job_lst.append(job)`
it is worked but when I try `for I in range (-4,4)` it gives an error :
`Invalid name for a PyIron object (no "." or "#") allowed`

[2021-03-16 11:13] pmrv commented on #1320
Hyphens '-' are also not allowed in a job name, I guess that means we should update the error message.

[2021-03-16 18:24] sravankumarkb opened #1321 "How to use my own potential?"
Hi all,

Is there way to set the ```job.potential``` to my own potential file?
I just saved a potential file provided in the SI in the following paper in .meam format.
`https://doi.org/10.1016/j.jma.2020.09.006`
And I tried

[code]
But, I got the following error. If you know of way to do this, please let me know. Thanks.

[code]

[2021-03-16 18:30] jan-janssen commented on #1321
The use of custom potentials is explained in https://pyiron.readthedocs.io/en/latest/source/notebooks/water_MD.html#Equilibrate-water-structure

[code]
the specific `pair_style` and `pair_coeff` commands might differ for your potential.

[2021-03-17 09:48] sravankumarkb commented on #1321
Thanks @jan-janssen

[2021-03-17 09:48] #1321 closed

[2021-03-18 09:59] #1320 closed

[2021-03-18 09:59] #1303 closed

[2021-03-18 09:59] #1290 closed

[2021-03-23 21:59] mostafajoulaian opened #1326 "changing input parameter in sphinx"
**Summary**

as initial parameter in sphinx for field evaporation calculation but I can not do it see below

**pyiron Version and Platform**

I used latest version of pyiron in cloud
**Expected Behavior**

I try to do field evaporation calculation and want to set to initial parameter as input (charge and z) same as

- [ https://github.com/pyiron/pyiron/pull/592]
    job.input.sphinx.initialGuess.r

[2021-03-26 11:34] mostafajoulaian opened #1327 "Murnaghan jobs doesn't work"
**Summary**

when I try to submit Murnaghan calculation I got below error which my initial guess is that something should  be wrong with Murnaghan jobs. I get error such

I load initial parameter from an old job:

`master_job=pr.load("old_job")
old_ref=master_job.strain_1_0
job_name=elem +  '_k' + 'x'.join([str(k) for k in kpoints])

sphinx_ref = pr.create_job(pr.job_type.Sphinx, job_name+str('_sp

[2021-03-26 17:33] sravankumarkb opened #1328 "Is there a way to delete some files of the job?"
Hello,

Is there a way to delete some files of a job? I realized I have written some unnecessary files in some jobs. I want to delete those unnecessary files in pyiron while still not deleting the jobs. Can this be done easily? Thanks.

[2021-03-28 17:37] Alaukiksaxena opened #1329 "from pyiron_atomistics.project import Project does not work"
When importing pyiron the following error shows up:

`ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject`

The error can be traced back to `from pyiron_atomistics.project import Project `

Pyiron version is 0.1

[2021-03-28 17:46] jan-janssen commented on #1329
Does this happen on your local computer or the cmti cluster?

[2021-03-28 18:43] Alaukiksaxena commented on #1329
on cmti cluster

[2021-03-28 20:09] jan-janssen commented on #1329
@muh-hassani Can you take a look at this? It seems the current numpy version on cmti is broken.

[2021-03-28 20:30] jan-janssen commented on #1329
@Alaukiksaxena I tired to reproduce the error and for me everything worked fine. Can you check if the error remain?

[2021-03-28 20:35] muh-hassani commented on #1329
I can not also reproduce the error. Nevertheless, I updated numpy.

[2021-03-28 21:46] Alaukiksaxena commented on #1329
![image](https://user-images.githubusercontent.com/48807758/112769110-a6b1fb00-901f-11eb-9638-498518bc280b.png)
**Yes**  I still get the error.

[2021-03-28 21:48] Alaukiksaxena commented on #1329
Today, at noon I installed Keras and tensor flow.  Can that be the reason?
Then, I uninstalled these packages, but I still get this error.

[2021-03-28 22:01] Alaukiksaxena commented on #1329
My numpy version was 1.19.5

Now, I upgraded it to 1.20.2
Now, Everything works fine.

Thank you @jan-janssen  and @muh-hassani

[2021-03-29 06:39] jan-janssen commented on #1329
What do you mean by ` I installed Keras and tensor flow` ? via pip to your home directory? If you need a package to be installed on the cluster please contact @muh-hassani . Installing to your home directory is highly error-prone. But I would like to understand how exactly you installed the package because it should basically be disabled by default.

[2021-03-29 06:47] Alaukiksaxena commented on #1329
Yes, I installed them using pip to my home directory.
pip install Keras
pip install tensorflow
(It was not disabled, I was able to install these packages.)

In the future, I will contact @muh-hassani  to install any new packages.

[2021-03-29 07:03] jan-janssen commented on #1329
@muh-hassani previously we had the scripts in:
[code]
overwritten with a print statement to contact the administrator to prevent this kind of issues. It seems those files were removed during an update.

[2021-03-29 08:26] #1329 closed

[2021-03-29 12:05] muh-hassani commented on #1329
I will try to fix it.

[2021-03-29 12:51] muh-hassani commented on #1329
I can still find `pip` and `pip3` in `/u/system/soft/pyiron/dev/anaconda3/bin`.
[code]
I think a possible solution would be to remove the execute right for others, using:
[code]

[2021-04-07 06:23] mostafajoulaian opened #1330 "using Mendeleev module"
**Summary**

perviously I used Mendeleev module to plot periodic table as color code but new I can not import `get_table`
**pyiron Version and Platform**
 latest version on cluster

**Expected Behavior**
my code is like below:
[code]
I expecting to plot color code periodic table

**Actual Behavior**

it is said:
cannot import name 'get_table' from 'mendeleev'

I was wondering to know this class ge

[2021-04-07 06:27] jan-janssen commented on #1330
I do not see that this is a `pyiron` related issue. Still the solution is:

[code]

[2021-04-07 06:28] jan-janssen commented on #1330
You can find an example notebook here https://github.com/lmmentel/mendeleev/blob/master/docs/source/notebooks/plotting.ipynb

[2021-04-07 06:34] #1330 closed

[2021-04-14 14:45] vijjubhuva opened #1331 "ValueError: Was not able to locate a periodic table.while running notebook on jupyter server. it is running smoothly on my local machine."
Hello everyone!

i have found this error, when i run my jupyter notebook on jupyter server. Everything is running smooth on my local machine, but this only trouble, when i run my notebook on jupyter server.
is there any different path, i need to set up on jupyter server's ./bashrc and ~./pyiron?

*/u/system/SLES12/soft/pyiron/dev/anaconda3/lib/python3.7/site-packages/pyiron_atomistics/atomistics/s

[2021-04-14 15:01] liamhuber commented on #1331
Hi Vijay,

Yep, you need to set your `RESOURCE_PATHS` variable in `~/.pyiron`.

I'm super happy to see this question asked on github, but I'm actually going to answer it by e-mail 😝 It is CMTI-specific path information. Ideally this question would get asked over at eisenforschung/pyiron-resources-mpie, or eisenforschung/pyiron-config-mpie. But *a priori* it's very fair that you asked it here inste

[2021-04-14 15:23] vijjubhuva commented on #1331
Thank you dear Liam!

[2021-04-14 15:23] #1331 closed

[2021-04-19 18:09] gongyilun opened #1333 "Importing unfinished POSCAR from VASP"
Importing unfinished POSCAR from VASP (after several steps of ion relaxation) results in empty HDF5 file.

[2021-05-05 11:21] gongyilun opened #1338 "What is the best way to update a VASP calculation result which is already imported via import_from_path?"
What is the best way to update a VASP calculation result which is already imported via import_from_path?

[2021-05-06 07:23] sudarsan-surendralal commented on #1338
If there are no other jobs (apart from the ones you've imported) in your project, you can use `pr.remove_jobs(recursive=True)`. The re-import them.

[2021-05-10 21:18] antonf86 opened #1339 "Issue with restarting of subjobs"
Hi!
First of all, I'd like to thank the authors for the nice code for organizing simulation workflows. My query is not quite a bug report but rather an issue report. Suppose I have some job, which is based on many subjobs, i.e. phonopy, elastic, etc. If some of the subjobs of a parent job fail to converge, I restart them using `project.load("subjob_name").restart()`. The subjobs restart by means o

[2021-05-21 16:07] sravankumarkb opened #1341 "Trouble importing aborted vasp jobs into pyiron"
Hello,

I am having trouble importing aborted jobs into pyiron.

[code]
[code]
[code]

[code]

[code]

[2021-06-05 09:24] jan-janssen opened #1342 "Setup step for building notebooks takes 24min"
The resolution of the conda packages fails, still for some reason the tests work fine.

[2021-06-05 10:19] #1342 closed

[2021-06-08 15:32] sravankumarkb opened #1345 "Not able to create pyiron table"
**Summary**

<I am not able to create a pyiron table with the pr.create_table('table_name') command>

**pyiron Version and Platform**

<
[DEFAULT]
TYPE = Postgres
HOST = pyiron-db-cmmc.esc.rzg.mpg.de
NAME = pyiron
USER = skanchar
PASSWD =
JOB_TABLE = jobs_cmmc
TOP_LEVEL_DIRS = /cmmc/u
VIEWERUSER = cmmc_view
VIEWERPASSWD =
VIEWER_TABLE = jobs_cmmc_admin
#RESOURCE_PATHS = /u/system/SLES12/soft/pyiro

[2021-06-08 15:38] jan-janssen commented on #1345
There seems to be an issue with one of your analysis functions, can you check the code for those?

[2021-06-08 16:33] pmrv commented on #1345
It seems even though you removed the job, it still tries to reload the job.  Can you check whether there's a .csv file with the name of the table in the project folder?  Maybe from a previous run and it didn't get properly removed.

[2021-06-08 21:50] sravankumarkb commented on #1345
Thanks @jan-janssen and @pmrv for the suggestions.

I checked the analysis functions and they are okay.
There was no .csv file with the name of the table in the project folder.

I restarted the kernel and it works now.

[code]

[code]

[2021-06-08 21:50] #1345 closed

[2021-07-07 06:51] lfzhu-phys opened #1351 "Still cannot access JupyterHub"
**Summary**
I still cannot access JupyterHub. It always shows as the following two pictures. Can anyone who has solved this problem give me some suggestions? Thanks a lot in advance.

<img width="1440" alt="Screen Shot 2021-07-07 at 08 29 29" src="https://user-images.githubusercontent.com/57641389/124712298-6f48c980-deff-11eb-82ae-86537cbd7458.png">
<img width="1440" alt="Screen Shot 2021-07-07 at

[2021-07-07 07:31] muh-hassani commented on #1351
@lfzhu-phys, many other users do not have any issues. I have stopped your server. Can you please once again connect to the server?

[2021-07-07 07:38] lfzhu-phys commented on #1351
@muh-hassani Thanks. I just tried. It repeats the two pictures I attached. I also tried to quit the terminal and log in again. It still says "503: service unavailable."

[2021-07-07 07:55] muh-hassani commented on #1351
@lfzhu-phys can you retry now?

[2021-07-07 07:57] lfzhu-phys commented on #1351
@muh-hassani Great, it works now. Thank you very much.

[2021-07-07 07:59] muh-hassani commented on #1351
@lfzhu-phys, for my curiosity, did you kill any python processes as was suggested in my email yesterday?

[2021-07-07 07:59] lfzhu-phys commented on #1351
@muh-hassani  Yes, yesterday I killed all process by top. How did you fix this?

[2021-07-07 08:00] muh-hassani commented on #1351
Instead of you starting your server. I killed it and started it as the admin.

[2021-07-07 08:00] #1351 closed

[2021-07-21 11:34] lfzhu-phys opened #1355 "ModuleCmd_Load.c(208):ERROR:105: Unable to locate a modulefile for 'pyrion/dev'"
**I encountered the error: "ModuleCmd_Load.c(208):ERROR:105: Unable to locate a modulefile for 'pyrion/dev'" when I log in the cmti cluster using "ssh -x -L 30000:localhost:30000 username@cmti001.bc.rzg.mpg.de"**

Apparently, it should be "**pyiron**/dev" but not "**pyrion**/dev". I don't know what triggered this error and how to fix it.  I currently also cannot connect the JupyterHub. It complain

[2021-07-21 12:27] muh-hassani commented on #1355
The module is loaded in your `.bashrc` file, how this has been changed, I don't know. Unfortunately, you are the only one who can access and modify the file in your home directory. Maybe you can create a ticket in mpcdf help desk, they might be able to help you. The link to the help desk: https://helpdesk.mpcdf.mpg.de/mpcdf/index.html

P.S., I removed the bug label, since it is not a bug of pyiron

[2021-07-21 18:01] lfzhu-phys commented on #1355
@muh-hassani  I have checked my .bashrc file before I open this issue. Everything was ok. Anyhow, I just tried to log in the cluster. The error message is still there, but the JupyterHub works now. Thanks for your reply.

[2021-07-21 18:01] #1355 closed

[2021-08-11 08:06] lfzhu-phys opened #1360 "No output files when doing VASP calculations using "job_type.ThermoIntDftEam""
**The same calculations were fine two weeks ago. Now I use the same notebook and just add one temperature point. The job status shows the job is running, but there is no outputs, i.e., OUTCAR, and also no error.msg. Any suggestion or hint for this? Thanks a lot in advance. **

**pyiron Version and Platform**

**Expected Behavior**

**Actual Behavior**

**Steps to Reproduce**

**Further Information

[2021-08-11 10:28] pmrv commented on #1360
Can you check whether the job is still running on the queue from the command line with `squeue --me`?  If nothing shows up there, but the job status is still listed as running, that means the job crashed without pyiron noticing.  In that case check the job working directory for any log files and post them.  You can get the working directory from pyiron via `print(job.working_directory)`.  In any c

[2021-08-11 10:48] lfzhu-phys commented on #1360
@pmrv Thanks a lot for looking into it. Yes, the jobs were running in the queue, but no outputs and no warning information. I have removed all the running jobs and just submitted a test job. The problem remains. This test job is still running in the queue.

**The pyiron.log from where the notebooks is running**:

2021-08-11 10:40:30,176 - pyiron_log - INFO - run job: ham_4_11Ang_600_0K_1_0_164445

[2021-08-11 10:51] lfzhu-phys commented on #1360
Additionally, if I run the job locally in the folder with bash command line, it works well and gives all output.

[2021-08-11 11:22] pmrv commented on #1360
I can see the job still running on the queue.  In that case, no output is expected until it is finished, I suppose, unless it is taking significantly longer than expected.  How long does it take to run the job locally?  I'm not familiar with `ThermoIntDftEam`, but can have a look later.

[2021-08-11 11:43] lfzhu-phys commented on #1360
It was not like this two weeks ago. This job typically takes 24 hours or more using 40 cores. I normally check the phase transition by importing the OUTCARs in pyiron during the calculations. Is there any update on pyiron in the past one week?

[2021-08-11 11:46] lfzhu-phys commented on #1360
@pmrv This moment all my jobs have to be stopped because of this issue. Thank you very much for looking into it.

[2021-08-11 14:20] jan-janssen commented on #1360
@muh-hassani To me this sounds like an issue with the pyiron resources - Can you take a look?

[2021-08-11 18:30] muh-hassani commented on #1360
@jan-janssen, do you think something is wrong with the queuing setup?

[2021-08-11 23:09] muh-hassani commented on #1360
@lfzhu-phys, can you tell me which queue you have used? and can you please do another check? I suggest to run a separate job vasp/lammps on the same queue and see whether you still have the same issue. If the issue is with pyiron resources, new jobs should also fail to return an ouput. Of course, you should not use command line to submit this job and only use pyiron to submit it. You said the same

[2021-08-12 08:07] lfzhu-phys commented on #1360
@muh-hassani @jan-janssen Thank you very much. I have tested both "s_cmfe" and "p_cmfe" and they have the same issue. The quota limit is ok.

I just found another issue. When I run the "melting" notebook on the server (using 8 cores) to evaluate the melting temperature of an empirical potential, it works well. But when I submitted it in the queue, it crashes. The error.msg is:

/u/system/SLES12/so

[2021-08-12 08:08] lfzhu-phys commented on #1360
Also, the melting notebook was working fine two weeks ago.

[2021-08-12 11:58] jan-janssen commented on #1360
I do not know but if it worked before I assume it is a configuration change, but that is hard to tell from remote.

[2021-08-12 20:03] muh-hassani commented on #1360
@jan-janssen, I checked and in the last three weeks there has been no change to the `mpi` package, but `libgomp` was updated three weeks ago from `9.3.0` to `11.1.0`, and since then there has been a couple of changes in the build number.
To have a complete picture, via an email, Lifang wrote me that she was able to successfully submit the same vasp job to the cluster using the following job file:

[2021-08-12 21:45] muh-hassani commented on #1360
In running the notebook, I got in the first try the error of permission denied to access the executable. I found out that in the `/u/system/soft/pyiron/dev/pyiron-resources-cmmc/thermodynamics/bin/run_thermointdfteam_0.01_mpi.sh` the following execuable was used (it is also available [here](https://github.com/eisenforschung/pyiron-resources-mpie/blob/master/thermodynamics/bin/run_thermointdfteam_0

[2021-08-13 08:02] lfzhu-phys commented on #1360
@muh-hassani Thanks a lot. I have one question. I cannot modify the file "/u/system/soft/pyiron/dev/pyiron-resources-cmmc/thermodynamics/bin/run_thermointdfteam_0.01_mpi.sh", right? Why I see this file is using the executable under the path "/u/bzg/Thermodynamics/vasp_Langevin/vasp_5.3.5/vasp-stable-cmmc-08.03.2018", which is different than yours?

[2021-08-13 08:04] muh-hassani commented on #1360
@lfzhu-phys I changed it last night to be able to run the notebook. The original file has a 'backup_' prefix.

[2021-08-13 09:48] muh-hassani commented on #1360
The issue is solved. Maybe it is necessary to document it somewhere.
Even with the new path for the executable, the error remained still on Lifang's account. Therefore, I wondered whether the issue is with her configuration files. The `~/.pyiron` file looked ok, but in the `~/.bashrc` file, three extra modules were loaded: `mkl`, `intel`, `impi`. After commenting out the lines corresponding to loa

[2021-08-13 09:49] #1360 closed

[2021-08-13 14:46] yuyuanjingxuan opened #1362 "Request setting the working directory of job"
**Summary** and **Detailed Description**
Hi all,

I am performing a series of long-trajectory MD simulations. Generally, each of the calculation includes over 100,000 snapshots. So the output file is huge (~20-30GB). Due to the limited quota of home directory, once they are over the budget, all my jobs will crash. To avoid the issue, I was wondering if it is possible that when I submit the job, I

[2021-08-13 14:49] jan-janssen commented on #1362
You can create a symbolic link from your home directory to `ptmp` and then run your simulation there.

[2021-08-13 15:06] pmrv commented on #1362
But be aware this likely means you projects won't be backed up anymore, right?  You could always run on ptmp and then move the project back to a normal folder, but there's currently bugs that might make this a bit tricky, [here](https://github.com/pyiron/pyiron_base/issues/348) and [here](https://github.com/pyiron/pyiron_base/issues/350).

[2021-08-16 11:38] yuyuanjingxuan commented on #1362
@jan-janssen and @pmrv Thank you for your suggestions and it works for me.  But actually I just want to put big calculations to /ptmp instead of all my calculations. What I did currently is to created the job first. Then move the hdf5 directory to /ptmp and leave a symbolic link to the home directory. Do you know if there is an easy way to realise it?

[2021-08-17 05:56] samwaseda opened #1363 "Elasticity - atomistic or continuum?"
As I'm now working on the linear elasticity theory based on the Green's function approach, I'd like to create a new set of classes in pyiron. However, I'm facing this problem: Is it `pyiron_atomistics` or `pyiron_continuum`? The thing is, I'm doing it from the atomistic perspective, but the linear elasticity theory is in principle not quite something that's particularly interesting in atomistic ca

[2021-08-17 13:54] samwaseda commented on #1363
We decided to put it in `pyiron_continuum`.

[2021-08-17 13:54] #1363 closed

[2021-08-19 05:57] samwaseda opened #1364 "Job type without `run`"
It's about a job type that I'm developing in `pyiron_continuum`, but since it could apply to other jobs, I wanted to ask this question here.

I have a job type which should work as follows:

[code]

As you can see in the lines above, there's no `run`. Of course I could create a `run`, which could look like this:

[code]

This, however, not only makes the code longer, but it will store data that I

[2021-08-19 12:22] niklassiemer commented on #1364
The nice thing about the `run` is that is integrated in our normal setup of saving the job in the database, checking if the job is running, reloading the job if it already has been run, etc. However, I do well understand why one would like to get rid of the `run` method in user interactions. E.g. in https://github.com/pyiron/pyiron_contrib/pull/205 I try to have an 'always running' storage site wh

[2021-08-19 13:54] pmrv commented on #1364
Agree with the direction of @niklassiemer, maybe the best would be something like `pr.create.continuum.elastic_medium()` that just returns a plain python object.

[2021-08-19 14:10] samwaseda commented on #1364
ok what @pmrv says is probably 100% equivalent to what I wrote in P.S. and hopefully it satisfies what @niklassiemer says. I guess then I'm gonna go indeed for `pr.create.continuum`.

Shouldn't we actually then have `pr.create.atoms` instead of `pr.create.structure`?

[2021-08-19 14:11] pmrv commented on #1364
I'd like that but we also have `pr.create.structure.atoms`, so `pr.create.atoms.atoms` is maybe a bit weird.

[2021-08-19 14:16] samwaseda commented on #1364
Hmmm ok. I'm personally okay with `pr.create.atoms.atoms` since I also get the impression that it emphasises the fact that it creates individual atoms, but anyway since my problem has been solved I close this issue for now.

[2021-08-19 14:16] #1364 closed

[2021-08-21 02:58] #1362 closed

[2021-08-21 03:18] yuyuanjingxuan opened #1365 "Unable to collect the outputs from huge dump.out file"
**Summary**

Hi all,

I performed a series of long-trajectory MD simulation. The produced dump.out file was huge (>10GB). The jobs were done and started to collect output. Although the process of the jobs were terminated, the collecting was not finished. I later tried to collect them manually, while the kernel of my Jupyter NB died soon.

**pyiron Version and Platform**

python 3.7.9
pyiron 0.4.4

[2021-08-24 10:14] yuyuanjingxuan opened #1367 "Current LAMMPS executables aren't compiled with the h5md tag"
**Summary**

I am trying to dump the outputs from LAMMPS using `dump h5md` command. However, when the jobs are submitted, it shows “ERROR: Unrecognized dump style 'h5md' is part of the USER-H5MD package which is not enabled in this LAMMPS binary. (src/output.cpp:570)”. I've tried two LAMMPS executables, lmp_serial and lmp_mpi, which are located in `/u/system/SLES12/soft/pyiron/dev/anaconda3/bin/`.

[2021-09-06 15:04] sravankumarkb opened #1370 "Troubling importing pyiron functions"
**Summary**

<Troubling importing pyiron functions>

**pyiron Version and Platform**

<
[DEFAULT]
TYPE = Postgres
HOST = pyiron-db-cmmc.esc.rzg.mpg.de
NAME = pyiron
USER = skanchar
PASSWD =
JOB_TABLE = jobs_cmmc
TOP_LEVEL_DIRS = /cmmc/u
VIEWERUSER = cmmc_view
VIEWERPASSWD =
VIEWER_TABLE = jobs_cmmc_admin
#RESOURCE_PATHS = /u/system/SLES12/soft/pyiron/dev/pyiron-resources-cmmc
RESOURCE_PATHS = /cmm

[2021-09-06 15:10] jan-janssen commented on #1370
Can you try again? It should be fixed now.

[2021-09-06 15:13] muh-hassani commented on #1370
Unfortunately some of pyiron packages were removed mistakenly. The packages are now reinstalled, I hope the issue is now solved. @sravankumarkb

[2021-09-06 15:27] muh-hassani commented on #1370
I tried `import pyiron`, and it seems to be fixed now on the cluster.

[2021-09-06 15:27] #1370 closed

[2021-09-06 16:02] sravankumarkb commented on #1370
It is fixed now. Thank you @muh-hassani and @jan-janssen

[2021-09-13 08:17] lfzhu-phys opened #1372 "Can't establish a secure connection to the server "localhost" for Jupyterhub"
I try to log in the cluster using:
ssh -x -L 30000:localhost:30000 username@cmti001.bc.rzg.mpg.de

The error message is:
-------------------------
bind: Address already in use
channel_setup_fwd_listener_tcpip: cannot listen to port: 30000
Could not request local forwarding.
--------------------------

Therefore, I cannot create a connection to the JupyterHub.

It happens quite often. Sometimes it

[2021-09-13 08:20] raynol-dsouza commented on #1372
Hi Lifang,

Can you try:

`ssh -x -L 8000:localhost:30000 <username>@cmti001.bc.rzg.mpg.de`

This works for me.

[2021-09-13 08:24] lfzhu-phys commented on #1372
Hi Raynol,

Thanks. As I am connecting from home, I normally do the following:
ssh -x -L 8000:localhost:30000 user@gatezero.rzg.mpg.de
ssh -x -L 30000:localhost:30000 use@cmti001.bc.rzg.mpg.de

The problem appears when I do the second connecting. Do you have any experience for this?

[2021-09-13 08:32] raynol-dsouza commented on #1372
I usually login to the institute VPN and then use `ssh -x -L 8000:localhost:30000 user@cmti001.bc.rzg.mpg.de`

Does using `ssh -x -L 8000:localhost:30000 user@gatezero.rzg.mpg.de` first and then `ssh -x -L 8000:localhost:30000 user@cmti001.bc.rzg.mpg.de` work?

[2021-09-13 08:37] lfzhu-phys commented on #1372
Hi Raynol,

Thanks a lot for your suggestion:)

It works:
Login to VPN and then use ssh -x -L 8000:localhost:30000 user@cmti001.bc.rzg.mpg.de

But it doesn't work using:
ssh -x -L 8000:localhost:30000 user@gatezero.rzg.mpg.de, then
ssh -x -L 8000:localhost:30000 user@cmti001.bc.rzg.mpg.de.

Thanks again:)

[2021-09-13 08:41] pmrv commented on #1372
When trying to bridge over the gate machine of mpcdf, I'd recommend letting ssh do all the work for you, like this
[code]
`-J` tells ssh to connect the specified host first and only from there to the final destination.

The error message says that the port you're requesting is already in use, so I guess you already have a port forwarding running on either your local machine or the gate machine (pr

[2021-09-13 08:49] raynol-dsouza commented on #1372
@lfzhu-phys glad that it works! There are instructions [here](https://github.com/eisenforschung/cm-onboarding/blob/master/Cluster.md#connect-to-the-cluster), but the links there seem to be outdated.

@pmrv Nice! I did not know this. gatezero often connected first and kicked me out at a random time, and so I switched to using the institute VPN.

[2021-09-13 08:51] lfzhu-phys commented on #1372
@pmrv Yes, this is the problem I am aware of, but don't have a clear solution for a long time (even I have tried a few commands from the online suggestions, but a little bit worried that they will mess up the cluster:))

Thanks a lot for the clear solution.

[2021-09-13 08:52] lfzhu-phys commented on #1372
@raynol-dsouza Thanks Raynol for the information. I will look into the instructions.

[2021-09-13 08:53] #1372 closed

[2021-10-31 17:13] sinazadeh opened #1378 "handling imported vasp jobs for Phonopy calculations"
I am trying to figure out how to do Phonopy calculations using pyiron+vasp. I tried this code but it raises 'JobPath' object has no attribute 'create_job' error. I will appreciate it if anyone can explain to me what am I doing wrong.

**WHAT I WANT TO DO**
Calculate thermodynamic properties using VASP + Pyiron. If there is easier way to do so, I would appreciate if you share with me.

[code]

And

[2021-10-31 17:19] sinazadeh commented on #1378
changing

`for job in pr.iter_jobs(convert_to_object=False):`
to
`for job in pr.iter_jobs(convert_to_object=True):`
raises:
ValueError: ('GenericMaster requires reference jobs to have status initialized, rather than ', 'finished')

[2021-10-31 17:23] jan-janssen commented on #1378
Hi @sinazadeh,

The syntax is a bit different:
[code]
The idea behind this is that phonopy is used to create the different displacements based on the VASP template you defined before. So you can configure the energy cut-off, kpoint mesh and so one once, and phonopy is just changing the structure.

In addition wed have an example how to combine phonopy and LAMMPS:
https://github.com/pyiron/pyiron/b

[2021-10-31 21:06] sinazadeh commented on #1378
Thank you for your help. I have a follow-up question. Is it possible to plot vasp results similar to the way we do for LAMMPS?
For example something like this:
[code]

[2021-10-31 21:11] jan-janssen commented on #1378
The confusing part for me is that you import the calculation rather than using pyiron to execute them.

[2021-10-31 21:14] sinazadeh commented on #1378
I am not sure how to do that because in the system that I am working on, we need to submit vasp jobs in queue. After calculations I need to import them, right? Or I am missing something.

[2021-10-31 21:19] jan-janssen commented on #1378
No, you should be able to just execute the notebook again and pyiron can load the existing calculation. If you use the example code I posted above it is submitting the calculation to the queue and once the calculation are finished the phonopy object is update, so the next time you execute it you can plot the results.

[2021-10-31 23:57] sinazadeh commented on #1378
Thank you for your time and sorry for my late response. I was studying the links you sent to me. I copied the code you wrote but still, there is an error. The following is the code:

[code]

It raises the following error:
`RuntimeError: run_mesh has to be done beforerun_thermal_properties.`

[2021-11-01 01:32] jan-janssen commented on #1378
After the `run()` command the calculations are submitted to the queue, so most likely you reach the `get_thermal_properties()` part before they are finished. If you wait inside your script you can use `pr.wait_for_jobs()`. The alternative is to execute the script again after all calculations are finished, then the plotting should work just fine. To check the status of your calculation you can use

[2021-11-01 02:03] sinazadeh commented on #1378
I waited enough time to finish the calculations. Also, if I import the folder I can see the outputs. Is it possible that it has something to do with the way that I configured files in VASP and Queues folder in the pyiron resources folder?

[2021-11-01 02:29] jan-janssen commented on #1378
So in the `job_table` all calculation are listed as finished? if that is the case then there is no issue with the resource folder, if they are listed as `submitted` or `aborted` it is most likely an issue with the resource folder.

[2021-11-01 04:39] sinazadeh commented on #1378
Yes, there is a problem with the job submition. I open a new issue for that. Thank you.

[2021-11-01 04:39] #1378 closed

[2021-11-01 04:53] sinazadeh opened #1379 "VASP Queue Configuration"
**Problem:**
The submitted jobs will abort a few seconds after submitting in the queue using pyiron.

**Steps:**
In the server that our institute uses, we use following .sh file to submit job in the queue:

[code]
In order to configure pyiron to use vasp, I created a .sh files in the following path:
pyiron/resources/vasp/bin/
run_vasp_5.4.4_default.sh:
[code]
After that, I created two files in the

[2021-11-01 10:24] pmrv commented on #1379
I think you just forgot to load the appropriate `ml` commands to configure the environment in your `pyiron/resources/vasp/bin/
run_vasp_5.4.4_default.sh`.

Pyiron basically just runs the code specific shell script from within `queue.sh` script, so if your codes needs additional cluster modules (like your version of VASP), you'll need to enable them somewhere and the run script is the best location

[2021-11-01 13:32] sinazadeh commented on #1379
Thank you for your comment. I changed run_vasp_5.4.4_default.sh file to this:
[code]
But still the same problem. The only way that I can run VASP through pyiron is by changing slurm.sh to:

[code]
The problem is if I do so, job status in VASP wont update and always says submitted.
The aborted job:
[code]
I ran test_pyiron_installation.ipynb and here is the results:
[code]
[code]
[code]

[2021-11-01 14:44] sinazadeh commented on #1379
I also changed the permissions of all three files (run_vasp_5.4.4_default.sh / queue.yaml
 / slurm.sh  ) from 644 to 777 but it didn't solve the problem.

[2021-11-02 02:01] sinazadeh commented on #1379
@jan-janssen If you have any thoughts on this I would appreciate it.

[2021-11-02 09:01] pmrv commented on #1379
From you working script below, it seems you also need `export I_MPI_PMI_LIBRARY=/usr/lib64/libpmi.so` inside the run script.

I assume you made sure that the job is also listed by SLURM as submitted and eventually run.  If so, it sounds like pyiron is encountering an error as it starts executing the run script, just before it can update the job status.  This error should end up in `pyiron.log` (in

[2021-11-02 15:08] sinazadeh commented on #1379
Thank you for your time.
Outputs:
[code]
JobName.e1746979

[code]
JobName.o1746979
[code]

[2021-11-02 16:31] sinazadeh commented on #1379
Also, this is the completed job
![aUntitled](https://user-images.githubusercontent.com/63080674/139906470-549ab68b-384a-4bb0-9620-9c77538ce790.png)

[2021-11-03 14:54] jan-janssen commented on #1379
@sinazadeh Hi, I am sorry for the delay. There are two parts to the pyiron submission script: First the `slurm.sh` which calls the python process and then the `run_vasp_5.4.4_mpi.sh` script which calls the VASP executable. As discussed in https://pyiron.readthedocs.io/en/latest/source/installation.html#hpc-cluster-with-postgresql-database-and-jupyterhub

The `slurm.sh` script should look something

[2021-11-03 16:59] sinazadeh commented on #1379
Thank you for your answer.
`#SBATCH --workdir={{working_directory}}`
It will crush the run_queue.
Without this line of code:
[code]
If I can handle this somehow, it will solve the problem.

[2021-11-03 19:56] pmrv commented on #1379
Weird, that shouldn't happen, but it's also important that pyiron runs from the working directory.  Try to work around for now with `cd {{working_directory}}` after all the slurm commands.  We should check that crash though.

Is it possible that your cluster doesn't have `bash` or in a non-standard location?  You can check the path with `which bash` from the command line.  If that shows nothing, y

[2021-11-04 00:52] sinazadeh commented on #1379
Thank you all. I do not know how but the following code runs without any problem and I am happy with that. Thanks again.

[code]

[2021-11-04 00:52] #1379 closed

[2021-11-18 11:26] Ovakefali13 opened #1382 "I want to contribute, open for suggestions"
**Summary**

I want to contribute to pyiron as part of my studies at university. Do you have any suggestions on topics and/or features I might be able to contribute?

**Detailed Description**

Hi,
I'm currently enrolled in a Masters' Degree of Computer Science at the University of Stuttgart. For the course "Simulation Software Engineering" we are supposed to contribute to a open source software pr

[2021-11-24 02:20] jan-janssen commented on #1338
I close this issue as it is not updated for more than three month.

[2021-11-24 02:20] #1338 closed

[2021-12-06 16:49] lfzhu-phys opened #1386 "Kernel Restarting"
I am currently experiencing a strange problem. As long as I execute the block:

"solid = pr.create.structure.bulk('W', cubic=True)
solid.set_repeat([supercell,supercell,supercell])
natoms = len(solid)"

It shows the kernel has died and it will restart automatically. However, it was working well one hour ago. Does anyone have the same problem? Any suggestion would be highly appreciated. Thanks in a

[2021-12-06 16:51] samwaseda commented on #1386
`Kernel Restarting` occurs often when there is not enough memory. Can you check whether or not you have very large arrays or other variables?

[2021-12-06 16:54] lfzhu-phys commented on #1386
Thanks, Sam. No, I just start the notebook and didn't perform any calculations within this notebook yet. It's strange that only when executing this block.

"solid = pr.create.structure.bulk('W', cubic=True)
solid.set_repeat([supercell,supercell,supercell])
natoms = len(solid)"

[2021-12-06 16:59] jan-janssen commented on #1386
What is the value of `supercell` ?

[2021-12-06 17:01] raynol-dsouza commented on #1386
I also have the same issue.

[2021-12-06 17:03] lfzhu-phys commented on #1386
The supercell is 5*15*15.-------- Original message --------From: Jan Janssen ***@***.***>Date: Mon, 6 Dec 2021, 18:00To: pyiron/pyiron ***@***.***>Cc: lfzhu-phys ***@***.***>, Author ***@***.***>Subject: Re: [pyiron/pyiron] Kernel Restarting (Issue #1386)
What is the value of supercell ?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or un

[2021-12-06 17:28] liamhuber commented on #1386
I hogged a gratuitous amount of memory, but Raynol pinged me on slack almost immediately after and I killed the processes. They no longer show up on htop but is there any way the memory has not been released?

[2021-12-06 17:51] liamhuber commented on #1386
Ok, nevermind...I thought it was gratuitous but apparently not. Looking at the memory columns of htop, I had O(10) processes with O(1GB) memory. I thought this was a lot, but apparently not. Most usage seems to be ipykernels. I could kill top users but am loath to do so without any warning, also there is some root process that appears to be quite brutal, but I don't recognize it or the user direct

[2021-12-06 17:54] jan-janssen commented on #1386
Can it be related to people converting their HDF5 files?

[2021-12-06 17:58] muh-hassani commented on #1386
171/187 GB of memory is used. I am sending an email to the theory mailing list, so people kill unwanted processes.

[2021-12-06 18:17] samwaseda commented on #1386
By the way I still support the idea of restarting the server once a week, for example Sunday morning.

[2021-12-06 18:21] muh-hassani commented on #1386
It is not easy, since it must be done via MPCDF and not me. But if necessary, we can arrange it.

[2021-12-06 18:22] jan-janssen commented on #1386
@muh-hassani Can not you do it via the admin panel? I guess what sam means is primarily stopping all user servers once.

[2021-12-06 18:27] muh-hassani commented on #1386
Yes, I can stop servers. But I did not want to interrupt other's work. Unsaved notebooks might be lost. But if you recommend it, I can do it.

[2021-12-06 18:30] jan-janssen commented on #1386
But the interruption is the same when MPCDF does it, I just wanted to make sure that you have all the necessary permissions.

[2021-12-06 18:32] muh-hassani commented on #1386
Currently, @fldei101's processes are the most memory-hungry ones. I can kill his server.

[2021-12-06 18:44] muh-hassani commented on #1386
Now 30GB of memory is freed. I tried the @lfzhu-phys's code, it works fine.

[2021-12-06 18:47] lfzhu-phys commented on #1386
Great, just tried, it works now:) Thanks you all very much for the rapid responses:))

[2021-12-06 18:47] lfzhu-phys commented on #1386
Thanks, Muhammad:)

[2021-12-06 18:48] #1386 closed

[2021-12-06 19:05] samwaseda commented on #1386
I have personally never heard of any place where it is allowed to keep programs running after logging out of the server on the login node (actually I even think usually it's not even allowed to run programs on the login node). So restarting the server only once a week is in my opinion still extremely generous.

[2021-12-06 19:11] muh-hassani commented on #1386
we can discuss it tomorrow in the meeting.

[2021-12-26 06:47] sinazadeh opened #1389 "SQS+Phonopy for an alloy generates +300 VASP jobs"
Hey,
I am trying to plot DOS chart for an alloy, for example, 0.2Fe-0.3Ni-0.4Cr-0.1Co. Running the following code generates 323 VASP jobs. Is it normal or I am doing something wrong?

[code]

![image](https://user-images.githubusercontent.com/63080674/147401174-2bc224be-8e72-46cb-8447-0ba5aaebe26f.png)

[2021-12-26 10:21] samwaseda commented on #1389
If it's an SQS (i.e. if there's no internal symmetry), there's a degree of freedom of `number of atoms x dimension`, meaning 162 in your case. In the case of phonopy, it looks at the displacement in both `+dx` and `-dx` (to be sure that it finds the correct energy minimum), which in total makes 324 configurations. From the output it indeed looks like there were 324 configurations, so everything se

[2021-12-26 10:28] sinazadeh commented on #1389
Thanks for your explanation. To plot dos, phono.plot_dos() is the correct command in this case?

[2021-12-26 10:29] samwaseda commented on #1389
yes

[2021-12-27 00:10] sinazadeh opened #1390 "h5io/_h5io.py:610: VisibleDeprecationWarning"
**Summary**

Running the following code:

[code]
Generates the following warning:

[code]

**pyiron Version and Platform**

python 3.9
pyiron 0.4.5

[2021-12-27 08:08] samwaseda commented on #1390
https://github.com/pyiron/pyiron_base/issues/572

[2021-12-27 08:15] #1390 closed

[2021-12-27 08:17] sinazadeh commented on #1389
@samwaseda
Do you have any idea why the generated dos chart has negative values? Logically it shouldn't have

![image](https://user-images.githubusercontent.com/63080674/147450757-b2cf1210-4535-4a9f-afe4-ef6a57d3ac4d.png)

[2021-12-27 08:21] samwaseda commented on #1389
Because it has negative force constants, which comes from the fact that there was no structure optimisation beforehand.

[2021-12-27 08:23] sinazadeh commented on #1389
Does pyiron have commands for that (or documentation) or I should use manual vasp tags in incar file?

[2021-12-27 08:23] samwaseda commented on #1389
I find it great that you ask pertinent questions, but it looks like they are mostly physics related and less pyiron, so you might actually need to get a proper supervisor. You don't have one?

[2021-12-27 08:24] sinazadeh commented on #1389
sadly not yet.

[2021-12-27 08:29] samwaseda commented on #1389
ok you need the following lines:

[code]

And what you get with `job_minim.get_structure()` is what should be inserted into your SQS job. If you have farther questions you can contact me directly (I hope you can find my address somewhere 😎).

[2021-12-27 08:30] sinazadeh commented on #1389
Thanks man.

[2021-12-27 08:31] #1389 closed

[2021-12-27 09:50] niklassiemer commented on #1390
The depreciation warning is actually raised in h5io not in pyiron itself. Do you use the latest h5io? If I remember correctly, that depreciation warning was fixed there.

[2022-01-27 13:53] doubaoying opened #1393 "My VASP job always stays in "submitted" status, and it doesn't run."
When I submitted the VASP job in pyiron, it always stays in "submitted" status, and it doesn't run.
I checked the error.out file, which said "/usr/bin/python: No module named pyiron_base" .
I tried to write "module load pyiron/dev" into the file .bashrc , and resubmitted the job , but this error still occurred.

I am confused when I submitted the VASP job without setting the job queue in the clust

[2022-01-27 14:00] jan-janssen commented on #1393
Which HPC Cluster do you use? Are you at the MPIE or did you you install pyiron on another cluster? As the `module load pyiron/dev ` part is MPIE specific.

[2022-01-27 14:02] doubaoying commented on #1393
Yes, I am at MPIE.

[2022-01-27 14:12] doubaoying commented on #1393
Yes, it works! Thank you very much.

[2022-02-11 08:58] LekshmiSreekala opened #1396 "How to solve this kernel issue: "XSRF cookie does not match POST argument" ?"
Hello everyone,

when I try to open a new notebook, I am getting the following error.
'XSRF cookie does not match POST argument.'
The old notebooks are working fine. I, therefore, also tried to copy a previously working notebook to a new notebook. Still the same error with no kernel.
Can someone help me to fix this issue? Thanks in advance!
<img width="939" alt="error1" src="https://user-images.gi

[2022-02-11 09:01] pmrv commented on #1396
Just guessing: Try clearing your cookies in the browser.  For firefox that's in Settings->Privacy & Security.  It should be enough to clear them for `localhost` instead of for all webpages.

[2022-02-11 09:02] suhyunyoo commented on #1396
It solves when I remove all cookies in the history of my web browser.
It happens also to me after I use Jupyter notebook on a local machine.
Hope it helps your issue.
---
SU-HYUN YOO
Postdoctoral researcher | Department of Computational Materials Design
Max-Planck-Institut für Eisenforschung GmbH
Phone: +49 211 6792 154
Email: ***@***.*** ***@***.***>
Website: http://cm.mpie.de <http://cm.mpie.de/

[2022-02-11 09:13] LekshmiSreekala commented on #1396
It worked, thanks a lot.

[2022-02-11 09:13] #1396 closed

[2022-02-15 14:58] BaoyingDou opened #1398 "Band structure calculation using VASP on pyiron"
1. When I calculated the band structure using VASP on pyiron, I didn't find the module to plot the band structure. The output format of VASP is a bit different from that of Sphinx. See the eigenvalue file in the attachment. Could you please add this function into pyiron if it is possible?

2. For the HSE calculation of band structure using VASP , it seems there isn't a module on pyiron to generate

[2022-02-24 02:39] sinazadeh opened #1399 "ResolvePackageNotFound"
**Error**
ResolvePackageNotFound:
  - python=3.1

**Steps to produce error**
module load Anaconda3/2021.11
conda create -n pyironenv
conda activate pyironenv
conda install -c conda-forge notebook
conda install -c conda-forge pyiron -y

**Temporary Solution**
conda create -n pyironenv python=3.9
OR Skipping
conda install -c conda-forge notebook

[2022-02-24 04:36] jan-janssen commented on #1399
`Python 3.1` or `Python 3.10`? We run all the unit tests with `Python 3.10` https://github.com/pyiron/pyiron_atomistics/runs/5299894276?check_suite_focus=true so the environment usually works fine. Which operation system do you use?

[2022-02-24 04:47] sinazadeh commented on #1399
operation system: Linux (CentOS 7)
As I mentioned, the pyiron installation raises errors after installing the notebook conda package
`conda install -c conda-forge notebook`
![image](https://user-images.githubusercontent.com/63080674/155459587-4fa7cab7-64a9-40b1-a93a-f9e90f65ace4.png)
Currently, I installed pyiron on Python 3.9.7 without any problems

[2022-02-24 04:50] jan-janssen commented on #1399
Can you try?
[code]
There is an issue that `python=3.10` is recognized as `python=3.1` .

[2022-02-24 05:07] sinazadeh commented on #1399
Tried that but it installed Python 3.9.7!
Steps:
[code]
This is maybe because of the fact that the latest python version in Anaconda 2021.11 is 3.9.7 https://www.anaconda.com/blog/anaconda-individual-edition-2021-11

[2022-02-24 05:10] jan-janssen commented on #1399
But you should be able to create a new environment with Python `3.10`. As I said we use it for our tests and also my personal systems use `3.10` for quite some time.

[2022-02-24 05:11] jan-janssen commented on #1399
I used https://github.com/conda-forge/miniforge for the installation and `mamba install` rather than `conda install` that is a lot fast in resolving the dependencies.

[2022-02-24 05:13] sinazadeh commented on #1399
I will try that, thank you

[2022-02-24 05:13] #1399 closed

[2022-02-24 05:33] sinazadeh opened #1400 "SQSJob related questions"
As described here (https://cniu.me/2017/08/05/SQS.html) one of the criteria for selecting the best SQS structure is Objective function.

I know we can define the objective function using job_sqs.input.objective but what if we don't know the objective function and want to search for it? The default value is 0.0 but it doesn't seem optimal when you are working with primitive structures.
I can write

[2022-02-24 05:58] jan-janssen commented on #1400
From a theoretical perspective I would say you could use the best guess after certain time and calculate your final property of interest or an approximate for it to identify if your calculation are already converged.

For the more technical answer you find the documentation for the SQS code we use at https://sqsgenerator.readthedocs.io/en/latest/ just like phonopy pyiron is primarily an interface

[2022-02-24 06:43] #1400 closed

[2022-02-25 15:15] edmen-dev opened #1401 "error loading .pmgrc.yaml when importing pyiron"
When I "import pyiron" in the cluster I get the following error:
[code]
Everything else seems to work fine.
My pyiron version is 0.4.6

Thanks for the help.

[2022-02-25 17:21] jan-janssen commented on #1401
It is an issue with Pymatgen - it is fixed in the next version https://github.com/materialsproject/pymatgen/issues/2444

[2022-02-28 21:19] jan-janssen commented on #1401
For me the issue is fixed by:
[code]

@muh-hassani Can you update the version on the MPIE cluster?

[2022-02-28 21:30] muh-hassani commented on #1401
@jan-janssen Done!

[2022-02-28 21:40] jan-janssen commented on #1401
@edmen-dev Can you check if this resolves your issue?

[2022-02-28 22:27] edmen-dev commented on #1401
I tried now. I was getting the following problem:

"Solving environment: failed with initial frozen solve. Retrying with flexible solve."

at the end it did continue and solve the environment but I did not proceed with the installation just in case. Should I proceed or should I create my own environment and install there?

[2022-02-28 22:45] jan-janssen commented on #1401
@edmen-dev If you are on cmti001 @muh-hassani already fixed the issue, so the command above is not even necessary.

[2022-03-01 07:36] edmen-dev commented on #1401
Indeed, it is fixed for me too, thanks!

[2022-03-01 07:36] #1401 closed

[2022-03-02 13:46] mostafajoulaian opened #1402 "time out of jobs after 4 days"
**Summary**

Dear All
I am trying to do Sphinx Calculation but during convergence my job get aborted due to the time out ( which basically is  time limit for pyiron )

**Detailed Description**

I would like to ask is there anyway that I could extend time limitation for jobs .
secondly I wanted to ask to see is there any future in pyiron that let me re-run my aborted job and pick up from the last e

[2022-03-02 14:30] jan-janssen commented on #1402
I remember that @sudarsan-surendralal had the permission to execute long term jobs beyond the run time limit of the queuing system. So either talk to him or just email @freyso about it.

[2022-03-02 16:06] samwaseda commented on #1402
As @sudarsan-surendralal points out, pyiron wouldn't be able to store the output if the job is killed. In order to restart the calculation with SPHInX, you can manually collect the output and launch a new job via:

[code]

[2022-03-02 16:32] freyso commented on #1402
The max time for small jobs (s.cmfe, <= 40 cores) is currently 7 days.
Otherwise, for the job restart  option of Sam, you may need to repeat the direct settings of SPHInX input, because I don't think these are visible to the restart function.

[2022-03-02 16:33] samwaseda commented on #1402
What do you mean by that?

[2022-03-02 16:38] freyso commented on #1402
Things like
job.input[".../scfDiag/preconditioner/"].type = "ELLIPTIC";

[2022-03-02 16:39] samwaseda commented on #1402
This kind of stuff should be copied. If not, open a new issue.

[2022-03-02 16:58] freyso commented on #1402
never tried that myself, just heard rumors from my group that restarting doesn't work properly, and I assumed it happens if we manipulate the sphinx input tree directly.
Maybe I explained badly - we first generate the SPHInX input tree from the generic input, and then start manipulating (and it actually may be input.sphinx[...].
I wouldn't see how it could work conceptually, because you don't have

[2022-03-02 17:08] samwaseda commented on #1402
👍

[2022-03-07 16:54] samwaseda opened #1403 "Restructure pyiron"
Following my suggestion of today, I write down items that I want to change in pyiron, which would require a major overhaul. Depending on the feedback I get from you, I'll talk to @JNmpi again to organise an intensive multiple-day session.

# `GenericParamters` vs. `DataContainer`

This is a classical problem, but it looks to me that the current `ParallelMaster` does not simply allow to switch from

[2022-03-08 11:21] pmrv commented on #1403
Generally I'd expect this to work, if not then most likely we'll just need to fine-tune the `to_hdf` implementation of the involved classes.

Imo the `TemplateJob` is simply what `GenericJob` really should be and we should integrate it into each other.

[2022-03-15 09:20] HuangJiaLian commented on #915
My situation is similar to this issue.

I equilibrated water structures for different temperatures.
I want to obtain the final structure for each one.

I successfully loaded the finished job by the following lines of codes.
[code]

However, when I try the flowing codes, errors come out.
[code]
[code]

or

[code]

[code]

or

[code]

[code]

Then I tried:

[code]
Output error:
[code]

I don't know

[2022-03-15 09:52] pmrv commented on #915
Can you double check that the job successfully wrote out some structures? Either `job.number_of_structures` or `job['output/generic/positions']`.  In that case the error is somewhere else, but we'd have to improve the error messages.

[2022-03-18 09:14] pmrv commented on #915
Can you check also `job['output/generic/cells']`?  Also try whether calling `get_structure()` works for any other iteration step, like 0 or if all raise this error.

[2022-03-18 09:32] pmrv commented on #915
That's weird because this should definitely be defined. :|

It also confuses me that the animate is working, since it just calls `get_structure` in the background.  Have you checked that all animation steps show a structure?

[2022-03-18 14:21] HuangJiaLian commented on #915
Yeah, it's weird. `get_structure(n)` (n=0, 1, -1) would cause the same eror.  I use the official TIP3P bulk water simulation tutorial to reproduce this error. The minimum Jupyter notebook can be found [here](https://nbviewer.org/github/HuangJiaLian/DataBase0/blob/master/uPic/2022_03_18_22_Get_Final_Structure_Error_Reproduce.ipynb).   Thank you.

[2022-03-20 07:11] HuangJiaLian commented on #915
It seems that the `dtype` of `positions` pass into the `scaled_positions(self, positions)` in `cell.py` would chang from `float64` to `object`, which would cause error in `np.linalg.solve(self.complete().T, np.transpose(positions)).T` that only accept the same type float. So I add a line to force the dtype of positions into float, and this method `scaled_positions(self, positions)` looks like this

[2022-03-20 13:07] HuangJiaLian commented on #915
My solution:
I updated Python to 3.10.2 and Numpy to 1.22.3. There is no problem at all.

[2022-03-24 04:24] Vaibhav51093 opened #1405 "File transfer from remote"
I am using Pyiron for Lammps calculations and I am facing the following problem while job file transfer from the remote.

<img width="820" alt="pyiron" src="https://user-images.githubusercontent.com/57098012/159840776-0fd26549-44ec-431c-97ad-8e5ca1b61a00.png">

Later, I figured out that the job is still running, but all the files are transferred to local.

I am using the following command to monit

[2022-03-24 16:26] jan-janssen commented on #1405
@Leimeroth  Can you help here? I thought we had this fixed that `transfer_from_remote()` is never called directly by the user.

[2022-03-24 16:52] Leimeroth commented on #1405
Right now it is necessary to either downgrade versions or directly use transfer_from_remote() due to #[pyiron_base702](https://github.com/pyiron/pyiron_base/pull/702)

I am really confused what this for loop is actually doing though.
It is enought to run
pr.update_from_remote() and then transfer jobs with status collect and initialized manually

[2022-03-24 16:55] Leimeroth commented on #1405
Actually this part
[code]
looks like it will just fill up ram with a completely pointless list until the job is done

[2022-03-24 17:26] Vaibhav51093 commented on #1405
Okay, I realize the loop is unnecessary, but my goal here is to automatically transmit the files as the jobs are completed.

[2022-04-11 10:21] lfzhu-phys opened #1407 "How to modify "run_thermointdfteam_0.01_mpi.sh" in pyiron"
After the cluster update, "pr.create.job.ThermoIntDftEam" doesn't work any more. The executable calls the modified VASP:

/u/bzg/Thermodynamics/vasp_Langevin/vasp_5.3.5/vasp-stable-cmmc-08.03.2018

The error message is: "error while loading shared libraries: libmpifort.so.12: cannot open shared object file: No such file or directory".

The problem can be solved by "module load intel/18.0.5  impi/2

[2022-04-11 14:07] lfzhu-phys commented on #1407
@jan-janssen Unfortunately, the error "error while loading shared libraries: libmpifort.so.12: cannot open shared object file: No such file or directory" remains.

I tried the following command in my working directory
srun -n 40 /u/bzg/Thermodynamics/vasp_Langevin/vasp_5.3.5/vasp-stable-cmmc-08.03.2018

This command is working.

[2022-04-11 15:10] jan-janssen commented on #1407
@lfzhu-phys Does this mean you have to remove the line `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/afs/@cell/common/soft/intel/ics2019.4/compilers_and_libraries/linux/mkl/lib/intel64` ? Can you check in file where you fixed the issue if this line is removed?

[2022-04-11 15:22] lfzhu-phys commented on #1407
@jan-janssen I mean, I just run this command line in the terminal under the working directory and it works.

I have a stupid question. I checked the file run_thermointdfteam_0.01_mpi.sh under the path: /u/system/SLES12/soft/pyiron/dev/pyiron-resources-cmmc/thermodynamics/bin/run_thermointdfteam_0.01_mpi.sh.

It's still like the following:
---------------------------------------
#!/bin/bash
module

[2022-04-11 16:01] jan-janssen commented on #1407
The modifications are currently only in https://github.com/eisenforschung/pyiron-resources-mpie/pull/33 - I am just wondering if we should remove the `export LD_LIBRARY_PATH` line as that seems to be causing the error.

[2022-04-11 16:26] lfzhu-phys commented on #1407
Maybe we make a try? Can you please remove it and then I can do a test?

Another question:
Is the 'afs' in
"export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/**afs**/@cell/common/soft/intel/ics2019.4/compilers_and_libraries/linux/mkl/lib/intel64"

has any relation with that mentioned by Christoph in his email:

"Please also don't complain about stuff in afs that is suddenly missing -
I had asked for depend

[2022-04-11 16:41] jan-janssen commented on #1407
Ok, I removed all links to `afs` in https://github.com/eisenforschung/pyiron-resources-mpie/pull/33 but I am not able to test this.

[2022-04-11 17:12] jan-janssen commented on #1402
As the issue is inactive for over a month I close it now.

[2022-04-11 17:12] #1402 closed

[2022-04-11 17:13] #915 closed

[2022-04-11 17:13] lfzhu-phys commented on #1407
If I just execute my pyiron notebook to create and run the job, it will automatically call the modified file `run_thermointdfteam_0.01_mpi.sh in` https://github.com/eisenforschung/pyiron-resources-mpie/pull/33, right? I did this. The libmpifort.so.12 error is still there.

[2022-04-11 17:14] jan-janssen commented on #1407
@tnecnivkcots Can you merge the changes in https://github.com/eisenforschung/pyiron-resources-mpie/pull/33 and update the version on the cluster?

[2022-04-12 07:34] tnecnivkcots commented on #1407
I have updated the changed files of the pull request [Thermofix #33](https://github.com/eisenforschung/pyiron-resources-mpie/pull/33).

[2022-04-12 07:43] #1407 closed

[2022-04-14 10:07] tnecnivkcots opened #1409 "outdated informations in the CONTRIBUTING.rst"
I observed some outdated informations in the [contribution guidelines for pyiron](https://github.com/pyiron/pyiron/blob/master/CONTRIBUTING.rst#pyiron-releases), compared to the informations in [pyiron_base contribution guidelines](https://github.com/pyiron/pyiron_base/blob/master/CONTRIBUTING.rst#pyiron-release-distribution). @niklassiemer mentioned to me there was an update on the pyiron_base CO

[2022-04-21 13:55] srmnitc opened #1412 "Guidelines for input/output handling"
This is closely related to #1403

An important aspect in various projects is the incorporation of more and more software tools into pyiron. This calls for a streamlined method to handle input and output data. At the moment, the LAMMPS integration uses `GenericParameters`, while some of the newer integrations employ `DataContainer`. If `DataContainer` is the way forward, we should change the existi

[2022-04-21 15:12] pmrv commented on #1412
At its heart `DataContainer` is a *generic* and *recursive* data structure, that also knows how to talk to HDF.  That means it's actually a bit overkill for most input classes for specific codes since they rarely need to be nested and if they do (e.g. in the `DamaskJob` from pyiron_continuum) the different levels end up meaning different things (exception: `Group` from sphinx). So input classes fo

[2022-04-21 17:20] liamhuber commented on #1412
I like Marvin's sketches for how to avoid the overkill that comes with simply using DataContainer, but I have to admit I have frequently just over killed in the past 😝

One aspect I like about this entire direction is it allows us to begin constructing constructing our input in an OOP manner -- which has a great side effect of having consistent naming conventions.

A closely related issue is how w

[2022-04-21 17:20] liamhuber commented on #1412
Ps sorry no code styling, I haven't figured out how to get that working from my mobile app yet. 'Code' hasn't done it in the past

[2022-04-22 07:26] niklassiemer commented on #1412
I like and support the idea as well :) ps for `code` style you need the backwards `

[2022-04-22 10:07] pmrv commented on #1412
Yes, in my experiments that works pretty well.

[2022-04-22 21:35] liamhuber commented on #1412
Yeah, my phone keyboard has forward single quote, but not single backwards quote 🙁

[2022-04-29 07:10] #1409 closed

[2022-05-09 15:10] pmrv commented on #1412
After our quick session in the pyiron meeting today, I got it down to this MWE.

[code]
then doing
[code]
in an IPython shell gives you
[code]

[2022-05-11 15:38] samwaseda commented on #1412
This looks amazing! In addition, I guess it makes sense to include the default values in the docstring as well, so the last one would be: `timestep (<class 'float'>): Time step for the integration in fs (default: 1e-15)`.

[2022-05-13 15:38] tnecnivkcots opened #1417 "pyiron in binder - jupyter and jupyterlab extensions throw an error"
Dear colleagues,

**Summary**

I got an bug by using the setup in the [pyiron/binder](https://github.com/pyiron/pyiron/tree/master/binder) folder.

**pyiron Version and Platform**

[Our MPCDF Binder Instance](https://notebooks.mpcdf.mpg.de/binder/) and the recently available pyiron version.

**Expected Behavior**

Building the container without throwing errors.

**Actual Behavior**

Throwing error

[2022-05-13 15:40] tnecnivkcots commented on #1417
For what is the nglview exactly responsible in jupyterlab?

[2022-05-14 06:48] niklassiemer commented on #1417
You need nglview for our structure.plot3d method. However,  it might be that the newer jupyterlab install it in a different way without the need to by hand install the js components.

[2022-05-16 07:51] tnecnivkcots commented on #1417
I think @muh-hassani told me something like "nglview is not longer needed for jupyterhub" some months ago.

When I tried building it and using the water simulation example notebook, all 3d plots were correctly shown.

Should we delete that lines?

[2022-05-16 16:10] muh-hassani commented on #1417
@tnecnivkcots, you should keep nglview in the `environment.yml`, but delete the lines in the  [postBuild script](https://github.com/pyiron/pyiron/blob/master/binder/postBuild), where it tries to build the extensions ([this line](https://github.com/pyiron/pyiron/blob/4e6360ec84265129a68b8db6ead622165bc32e3e/binder/postBuild#L5) and [this one](https://github.com/pyiron/pyiron/blob/4e6360ec84265129a6

[2022-05-16 21:03] tnecnivkcots commented on #1417
@muh-hassani thank you for your clearing words.

[2022-05-16 21:03] #1417 closed

[2022-05-20 14:09] samwaseda commented on #1412
While working on this, I realised that the property itself becomes `InputField`, i.e.:

[code]

returns `InputField` instead of its actual value, correct? If I remember @liamhuber's comment well, it's actually difficult to make it return the value, but do you see a way around it?

[2022-05-20 14:11] samwaseda commented on #1412
Sorry my mistake, I just realised that that's what's done inside `__get__`

[2022-05-20 15:48] samwaseda commented on #1412
Now I implemented it in [this PR](https://github.com/pyiron/pyiron_base/pull/753), because I didn't see it so far implemented, with a few modifications.

[2022-05-25 10:12] appassionate opened #1419 "Whether the task can be scheduled?"
Hi all,
pyiron is really a nice work!!  : )

some question for it:
i dont want to submit **too much**  lammps jobs in a HPC in a time.

For example : if i have 100 jobs, there will be 100 slurm tasks in HPC if jobs are submitted meanwhile.
Is there any implements for just control the running/pend job numbers in HPC?  some of jobs is scheduled, and some jobs is in slurm.
Or I have missed some inste

[2022-05-25 11:59] appassionate commented on #1419
Thanks for your generous reply! @pmrv
HPC will be busy if too much people submit their tasks.  Some tasks is light, and will be quickly finished.  there will be messy in cmdline if tasks pend meanwhile...  I think batch running more jobs in a slurm/lsf script will be also suitable for me. Can "workerJob" handle with such a "batch-submit" condition? haha, maybe i need try first. :)

[2022-05-25 14:17] jan-janssen commented on #1419
@appassionate To explain the worker job a bit more, the idea is that you ask for a couple of nodes and then within this allocation the worker job is distributing the tasks, typically running one calculation per node. For this distribution we use the SLURM internal `srun` logic. In particular on large computing clusters there is commonly a reduction in computing cost charged when asking for larger

[2022-05-26 08:20] appassionate commented on #1419
Hi@jan-janssen Thanks for your hint of WokerJob!
I can imaged that if  I can "have" much clusters, WorkerJob will help me a lot to distribute Jobs in pyiron. But I just have few nodes,  DFT or MD tasks is time consuming  which is ok for submitted as one slurm/lsf task (mainly use lsf), other tasks will be some anlaysis script (in python, some can be parallel) which will be quickly finished, if i t

[2022-05-26 10:48] niklassiemer commented on #1419
There is also the `ScriptJob` wich allows to send a full notebook/script to slurm to be executed. Inside, you could define different jobs and run  and analyse them.

[2022-05-28 13:47] appassionate commented on #1419
@niklassiemer  Thanks! I tried ScirptJob up to now. It is very conveinent to determine the params in script!

[2022-05-31 12:32] lfzhu-phys opened #1421 "submitted jobs disappeared in the queue list"
I have submitted some VASP jobs last week through pyiron. Most of them are finished or running. This morning I noticed that the jobs with "submitted" status disappeared in the queue list. By simply resubmitting the jobs seems not working. Is any one also experiencing this?

The error message is as following:
[code]
Any suggestion for this? Thanks a lot in advance.

[2022-06-03 07:08] lfzhu-phys commented on #1421
Any update on this issue?

[2022-06-03 07:14] lfzhu-phys commented on #1421
The last time I submitted jobs were on 26th May. Most of the jobs are finished. The rest disappeared in the queue list with the above error. It seems some changes happened after 26th May. Any idea/suggestion is highly appreciated.

[2022-06-03 20:39] niklassiemer commented on #1421
Shortly before the mentioned date the latest pyiron_base release included
Derive Executable from HasStorage (#728)
which I assume to be related.

[2022-06-20 04:57] appassionate commented on #802
Hi, @jan-janssen, for the "backup job which condition is not converged"reason, I need to backup job using ".copy_to" but there seems have no method such as "reset_job".  In the "job.run" implement I followed the reset step to build a function as "reset" action.
Here wiil be a example If you are interested, Can it be a method in jobs? Thanks.

[code]

[2022-06-20 13:36] pmrv commented on #1421
I believe this was fixed in this [PR](https://github.com/pyiron/pyiron_base/pull/763).  Please try again if the issue still happens.

[2022-06-20 15:55] lfzhu-phys commented on #1421
@pmrv @niklassiemer Thanks a lot. I will try to submit a few jobs and report it here later.

[2022-06-21 05:40] appassionate commented on #1419
@pmrv @jan-janssen
Hi, thanks for your detailed help for WorkerJob.
I believe the "batch submit" thinking of pyiron seem to be naive after more understaning of WorkerJob.
In my case of WorkerJob, I use it in a HPC queue.  Am I doing right? the WorkerJob example is using the non_modal way.
[code]
adn then, the woker job in "worker" project is running.
Another prob for me is that the "calculation" j

[2022-06-21 06:38] lfzhu-phys commented on #1421
Unfortunately, the error remains. Could someone please update it on the cluster? Thanks a lot in advance.

[2022-06-21 09:41] pmrv commented on #1421
Thanks for checking.  I'm a bit confused because @yuyuanjingxuan had the same issue over [here](https://github.com/pyiron/pyiron_atomistics/issues/639) and that was resolved now.  Did you restart the notebook or the server in the mean time?

[2022-06-21 11:43] niklassiemer commented on #1421
It now included in the newest release of pyiron_base and will be available on the cluster with the next update.

[2022-06-21 15:31] lfzhu-phys commented on #1421
@niklassiemer @pmrv @jan-janssen Thank you all very much! Just made a few tests and they are working now!!! Thanks:)

[2022-06-21 15:33] #1421 closed

[2022-06-22 07:35] appassionate commented on #1419
If I guess right, "WorkerJob" need to run "non_modal" way for the jupyter kernel backend parallel using?
Is possible that WorkerJob can run in a HPC queue by pysqa to do the heavy work, which might be like Dask handling HPC....  :)

[2022-06-22 11:50] niklassiemer commented on #1421
Glad to hear that, however, AFAIK nothing changed on the cluster so far.

[2022-06-22 11:55] lfzhu-phys commented on #1421
@niklassiemer That means restarting the server is the key here:-))

[2022-06-24 14:32] samwaseda opened #1422 "Is there a possibility to stop submitted jobs without deleting the existing results?"
I know that `job.remove()` will kill the job BUT it also deletes the folder and therefore all existing results when the jobs was running on the cluster. Is there a possibility to stop the job on the cluster, but not delete the results?

[2022-09-01 12:59] ahmedabdelkawy opened #1428 "pyiron inside pycharm: ValueError: Was not able to locate a periodic table"
I am not sure if this is the proper repo for this issue. Please move it if it is not

**Summary**
Pyiron is installed on my local machine WSL.
I am trying to run pyiron workflow from Pycharm professional with python interpreter the same as the conda environment that has Pyiron.
running pr.create.structure.bulk('any_element') result in: ValueError: Was not able to locate a periodic table.

- import

[2022-09-01 14:52] jan-janssen commented on #1428
@niklassiemer Are you also using pyiron with WSL on windows? It sounds to me like and issue with the WSL interpreter not finding the environment variable `${CONDA_PREFIX}` but I am not sure how to validate this: https://www.jetbrains.com/help/pycharm/using-wsl-as-a-remote-interpreter.html

@ahmedabdelkawy Can you try to print `${CONDA_PREFIX}` on the command line? or in python using `os.environ["C

[2022-09-01 15:21] ahmedabdelkawy commented on #1428
Thanks, Jan, for the fast reply.

In Pycharm using python interpreter, `os.environ["CONDA_PREFIX"]` gives:
File ~/anaconda3/lib/python3.9/os.py:679, in _Environ.__getitem__(self, key)
    676     value = self._data[self.encodekey(key)]
    677 except KeyError:
    678     # raise KeyError with the original key value
--> 679     raise KeyError(key) from None
    680 return self.decodevalue(value)

[2022-09-01 18:36] niklassiemer commented on #1428
I am using pycharm with the windows python.

Could you try `import sys; print(sys.executable); print(sys.path)` from the wsl python and the pycharm python?

[2022-09-02 08:05] ahmedabdelkawy commented on #1428
Pyiron installed in base
base is activated in WSL and base interpreter is selected in pycharm

WSL python:
`print(sys.executable)`
/home/abdelkawy/anaconda3/bin/python
`print(sys.path)`
['', '/home/abdelkawy/anaconda3/lib/python39.zip', '/home/abdelkawy/anaconda3/lib/python3.9', '/home/abdelkawy/anaconda3/lib/python3.9/lib-dynload', '/home/abdelkawy/anaconda3/lib/python3.9/site-packages']

pycharm

[2022-09-02 19:51] niklassiemer commented on #1428
Ok, both ways use the same executables (ans similar python paths), however, the pycharm interpreter does not know about the conda environment it runs in. This can be fixed by providing environment variables to be set for a given interpreter in pycharm. I would have to look up the exact location, however, pycharm offers a possibility to add environment variables to the interpreter. I just wonder wh

[2022-09-27 16:00] ligerzero-ai commented on #1422
For posterity:

https://github.com/pyiron/pyiron_atomistics/issues/782

Per Jan's comment, although he does not recommend it due to uncertain nature of pyiron job database status recognition (e.g. do not know if it correctly recognises the job as aborted if killed this way).

[2022-09-29 10:05] pmrv commented on #1422
I like this.  An easy way forward I see is to take @jan-janssen code and wrap it in a method that also sets the job status to `aborted`.  Sounds like an easy PR to get started to me as well, @ligerzero-ai .

[2022-10-01 15:11] JNmpi opened #1429 "working in view_mode"
**Summary**

When activating view_mode (pr.switch_to_viewer_mode()) several features that are possible in the non_viewer_mode are not working:

- creation of a pyiron table
- running a job (in my folder)
- creating a project in my folder once I have switched to viewing mode

**pyiron Version and Platform**

MPCDF cluster

**Expected Behavior**

To analyse and re-run jobs that are from somebody els

[2022-10-01 15:35] jan-janssen commented on #1429
The difficulty is that the view mode internally uses a different database connection. We have one connection for read/write access to the database (normal mode) and one connection for read-only mode (view mode). With read-only mode we have access to the database entries from everybody while in read/write mode we only have access to the jobs we created. Based on this restriction we would need two d

[2022-10-01 21:46] pmrv commented on #1429
The only technical problem I see right now, is that each project looks up the central database connection object from the settings.  I don't think it would be too hard to change it such that changing to viewer mode just instantiates a new object and doesn't close the global one.  As @jan-janssen said, that's not implemented that's not implemented right now.

[2022-10-02 03:23] liamhuber commented on #1429
@pmrv I like this, although then I think we should move away from the term "mode", which suggest an exclusive selection, and towards something like "pr.open_viewer()" which opens a new attribute "pr.viewer" or something like that.

[2022-10-02 05:28] JNmpi commented on #1429
Thanks for your prompt reply and thoughts. I very much like the idea that we could have two modes and each project can be linked to one or the other, i.e., to the view_mode link or the standard one. For many future applications and particularly in terms of collaborative projects such a feature would be highly appreciated.

[2022-10-02 05:28] #1429 closed

[2022-10-02 12:34] niklassiemer commented on #1429
I also like the idea! However, I would rather have two different routes in one project like @liamhuber suggested (i.e. the `pr.viewer` property, which, however, should activate the corresponding viewer mode on the fly). Or by using `viewer_pr = pr._open_viewer()` to return a view project.
Implementation wise we need then, of course, both ways to connect to the db simultateously.

[2022-10-05 12:16] samwaseda opened #1431 "`assert` in pyiron"
These days, many classes of pyiron are used only for template purposes. For this, take a look at the following class:

[code]

This is what people usually do in C++. As it is well explained in [this article](https://stats.stackexchange.com/questions/153823/what-is-verbose-in-scikit-learn-package-of-python), `assert` is not commonly used in python, mainly because we usually use unit tests (and also

[2022-10-05 13:33] #1403 closed

[2022-10-05 17:13] liamhuber commented on #1431
I am not sure how I feel about that overall. I am definitely cautious, exactly because using `assert` is unorthodox. However, some of my reticence might be due to the specific example. I'm not super happy with our run flow to begin with, and in this particular case I think a much cleaner implementation looks like this:

[code]

This way the user doesn't need to bother themselves with updating the

[2022-10-05 17:38] samwaseda commented on #1431
Well, the status was just an example to illustrate how I would have used `assert` in C++ to debug. The problem remains the same with your example if the user overwrites `_write_input`.

But these are two completely different things.

`write_input` and `collect_output` are two extreme examples which are definitely meant for the child classes. There are however cases where the distinction is less cl

[2022-10-05 17:53] samwaseda commented on #1431
Just to clarify:

- I'm not saying we should write `assert` as in my example class. I used it as an example because that's how it's used in C++, which is only included in the debug mode (i.e. mostly removed when the code is compiled).
- What I'm trying to propose with "assertion tests" is a set of tests, which the developer can execute when they implement a new class using pyiron as a template, wh

[2022-10-05 20:40] liamhuber commented on #1431
Ahh, I think I misunderstood. I really thought you intended that this is how parent classes should be written. Because I really don't want a bunch of `assert`s kicking around the source code, e.g. in the case

my response is just "well, the user shouldn't overwrite that, and if they use any sort of IDE it's pretty easy for them to see that this method name is taken already".

On the other hand, so

[2022-10-05 20:48] samwaseda commented on #1431
The problem is `validate_ready_to_run` is marked `abstractmethod` in `GenericJob` but is overwritten in `AtomisticGenericJob`, meaning if the user wants to use its functionality in a class that's derived from `AtomisticGeneribJob`, they have to call `super()`, but this might become confusing if they see the function only in `GenericJob` and don't realise that it's overwritten in `AtomisticGenericJ

[2022-10-06 01:33] pmrv commented on #1431
Imo the expectation is that whenever you overwrite a method you should be calling `super()`.  Only when subclasses can make a compelling (and documented) case against it, it should not be done.  Though in those cases it usually indicates that the inheritance hierarchy is not well laid out.

[2022-10-06 03:01] liamhuber commented on #1431
Like Marvin, I am completely unconcerned by this. With any modern IDE it should be impossible to not find the relevant implementation of `validate_ready_to_run`. I.e. the following is a perfectly reasonable pattern:

[code]

You'd have to skip a step in the inheritance tree to miss the implemented call to `foo`. Control-clicking in any modern IDE ought to take you right to `Beta.foo`. Maybe this i

[2022-10-06 06:11] samwaseda commented on #1431
So you mean something like `did_i_break_GenericAtomisticJob` that you proposed? I just don't know what the function could possibly look like.

Btw. does your example above actually work? Can you actually assign `self.foo` inside `def foo`.

[2022-10-06 15:18] liamhuber commented on #1431
Oh, nor I. But I think it's very worthwhile to mull over how we can increase testing support for developers who are building on pyiron outside this repo.

🤦‍♂️ No, definitely not! Still, slap an underscore on the attribute assignments and we're ok 😂

[2022-10-10 16:35] liamhuber commented on #1431
So at the pyiron meeting on 2022-10-10 we (me, @jan-janssen, @pmrv, and @samwaseda, but edit this to add your name if you feel like I'm leaving you out! This is just who I remember actively participating in this sub-discussion) concluded that some sort of test case developers could pass their new test too was the way to go. Sam(?) additionally pointed out that we can even snag test cases from the

[2022-10-11 07:28] RhettZhou opened #1432 "PDOS calculations for Sphinx with pyiron"
**Summary**

With pyiron, I noticed that PDOS calculations are supported for VASP, but not for Sphinx . I am very interested to know if similar modules can be integrated for Sphinx calculations.

[2022-10-11 09:25] freyso commented on #1432
There currently is an add-on that does it. I haven't interfaced it to pyiron yet (and it also needs the wavefunction files). However, it might be an alternative idea to give access to the functionality within the main code.

[2022-10-13 18:03] RhettZhou opened #1433 "A problem related to spin for Sphinx"
**Summary**

I have recently encountered a problem. The problem is related to the spin. According to the tutorial I can build a new atom with the following code:

-> Fe_up = pr.create.structure.element(new_element_name='Fe_up', parent_element='Fe', spin='2.5')

It works when all elements are "Fe_up". However, when I add a B atom, the SPHINX code is no longer executed. I have found a way to solve t

[2022-10-14 06:45] samwaseda commented on #1433
If it's only about spins, the best would be to set it on the structure:

[code]

The option that you mentioned (`Fe_up` etc.) should in principle also be available, but I'm also aware of the problem for some time and maybe I should fix it at some point :D. For now I guess I will just update the example.

[2022-10-20 17:41] sourabh27 opened #1436 "Problem in loading VASP calculations"
Hi, While importing the VASP calculations directory (ran separately) in the Pyiron. The status shows aborted <pr.job_table()>
I have followed the below-mentioned link
https://pyiron.readthedocs.io/en/latest/source/import.html

Also, while loading the output (data), It's not working.

[2022-10-20 17:49] pmrv commented on #1436
Can you paste a the full stack trace and the exact code you are running as well?

[2022-10-20 18:11] sourabh27 commented on #1436
{
 "cells": [
  {
   "cell_type": "markdown",
   "id": "a8de1361",
   "metadata": {},
   "source": [
    "I have a directory called ./Opt contains all the files (VASP) in the same location"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "a8752bcf",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "2022-10-20

[2022-10-21 09:13] sourabh27 commented on #1436
(https://1drv.ms/u/s!Ar6U0CzrdGdRgeRJ4A4DFECbKWVASA?e=H9HjuZ)

[2022-10-21 10:02] Leimeroth commented on #1436
The problem occurs in the vasp parsing get_band_properties function and I guess it is related to the OUTCAR format look like this in vasp 6.3:
[code]
While for my old calculations it looks like this (vasp 6.1.2):
[code]
i.e. some lines were added. Since some indexing is done in the parsing function I assume this causes the problem.

[2022-10-21 10:07] sourabh27 commented on #1436
Hi, Niklas Leimeroth
Thanks for help!
I am also attaching the OUTCAR and vasprun.xml from vasp 5.4.4.
Could you also check these with the latest version of Pyiron?
OUTCAR
https://1drv.ms/u/s!Ar6U0CzrdGdRgeRKyKe-5FsnRG1j5A?e=3Xxny4
vasprun.xml
https://1drv.ms/u/s!Ar6U0CzrdGdRgeRLj2RMkDiZbUvKtQ?e=2eZ116

[2022-10-21 10:28] Leimeroth commented on #1436
Update: Only occurs for me when i set ISPIN=2

[2022-10-28 11:48] #1428 closed

[2022-11-09 22:30] ligerzero-ai commented on #1436
I'm looking into this and I did some more detailed versioning studies;

It looks like it fails for every version > 6.1.0

![image](https://user-images.githubusercontent.com/60923573/200955901-01aa9b6a-a5ce-4565-a3a7-641946320f5f.png)

I will implement a fix tomorrow. Sorry about the delay!

[2022-11-10 04:50] sourabh27 commented on #1436
Thank you @ligerzero-ai

[2022-11-10 16:25] ejmeitz opened #1438 "LAMMPS Log File Parser Incorrect"
**Summary**

When running LAMMPS jobs from Pyiron I get errors thrown from the automatic collection of data from the log.lammps file. In the function responsible for parsing the log file (pyiron_atomistics/lammps/base.py --> collect_output_log()) it looks for the line starting with the string "Step" and the line ending with "Loop" to pull out the thermo table from the log file. These lines do exis

[2022-11-10 16:45] ejmeitz commented on #1438
I'm using the LAMMPS version from Aug 2nd 2022 which is not the newest version.

I'm not too familiar with the conda LAMMPS version. I'd rather not mess with environment variables to get multiple lammps running on my computer right now.

[2022-11-10 16:54] pmrv commented on #1438
That's newer than the version we're running on our cluster.  Imo just go ahead and put your fix in, I don't see how it could hurt.

[2022-11-10 16:58] ligerzero-ai commented on #1436
Hi Sourabh,
The fix is now awaiting review.

If this issue is super urgent and you want to implement the fix yourself, please edit the pyiron_atomistics/pyiron_atomistics/vasp/outcar.py file and implement the fix shown in the commits of https://github.com/pyiron/pyiron_atomistics/pull/864 yourself on your local pyiron installation. That should fix your problem.

Thanks for your patience!